---
title: CMS
layout: layouts/base_subject.njk
eleventyNavigation:
  key: CMS
  order: 0
---

<h2 id="overview">Course Overview</h2>
<dl>
  <dt>1st week</dt>
  <dd><a href="/presentations/cms_syllabus/">Syllabus</a></dd>
  <dd><a href="/presentations/introduction_to_programming/">
    Introduction to Programming</a></dd>
  <dd>Prepare parts 1
    (<a href="https://docs.python.org/3/tutorial/appetite.html">Whetting
      Your Appetite</a>) and 3
    (<a href="https://docs.python.org/3/tutorial/introduction.html">An Informal
      Introduction to Python</a>) of the
    <a href="http://docs.python.org/3/tutorial/index.html">
      Python tutorial</a></dd>
  <dd>Set up a user on <a href="github.com/">GitHub</a></dd>

  <dt>2nd week</dt>
  <dd><a href="/presentations/py/introduction/">Hello Python</a></dd>
  <dd>Prepare part 4
    (<a href="https://docs.python.org/3/tutorial/controlflow.html">More Control
      Flow Tools</a>) up to and including 4.6
    (<a href="https://docs.python.org/3/tutorial/controlflow.html#match-statements">
      <code>match</code> statements</a>) of the
    <a href="http://docs.python.org/3/tutorial/index.html">
      Python tutorial</a></dd>
  <dd>Start homework 1
    (the link to this assignment is on moodle)
  </dd>

  <dt>3rd week</dt>
  <dd><a href="/presentations/py/strings/">Strings</a></dd>
  <dd>Prepare the remainder of part 4 (starting with
    <a href="https://docs.python.org/3/tutorial/controlflow.html#defining-functions">
      Defining Functions</a>) of the
    <a href="http://docs.python.org/3/tutorial/index.html">
      Python tutorial</a></dd>
  <dd>Start homework 2
    (the link to this assignment is on moodle)
  </dd>

  <dt>4th week</dt>
  <dd><a href="/presentations/py/functions/">Functions</a></dd>
  <dd>Prepare the
    <a href="https://docs.python.org/3/tutorial/datastructures.html">
      data structures</a> chapter of the
    <a href="http://docs.python.org/3/tutorial/index.html">
      Python tutorial</a></dd>
  <dd>Start homework 3
    (the link to this assignment is on moodle)
  </dd>

  <dt>5th week</dt>
  <dd><a href="/presentations/py/containers/">
    Built-in Container Data Structures</a></dd>
  <dd>Read about
    <a href="https://peps.python.org/pep-3107/">function annotations</a> and
    <a href="https://peps.python.org/pep-0526/">variable annotations</a>
      directly in the relevant Python Enhancement Proposals (PEPs)</dd>
  <dd>Work through the Python 3 tutorial on
    <a href="https://docs.python.org/3/tutorial/modules.html">Modules</a></dd>
  <dd>Read the Python 3 library documentation on
    <a href="http://docs.python.org/3/library/doctest.html">doctests</a>
    (from the top until (not including) "How It Works")</dd>
  <dd>Start homework 4
    (the link to this assignment is on moodle)
  </dd>

  <dt>6th week</dt>
  <dd><a href="/presentations/py/modules/">Modules and Packages</a></dd>
  <dd><a href="/presentations/py/documentation/">Documentation</a></dd>
  <dd>Build teams and select topics for the <strong>term project</strong></dd>
  <dd>Prepare
    <a href="https://docs.python.org/3/tutorial/classes.html">
      Classes</a> up to and including
    <a href="https://docs.python.org/3/tutorial/classes.html#private-variables">
      Private Variables</a>) of the
    <a href="http://docs.python.org/3/tutorial/index.html">
    Python tutorial</a></dd>
  <dd>Start homework 5
    (the link to this assignment is on moodle)
  </dd>

  <dt>7th week</dt>
  <dd><a href="/presentations/py/oop/overview/">
    Creating Your Own Data Types</a></dd>
  <dd>Prepare chapter 9 ("Unit Testing") of <a href="https://diveintopython3.net/unit-testing.html">"Dive into Python 3"</a></dd>
  <dd>Start homework 6
    (the link to this assignment is on moodle)
  </dd>


  <dt>8th week</dt>
  <dd><a href="/presentations/py/unit_testing/">Unit Testing</a></dd>
  <dd>Read Python's <a href="http://docs.python.org/3/howto/functional.html">
    Functional Programming HOWTO</a></dd>
  <dd>Start homework 7
    (the link to this assignment is on moodle)
  </dd>

  <dt>9th week</dt>
  <dd><a href="/presentations/py/fp/overview/">
    Functional Programming</a></dd>
  {# TODO: replace pre-reading assignments with better suited sources #}
  <dd>Read the first three chapters of the "Data Structures" wikibook:
    <a href="http://en.wikibooks.org/wiki/Data_Structures/Introduction">
      Introduction</a>,
    <a href="http://en.wikibooks.org/wiki/Data_Structures/Asymptotic_Notation">
      Asymptotic Notation</a> and
    <a href="http://en.wikibooks.org/wiki/Data_Structures/Arrays">
      Arrays</a></dd>
  <dd>Start homework 8
    (the link to this assignment is on moodle)
  </dd>

  <dt>10th week</dt>
  <dd><a href="/presentations/py/algorithms/intro/">
    Algorithms in Python</a></dd>
  <dd><a href="/presentations/py/ds/intro/">Data Structures in Python</a></dd>
  <dd>Read through at least one of the
    <a href="https://pythonhosted.org/PuLP/CaseStudies/index.html">
      PuLP optimization case studies</a>. If you lack prior knowledge with
    regard to linear programming, also study the
    <a href="https://pythonhosted.org/PuLP/main/index.html">
      optimization process and optimization concepts in the PuLP
      documentation</a></dd>
  <dd>Start homework 9
    (the link to this assignment is on moodle)
  </dd>

  <dt>11th week</dt>
  <dd>Linear optimization with PuLP</dd>
  <dd>Download the <a href="/data/notebooks/PuLP.ipynb">PuLP.ipynb</a>
    ipython notebook
  </dd>
  <dd>Follow the instructions on
    <a href="#notebooks">using ipython notebooks</a></dd>
  <dd>Start homework 10
    (the link to this assignment is on moodle)
  </dd>

  <dt>12th week</dt>
  <dd>Introduction to data analysis with Python</dd>
  <dd>Download the
    <a href="/data/notebooks/data_analysis.ipynb">data_analysis.ipynb</a>
    ipython notebook
  </dd>
  <dd>Follow the instructions on
    <a href="#notebooks">using ipython notebooks</a></dd>
  <dd>Start homework 11
    (the link to this assignment is on moodle)
  </dd>

  <dt>13th week</dt>
  <dd><a href="/presentations/review/cms/">Review and Outlook</a></dd>

  <dt>14th week</dt>
  <dd>Q & A</dd>

  <dt>15th week</dt>
  <dd>Final exam</dd>
</dl>

  {# <li><a href="https://www.youtube.com/watch?v=4cdRApK7RTQ&list=PLAW1Fsz27UuaLYfGBmXM7nHur2XpNuIeD&index=1">Introduction to Linux as Development Environment</a>
    <ul>
      <li><a href="http://docs.find-santa.eu/linux/#selected-commands">Linux Command-Line</a></li>
      <li>Installation and Configuration of Tools</li>
      <li>Kate or <a href="http://docs.find-santa.eu/tools/vscodium.html">VSCodium</a> or KDevelop</li>
      <li>Debugging (commandline + GUI)</li>
    </ul>
  </li> #}


<h2 id="notebooks">IPython Notebooks</h2>
<p>Make sure jupyter-lab is installed (<code>pip install --user --upgrade jupyterlab</code>). After downloading a notebook, use it via</p>
<pre>
jupyter notebook ${notebookname}
</pre>
<p>or open the entire development environment via</p>
<pre>
jupyter lab
</pre>
<ul>
  <li><a href="/data/notebooks/PuLP.ipynb">PuLP.ipynb</a></li>
  <li><a href="/data/notebooks/data_analysis.ipynb">data_analysis.ipynb</a></li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/f2013_final.pdf">CMS f2013 final</a></li>
  <li><a href="tests/f2014_final.pdf">CMS f2014 final</a></li>
  <li><a href="tests/f2015_final.pdf">CMS f2015 final</a></li>
  <li><a href="tests/s2017_final.pdf">CMS s2017 final</a>
    (<a href="tests/s2017_final_solution.pdf">solution</a>)</li>
  <li><a href="tests/s2018_final.pdf">CMS s2018 final</a></li>
  <li><a href="tests/s2019_final.pdf">CMS s2019 final</a>
    (<a href="tests/s2019_final_solution.pdf">solution</a>)</li>
  <li><a href="tests/f2019_final.pdf">CMS f2019 final</a>
    (<a href="tests/f2019_final_solution.pdf">solution</a>)</li>
  <li><a href="tests/f2020_final.pdf">CMS f2020 final</a>
    (<a href="tests/f2020_final_solution.pdf">solution</a>)</li>
  <li><a href="tests/f2021_final.pdf">CMS f2021 final</a>
    (<a href="tests/f2021_final_solution.pdf">solution</a>)</li>
  <li><a href="tests/f2022_final.pdf">CMS f2022 final</a>
    (<a href="tests/f2022_final_solution.pdf">solution</a>)</li>
  <li><a href="tests/cms_final_f2023_en/">CMS final f2023</a>
  <li><a href="tests/cms_final_f2024_en/">CMS final f2024</a>
</ul>

<h2 id="links">Links</h2>
<h3>Notes</h3>
<ul>
  <li><a href="http://docs.find-santa.eu/linux/#selected-commands">Selection of Linux Commands</a></li>
  <li><a href="http://docs.find-santa.eu/tools/vscodium.html">Introduction to VSCodium</a></li>
</ul>

{# <h3 id="software">Software</h3>
<ul>
  <li>KDE Neon Linux-based VirtualBox image with all programming tools we need:
    <a href="https://lehrer.bulme.at/~sg/vms/progamming.ova">progamming.ova</a><br />
    Download with username: <kbd>student</kbd>, ask in class for the password<br />
    Login with username: <kbd>student</kbd>, password: <kbd>changeme</kbd></li>
  <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a></li>
  <li><a href="https://files.kde.org/neon/images/user/current/neon-user-current.iso">KDE Neon Linux ISO image</a></li>
  <li>Text editor: <a href="https://vscodium.com/">VSCodium</a> or
    <a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
</ul> #}

{% include 'blocks/code_challenge_sites.njk' %}

