---
layout: layouts/test.njk
class: 2BHEL
group: C
subject: FSST
date: 2022-03-28
points: [2, 10, 6, 6]
grading: "Benotung: >=21: 1, >=18: 2, >=15: 3, >=12: 4, <12: 5"
---

<ol>
  <li>Markiere, welche der folgenden Aussagen wahr bzw. falsch sind.<br />
  0-2 korrekt: 0 Punkte, 3 korrekt: 1 Punkt, 4 korrekt: 2 Punkte.
  <table class="true-false">
      <tr>
        <th>Aussage</th>
        <th>Wahr</th>
        <th>Falsch</th>
      </tr>
      {% yes_no_question 'Der mit <code>malloc(.)</code> reservierte Speicher
        muss manuell mittels Aufruf von <code>free(.)</code> freigegeben
        werden.', 'yes' %}
      {% yes_no_question 'Dynamische Speicherverwaltung in C is notwendig, um
        den gesamten vorhandenen Hauptspeicher nutzen zu können.', 'yes' %}
      {% yes_no_question 'Mit <code>malloc(.)</code> kann auch Speicher für
        einen ganzen struct reserviert werden.', 'yes' %}
      {% yes_no_question 'Mit <code>free(.)</code> bekommt der Programmierer
        Auskunft darüber, wieviel Hauptspeicher aktuell frei ist.', 'no' %}
    </table>
  </li>



  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main()</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>
{% highlight "c" %}
typedef struct { double x; double y; } Point;
Point test = {.25, .75};
printf("[%.2lf %.2lf]\n", test.x, test.y);
{% endhighlight %}
{% answer %}
[0.25 0.75]
{% endanswer %}
      </li>
      <li>
{% highlight "c" %}
int a = 3;
int* p = &a;
int** pp = &p;
**pp -= **pp;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
0
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int array[] = {2, 2, 2, 2};
int* array_ptr = array;
int count = sizeof(array) / sizeof(int);
int value = 0;
while (count--) {
  value += *array_ptr++;
}
printf("%d\n", value);
{% endhighlight %}
{% answer %}
8
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char name[] = "Chris";
char* name_ptr = name;
while (*name_ptr) {  // string ends with the `\0` character
  printf("%c", toupper(*name_ptr));
  name_ptr++;
}
printf("\n");
{% endhighlight %}
{% answer %}
CHRIS
{% endanswer %}
      <li>
{% highlight "c" %}
struct listnode {int value; ListNode *prev; ListNode *next;};
ListNode *node = (ListNode*) malloc(sizeof(TreeNode));
node->value = 123; node->prev=NULL; node->next=NULL;
printf("%d\n", node->value);
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Schreibe eine Funktion
    <code>int *ones(int count);</code> welche einen Pointer zu einem
    Array mit lauter Einsen zurück gibt. Zum Beispiel gibt
    der Aufruf <code>ones(4)</code> einen Pointer zu folgendem Array
    zurück: <code>{1, 1, 1, 1}</code>.
{% answer %}
    <div class="grading">
      1 Punkt den korrekten Funktionsnamen und die korrekte Signatur<br />
      2 Punkt für das Reservieren des Speichers<br />
      2 Punkt für das Initialisieren der Werte<br />
      1 Punkt für die Rückgabe des Arrays<br />
    </div>
{% highlight "c" %}
int *ones(int count) {
  int *array = malloc(count * sizeof(int));
  for (int i = 0; i < count; ++i) {
    array[i] = 1;
  }
  return array;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Erstelle einen Typen <code>Complex</code>, welcher folgende
    Werte speichert: <code>real</code>, <code>imag</code>, <code>r</code>,
    <code>phi</code>.
    Alle vier Werte müssen den
    Datentyp <code>double</code> haben.
{% answer %}
    <div class="grading">
      1 Punkt für die Deklaration des Structs<br />
      1 Punkt für den Typedef<br />
      je 1 Punkt für die vier Felder<br />
    </div>
{% highlight "c" %}
typedef struct complex Complex;
struct complex {
  double real;
  double imag;
  double r;
  double phi;
};
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
