---
layout: layouts/test.njk
class: 2BHEL
group: A
subject: FSST
date: 2022-05-24
points: [3, 21]
grading: "Benotung: >=21: 1, >=18: 2, >=15: 3, >=12: 4, <12: 5"
---

<ol>
  {# algorithms, big o, sorting #}
  <li>{% YesNoTable 6 %}
      {% yes_no_question 'Die Big O Notation gibt die durchschnittliche
        Laufzeit von Algorithmen an.', 'no' %}
      {% yes_no_question 'Die besten Sortieralgorithmen haben eine Laufzeit von
        $O(n^2)$.', 'no' %}
      {% yes_no_question '$O(3n + n! / 4 + 5n^2) = O(n!)$', 'yes' %}
      {% yes_no_question 'Gängige Programmiersprachen stellen
        Sortieralgorithmen zur Verfügung.', 'yes' %}
      {% yes_no_question 'Algorithmen haben aufgrund schnellerer CPUs an
        Bedeutung verloren.', 'no' %}
      {% yes_no_question 'Ein Algorithmus mit O(1) ist unabhängig von der
        Größe der Inputdaten.', 'yes' %}
    {% endYesNoTable %}
  </li>



  <li><strong>JavaScript Canvas</strong><br />
    Speichere die Datei
    <a href="/data/web/canvas_game.html">canvas_game.html</a>
    auf dem lokalen Computer. Speichere zur Sicherheit eine separate Version
    nach dem Fertigstellen jeder Teilaufgabe, da nur für funktionierende
    Lösungen Punkte vergeben werden. Abgegeben soll nur die letztgültige,
    funktionierende Version.
    Editiere die Datei so, dass folgende Kriterien
    erfüllt sind:
    <ol>
      <li>Füge einen Cheat-Code zu dem Spiel hinzu. Beim Drücken der Taste
        <kbd>a</kbd> soll der Spielerin ein Leben hinzugefügt werden.
      </li>
      <li>Verdopple die Geschwindigkeit des Balls. Die Änderung soll auch
        gültig bleiben, wenn die Spielerin ein Leben verliert.
      </li>
      <li>Statt der aktuellen Funktion <code>drawLives()</code> soll eine
        ES6 arrow function verwendet und in <code>const drawLives</code>
        gespeichert werden.
      </li>
      <li>In CSS werden Farben normalerweise als hexadezimale Strings
        mit einem führenden <kbd>#</kbd> Zeichen
        dargestellt. Die ersten beiden Stellen sind dabei der Wert für Rot,
        die zweiten zwei Stellen der Wert für Grün und die letzten beiden
        Stellen der Wert für Blau, also <code>#RRGGBB</code>. Die Werte
        entsprechen stets einer Dezimalzahl zwischen 0 und 255.<br />

        Implementiere eine Funktion <code>getRGB()</code>, welche
        eine zufällige Farbe auf der RGB Skala als Text zurück gibt.
        Beispiele für Rückgabewerte sind <code>#cc2dbe</code>,
        <code>#b1bea7</code> oder <code>#54ab32</code>.
      </li>
      <li>Verändere den Programmcode des Spiels so, dass jeder
        <code>brick</code> eine Eigenschaft <code>color</code> bekommt.
        In dieser Eigenschaft ist jeweils ein zufälliger RGB String zu
        speichern. In der Funktion <code>drawBricks()</code> soll statt der
        konstanten Farbe nun der in jedem <code>brick</code> gespeichterte
        Farbcode verwendet werden. Dadurch bekommt das Spiel einen
        freundlichen, bunten Touch.
        </li>
      <li>Implementiere eine Funktion <code>pause()</code>, welche durch
        drücken der Taste <kbd>p</kbd> aufgerufen wird und das Spiel pausiert.
        Erneutes drücken der Taste <kbd>p</kbd> soll die Funktion erneut
        aufrufen und das Spiel wieder starten. Verwende zwei globale
        Variable, um die Werte von <code>dx</code> und <code>dy</code>
        während der Pause zwischenzuspeichern.
      </li>
      <li>Der im Spiel verwendete <code>alert(.)</code> Dialog ist nicht
        mehr zeitgemäß. Ersetze diesen durch ein leeres
        <code>&lt;p&gt;</code> Tag. Wenn die Spielerin gewonnen hat,
        soll der Text "YOU WIN, CONGRATS! Press F5 to restart the game."
        darin angezeigt werden. Damit der Text sichtbar bleibt, entferne
        die Zeile, welche die Seite automatisch neu lädt. Um den Ball nach
        dem Sieg aufzuhalten, rufe <code>pause()</code> auf.</li>
    </ol>
    Lade dein Resultat (nur eine einzige, funktionierende Version) in unserem
    Eduvidual Kurs hoch.

{% answer %}
    <div class="grading">
      3 Punkte für jede voll funktionsfähig implementierte Aufgabe<br />
    </div>
{% highlight "c" %}

{% endhighlight %}
{% endanswer %}
  </li>

</ol>
