---
layout: layouts/test.njk
class: 2BHEL
group: A
subject: FSST
date: 2021-12-21
points: [2, 2, 10, 8, 6, 4]
grading: "Benotung: 29-32: 1, 25-28: 2, 21-24: 3, 17-20: 4, <=16: 5"
---

<ol>
  <li>Markiere, welche der folgenden Aussagen wahr bzw. falsch sind.<br />
  0-2 korrekt: 0 Punkte, 3 korrekt: 1 Punkt, 4 korrekt: 2 Punkte.
  <table class="true-false">
      <tr>
        <th>Aussage</th>
        <th>Wahr</th>
        <th>Falsch</th>
      </tr>
      {% yes_no_question 'Ein <code>struct</code> in C ist ein Pointer zu
        einem Array.', 'no' %}
      {% yes_no_question 'Der Rückgabewert von <code>main</code> gibt an,
        ob ein Programm ohne Fehler beendet wurde.', 'yes' %}
      {% yes_no_question 'gcc und clang sind unterschiedliche Bezeichnungen
        für den gleichen C Compiler.', 'no' %}
      {% yes_no_question 'Das erste Element in einem Array hat in C den
        Index `1`.', 'no' %}
    </table>
  </li>

  <li>Das untenstehende Programm soll mittels <kbd>clang</kbd>
    kompiliert werden.
    Die ausführbare Datei soll den Namen <kbd>calculation</kbd> bekommen.
    Welches Kommando mit welchen Argumenten muss dazu verwendet werden?
{% highlight "c" %}
/* \file calculation.c */
#include <stdio.h>

int main() {
  printf("value: %.2f\n", (22.0/7));
  return 0;
}
{% endhighlight %}
{% answer %}
clang calculation.c -o calculation
{% endanswer %}
  </li>

  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main()</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>Hinweis: sin(0.5) ist ungefähr 0.479426.
{% highlight "c" %}
printf("sin(0.5): %.2f\n", sin(0.5));
{% endhighlight %}
{% answer %}
sin(0.5): 0.48
{% endanswer %}
      </li>

      {# <li>
{% highlight "c" %}
char s[] = "Everyone wants to become a great programmer.";
printf("Characters: %c %c\n", s[3], s[-2]);
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li> #}

      <li>
{% highlight "c" %}
typedef struct {
  int x;
  int y;
} Point;
Point p = {.x=1, .y=2};
printf("x=%d, y=%d\n", p.y, p.x);
{% endhighlight %}
{% answer %}
x=2, y=1
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int j = 0;
for (int i = 0; i <= 10; ++i) {
  j += i * i;
}
{% endhighlight %}
{% answer %}
-
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int j = 10;
for (; j >= 0; --j) { printf("%d ", j); }
printf("\nHappy New Year!\n");
{% endhighlight %}
{% answer %}
10 9 8 7 6 5 4 3 2 1 0<br />
Happy New Year!
{% endanswer %}
      <li>
{% highlight "c" %}
int n = 10;
char d = 6;
bool work = true;
while (work) {
  if (n / d == 0) {
    printf("%d\n", d);
    work = false;
  }
  d -= 1;
}
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>
    <ol>

    <li>Ergänze das folgende Code Snippet so, dass
      <code>5,10,15,20,25,30,35,40,45,50</code> gefolgt von einem Zeilenumbruch
      auf standard output geschrieben wird.
{% highlight "c" %}
for (int i =      ;           ;         ) {
  printf("%d,", i);
}
printf(                   );
{% endhighlight %}
{% answer %}
{% highlight "c" %}
for (int i = 5; i < 50; i += 5) {
  printf("%d,", i);
}
printf("50\n");
{% endhighlight %}
{% endanswer %}
    </li>
    <li>Schreibe eine <code>while</code> Schleife, welche den gleichen Output
      wie die obige <code>for</code> Schleife erzeugt.<br />
      1 Punkt für die notwendige Variable; 1 Punkt für die Condition;
      1 Punkt für den Loop-Body; 1 Punkt für den korrekten Output (alle printf).
{% answer %}
{% highlight "c" %}
int k = 5;
while (k < 50) {
  printf("%d,", k);
  k += 5;
}
printf("50\n");
{% endhighlight %}
{% endanswer %}
    </li>
    </ol>
  </li>

  <li><strong>Count Matching Elements</strong><br />
    Schreibe eine Funktion
    <code>int countNumInArray(int number, int array[], size_t dimension)</code>
    welche zurück gibt, wie oft <code>number</code> in <code>array</code>
    vorkommt. Zum Beispiel
{% highlight "c" %}
int array[] = {4, 1, 7, 5, 4, 1, 4, 2, 7};
countNumInArray(5, array, 9);  // returns 1
countNumInArray(4, array, 9);  // returns 3
{% endhighlight %}
  1 Punkt für die Funktionssignatur; 2 Punkte für die Schleifenbedingung
  inklusive Inkrement; 3 Punkte für den korrekten Rückgabewert.
{% answer %}
{% highlight "c" %}
int countNumInArray(int num, int array[], size_t dimension) {
  int count = 0;
  for (size_t i = 0; i < dimension; ++i) {
    if (array[i] == num) {
      count += 1;
    }
  }
  return count;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Definiere einen <code>struct</code>, welcher die Dimensionen
    (length, width und height) einer Schachtel speichert. Erstelle
    einen neuen Typen <code>Box</code> mit dem Variablen dieses Typs
    deklariert werden können.<br />
    3 Punkte für die Deklaration des <code>struct</code>; 1 Punkt für
    das Erstellen des Datentypen.
{% answer %}
{% highlight "c" %}
typedef struct {
  int length;
  int width;
  int height;
} Box;
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
