---
layout: layouts/exercise_base.njk
exercise: OSS Software Licensing & Dependencies
---

<p>
  Research the answer to your questions for max. 25 minutes. This also includes
  preparing a 5 minute presentation for your classmates.
</p>

<h3>Team 1</h3>
<p>You're coding a hobby project and are not yet sure how to deal with the
  license.
  Consult (and introduce to the others)
  <a href="https://choosealicense.com/">choosealicense.com  </a>.
</p>
<ol>
  <li>
    What is the legal situation when you publish
    the project without adding any software license?
  </li>
  <li>Which one would you choose? Why?</li>
</ol>

<h3>Team 2</h3>
<p>You publish your project as open source software. You want to allow others
  to use it as open source software, but want to make sure that nobody will
  sell your software as part of their product. You also want to make sure
  that patches and upgrades by the community are returned to your project.
</p>
<ol>
  <li>Which licenses are reasonable options?</li>
  <li>What applies to people using your project as part of their SaaS
    solution?</li>
</ol>

<h3>Team 3</h3>
<p>You're working on proprietary software that is installed on your
  customer's computers. You want to save a lot of time and money by using
  open source software libraries (instead of reinventing the wheel or
  using expensive alternatives with a vendor lock-in).
</p>
<ol>
  <li>What considerations should you take into account before adding a new
    dependency?</li>
  <li>Which licenses are ok for you to use and which ones are problematic?</li>
</ol>



<h3>Team 4</h3>
<p>You're working on a proprietary SaaS solution. You want to save a lot
  of time and money by using open source software libraries (instead of
  reinventing the wheel or using expensive alternatives with a vendor lock-in).
</p>
<ol>
  <li>What considerations should you take into account before adding a new
    dependency?</li>
  <li>Which licenses are ok for you to use and which ones are
    problematic?</li>
</ol>

<h3>Team 5</h3>
<p>You’re working on a well established, proprietary SaaS solution that employs
  many open source software licenses. You have a strict policy in place with
  regard to which licenses are OK to use and which aren't.
</p>
<ol>
  <li>How do you enforce this policy?</li>
</ol>

<h3>Team 6</h3>
<p>Your project team has decided to use the Apache License version 2.0 for your
  node.js software.
</p>
<ol>
  <li>How would you communicate this to the rest of the world?</li>
  <li>Which files need to be edited at the very least?</li>
  <li>What are best practices?</li>
</ol>
