---
title: Programming in Python
subtitle: Documentation
layout: layouts/presentation.njk
---

{% set source_path = "source/py/doc/" %}
{% set data_path = "/data/py/doc/" %}


<section class="center"
         data-background-gradient="radial-gradient(#b7dd6d, #569f9f)">
  <h1>What can be said<br />
  in code, should be!</h1>
</section>


<section>
  <h2>Documentation</h2>
  <section>
    <p>Source code represents primary knowledge</p>
    <p>Secondary knowledge takes the form of<br />
      more human-readable documentation</p>
    <p>Every package/ module/ class/ function should have a<br />
      one-liner stating what its purpose is</p>
  </section>

  <section>
    <p>Given the source code - is there a need for secondary documentation?</p>
    <ul class="fragment">
      <li>Yes!</li>
      <li>Representing a model/ thoughts in code is easier than deducting that model/ these thoughts from code</li>
      <li>Document the high level</li>
      <li>Document reasoning behind decisions</li>
    </ul>
  </section>

  <section>
    <h3>What should be documented?</h3>
    <ul>
      <li>Everything that should be explained, but can't be said in code</li>
      <li>High level documentation</li>
      <li>Reasoning behind (design) decisions</li>
      <li>Installation and usage instructions</li>
      <li>...</li>
    </ul>
  </section>
</section>


<section>
  <h2>Magic Constants / Numbers</h2>
  <p>Values with unexplained meaning which<br />should be replaced with a named
    constant</p>
  <p class="fragment">Bad for code maintenance and readability</p>
  <div class="fragment">
{% highlight "py" %}
{% include source_path + 'magic_constants.py' %}
{% endhighlight %}
  </div>

  <div class="fragment" style="margin-top: 2em;">
{% highlight "py" %}
{% include source_path + 'no_magic_constants.py' %}
{% endhighlight %}
  </div>
</section>


<section>
  <h2>Docstrings</h2>

  <section>
    <ul>
      <li>Use triple-quoted strings: <code>"""</code> or <code>'''</code></li>
      <li>From within Python, <code>__doc__</code> gives access to an object's docstring</li>
      <li>To access the documentation, you can use the help function</li>
    </ul>
    <div class="fragment">
{% highlight "py" %}
{% include source_path + 'doc.py' %}
{% endhighlight %}
{% download data_path + 'doc.py' %}
    </div>
  </section>

  <section>
    <h3>Comments vs. Docstrings</h3>
      <ul>
        <li>Comments stay inside the code</li>
        <li>Documentation strings (docstrings) are used to generate<br />
          <a href="http://docs.python.org/3/">designated documentation</a></li>
        <li>It is too easy to forget updating external documentation</li>
      </ul>
    <p class="fragment">Use docstrings if available in your language</p>
    <p class="fragment">Python has excellent support for docstrings!</p>
  </section>

  <section>
    <p>You may use docstings to give hints on data types</p>
{% highlight "py" %}
{% include source_path + 'docstring_type_hints.py' %}
{% endhighlight %}
{% download data_path + 'docstring_type_hints.py' %}
  </section>

  <section>
    <p>However, it is much better to use
      <a href="https://docs.python.org/3/library/typing.html">
        type annotations</a> for this purpose</p>
{% highlight "py" %}
{% include source_path + 'function_annotation.py' %}
{% endhighlight %}
{% download data_path + 'function_annotation.py' %}

    <p class="fragment">
      Arguments annotated as <code>float</code> also accept <code>int</code>
      (<a href="https://peps.python.org/pep-0484/#the-numeric-tower">
        The numeric tower</a>)</p>

  </section>
</section>


<section>
  <section>
    <h2>Annotations</h2>
    <dl>
      <dt><a href="https://docs.python.org/3/glossary.html#term-annotation">
        annotations</a></dt>
      <dd>Labels associated with variables, class attributes or functions</dd>
      <dd>Used by convention as a type hint</dd>
      <dt><a href="https://docs.python.org/3/glossary.html#term-function-annotation">
        function annotation</a></dt>
      <dd>An annotation of a function parameter or return value</dd>
      <dd><a href="https://peps.python.org/pep-0484">PEP 484</a></dd>
      <dt><a href="https://docs.python.org/3/glossary.html#term-variable-annotation">
        variable annotation</a></dt>
      <dd>An annotation of a variable or a class attribute</dd>
      <dd><a href="https://peps.python.org/pep-0526/">PEP 526</a></dd>
    </dl>
  </section>

  <section>
    <h2>Annotations - Example</h2>
{% highlight "py" %}
{% include source_path + 'type_annotation.py' %}
{% endhighlight %}
{% download data_path + 'type_annotation.py' %}
  </section>

  <section>
    <h2>Annotations - Type Checkers</h2>
    <p>There are multiple third party tools that allow type checking</p>

    <dl>
      <dt><a href="https://mypy-lang.org/">mypy</a>
        (<a href="https://github.com/python/mypy">repository</a>)</dt>
      <dd>optional static type checker for Python (root: Dropbox)</dd>


      <dt>
        <a href="https://pyre-check.org/">Pyre + Pysa</a>
        (<a href="https://github.com/facebook/pyre-check">repository</a>)
      </dt>
      <dd>type-checker and static (security) analysis (Facebook)</dd>

      <dt>
        <a href="https://microsoft.github.io/pyright/#/">Pyright</a>
        (<a href="https://github.com/Microsoft/pyright">repository</a>)
      </dt>
      <dd>static type checker for Python (Microsoft)</dd>

      <dt>
        <a href="https://google.github.io/pytype/">pytype</a>
        (<a href="https://github.com/google/pytype">repository</a>)
      </dt>
      <dd>checks and infers types for your Python code - without requiring type
        annotations (Google)</dd>
    </dl>
  </section>

  <section>
    <h2>Annotations - mypy</h2>
    {% download data_path + 'type_issue.py' %}
    <p><kbd>sudo apt install python3-mypy</kbd> (or using a
      <a href="http://docs.find-santa.eu/programming/py/virtualenv.html">
        venv</a>)
    </p>
{% highlight "py" %}
python type_issue.py
{% endhighlight %}
    <p>Look at the code and try to figure out what's wrong</p>
    <div class="fragment">
    <p>Or ... ask <code>mypy</code> to work for you</p>
{% highlight "py" %}
mypy type_issue.py
{% endhighlight %}
    </div>
  </section>
</section>


<section>
  <h2>Doctests</h2>

  <section>
    <p>Key purpose is <strong>tutorial documentation</strong></p>
    <ul class="fragment">
      <li>Provide examples of what functions/ classes/ modules/ packages
        do</li>
      <li>Show how they are to be used</li>
    </ul>
    <div class="fragment">
      <h3>Dangers</h3>
      <ul>
        <li>Doctests should be an addition to unit tests - not a replacement</li>
        <li>Avoid cluttering your code</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>Syntax</h3>
      <ul>
        <li>Derived from the standard Python interpreter shell</li>
        <li>Primary prompt: <code>&gt;&gt;&gt;</code> followed by new commands</li>
        <li>Secondary prompt: <code>...</code> when continuing commands on multiple lines</li>
        <li>Expected results are displayed without indentation</li>
        <li>Blank line and lines starting with <code>&gt;&gt;&gt;</code> mark
          the end of the output</li>
      </ul>
      <dl class="fragment">
        <dt>To write tests</dt>
          <dd>use the <kbd>python3</kbd> interpreter or</dd>
          <dd>set <kbd>%doctest_mode</kbd> in <kbd>ipython</kbd></dd>
      </dl>
  </section>

  <section>
    <h3>Example</h3>
{% highlight "py" %}
{% include source_path + 'doctest_sample.py' %}
{% endhighlight %}
{% download data_path + 'doctest_sample.py' %}
  </section>

  <section>
    <p>Doctests can also be written in textual documentation files</p>
{% highlight "rest" %}
{% include source_path + 'doctest_sample.rst' %}
{% endhighlight %}
{% download data_path + 'doctest_sample.rst' %}
  </section>

  <section>
    <h3>Execution</h3>
    <p>No output is shown when tests pass (unless <code>-v</code> is used)</p>
{% highlight "shell" %}
$ python3 -m doctest doctest_sample.py  # no output for passing tests
$ python3 -m doctest -v doctest_sample.py  # detailed output
$ python3 -m doctest -v doctest_sample.rst  # run against textual documentation
{% endhighlight %}

    <p>Running executable scripts with <code>-m doctest</code> doesn't work
      (<code>-m doctest</code> would be an argument to the script and not to
      the Python interpreter)</p>

    <div class="fragment">
      <p>Doctests can also be exectured from within Python scripts, e.g.</p>
{% highlight "py" %}
if __name__=="__main__":  # not executed when imported as a module
    import doctest
    doctest.testmod()  # or doctest.testmod(verbose=True)
{% endhighlight %}
    </div>
  </section>
</section>


<section class="center">
  <h2><q>If the code and the comments disagree,<br />
    then both are probably wrong.</q><br />
    – <cite>Norm Schryer</cite></h2>
</section>


<section>
  <h2>Summary</h2>
  <ul>
    <li>What can be said in code, should be</li>
    <li>Document everything you deem appropriate</li>
    <li>Use doctests when appropriate, but don't clutter your source</li>
  </ul>
</section>


{% include 'slides/closing.njk' %}


<section>
  <h2>Further Reading</h2>
  <div class="reference" id="pep257:2009">
    <span class="authors">David Goodger and Guido van Rossum </span>
    <span class="title">
      <a href="http://www.python.org/dev/peps/pep-0257/">
        PEP 257 - Docstring Conventions</a></span>
    <span class="pub_details">http://www.python.org/dev/peps/pep-0257/</span>
  </div>
  <div class="reference" id="Henney:2010">
    <span class="authors">Kevlin Henney (edt.)</span>
    <span class="title">97 Things Every Programmer Should Know</span>
    <span class="pub_details">O'Reilly (2010)</span>
  </div>
  <div class="reference" id="pilgrim:2009">
    <span class="authors">Mark Pilgrim</span>
    <span class="title"><a href="http://getpython3.com/diveintopython3/">
      Dive Into Python 3</a> (2nd edition)</span>
    <span class="pub_details">Apress (October 23, 2009)</span>
  </div>
  <div class="reference" id="python:2012">
    <span class="authors">Python Software Foundation</span>
    <span class="title">
      <a href="http://docs.python.org/3/">Python Documentation</a></span>
    <span class="pub_details">http://docs.python.org/3/</span>
  </div>
</section>

