{% extends "layouts/presentations/functions.njk" %}

{% block language_specific %}

<section>
  <h2>Arguments and Parameters</h2>
  <ul>
    <li>Functions can be parameterized to make them more generic</li>
    <li>Parameters are available to functions as variables</li>
    <li>Arguments are values passed to a function</li>
    <li>Argument values are accessed through parameters</li>
  </ul>
  <div class="fragment">
    <p><code>()</code> after a function name calls (executes) that
      function</p>
    <p><code>(.)</code> indicates that a function expects one or more
      arguments</p>
  </div>
</section>

<section>
  <h2>Return Statement</h2>
  <ul>
    <li>Causes execution to leave the current function </li>
    <li>Execution is resumed where the function was called</li>
    <li>Return statements allow a function to specify a return value</li>
    <li>A return value is passed back to the code that called the function</li>
  </ul>
</section>

<section>
  <h2>Python Functions</h2>

  <section>
    <ul>
      <li>Built in functions (BIFs) / methods we already know
        <ul>
          <li>print(.), open(.), min(.), ...</li>
          <li>string.upper(), string.split(.), ...</li>
        </ul>
      </li>
      <li class="fragment">Standard library functions we already know
        <ul>
          <li>math.sqrt(.), math.hypot(.), ...</li>
          <li>random.randint(.)</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h3>Docstrings</h3>
    <p><code>"""..."""</code></p>
    <ul>
      <li>String literal appearing as the first expression in a function</li>
      <li>Ignored when the function is executed</li>
      <li>Put into the function's <code>__doc__</code> attribute</li>
      <li>Available via introspection</li>
      <li>Canonical place for documentation of the function</li>
    </ul>
  </section>

  <section>
    <h3><a href="https://docs.python.org/3/reference/compound_stmts.html#function-definitions">
      Syntax</a></h3>
{% highlight "py" %}
def <funcname>(parameter1, parameter2, ..., parameterN) [-> annotation]:
    """
    Textual explanation of what the function is supposed to do.
    """
    <suite>
{% endhighlight %}
  </section>

  <section>
    <h3 class="example">Example</h3>
{% highlight "py" %}
{% include "source/py/functions/interest.py" %}
{% endhighlight %}
{% include_code "source/py/functions/interest.py" %}
    <p><a href="http://www.youtube.com/watch?v=TFcUGSBTA78">Python 3 Video Tutorial - Functions</a></p>
  </section>
</section>


<section>
  <h2>Function Parameters</h2>

  <section>
    <p>Python passes references to objects</p>
    <p>No need to worry when passing immutable objects</p>
  </section>

  <section>
    <h3 class="example">Example - Pass by Reference</h3>
{% highlight "py" %}
{% include "source/py/functions/object_references.py" %}
{% endhighlight %}
{% include_code "source/py/functions/object_references.py" %}
  </section>

  <section>
    <p>It is possible to define default values for parameters</p>
    <p>Default parameters can be omitted when passing arguments to a
      function</p>
    <div class="fragment">
      <h3 class="example">Example - Default Parameters</h3>
{% highlight "py" %}
{% include "source/py/functions/default_parameters.py" %}
{% endhighlight %}
{% include_code "source/py/functions/default_parameters.py" %}
    </div>
  </section>

  <section>
    <p>Arguments may be passed matching the parameters' position or name</p>
    <div class="fragment">
    <h3 class="example">Example - Positional and Keyword Arguments</h3>
{% highlight "py" %}
{% include "source/py/functions/keyword_arguments.py" %}
{% endhighlight %}
{% include_code "source/py/functions/keyword_arguments.py" %}
    </div>
  </section>
</section>

<section>
  <h2><code>ifmain</code> Pattern</h2>
  <p>Define functions before using them</p>
  <ul class="fragment">
    <li>Best practice is to avoid regular code in the global scope</li>
    <li>Instead, define a <code>main(.)</code> function</li>
    <li>Use <code>ifmain</code> pattern at the end of the file to call the
      <code>main</code> function</li>
    <li>Allows re-use of file as Python module</li>
  </ul>
    <div class="fragment">
{% highlight "py" %}
if __name__ == "__main__":
    sys.exit(main())
{% endhighlight %}
    </div>
  <div class="fragment">
    <p><code>sys.exit(main())</code> passes main's return value to the shell</p>
    <p><code>0</code> means success, everything else means failure</p>
  </div>
</section>


<section>
  <section>
    <h2>Method</h2>
    <p>Function associated with an object's data</p>
    <ul>
      <li>Method:<br /><code></code></li>
{% highlight "py 1" %}
a_string = 'Python'
a_string.upper()
{% endhighlight %}
      <li>Function:</li>
{% highlight "py" %}
min(3, 4, 2)
{% endhighlight %}
      <li>Function or Method?</li>
{% highlight "py 1" %}
text = 'a,b,c'
text.split(',')
{% endhighlight %}
    </ul>
    <p><a href="http://en.wikipedia.org/wiki/Method_(computer_programming)">
      Wikipedia - Method</a></p>
  </section>

  <section>
    <h2>Function Composition vs. Method Chaining</h2>
    <p>Common syntax for invoking multiple function respectively
      method calls</p>

    <dl class="fragment">
      <dt>Function composition</dt>
      <dd>The result of one function is argument of another function</dd>
      <dd>Function composition is done "inside out", for example
{% highlight "py" %}
sin(sqrt(12))
{% endhighlight %}
      </dd>
      <div class="fragment">
        <dt>Method chaining</dt>
        <dd>Methods returning an object are chained together in a single
          statement</dd>
        <dd>Method chaining is performed from left to right, for example
  {% highlight "py" %}
  text.upper().split()
  {% endhighlight %}
        </dd>
      </div>
    </dl>

    <div class="fragment">
      <p><a href="https://en.wikipedia.org/wiki/Function_composition_(computer_science)">
        Wikipedia - Function Composition</a></p>
      <p><a href="https://en.wikipedia.org/wiki/Method_chaining">
        Wikipedia - Method Chaining</a></p>
    </div>
  </section>
</section>


<section>
  <h2>Lambda Functions</h2>

  <section>
    <p>Python supports lambda (anonymous or unnamed) functions</p>
{% highlight "py" %}
lambda [parameter_list]: expression
{% endhighlight %}
   <p>They behave like a function object defined with:</p>
{% highlight "py" %}
def <identifier>(parameter_list):
    return expression
{% endhighlight %}
    <div class="fragment">
      <p>Lambda functions are expressions that can be created at their point of
        use</p>
      <p>They are limited in comparison to regular functions
        (only a single expression)</p>
    </div>
  </section>

  <section>
    <h3>Example</h3>
    <p>Lambda functions are useful as arguments, e.g. for sorting.</p>
{% highlight "py" %}
{% include "source/py/functions/lambda_functions.py" %}
{% endhighlight %}
{% include_code "source/py/functions/lambda_functions.py" %}
  </section>
</section>

<section>
  <h2>Pair Programming</h2>

  <section>
    <h3>
      Definition
    </h3>

    <ul>
      <li>Agile software development technique</li>
      <li>Two programmers work together at one workstation</li>
      <li>The driver writes code; the navigator reviews each line as it is typed</li>
      <li>The two programmers switch roles frequently</li>
    </ul>

    <p><a href="http://en.wikipedia.org/wiki/Pair_programming">
        Wikipedia - Pair programming</a></p>
  </section>

  <section>
    <h3>Motivations</h3>
    <ul>
      <li>Skills and knowledge are distributed</li>
      <li>Increases the
        <a href="https://en.wikipedia.org/wiki/Bus_factor">bus factor</a>
        (also in the interest of the employee)</li>
      <li>Gives partners to discuss problems</li>
      <li>Code quality is improved<br />
        <q>Having enough eyes, all bugs seem shallow.</q>
         - <cite>Linus Torvalds</cite></li>
      <li>Mitigates interruptions (keeps the flow)</li>
      <li>New team members get to know other team members</li>
    </ul>
    <p><a href="#Henney:2010"><cite title="Henney:2010">
      Gudny Hauknes et. al. in [Henney (2010), pg 128f]</cite></a></p>
  </section>

  <section>
    <h3>Rules for Pair Programming</h3>
    <ul>
      <li>Be patient with developers less experienced than you<br />
        (explaining improves your own understanding!)</li>
      <li>Frequent rotation of pairs is crucial
        (use agreed rule of rotation)</li>
      <li>Adjust the rotation rule when necessary</li>
      <li>A task doesn't need to be completed before rotating teams</li>
    </ul>
    <p><a href="#Henney:2010"><cite title="Henney:2010">
      Gudny Hauknes et. al. in [Henney (2010), pg 128f]</cite></a></p>
  </section>
</section>
{% endblock %}

</section>
