---
title: Programming in Python
subtitle: Hello Python
layout: layouts/presentation.njk
---

<section>
  <section>
    <h2>Why Python?</h2>
    <p>Its features make it an excellent choice for beginners</p>
    <ul class="fragment">
      <li>Gets things done... your time is valuabe</li>
      <li>Among the most popular programming languages worldwide
        <ul>
          <li><a href="https://www.tiobe.com/tiobe-index/">TIOBE Index</a></li>
          <li>
            <a href="https://survey.stackoverflow.co/2023/#most-popular-technologies-language">
              Stack Overflow Dev. Survey 2023</a></li>
        </ul>
      </li>
      <li><a href="https://openhub.net/languages/compare?utf8=%E2%9C%93&measure=commits&language_name%5B%5D=c&language_name%5B%5D=cpp&language_name%5B%5D=java&language_name%5B%5D=php&language_name%5B%5D=python&language_name%5B%5D=csharp&language_name%5B%5D=-1&commit=Update">
        Highly popular in Open Source Projects</a></li>
      <li><a href="https://trends.google.com/trends/explore?date=all&q=%2Fm%2F05z1_&hl=en">
        Ever increasing popularity</a> (Google Trends)</li>
    </ul>
  </section>

  <section>
    <h2>Python's Advantages</h2>
    <ul>
      <li>Python compares favorable in terms of development time</li>
      <li>Easy to learn</li>
      <li>Simple and elegant syntax</li>
      <li>Open Source</li>
      <li>Multi paradigm scripting/ programming language</li>
      <li>Platform independent</li>
      <li>Excellent tools</li>
      <li>Batteries included</li>
      <li>Easily extensible - lots of third party modules</li>
      <li>Huge community</li>
    </ul>
  </section>

  <section>
    <h2>Python's Disadvantages</h2>
    <ul>
      <li>Execution speed</li>
      <li>Block delimiters confusing if editor is not properly configured</li>
      <li>Limited application on mobile platforms</li>
    </ul>
  </section>

  <section>
    <h2>Jobs</h2>
      <ul>
        <li><a href="http://www.python.org/jobs/">Python Job Board</a></li>
        <li><a href="http://www.careerjet.at/">Careerjet</a></li>
      </ul>
  </section>

  <section class="center">
    <blockquote>
      <p>When someone says "I want a programming language in which I need only
        say what I wish done" give him a lollipop.</p>
      <footer>– <cite>Alan Perlis</cite></footer>
    </blockquote>
  </section>
</section>

<section>
  <h2>Terminology</h2>
  <section>
    <ul>
      <li>Variable, Assignment</li>
      <li class="fragment">Comment</li>
      <li class="fragment">Standard input, standard output and standard error</li>
      <li class="fragment">Source formatting/ indentation</li>
      <li class="fragment">Branching</li>
      <li class="fragment">Loops</li>
    </ul>
  </section>

  <section>
    <ul>
      <li>Operator
        <ul>
          <li>A symbol representing an operation (eg.: mathematical operation)</li>
          <li>There are arithmetic, logical, assignment, ... operators</li>
        </ul>
      </li>
      <li class="fragment">Operator precedence
        <ul>
          <li>When in doubt, use parenthesis.</li>
          <li>In order to make your code more readable, use parenthesis</li>
        </ul>
      </li>
    </ul>
  </section>
</section>

<section>
  <h2>Running Python Code</h2>

  <section>
  <p>
    Python code can be executed in a shell by typing <kbd>python $FILENAME</kbd>
  </p>

{% highlight "py 6" %}
{% include "source/py/hello/hello.py" %}
{% endhighlight %}
{% download "/data/py/hello/hello.py" %}
  </section>

  <section>
    <p>Python offers it's own read–eval–print loop (REPL),
      the Python shell<br />
      Python commands are immediately executed</p>
    <div class="fragment">
      <h4>Using <code>python</code> or <code>ipython</code> as a calculator</h4>
      <ul>
        <li>Basic operations, parenthesis, variables, import</li>
        <li><a href="http://www.youtube.com/watch?v=kcwx4mcBxbE&amp;list=PLAW1Fsz27UuaLYfGBmXM7nHur2XpNuIeD">Python 3 Video Tutorial -
          Introduction to <code>(i)python</code></a></li>
      </ul>
    </div>
    <div class="fragment">
      <h4>Getting help</h4>
      <p>
        When encountering an error message you do not understand,
          try pasting it into your favorite search engine
      </p>
    </div>
  </section>
</section>

<section>
  <h2>Branching</h2>

  <section>
    <p>Allows to execute different commands based on provided conditions</p>

<div class="fragment">
    <h3>The if statement</h3>
{% highlight "py" %}
if <assignment_expression>:
    <suite>
(elif <assignment_expression>: <suite>)*
[else: <suite>]
{% endhighlight %}
</div>
  </section>

  <section>
  <h3>Example (<code>if</code>)</h3>
{% highlight "py 4,6,8" %}
{% include "source/py/hello/if.py" %}
{% endhighlight %}
{% include_code "source/py/hello/if.py" %}
  </section>

  <section>
    <h3>Conditional expression</h3>
    <pre>&lt;expression1&gt; if &lt;condition&gt; else &lt;expression2&gt;</pre>
    <div class="fragment">
      <h4>Example</h4>
{% highlight "py" %}
{% include "source/py/hello/conditional_expression.py" %}
{% endhighlight %}
{% include_code "source/py/hello/conditional_expression.py" %}
    </div>
  </section>

  <section>
    <h3>Structural Pattern Matching</h3>
    <p>Since Python 3.10
      (<a href="https://peps.python.org/pep-0634/">PEP 634</a> )</p>
{% highlight "py" %}
match subject:
    case <pattern_1>:
        <action_1>
    case <pattern_2>:
        <action_2>
    case <pattern_3>:
        <action_3>
    case _:
        <action_wildcard>
{% endhighlight %}
  </section>

  <section>
  <h3>Example (<code>match</code>)</h3>
{% highlight "py 4,5,7,9" %}
{% include "source/py/hello/match.py" %}
{% endhighlight %}
{# doesn't work for now as tutor still uses Python 3.6#}
{% include_code "source/py/hello/match.py" %}
  </section>

  <section>
    <h3>Exceptions</h3>
    <p>Allow splitting up error detection and error handling</p>
{% highlight "py" %}
try:
    <suite>
(except [<expression> [as <identifier>]]: <suite>)+
[else: <suite>]
[finally: <suite>]
{% endhighlight %}
  </section>

  <section>
  <h3>Example (<code>try</code>)</h3>
{% highlight "py 5,7" %}
{% include "source/py/hello/exception.py" %}
{% endhighlight %}
{% include_code "source/py/hello/exception.py" %}
  </section>

  <section>
    <p><a href="https://www.youtube.com/watch?v=_HTjbD8C5Ho">
      Python 3 Video Tutorial - Basic Control Flow</a></p>
  </section>
</section>

<section>
  <h2>The <code>while</code> Statement</h2>

  <section>
    <p>...is used for repeated execution as long as an
      expression is true</p>
{% highlight "py" %}
while <assignment_expression>:
    <suite>  # may include `break` and `continue`
[else: <suite>]
{% endhighlight %}

    <div class="fragment" style="margin-top: 1em;">
      <dl>
        <dt>else</dt>
        <dd>if <code>&lt;assignment_expression&gt;</code> is false,
          the suite of the else clause is executed</dd>
        <dt>
          <a href="https://docs.python.org/3/reference/simple_stmts.html#break">
            break</a></dt>
        <dd>terminates the loop without executing the else clause's suite</dd>
        <dt>
          <a href="https://docs.python.org/3/reference/simple_stmts.html#continue">
            continue</a></dt>
        <dd>skips the rest of the suite and goes back to testing the
          expression</dd>
      </dl>
    </div>
  </section>

  <section>
    <h3>Example</h3>
    {% highlight "py 7" %}
{% include "source/py/hello/while.py" %}
{% endhighlight %}
{% include_code "source/py/hello/while.py" %}

    <p class="fragment"><a href="http://youtu.be/rDiCwof4vwE">
      Python 3 Video Tutorial - While Loops</a></p>
  </section>
</section>

<section>
  <h2>In-Class Example</h2>
  <ul>
    <li>Guessing game
      <ul>
        <li>Ask the user to input a guess</li>
        <li>Compare the input with a "random number"</li>
        <li>Inform the user if the number was correct</li>
      </ul>
    </li>
    <li class="fragment">Enhanced game with feedback</li>
    <li class="fragment">Are we there?</li>
    <li class="fragment">Initial "release" of guessing game
      <ul>
        <li>Allow multiple guesses</li>
        <li>Random integers</li>
        <li>What is a random number? What about 7 or 17? :)</li>
      </ul>
    </li>
  </ul>
</section>

<section>
  <h2>Summary</h2>
  <ul>
    <li>Commands "do", branches "decide" and loops "repeat" things</li>
    <li>Assignment stores a value in a named container (variable)</li>
    <li><code>if/ else</code> branches</li>
    <li><code>while</code> loops</li>
    <li>=, ==, !=, > operators (assignment and comparison)</li>
    <li>Indentation matters</li>
    <li>Built-in functions (BIFs)
      <ul>
        <li><code>print(.)</code>, <code>input(.)</code>,
          <code>int(.)</code></li>
      </ul>
    </li>
    <li>Standard library functions
      <ul>
        <li><code>random.randint(.)</code></li>
      </ul>
    </li>
  </ul>
</section>


{% include 'slides/closing.njk' %}

<section>
  <h2>Literature</h2>

  <div class="reference" id="Python:2023">
    <span class="authors">Python Software Foundation</span>
    <span class="title"><a href="http://docs.python.org/3/">Python Documentation</a></span>
    <span class="pub_details">http://docs.python.org/3/</span>
  </div>
</section>
