{% extends "layouts/presentations/unit_testing.njk" %}

{% set title = "Programming in Python" %}
{% set subtitle = "Unit Testing - Systematic Search for Errors" %}

{# set framework_path if multiple presentations for same language are required
   to allow locating the correct test files #}
{% set framework_path = "" %}

{% block framework %}
  <p class="fragment">At the time of this writing,
    <a href="https://docs.pytest.org/">pytest</a>
    offers the best features.
  </p>
{% endblock %}

{% block run_tests_before %}
{% highlight "shell" %}
# takes rather long; can be interrupted via [Ctrl]+[C]
# tests are discovered automatically
pytest  # or `python -m pytest`
{% endhighlight %}
<p>What to do now?</p>
<div class="fragment">
{% highlight "shell" %}
pytest --help
pytest --collect-only  # list all available tests
pytest -k "not slow"  # ignore tests with `slow` in their name
{% endhighlight %}
</div>
{% endblock %}

{% block run_tests_after %}
{% download data_path + "after_refactoring." + extension %}
<p>Adjust the test to import from the new implementation and run the tests.</p>
{% highlight "shell" %}
pytest
{% endhighlight %}
{% endblock %}

{% block about_framework %}
<section>
  <h2>pytest</h2>

  <section>
  <h3>Installation</h3>
{% highlight "shell" %}
pip install --user --upgrade pip
pip install --user --upgrade pytest
{% endhighlight %}

  <div class="fragment">
    <p>or use your operating system's package manager</p>
{% highlight "shell" %}
sudo apt install python3-pytest
{% endhighlight %}
  </div>
  </section>

  <section>
    <h3>Documentation</h3>
  <p>Comprehensive documentation can be found on
    <a href="https://pytest.org/">pytest.org</a>.
  </p>
  </section>

{#
TODO: create comprehensive test example (there is one in the original
  Python unit testing documentation); also: add slide deck about exception
  handling and creating your own exceptions

  Demonstrate test fixtures.
#}
</section>
{% endblock %}
