{#
requires:
#}

{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between a C and C++ version of the presentation.
#}

{% extends 'layouts/presentations/functions.njk' %}

{% block language_specific %}
<section>
  <h2>{{ language }} Functions</h2>

  <section>
    <p>We can use standard library functions that others defined for us</p>
      <dl>
        <dt><code>math.h</code></dt>
        <dd>
          <a href="https://en.cppreference.com/w/c/numeric/math/sin">sin(.)</a>,
          <a href="https://en.cppreference.com/w/c/numeric/math/cos">cos(.)</a>,
          <a href="https://en.cppreference.com/w/c/numeric/math/sqrt">
            sqrt(.)</a>,
          <a href="https://en.cppreference.com/w/c/numeric/math/hypot">
            hypot(.)</a>, ...</dd>
        <dt>
          <code>stdio.h</code>
          <dd>fgets(.), printf(.), puts(.), sscanf(.), ...</dd>
        </dt>
      </dl>
    <div class="fragment">
      <p>For example</p>
{% highlight extension + ' 4' %}
{% include source_path + 'sin.' + extension %}
{% endhighlight %}
{% include_code source_path + 'sin.' + extension %}
    </div>
  </section>


  <section>
    <h3>Create Your Own Functions - Syntax</h3>
{% highlight extension %}
returnType functionName(parameter1, parameter2,...) {
  // function body
}
{% endhighlight %}
    <div class="fragment">
      <p>For example, we've already defined main in each of our programs</p>
{% highlight extension %}
int main() {
  return 0;
}
{% endhighlight %}
    </div>
  </section>


  <section>
    <h3>Minimalistic Example</h3>
{% highlight extension + ' 2' %}
{% include source_path + 'no_args_no_return.' + extension %}
{% endhighlight %}
{% include_code source_path + 'no_args_no_return.' + extension %}
  </section>
</section>


<section>
  <h2>Arguments and Parameters</h2>

  <section>
    <ul>
      <li>Functions can be parameterized to make them more generic</li>
      <li>Parameters are available to functions as variables</li>
      <li>Arguments are values passed to a function</li>
      <li>Argument values are accessed through parameters</li>
      <li>In {{ language }}, arguments are passed by value</li>
    </ul>
    <div class="fragment">
      <p><code>()</code> after a function name calls (executes) that
        function</p>
      <p><code>(.)</code> indicates that a function expects one or more
        arguments</p>
    </div>
  </section>

  <section>
    <h3>Example With One Parameter / Argument</h3>
{% highlight extension + ' 2' %}
{% include source_path + 'single_arg.' + extension %}
{% endhighlight %}
{% include_code source_path + 'single_arg.' + extension %}
  </section>

  <section>
    <h3>Example With Two Parameters / Arguments</h3>
{% highlight extension + ' 2' %}
{% include source_path + 'two_args.' + extension %}
{% endhighlight %}
{% include_code source_path + 'two_args.' + extension %}
  </section>

  <section>
    <h3>Pass by Value</h3>
    <p>By default, {{ language }} copies argument values to function
      parameters</p>
{% highlight extension + " 2,10" %}
{% include source_path + "by_value." + extension %}
{% endhighlight %}
{% include_code source_path + "by_value." + extension %}
  </section>
</section>


<section>
  <h2>Return Statement</h2>
  <section>
    <ul>
      <li>Causes execution to leave the current function </li>
      <li>Execution is resumed where the function was called</li>
      <li>Return statements allow a function to specify a return value</li>
      <li>A return value is passed back to the code that called the function</li>
    </ul>
  </section>

  <section>
    <h3>Example: Calculate a Sum</h3>
{% highlight extension + ' 4' %}
{% include source_path + 'sum.' + extension %}
{% endhighlight %}
{% include_code source_path + 'sum.' + extension %}
  </section>

  <section>
    <h3>What does this code do?</h3>
{% highlight extension + ' 7,12,14' %}
{% include source_path + 'years.' + extension %}
{% endhighlight %}
{% include_code source_path + 'years.' + extension %}
  </section>
</section>

<section>
  <section>
    <h2>Exercise</h2>
    <ol>
      <li>Write a function <code>double min(double first, double second)</code>
        that takes returns the smaller of the two given numbers.</li>
      <li>Write a function <code>double max(double first, double second)</code>
        that returns the larger of the two given numbers.</li>
      <li>Write <code>int main()</code> that calls your functions multiple times
        to test them if they work properly.</li>
    </ol>
    </section>

    <section>
      <h2>Solution</h2>
{% highlight extension %}
{% include source_path + 'exercise.' + extension %}
{% endhighlight %}
{% include_code source_path + 'exercise.' + extension %}
    </section>
</section>
{% endblock %}
