{#
requires: arrays
#}

{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple unit test intros for different
programming languages with only a few blocks being distinct.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/strings/' %}
{% set data_path = '/data/' + extension + '/strings/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'C-Strings' %}

{% block presentation %}


<section>
  <section>
  <h2>Terminology</h2>
  <ul>
    <li>String</li>
    <li class="fragment">Standard input, standard output and standard error</li>
    <li class="fragment">Operator
      <ul>
        <li>A symbol representing an operation (eg.: mathematical operation)</li>
        <li>There are arithmetic, logical, assignment, ... operators</li>
      </ul>
    </li>
    <li class="fragment">Operator precedence
      <ul>
        <li>When in doubt, use parenthesis</li>
        <li>In order to make your code more readable, use parenthesis</li>
      </ul>
    </li>
    <li class="fragment"><code>while</code> loops</li>
  </ul>
  </section>

  <section>
  <h2>What is a C-String?</h2>
  <ul>
    <li>Sequence of characters
      <ul>
        <li>Details depend on the programming language</li>
      </ul>
    </li>
    <li>A C-string is a character array (<code>char[]</code>)</li>
    <li>C-strings are terminated with the value 0<br />
      (0 corresponds to the ASCII character <code>'\0'</code>,<br />
      48 corresponds to the ASCII character <code>'0'</code>)
      </li>
  </ul>
  <div class="fragment">
{% highlight "c" %}
char text[] = "Freedom";
{% endhighlight %}
  <table class="memory" style="font-size: 50%">
    <tr>
      <th class="left">Index</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Character</th>
      <td>'F'</td>
      <td>'r'</td>
      <td>'e'</td>
      <td>'e'</td>
      <td>'d'</td>
      <td>'o'</td>
      <td>'m'</td>
      <td>'\0'</td>
    </tr>
    <tr>
      <th>Decimal Value</th>
      <td>70</td>
      <td>114</td>
      <td>101</td>
      <td>101</td>
      <td>100</td>
      <td>111</td>
      <td>109</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>0x7fffc8c013e4</td>
      <td>0x7fffc8c013e5</td>
      <td>0x...e6</td>
      <td>0x...e7</td>
      <td>0x...e8</td>
      <td>0x...e9</td>
      <td>0x...ea</td>
      <td>0x...eb</td>
    </tr>
  </table>
  {% include_code source_path + "c_string." + extension %}
  </div>
  </section>
</section>

<section>
  <h2>Purpose of Working with Text</h2>

  <section>
  <h3>Which problems do C-strings solve?</h3>
  <ul>
    <li>Input/output (I/O) required for basic communication with users</li>
    <li>User interaction requires text</li>
    <li>Prerequisite for reading and writing textual files</li>
    <li>...</li>
  </ul>
  </section>

  <section>
  <h3>Which problems do C strings cause?</h3>
  <ul>
    <li>C strings are "dumb" (not even aware of their length)</li>
    <li>Limited to extended ASCII</li>
    <li>Hard to use compared to string types in higher level languages</li>
    <li><strong>Security</strong> implications of C string functions</li>
  </ul>
  </section>
</section>

<section>
  <h2>Reading User Input</h2>

  {% block user_input %}{% endblock %}

</section>

<section>
  <h2>C String Functions</h2>
  <section>
    <p>String functions are included via
{% if language == 'C' %}
      <code>&lt;string.h&gt;</code> (and <code>&lt;strings.h&gt;</code>)
{% elif language == 'C++' %}
      <code>&lt;cstring&gt;</code>
{% endif %}
      </p>
    <p>Using string functions may lead to <strong>security</strong> issues.</p>
    <p><code>stpcpy, strcasecmp, strcat, strchr, strcmp, strcoll, strcpy,
      strcspn, strdup, strfry, strlen, strncat, strncmp, strncpy, strncasecmp,
      strpbrk, strrchr, strsep, strspn, strstr, strtok, strxfrm, index,
      rindex</code></p>
    <p>To get help, consult your manual :)</p>
{% highlight 'bash' %}
man 3 string
{% endhighlight %}

  <p class="fragment">
    <code>toupper(int c)</code> and <code>tolower(int c)</code> are included
    via
    <code>
      &lt;{% if language == 'C' %}ctype.h{% else %}cctype{% endif %}&gt;
    </code>
  </p>
  </section>

  <section>
    <h3>Example: Copy a String</h3>
{% highlight extension + ' 6' %}
{% include source_path + 'copy_string.' + extension %}
{% endhighlight %}
{% include_code source_path + 'copy_string.' + extension %}
  </section>
</section>

{# Branching #}
{# Loops #}
<section>
  <h2>Iterating Over a C-String</h2>
  <section>
    <p>It is possible to iterate over a string using a <code>while</code>
      loop. The syntax is<p>
{% highlight extension %}
while (condition) {
  // statements that repeat as long as `condition` evaluates to true
}
{% endhighlight %}

  <div class="fragment">
    <p>Loops can be interrupted with <code>break</code>.<br />
     The current iteration can be ended using <code>continue</code>.</p>
{% highlight extension %}
while (condition) {
  // block of statements
  if (skip_remaining_iteration) {
    continue;  // skip rest of this iteration
  }
  if (loop_should_end_now) {
    break;  // leave the loop
  }
}
{% endhighlight %}
  </div>
  </section>

  <section>
    <h3>Example: Convert C String to Upper Case</h3>
{% highlight extension + ' 6' %}
{% include source_path + 'to_upper.' + extension %}
{% endhighlight %}
{% include_code source_path + 'to_upper.' + extension %}
  </section>
</section>

{% block cpp_strings %}{% endblock %}

{% include 'slides/closing.njk' %}
{% endblock %}
