{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between a C and C++ version of the presentation.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/cli/' %}
{% set data_path = '/data/' + extension + '/cli/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'Commandline Arguments' %}

{% block presentation %}


<section>
  <section>
    <h2>Purpose of Commandline Arguments</h2>
    <ul>
      <li>Allow the user to pass information to a program upon startup
        <ul>
          <li>Which <strong>input files</strong> should be processed<br />
            <code>{{ compiler }} infile.{{ extension }}</code>
          </li>
          <li><strong>Options</strong> can be defined<br />
            <code>ls -l -a -h</code>
          </li>
          <li>Possible <strong>subcommands</strong><br />
            <code>apt install programname</code>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2>Issues</h2>
    <ul>
      <li>Not all operating systems pass arguments in the same way</li>
      <li>String parsing is tedious</li>
      <li><a href="https://en.wikipedia.org/wiki/POSIX"
             title="Portable Operating System Interface">POSIX</a>
        <code>getopt</code>
        (<a href="https://en.wikipedia.org/wiki/Unistd.h">
           <code>unistd.h</code></a>) has limited
        features (eg. no long options)</li>
      <li>3rd party libraries offer differing feature sets</li>
      <li>Argument parsing libraries are usually not trivial to use</li>
    </ul>

    <aside class="notes">
      <p>Unix shells take care of the arguments<br />
        (globs et al) while Windows does not</p>
      <p>POSIX - Portable Operating System Interface</p>
    </aside>
  </section>
</section>

<section>
  <h2>Foundation of Argument Passing</h2>
  <section>
    <p>In {{ language }}, arguments are passed to <code>main(.)</code></p>
    <dl>
      <dt><code>argc</code></dt>
      <dd>argument count</dd>
      <dt><code>argv</code></dt>
      <dd>argument vector</dd>
    </dl>
{% highlight "c 0" %}
int main(int argc, char** argv) {
  /* work with arguments */
  return 0;
}
{% endhighlight %}
  </section>

  <section>
    <h3>Example: Echo Arguments Without Using a Library</h3>
{% highlight extension + ' 2-4' %}
{% include source_path + 'echo.' + extension %}
{% endhighlight %}
{% download data_path + 'echo.' + extension %}
  </section>

  <section>
    <h3>Example: Show a Simple Help Message</h3>
{% highlight extension + ' 5-7' %}
{% include source_path + 'help.' + extension %}
{% endhighlight %}
{% download data_path + 'help.' + extension %}
  </section>
</section>
{#
#}

<section>
  <h2>POSIX Standard <code>getopt</code></h2>
  <section>
    <dl>
      <dt>+</dt>
      <dd>standardized</dd>
      <dd>available (almost) everywhere</dd>
      <dt>-</dt>
      <dd>no support for long options</dd>
      <dd>lack of support for subcommands etc.</dd>
    </dl>

    <aside class="notes">
      <p>Cygwin and MinGW also provide their own versions of unistd.h</p>
    </aside>
  </section>

  <section>
{% highlight extension + ' 2,8' %}
{% include source_path + 'posix_getopt.' + extension %}
{% endhighlight %}
{% download data_path + 'posix_getopt.' + extension %}
  </section>
</section>

<section>
  <h2>GNU <code>getopt_long</code></h2>

  <section>
    <dl>
      <dt>+</dt>
      <dd>widely available GNU extenstion</dd>
      <dd>supports long options</dd>
      <dt>-</dt>
      <dd>not available everywhere</dd>
      <dd>lack of support for subcommands etc.</dd>
    </dl>

  </section>


  <section>
    <dl>
      <dt>name</dt>
      <dd>a long option's name</dd>
      <dt>has_arg</dt>
      <dd><code>no_argument | required_argument | optional_argument</code></dd>
      <dd>arguments, if provided, are stored in <code>optarg</code>;
        otherwise <code>optarg</code> is <code>NULL</code></dd>
      <dt>flag</dt>
      <dd>if <code>flag</code> is <code>NULL</code>, <code>getopt_long</code>
        returns <code>val</code></dd>
      <dd>if <code>flag</code> is a pointer to an <code>int</code> variable,
        <code>val</code> is assigned to the variable<br />
        and <code>getopt_long</code> returns 0</dd>
      <dt>val</dt>
      <dd>specifies the value returned by <code>getopt_long</code> or stored
        in the flag variable depending on the scenario</dd>
    </dl>
  </section>

  <section>
{% highlight extension + ' 0,9,20,21' %}
{% include source_path + 'gnu_getopt.' + extension %}
{% endhighlight %}
{% download data_path + 'gnu_getopt.' + extension %}
  </section>
</section>

<section>
  <h2>Other Libraries</h2>
  <p>There are many libraries for argument parsing...</p>
  <p>... select the one that suits your needs, eg.</p>
  {% block libs %}{% endblock %}
</section>

<section>
  <h2>Comprehensive Example(s)</h2>
  <p>Look at the source code of your favorite commanline programs...</p>

  <div class="fragment">
    <p>This can be done via <code>apt source $PACKAGE</code></p>
    <p>eg. <code>apt source htop</code></p>
  </div>

  <div class="fragment">Or checkout a repository with an example<br />
    <dl>
      <dt>GNU getopt</dt>
      <dd>eg.
        <a href="https://github.com/senarclens/cvrptwms/blob/master/cli.c">
          cvrptwms <code>cli.c</code></a>
      </dd>
      {% if language == 'C++' %}
      <dt>Boost Program Options</dt>
      <dd>eg.
        <a href="https://github.com/senarclens/cvrptwms/blob/master/main_cli.cpp">
          cvrptwms <code>main_cli.cpp</code></a>
      </dd>
      {% endif %}
    </dl>
  </div>
</section>

<section>
  <section>
  <h2>Exercise</h2>
  <p>Write a {{ language }} program that takes the following arguments</p>
  <dl>
    <dt><code>-h, --help</code></dt>
    <dt><code>-a, --author</code></dt>
    <dd>display your name and email address</dd>
    <dt><code>--color {red,green,blue}</code></dt>
    <dd>display a message in the given color</dd>
  </dl>
  </section>

</section>

{% include 'slides/closing.njk' %}

{% endblock %}
