{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple unit test intros for different
programming languages with only a few blocks being distinct.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/arrays/' %}
{% set data_path = '/data/' + extension + '/arrays/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'C-Arrays' %}

{% block presentation %}

<section>
  <section>
    <h2>What is a C-Array?</h2>

    <p>A reference to the beginning of consecutive memory of a given type</p>
    <div class="fragment">
  {% highlight "c" %}
  int numbers[] = {32, 45, 12, 39, 7, 15};
  {% endhighlight %}
    <table class="memory" style="font-size: 50%">
      <tr>
        <th class="left">Index</th>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <th>Value</th>
        <td>32</td>
        <td>45</td>
        <td>12</td>
        <td>39</td>
        <td>7</td>
        <td>15</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>0x7fc8c013e0</td>
        <td>0x7fc8c013e4</td>
        <td>0x...e8</td>
        <td>0x...ec</td>
        <td>0x...f0</td>
        <td>0x...f4</td>
      </tr>
    </table>
    <div class="fragment">
      <p>The index is the offset of the referenced memory.</p>
      <p>The first element has index 0.</p>
      <p>0 means that there is no offset from the beginning of the referenced
        memory.</p>
    </div>
  </section>


  <section>
    <h2>Purpose of C-Arrays</h2>
    <ul>
      <li>Arrays allow storing many elements of the same type</li>
      <li>These elements can be passed to a function together</li>
      <li>The number of elements does not have to be known upfront
        (only C99)</li>
    </ul>

    <aside class="notes">
      <p>Arrays on the stack with dynamic size are limited to C99. This is
        never standard C++, even though compilers like <kbd>g++</kbd>
        support them.</p>
    </aside>
  </section>

  <section>
    <h2>Which Problems do C-Arrays Cause?</h2>
    <ul>
      <li>Arrays only store the memory address of their beginning</li>
      <li>Passing arrays to functions requires passing their size as well</li>
      <li>The memory address an array variable references cannot be changed</li>
      <li>Not all {{ language }} compilers support dynamically sized arrays on
        the stack</li>
      <li>Arrays cannot be directly returned from functions</li>
    </ul>
    {% block vector %}{% endblock %}

    <aside class="notes">
      <ul>
        <li>In the scope where an array is declared,
          <code>sizeof(array) / sizeof(type)</code> can be used to determine
          the number of elements.</li>
      </ul>
    </aside>
  </section>
</section>


<section>
  <h2>Array Subscription</h2>
  <p>Subscription is the selection of an element using its index.</p>
{% highlight "c" %}
int points[] = {32, 45, 12, 39, 7, 15};
int value = points[2];  // access third element with the subscript operator
points[0] = 50;  // write to first element with the subscript operator
{% endhighlight %}
</section>


<section>
  <h2>Working with C-Arrays</h2>

  <section>
    <h3>Creating an Array of Constant Size</h3>
{% highlight extension + ' 3' %}
{% include source_path + 'constant_size.' + extension %}
{% endhighlight %}
{% include_code source_path + 'constant_size.' + extension %}
  </section>

  {% block c99_dynamic_size %}{% endblock %}

  <section>
    <h3>Determine the Number of Elements</h3>
    <p>The compiler can determine
      the number of elements if the array was declared in the current scope.</p>
    <p>The <code>sizeof</code> operator returns the total memory in bytes.</p>
{% highlight extension + ' 4,5' %}
{% include source_path + 'determine_size.' + extension %}
{% endhighlight %}
{% include_code source_path + 'determine_size.' + extension %}
  </section>

  <section>
    <h3>Pass the Number of Elements When Passing an Array to a Function</h3>
{% highlight extension + ' 2,7,14' %}
{% include source_path + 'function_argument.' + extension %}
{% endhighlight %}
{% include_code source_path + 'function_argument.' + extension %}
  </section>

  <section>
    <h3>Arrays Are Not Assignable</h3>
{% highlight extension + ' 5,6' %}
{% include source_path + 'not_assignable.' + extension %}
{% endhighlight %}
{% download data_path + 'not_assignable.' + extension %}
  </section>
</section>

<section>
  <h2>Returning an Array from a Function</h2>

  <section>
    <p>It is not possible to directly return an array from a function.</p>
    <p>Its memory would be on the stack and the returned reference invalid.
    </p>
    <div class="fragment">
      <p>There are three possible approaches</p>
      <ul>
        <li>Workaround: pass array as argument (use caller's stack memory)</li>
        <li>Workaround: create static array (preserve memory between calls)
          <br />
          (requires <a href="../pointers/">pointers</a>)
        </li>
        <li>Solution: dynamic memory management<br />
          (requires <a href="../pointers/">pointers</a> and the
          <a href="../free_store/">free store</a>)
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h3>Pass Array as an Argument</h3>
{% highlight extension + ' 4,13' %}
{% include source_path + 'modify_argument.' + extension %}
{% endhighlight %}
{% include_code source_path + 'modify_argument.' + extension %}
  </section>

</section>

{% include 'slides/closing.njk' %}
{% endblock %}
