{#
requires: pointers, structs
#}

{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between a C and C++ version of the presentation.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/free_store/' %}
{% set data_path = '/data/' + extension + '/free_store/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'The Free Store - Dynamic Memory Management' %}

{% block presentation %}

<section>
  <h2>Purpose of Dynamic Memory Management</h2>

  <section>
    <h3>Which problems does this solve?</h3>
    <ul>
      <li>Allows to dynamically allocate memory, and free it for reuse
        afterwards</li>
      <li>Permits returning (pointers to) arrays from functions</li>
      <li>Only way for non-C99 compilers to set array size at runtime</li>
      <li>Can grow and shrink dynamic data structures
        (linked lists, trees, ...)</li>
      <li class="fragment">Required for using memory from the free store
        (heap)</li>
      <li class="fragment">Large amounts of memory can only be used from the
        free store</li>
    </ul>
    <p class="fragment">
      The size of the stack can be determined with <kbd>ulimit -s</kbd></p>

  </section>

  <section>
    <h3>Which problems might this cause?</h3>
    <ul>
      <li>Requires working with pointers</li>
      <li>Relatively slower compared to the stack</li>
      <li>Programmer in charge of managing memory</li>
      <li class="fragment">Potential memory leaks
        (tools like <kbd>valgrind</kbd> help with debugging)</li>
    </ul>

    <p class="fragment">
      Some of these problems are (partly) solved by higher level languages
    </p>
    <p class="fragment">
      For example, C++ offers containers that manage memory for the programmer
    </p>

    <aside class="notes">
      <p>Likewise, Python offers <code>list</code> that takes care of memory
        management for the programmer.</p>
    </aside>
  </section>
</section>


{% block language_specific %}{% endblock %}


<section>
  <h2>Limited Size of the Stack</h2>
  <p>Determine the size of the stack via</p>
{% highlight 'bash' %}
$ ulimit -s  # or `ulimit -a` for all limits
{% endhighlight %}
  <p>Impossible to exceed the given stack size</p>
{% highlight extension + ' 2' %}
{% include source_path + 'exceed_stack_size.' + extension %}
{% endhighlight %}
  <p>Try to compile and run
    <a href="{{ data_path }}exceed_stack_size.{{ extension }}">
      exceed_stack_size.{{ extension }}</a>
  </p>
  <p class="fragment">If large amount of memory is needed, one has to use
    the heap...</p>
</section>

  <section>
  <h2>Examples</h2>

  <section>
    <h3>Allocate Memory for an Array</h3>
{% highlight extension + ' 4,12' %}
{% include source_path + 'allocate_array.' + extension %}
{% endhighlight %}
{% include_code source_path + 'allocate_array.' + extension %}
  </section>

  <section>
    <h3>Allocate Large Amount of Memory</h3>
{% highlight extension + ' 3,4' %}
{% include source_path + 'allocate_large_array.' + extension %}
{% endhighlight %}
{# crashes the tutor, hence a normal download link #}
<p>{% download data_path + 'allocate_large_array.' + extension %}<p>
  </section>

  <section>
    <h3>Return Array of Structs</h3>
{% highlight extension + ' 5,8,12,17' %}
{% include source_path + 'return_array_of_structs.' + extension %}
{% endhighlight %}
{% include_code source_path + 'return_array_of_structs.' + extension %}
  </section>

{#  currently, the tutor does not correctly visualize the memory leak
  <section>
    <h3>Beware of Memory Leaks</h3>
{% highlight extension + ' 1,2,9' %}
{% include source_path + 'memory_leak.' + extension %}
{% endhighlight %}
{% include_code source_path + 'memory_leak.' + extension %}
  </section>
#}

</section>

{% include 'slides/closing.njk' %}

{% endblock %}
