{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple unit test intros for different
programming languages with only a few blocks being distinct.
#}

{% extends "layouts/presentation.njk" %}
{% set source_path = "source/" + extension + "/" %}
{% set data_path = "/data/" + extension + "/" %}

{% block presentation %}

{% block language_intro %}{% endblock %}

<section>
  <h2>Structure of a {{ language }} Program</h2>
  <section>
{% highlight extension %}
{% include source_path + "hello." + extension %}
{% endhighlight %}
{% include_code source_path + "hello." + extension %}
  </section>

  <section>
    <h3>Preprocessor Directives</h3>
    <p>Allow to <code>include</code> code declared elsewhere</p>
{% highlight extension + " 0" %}
{% include source_path + "hello." + extension %}
{% endhighlight %}
  </section>

  <section>
    <h3>Comments</h3>
{% highlight extension %}
// single line comment
int x = 5;  // comments can be added at the end of a line

/*
 * multiline comment
 * ...
 */
{% endhighlight %}
    <div class="fragment">
      <p>Removed by the preprocessor</p>
    </div>
  </section>

  <section>
    <h3>Main Function</h3>
    <p>Serves a special purpose in {{ language }} programs:<br />
      program execution begins with <code>main(.)</code></p>
{% highlight extension + " 3-6" %}
{% include source_path + "hello." + extension %}
{% endhighlight %}
  </section>

  <section>
    <h3>Return Value</h3>
    <p>Indicate success (<code>0</code>) or a failure code to the calling
      operating system shell</p>
{% highlight extension + " 5" %}
{% include source_path + "hello." + extension %}
{% endhighlight %}
  </section>
</section>

{# TODO: extend this presentation to include
- data types
- Variable, Assignment
- printf / cout with format specifiers
- ...

 #}


{% include 'slides/c_cpp_compiling_a_program.njk' %}

{% include 'slides/closing.njk' %}
{% endblock %}
