{#
requires:
recommends: operator overloading for C++
#}

{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between a C and C++ version of the presentation.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/enums/' %}
{% set data_path = '/data/' + extension + '/enums/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'Enums' %}
{% if language == 'C++' %}
{% set subtitle = 'Enums and Scoped Enums' %}
{% endif %}


{% block presentation %}

<section>
  <h2>What is an <code>enum</code>?</h2>
  <p>An <code>enum</code> is a type for limiting variables to be one of a set of
    named constants</p>
  <ul>
    <li>Values are called elements, members, or enumerators of the type</li>
    <li>Enumerators are identifiers that behave as constants</li>
  </ul>

  <div class="fragment">
{% highlight extension %}
enum Name {
  first_choice = <integral constant>,  // assignment is optional; default is 0
  second_choice,  // value is previous value + 1
  ...
  nth_choice,
};
{{ enum }}Name variable = second_choice;
{% endhighlight %}
  </div>

{% if language == 'C++' -%}
  <div class="fragment">
    <p>
      The <code>enum</code> keyword may be used for declaring variables of an
      enum type
    </p>
{% highlight extension %}
enum Name variable{second_choice};  // `enum` is optional
Name variable{second_choice};  // same as above
{% endhighlight %}
  </div>
{%- endif %}
</section>

<section>
  <section>
    <h2>Purpose of Enums</h2>
    <h3>Improve Readability</h3>
    <p>Enums can replace "magic numbers" with meaningful names</p>

    <div style="display: flex;">
      <div style="flex: 1;" class="fragment">
        <h4>Example: Without Enums</h4>
{% highlight extension %}
// ... using magic constants





// imagine a network request
int status = get(url, buffer);
if (status == 200) {  // What is 200??
  // ...
} else if (status == 404) {  // 404??
  // ...
}
{% endhighlight %}
      </div>

      <div style="flex: 1;" class="fragment">
        <h4>Example: Using Enums</h4>
{% highlight extension + ' 7,8,10' %}
// ...
enum Status {
  SUCCESS = 200,
  NOT_FOUND = 404
};

// imagine a network request
{{ enum }}Status status = get(url, buffer);
if (status == SUCCESS) {
  // ...
} else if (status == NOT_FOUND) {
  // ...
}
{% endhighlight %}
      </div>
    </div>
  </section>

  <section>
    <h2>Purpose of Enums</h2>
    <h3>Automatically Create "Unique" Values</h3>
    <p>Values underlying an enum are automatically created if not assigned</p>
{% highlight extension %}
enum Orientation {
  NORTH,  // 0
  EAST,  // 1
  SOUTH,
  WEST,
};
{% endhighlight %}

    <div class="fragment">
      <h3>Better Maintainability</h3>
      <p>Changing values of these constants is done in a single location</p>
    </div>
  </section>
</section>


<section>
  <h2>Which Problems can Enums Cause?</h2>
  <section>
    <h3>No Scoping</h3>
    <p>Enum constants are not scoped by their enclosing enum block</p>
{% highlight extension %}
enum Orientation { NORTH, EAST, SOUTH, WEST, };
// ...
const uint32_t NORTH = 0;  // compiler error: namespace is "polluted"
{% endhighlight %}

    <h3>Misleading Implicit Conversion to <code>int</code></h3>
{% highlight extension %}
{{ enum }}Orientation direction = EAST;  // intention is clear
int choice = EAST;  // much harder to understand intention later on
{% endhighlight %}
  </section>

  {% if language == 'C++' -%}
  <section>
    <h3>No Default Underlying Type</h3>
    <p>Lack of regular forward declaration may require major re-compilation
      when adding a single enum constant
    </p>
    <p>Forward declaration can be achieved since C++11 by specifying the
      underlying type</p>
{% highlight extension %}
enum Orientation;  // ISO C++ forbids forward references to 'enum' types
enum Orientation: uint32_t;  // forward declaration with underlying type is OK
{% endhighlight %}
    <aside class="notes">
      <p>Compilers want to be able to optimize for memory size. They hence want
        to be able to pick the smalles numeric type as the underlying type.
        In order to do so, they have to know all enum constants which makes
        a forward declaration without the definition impossible.
      </p>
    </aside>
  </section>
  {%- endif %}

  <section>
    <h3>Compilers Allow Reusing Values</h3>
{% highlight extension + ' 10' %}
{% include source_path + 'not_unique.' + extension %}
{% endhighlight %}
{% include_code source_path + 'not_unique.' + extension %}
  </section>

  <section>
    <h3>Comparison of Unrelated <code>enum</code> Constants</h3>
{% highlight extension + ' 7'%}
{% include source_path + 'comparing_unrelated.' + extension %}
{% endhighlight %}
{% include_code source_path + 'comparing_unrelated.' + extension %}
  </section>

  {% if language == 'C' -%}
  <section>
    <h3>Implicit Conversion From <code>int</code></h3>
{% highlight extension + ' 6-7' %}
{% include source_path + 'implicit_conversion.' + extension %}
{% endhighlight %}
{% include_code source_path + 'implicit_conversion.' + extension %}
  </section>
  {%- endif %}
</section>


<section>
  <h2>Example: Working With Enums</h2>
  <p>It is common to use <code>switch</code> when working with an
    <code>enum</code></p>
{% highlight extension + ' 12-13' %}
{% include source_path + 'move_character.' + extension %}
{% endhighlight %}
{% include_code source_path + 'move_character.' + extension %}
</section>


{% block scoped_enums %}{% endblock %}


{# TODO: create proper exercise or add link to exercise (classroom or exercism)
<section>
  <h2>Exercise</h2>
  <ol>
    <li>Write your name in a text file. Then write a {{ language }} program
      to read that file and print its content to <code>stdout</code>.</li>
    <li>Write a {{ language }} program that loads the array written by
      <a href="{{ data_path }}write_array.{{ extension }}">
        <code>write_array.{{ extension }}</code></a>.
      The program must print all numbers in the array to <code>stdout</code>,
      separated by commas.
    </li>
  </ol>
</section>
#}

{% include 'slides/closing.njk' %}

{% endblock %}
