{#
requires: C-structs, pointers
#}

{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between a C and C++ version of the presentation.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/function_pointers/' %}
{% set data_path = '/data/' + extension + '/function_pointers/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'Function Pointers' %}

{% block presentation %}

<section>
  <section>
  <h2>Purpose of Function Pointers</h2>
  <ul>
    <li>Allow treating functions as
      <a href="https://en.wikipedia.org/wiki/First-class_citizen">first class citizen</a>
      <ul>
        <li>Being passed as an argument</li>
        <li>Returned from a function</li>
        <li>Assigned to a variable</li>
      </ul>
    </li>
    <li class="implication fragment">Callback functions can be implemented</li>
    <li class="implication fragment">More functional programming techniques can
      be use</li>
    <li class="implication fragment">Functions can be members of C-structs</li>
    <li class="implication fragment">Prerequisite of object-like programming
      in C</li>
  </ul>
  </section>

  <section>
  <h3>Which Issues do Function Pointers Have?</h3>
  <ul>
    <li>Syntax can be hard to read and understand</li>
    <li>Function pointers do not make C an object oriented language<br />
      (advanced concepts like encapsulation and inheritance are missing)</li>
  </ul>
  <div class="fragment">
    <ul>
      <li class="implication">When object oriented programming (OOP) is
        desired,<br />
        use a proper OOP language like C++</li>
    </ul>
  </div>
  </section>
</section>

<section>
  <h2>Syntax</h2>
  <section>
    <p>A function pointer is a pointer that points to a function</p>
{% highlight extension %}
Type (*functionpointer)(Type arg1, Type arg2, ...);
{% endhighlight %}

    <div class="fragment">
      <p>The function pointer's type contains the arguments and return type of
        the function pointed to</p>
    </div>
  </section>

  <section>
    <h3>Example</h3>
{% highlight extension %}
int sum(int a, int b);
int (*sum_ptr)(int,int);  // declares a function pointer named `sum_ptr`
sum_ptr = &sum;  // `&` is not required
{% endhighlight %}
<div class="fragment">
    <p>The function pointer can then be used by de-referencing it</p>
{% highlight extension %}
{% block call_fp_example %}{% endblock %}
{% endhighlight %}
</div>
  </section>

  <section>
    <h3>Complete Program</h3>
{% highlight extension + ' 5-7' %}
{% include source_path + 'basics.' + extension %}
{% endhighlight %}
{% include_code source_path + 'basics.' + extension %}
  <p>{% download data_path + 'basics.' + extension %}</p>
  </section>
</section>


<section>
  <h2>Application: Case Insensitive Sorting</h2>
  <section>
    <p><code>qsort(.)</code> in <code>stdlib.h</code> takes a function pointer
      as argument</p>
{% highlight extension %}
void qsort(void* base, size_t nmemb, size_t size,
           int (*compar)(const void*, const void*));
{% endhighlight %}
    <p><code>strcasecmp(.)</code> in <code>&lt;strings.h&gt;</code>
      (resp. <code>&lt;cstring&gt;</code>) performs case
      insensitive comparison</p>
{% highlight extension %}
int strcasecmp(const char* s1, const char* s2);
{% endhighlight %}
  </section>

  <section>
{% highlight extension + ' 10' %}
{% include source_path + 'sort.' + extension %}
{% endhighlight %}
{% include_code source_path + 'sort.' + extension %}
  </section>
</section>

<section>
  <h2>Application: Callback Functions</h2>

  <section>
    <p>Download an internet resource without a callback
      (link against <code>curl</code>)
    </p>
  <section>
{% highlight extension %}
{% include source_path + 'get_request.' + extension %}
{% endhighlight %}
{% download data_path + 'get_request.' + extension %}
  </section>
    <p></p>
  </section>

  <section>
{% highlight extension + ' 2,15,16' %}
{% include source_path + 'get_with_callback.' + extension %}
{% endhighlight %}
{% download data_path + 'get_with_callback.' + extension %}
  </section>
</section>

<section>
  <h2>Application: Object Like Programming using C-structs</h2>

  <section>
{% highlight extension + ' 6-9' %}
{% block int_array_example %}{% endblock %}
{% endhighlight %}
  </section>

  <section>
{% highlight extension %}
{% include source_path + 'c_oop.' + extension %}
{% endhighlight %}
{% include_code source_path + 'c_oop.' + extension %}
  </section>

</section>

<section>
  <h2>Exercise</h2>
  <p>Implement or rewrite the entire integer array functionality
    (second task of <a href="/exercises/c/free_store/">
      Dynamic Memory Management (Free Store)
    </a> exercise using function pointers.</p>
</section>

{% include 'slides/closing.njk' %}
{% endblock %}
