{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between a C and C++ version of the presentation.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/file_io/' %}
{% set data_path = '/data/' + extension + '/file_io/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'File I/O' %}

{% block presentation %}

<section>
  <h2>Purpose of File I/O</h2>
  <ul>
    <li>Store persistent data
      <ul>
        <li>Write the results of your computations to files</li>
        <li>Keep a log of errors</li>
        <li>Store intermediate results</li>
      </ul>
    </li>
    <li>Load previously stored files
    </li>
  </ul>
</section>

<section>
  <h2>File Types</h2>

  <section>
  <h3>Text</h3>
    <dl>
      <dt>+</dt>
      <dd>Human readable</dd>
      <dd>Multiple powerful standards like CSV, XML, JSON and YAML</dd>
      <dd>Can usually be compressed</dd>
      <dt>-</dt>
      <dd>Hard to parse manually</dd>
      <dd>Require more memory</dd>
    </dl>
  </section>

  <section>
    <h3>Binary</h3>
    <dl>
      <dt>+</dt>
      <dd>Require less memory</dd>
      <dd>Are easy to write and load if the exact format is known</dd>
      <dt>-</dt>
      <dd>Not human readable</dd>
      <dd>Editing with a hex editor is tedious</dd>
      <dd>Cannot be read when the format is not known</dd>
    </dl>
  </section>
</section>

<section>
  <h2>{{ language }} API</h2>
{% block api %}{% endblock %}
</section>

<section>
  <h2>Text Files</h2>
  <section>
    <h3>Example: Writing Text</h3>
{% highlight extension + ' 0,4,11-13' %}
{% include source_path + 'write_text.' + extension %}
{% endhighlight %}
{% download data_path + 'write_text.' + extension %}
  </section>

  <section>
    <h3>Example: Appending Text</h3>
{% highlight extension + ' 0,4' %}
{% include source_path + 'append_text.' + extension %}
{% endhighlight %}
{% download data_path + 'append_text.' + extension %}
  </section>

  <section>
    <h3>Reading Text</h3>
{% highlight extension + ' 3,9,10' %}
{% include source_path + 'read_text.' + extension %}
{% endhighlight %}
{% download data_path + 'read_text.' + extension %}
  </section>
</section>

<section>
  <h2>Binary Files</h2>

  <section>
    <h3>Example: Writing Data</h3>
{% highlight extension + ' 7,9' %}
{% include source_path + 'write_binary.' + extension %}
{% endhighlight %}
{% download data_path + 'write_binary.' + extension %}
  </section>

  <section>
    <h3>Example: Reading Data</h3>
{% highlight extension + ' 8,10' %}
{% include source_path + 'read_binary.' + extension %}
{% endhighlight %}
{% download data_path + 'read_binary.' + extension %}
  </section>

  <section>
    <h3>Example: Write Array</h3>
{% highlight extension + ' 5,8' %}
{% include source_path + 'write_array.' + extension %}
{% endhighlight %}
{% download data_path + 'write_array.' + extension %}
  </section>

  <section>
    <p>Start by investigating the file size (eg. <kbd>ls -l</kbd>)</p>
    <p class="fragment">Decode the values of the array:
      <kbd>xxd [-b] file.bin</kbd>
      (hint: <a href="https://en.wikipedia.org/wiki/Endianness">endianness</a>)
    </p>
    <pre style="font-size: 100%; text-align: center;" class="fragment">
Dec Hex  Bin      Dec Hex  Bin
  0   0 0000        8   8 1000
  1   1 0001        9   9 1001
  2   2 0010       10   A 1010
  3   3 0011       11   B 1011
  4   4 0100       12   C 1100
  5   5 0101       13   D 1101
  6   6 0110       14   E 1110
  7   7 0111       15   F 1111
      </pre>
    <p class="fragment">Investigate with a proper hex editor
       (eg. Okteta w/ Tools->Decoding Table)</p>
  </section>

</section>


<section>
  <h2>Exercise</h2>
  <ol>
    <li>Write your name in a text file. Then write a {{ language }} program
      to read that file and print its content to <code>stdout</code>.</li>
    <li>Write a {{ language }} program that loads the array written by
      <a href="{{ data_path }}write_array.{{ extension }}">
        <code>write_array.{{ extension }}</code></a>.
      The program must print all numbers in the array to <code>stdout</code>,
      separated by commas.
    </li>
  </ol>
</section>

{% include 'slides/closing.njk' %}

{% endblock %}
