{#
requires: structs
#}

{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between a C and C++ version of the presentation.
#}

{% extends 'layouts/presentation.njk' %}
{% set source_path = 'source/' + extension + '/pointers/' %}
{% set data_path = '/data/' + extension + '/pointers/' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'Pointers' %}

{% block presentation %}

<section>
  <h2>Purpose of Pointers</h2>

  <section>
  <h3>Which Problems do Pointers Solve?</h3>
  <ul>
    <li>Pass C-arrays to functions</li>
    <li>Increase performance when passing large data structures to
      functions</li>
    <li>Using pointers can improve performance for repetitive operations
      (eg. iteration)</li>
    <li>Function pointers</li>
    <li>Change parameter values from a function</li>
    <li class="fragment">Prerequisite for using memory from the heap
      (free store)</li>
    <li class="fragment">Necessary for implementing high level data structures
      (linked lists, trees, ...)</li>
  </ul>
  </section>

  <section>
  <h3>Which Problems do Pointers Cause?</h3>
  <ul>
    <li>Prone to bugs</li>
    <li>Syntax can be hard to read and understand</li>
    <li>Modifying parameters breaks functional programming paradigm<br />
      (use <code>const Type*</code>)</li>
  </ul>

  <div class="fragment">
    Many of these problems are solved by C++ and higher level languages
  </div>
  </section>
</section>

<section>
  <h2>Definition</h2>
  <ul>
    <li>A <strong>pointer stores the memory address of a variable</strong></li>
    <li>Pointers can point to other pointers</li>
    <li>Obtaining the value stored at a pointer's address:<br />
      <strong><code>*</code></strong> (de-reference operator)</li>
    <li>Getting the address of a variable:<br />
      <strong><code>&</code></strong> (address-of operator)</li>
    <li><a href="https://en.wikipedia.org/wiki/Pointer_(computer_programming)#C_pointers">C pointers</a></li>
  </ul>
</section>

<section>
  <h2>Working with Pointers</h2>
  <section>
    <h3>Declaration</h3>
{% highlight extension %}
Type* ptr;
{% endhighlight %}

<div class="fragment">
{% if language == 'C' %}
    <p>Pointers should always be initialized
      (use <code>NULL</code> if needed)</p>
{% highlight extension %}
Type* ptr = NULL;
{% endhighlight %}
{% elif language == 'C++' %}
    <p>Pointers should always be initialized
      (use <code>nullptr</code> if needed)</p>
{% highlight extension %}
Type* ptr = nullptr;
{% endhighlight %}
{% endif %}

</div>
  </section>

  <section>
    <h3>Changing a Variable Through a Pointer</h3>
{% highlight extension + ' 1,2' %}
int a = 5;
int* a_ptr = &a;
*a_ptr += 5;
{% endhighlight %}
<div class="fragment">
  <p>Complete Program</p>

{% highlight extension + ' 4,5' %}
{% include source_path + 'basics.' + extension %}
{% endhighlight %}
{% include_code source_path + 'basics.' + extension %}
</div>
  </section>

  <section>
    <h3>Pointer to a Pointer</h3>
{% highlight extension + ' 6-9' %}
{% include source_path + 'pointer_to_pointer.' + extension %}
{% endhighlight %}
{% include_code source_path + 'pointer_to_pointer.' + extension %}
  </section>
</section>


<section>
  <h2>Examples</h2>

  <section>
    <h3>Update Function Parameters</h3>
    <p><strong>Avoid changing parameters whenever possible!</strong></p>
{% highlight extension + ' 3-4,11,12' %}
{% include source_path + 'update_parameters.' + extension %}
{% endhighlight %}
{% include_code source_path + 'update_parameters.' + extension %}
  </section>

  <section>
    <h3>Iterate Over an Array</h3>
{% highlight extension + ' 5' %}
{% include source_path + 'array.' + extension %}
{% endhighlight %}
{% include_code source_path + 'array.' + extension %}
  </section>

  <section>
    <h3>String Operations</h3>
{% highlight extension + ' 4-6' %}
{% include source_path + 'string.' + extension %}
{% endhighlight %}
{% include_code source_path + 'string.' + extension %}
  </section>

  <section>
    <h3>Pointer to Struct</h3>
    <p>The arrow operator <code>-></code> allows direct access to members
      when using pointers.</p>
{% highlight extension + ' 3-4' %}
{% include source_path + 'struct.' + extension %}
{% endhighlight %}
{% include_code source_path + 'struct.' + extension %}
  </section>

{% block use_references %}{% endblock %}

</section>

{% include 'slides/closing.njk' %}

{% endblock %}
