{#
Using extends instead of normal layout chaining is necessary as
most of the content is shared between presentations for different
programming languages with only a few blocks being distinct.
#}
{% extends "layouts/presentation.njk" %}
{% set source_path = "source/" + extension + "/containers/" %}
{% set data_path = "/data/" + extension + "/containers/" %}

{% block presentation %}

{% block intro %}{% endblock %}


<section>
  <h2>Array</h2>
  <section>
    <p>
      <a href="https://en.cppreference.com/w/cpp/container/array">
        <code>std::array</code></a>
      is a container that encapsulates fixed size arrays</p>
{% highlight "cpp" %}
template<class T, std::size_t N> struct array;
{% endhighlight %}
    <div class="fragment">
      <p>For example</p>
{% highlight "cpp" %}
std::array<int, 3> a1{1, 2, 3};
std::array a2{1, 2, 3};  // requires C++17 or newer
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Example: Standard Operations</h3>
{% highlight extension %}
{% include source_path + "array." + extension %}
{% endhighlight %}
{% include_code source_path + "array." + extension %}
  </section>
</section>

<section>
  <h2>Vector</h2>

  <section>
    <p>
      <a href="https://en.cppreference.com/w/cpp/container/vector">
        <code>std::vector</code></a>
      is a dynamic contiguous array - grows "automatically"</p>
    <ul>
      <li>Random access: constant $O(1)$</li>
      <li>Insertion or removal at the end: amortized constant $O(1)$</li>
      <li>Insertion or removal: linear in the distance to the end $O(n)$</li>
    </ul>
    <p>More powerful and easier to use than <code>array</code></p>
{% highlight "cpp" %}
template<class T, class Allocator = std::allocator<T>> class vector;
{% endhighlight %}
    <div class="fragment">
      <p>For example</p>
{% highlight "cpp" %}
std::vector<int> v{3, 2, 1};
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Example: Pass Vector to Function</h3>
{% highlight extension %}
{% include source_path + "vector." + extension %}
{% endhighlight %}
{% include_code source_path + "vector." + extension %}
  </section>
</section>

<section>
  <h2>Doubly Linked List</h2>

  <section
    data-background="https://upload.wikimedia.org/wikipedia/commons/5/5e/Doubly-linked-list.svg"
    data-background-size="70%">
    <p>For example</p>
  </section>

  <section>
    <p>
      <a href="https://en.cppreference.com/w/cpp/container/list">
        <code>std::list</code></a>
      elements have a pointer to next and previous element</p>
    <ul>
      <li>Random access: linear in the distance from head / tail $O(n)$</li>
      <li>Insertion or removal: constant $O(1)$</li>
    </ul>
    <p>Memory is not contiguous</p>
{% highlight extension %}
template<class T, class Allocator = std::allocator<T>> class list;
{% endhighlight %}
    <div class="fragment">
      <p>For example</p>
{% highlight extension %}
std::list<int> l{12, 99, 37};
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Example: Fast Insertion to Middle of List</h3>
{% highlight extension %}
{% include source_path + "list." + extension %}
{% endhighlight %}
{% include_code source_path + "list." + extension %}
  </section>
</section>

<section>

  <section>
    <h2>Map</h2>
    <p><a href="https://en.cppreference.com/w/cpp/container/map">
      <code>std::map</code></a>
      is a collection of key-value pairs with unique keys</p>
    <ul>
      <li>Search, removal, and insertion: logarithmic $O(\log{n})$</li>
    </ul>
    <p>Keys are sorted and maps are usually implemented as
      <a href="https://en.wikipedia.org/wiki/Red%E2%80%93black_tree">red-black
        trees</a></p>
{% highlight extension %}
template<class Key, class T, class Compare = std::less<Key>,
         class Allocator = std::allocator<std::pair<const Key, T>>> class map;
{% endhighlight %}
    <div class="fragment">
      <p>For example</p>
{% highlight extension %}
std::map<std::string, std::string> m{ {"key1": "value1"}, {"key2": "value2"} };
{% endhighlight %}
    </div>
  </section>

  <section
    data-background="https://upload.wikimedia.org/wikipedia/commons/d/d0/Hash_table_5_0_1_1_1_1_1_LL.svg"
    data-background-size="contain">
  </section>

  <section>
    <h2>Map</h2>
    <h3>Example: Working with Maps</h3>
{% highlight extension + " 6" %}
{% include source_path + "map." + extension %}
{% endhighlight %}
{# unfortunately too complicated due to limitations of pythontutor.com
   => using download option instead
{% include_code "source/cpp/standard_library/map.cpp" %}
#}
{% download data_path + "map." + extension %}
  </section>
</section>

<section>
  <h2>Set</h2>

  <section>
    <p><a href="https://en.cppreference.com/w/cpp/container/set">
      <code>std::set</code></a>
      is a (sorted) collection of unique elements</p>
    <ul>
      <li>Search, removal, and insertion: logarithmic $O(\log{n})$</li>
    </ul>
    <p><code>std::set</code> is useful wherever mathematical sets are useful</p>
{% highlight extension %}
template<class Key, class Compare = std::less<Key>,
         class Allocator = std::allocator<Key>> class set;
{% endhighlight %}
    <div class="fragment">
      <p>For example</p>
{% highlight extension %}
std::set<int> s {1, 2, 3};
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Theory - Intersection</h3>
    <p><strong>Intersection</strong> of two sets $A$ and $B$,
      denoted by $A \cap B$ is the set containing all elements of $A$
      that also belong to $B$</p>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Venn0001.svg"
           alt="[set intersection diagram]">
  </section>

  <section>
    <h3>Theory - Union</h3>
    <p><strong>Union</strong> (denoted by $\cup$) of a collection of sets
        is the set of all elements in the collection</p>
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Venn0111.svg"
           alt="[set union diagram]">
  </section>

  <section>
    <h3>Example: Working with Sets</h3>
{% highlight extension + " 11,19,24" %}
{% include source_path + "set." + extension %}
{% endhighlight %}
{# unfortunately std::ranges is not available on pythontutor yet
   => using download option instead
{% include_code "source/cpp/standard_library/set.cpp" %}
#}
{% download data_path + "set." + extension %}
  </section>
</section>

<section>
  <h2>Copy Assignment</h2>
  <section>
  <p>Standard library containers implement the copy constructor</p>
{% highlight extension + " 8,9" %}
{% include source_path + "copy_assignment." + extension %}
{% endhighlight %}
{# unfortunately std::ranges is not available on pythontutor yet
   => using download option instead
{% include_code "source/cpp/standard_library/copy_assignment.cpp" %}
#}
{% download data_path + "copy_assignment." + extension %}
  </section>

  <section>
{% highlight extension + " 1,2" %}
std::vector<int> v1(5);  // create vector {0, 0, 0, 0, 0}
std::vector<int> v2 = v1;  // this is copy assignment, not a reference
std::vector<int>& v3 = v1;  // this is a reference
v1[1] = 7;
v2[3] = 2;
v3[2] = 4;
{% endhighlight %}

  <div class="fragment">
    <p>
<pre>
v1: 0 7 4 0 0
v2: 0 0 0 2 0
v3: 0 7 4 0 0
</pre>
    </p>
  </div>

  </section>
</section>

{% include 'slides/closing.njk' %}
{% endblock %}{# presentation #}
