{% extends "layouts/presentation.njk" %}

{% set subtitle = "Review and Outlook" %}


{% block presentation %}

<section>
  <h3>
    <figure>
      <blockquote>
        <p>When you finally understand what you are doing,<br />
          things will go right.</p>
      </blockquote>
      <figcaption><cite>– Bill Fairbank</cite></figcaption>
    </figure>
  </h3>
</section>

<section>
  <h2>Review</h2>

  <section>
    <p>You've learned how to</p>
{% block learned %}{% endblock %}
  </section>

{% block discussed %}{% endblock %}
</section>

<section>
  <h3>
    <figure>
      <blockquote>
        <p>As a programmer you must acquire the habit of seeking out new
          information [...] "Look it up" is a perfectly reasonable answer to
          many problems, and as your skills grow and mature, it will more and
          more often be the answer.</p>
      </blockquote>
      <figcaption>
        <cite title="Programming - Principles and Practice Using C++, Stroustrup, p 721">– Bjarne Stroustrup</cite>
      </figcaption>
    </figure>
  </h3>
</section>

<section>
  <h2>Outlook</h2>

{% block outlook %}{% endblock %}
</section>

<section>
  <h2>
    <figure>
      <blockquote>
        <p>If in doubt, check, experiment! Don't just despair and don't just
          read the documentation.</p>
      </blockquote>
      <figcaption><cite>– Bjarne Stroustrup</cite></figcaption>
    </figure>
  </h2>
</section>

<section>
  <h2>Where to go from here...</h2>
  <section>
    <ul class="incremental outline">
      <li>Read great books about programming
        <ul>
          <li>
            <a href="http://www.amazon.de/gp/product/1430224150/ref=as_li_ss_tl?ie=UTF8&amp;camp=1638&amp;creative=19454&amp;creativeASIN=1430224150&amp;linkCode=as2&amp;tag=findsantaeu-21">Dive Into Python 3, Mark Pilgrim</a>
          </li>
          <li>
            <a href="https://www.amazon.de/dp/0321543726/ref=as_li_ss_til?tag=findsantaeu-21&amp;camp=2906&amp;creative=19474&amp;linkCode=as4&amp;creativeASIN=0321543726&amp;adid=0JXE1EQS7W8W8Q5F4RC9&amp;">Programming: Principles and Practice Using C++, Bjarne Stroustrup</a>
          </li>
          <li>...</li>
        </ul>
      </li>
      <li class="fragment">Join your local communities
        <ul>
          <li>e. g.
            <a href="http://pygraz.org/">PyGRAZ</a>
          </li>
          <li>or
            <a href="http://linuxtage.at/">Grazer Linuxtage</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <ul>
    <li>Improve your skills in real-life projects
      <ul>
        <li>Start by filing bugs in the programs you use (e. g.
          <a href="https://bugs.kde.org/">KDE Bugtracking System</a>)
        </li>
        <li>Implement features useful to you and fix the bugs bugging you the most (e. g.
          <a href="http://techbase.kde.org/Welcome_to_KDE_TechBase">
            KDE TechBase</a> or
          <a href="https://goodfirstissue.dev/">food first issue</a>)
        </li>
      </ul>
    </li>
    <li class="fragment">Stay in contact and let others know about your skills
      <ul>
        <li>
          <a href="http://www.linkedin.com/">Linkedin</a>
        </li>
        <li>
          <a href="https://www.xing.com/">Xing</a>
        </li>
        <li>
          <a href="http://www.monster.com/">Monster</a>
        </li>
      </ul>
    </li>
    </ul>
  </section>

  <section>
    <ul>
    <li>Find great jobs
      <ul>
{#        <li>
          <a href="http://python.org/community/jobs/">Python Job Board</a>
        </li>#}
        <li>Job search engines (e. g.
          <a href="http://www.careerjet.at/suchen/stellenangebote?s=Python&amp;l=%C3%B6sterreich">careerjet</a>)
        </li>
      </ul>
    </li>
    <li>Please share how you liked this course / education
      <ul>
        <li>Let others know what to expect</li>
        <li>Allow continuous improvement with your honest feedback</li>
      </ul>
    </li>
  </ul>
  </section>
</section>

<section>
  <h2>You've come a long way.<br />
    But the more you code, the more you need to learn about algorithms,
    programming techniques and related tools.</h2>
    <h1 class="fragment">Thank you for taking this class and good luck!</h1>
</section>

{% endblock %}{# presentation #}
