{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple presentations for different
programming languages with only a few blocks being distinct.
#}

{% extends 'layouts/presentation.njk' %}

{% set title = 'Programming in ' + language %}
{% set subtitle = 'Functions' %}

{% set source_path = 'source/' + extension + '/functions/' %}
{% set data_path = '/data/' + extension + '/functions/' %}

{% block presentation %}
<section>
  <h2>Terminology</h2>

  <section>
    <h3>Code Reuse</h3>
    <ul>
      <li>A single copy of code can be used elsewhere</li>
      <li>Important for maintenance</li>
      <li>Basis of any library</li>
    </ul>

    <div class="fragment">
      <h3>Case Sensitivity</h3>
      <ul>
        <li>Uppercase and lowercase letters are treated as distinct</li>
        <li>{{ language }}, Bash and Linux are case sensitive</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>DRY - Don't Repeat Yourself</h3>
    <p>Formulated by Andy Hunt and Dave Thomas in <a href="#HuntAndThomas:2019"><cite title="HuntAndThomas:2019">"The Pragmatic Programmer"</cite></a></p>
    <ul>
      <li>Fundamental programming principle</li>
      <li>Every piece of knowledge [...] should have a single representation</li>
      <li>Duplication is waste (=&gt; maintenance!!)</li>
      <li>There should be only one obvious [...] way to accomplish a task</li>
    </ul>
    <p><a href="#Henney:2010">
      <cite title="Henney:2010">Steve Smith in [Henney (2010), p. 60f]</cite>
      </a></p>
    <dl>
    </dl>
  </section>

  <section>
    <h3>Scope</h3>
    <ul>
      <li>Region of code in which a name is known (or visible) and
        accessible</li>
      <li>In scope/ out of scope</li>
{% if language == 'Python' %}
      <li>Python blocks do not create a new scope</li>
      <li>Modules, classes, and functions do</li>
{% else %}
      <li>Functions create a new scope<br /> (variables declared in a function are
        limited to the function)</li>
{% endif %}
      <li>Don't use global variables</li>
      <li>Global constants (all caps) are ok</li>
    </ul>
  </section>
</section>


<section>
  <h2>Functions</h2>

  <section>
    <p>A function gives a name to a block of code</p>
    <p>The named block of code can be executed by "calling" the function
      name</p>
    <p>Function names should state what the function does or what it returns</p>

    <ul>
      <li class="fragment">Snippets of code usable from the rest of the
        program</li>
      <li class="fragment">Separate out common actions</li>
      <li class="fragment">Package up and parameterize functionality</li>
      <li class="fragment">Avoid code duplication and allow reusing code</li>
      <li class="fragment">Maintenance becomes easier</li>
      <li class="fragment"><abbr title="kilo lines of code">kloc</abbr>/
        <abbr title="source lines of code">sloc</abbr> is a dangerous
        metric</li>
    </ul>
  </section>

  <section>
    <p>When using appropriate function names, code becomes easier to read</p>
{% highlight extension %}
{{ comment }} ...delta_x, delta_y are defined, `sqrt` is available
delta_x2 = delta_x * delta_x{{ end }}
delta_y2 = delta_y * delta_y{{ end }}
distance = sqrt(delta_x2 + delta_y2){{ end }}
{% endhighlight %}

<div class="fragment">
{% highlight extension + " 1" %}
{{ comment }} vs. (requires `hypot` function to be available)
distance = hypot(delta_x, delta_y){{ end }}
{% endhighlight %}
</div>
  </section>
</section>

{% block language_specific %}{% endblock %}


{% include 'slides/closing.njk' %}


<section>
  <h2>Literature</h2>
    <div class="reference" id="HuntAndThomas:2019">
    <span class="authors">Andrew Hunt and David Thomas</span>
    <span class="title">The Pragmatic Programmer, 20th Anniversary Edition</span>
    <span class="pub_details">Addison Wesley (2019)</span>
    <span class="pub_details">
      <a href="https://amzn.to/46vLu9m">buy on Amazon</a>
    </span>
  </div>
  <div class="reference" id="Henney:2010">
    <span class="editors">Kevlin Henney</span>
    <span class="title">97 Things Every Programmer Should Know</span>
    <span class="pub_details">O'Reilly and Associates (March 18, 2010)</span>
    <span class="pub_details">
      <a href="https://amzn.to/3ZUnOJi">buy on Amazon</a>
    </span>
  </div>
</section>

{% endblock %}
