{% extends 'layouts/presentation.njk' %}

{% set title = 'Data Structures in ' + language %}
{% set subtitle = 'Introduction' %}


{% set directory = 'ds/' %}

{% set source_path = 'source/' + extension + '/' + directory %}
{% set data_path = '/data/' + extension + '/' + directory  %}

{% block presentation %}

<section>
  <h2>Available Data Structures</h2>
  <ul>
    <li>Sequence types: <code>list</code>, <code>array</code>, <code>tuple</code>, <code>string</code>, ...</li>
    <li><a href="http://stackoverflow.com/a/176589/104659">Python List vs. Array - when to use?</a></li>
    <li>Hash tables: <code>dict</code></li>
    <li>Additional types in the Python standard library:
      <a href="http://docs.python.org/3/library/collections.html">
        collections</a></li>
    <li>Types defined in third party libraries:
      <a href="https://numpy.org">numeric arrays, matrices,</a> ...</li>
    <li>Your own types ... (node, route, ...)</li>
  </ul>
</section>

{# TODO:
give context to the following:
explain Big O classification of different operations
provide nice graphic (mermaid?)
eg https://mermaid.live/edit#pako:eNpVjsFqwzAMhl9F6LRB8wI5DNZk66WwQntakoNIlNg0toxjU0qSd5-zbrDpJPF9_49mbKVjzLEf5dYq8gEuZW0hzWtVKK-nYGhqIMtelgMHMGL5vsD-6SAwKXFO2-H54e83CYr5uGkMQWl7XR-o-M5_WF6grI7kgrjmL7ncZIG3Sp9Uqv9PlOeUeq96ynvKWvJQkG9wh4a9Id2l1-ctUGNQbLjGPK0d9xTHUGNt16RSDHK-2xbz4CPv0EscFKa-cUpXdB0FLjUNnsyv4sh-ipgfaf0CW0NgFA
or
https://mermaid.live/edit#pako:eNpdj7sOgzAMRX8Feaxg6ZihS7t2YmvDYBEDkfJAwUGqEP_elBS1ItPN8bFlL9B6RSBgYmS6aewD2mo-S1ek9zw1RVVdipq1MRltcYOpeER3P2vXZ5rzsf2PXgNOQ6Zb3IdCCZaCRa3SWstHkMADWZIgUlTUYTQsQbo1qRjZ1y_XguAQqYTgYz-A6NBM6RdH9TtrV0Z0D-_tV1rfwX5RfQ


 #}

<section>
  <h2>Singly Linked List</h2>

{# temporarily removed as this requires mermaid >= 11 but mermaid 11 draws
   connection to self really ugly
  <section>
    <div style="display: flex; justify-content: center; align-items: center;">
<pre class="mermaid" style="width: auto;">
flowchart LR
  head[head] --> A(A) --> B(B) --> C(C) -->  D(D) --> E@{ shape: text, label: "None"}
</pre>
    </div>
  </section>
#}
  <section>
{% highlight extension %}
{% include source_path + "sll.py" %}
{% endhighlight %}
{% include_code source_path + "sll.py" %}
  </section>
</section>

<section>
  <h2>Doubly Linked List</h2>
{% highlight extension %}
{% include source_path + "dll.py" %}
{% endhighlight %}
{% include_code source_path + "dll.py" %}
</section>

<section>
  <h2>Binary Tree</h2>
{% highlight extension %}
{% include source_path + "simple_tree.py" %}
{% endhighlight %}
{% include_code source_path + "simple_tree.py" %}
</section>

<section>
  <h2>Representing Graphs</h2>

  <section>
    <h3>Purpose</h3>
    <p>Graphs are useful in many operations research (OR) contexts like</p>
    <ul>
      <li>Shortest and longest path problems</li>
      <li>Maximum network flow</li>
      <li>Minimum spanning trees</li>
      <li>...</li>
      <li>Ulrich Pferschy's
        <a href="https://online.uni-graz.at/kfu_online/ee/ui/ca2/app/desktop/#/slc.tm.cp/student/courses/888710">
          course on graph algorithms</a> is highly recommended!</li>
    </ul>
  </section>

  <section>
    <ul>
      <li>Graph $G = (V, E)$</li>
      <li>Consists of vertices $V$ and edges $E$ connecting some of the
        vertices</li>
    </ul>
    {# TODO:
       - create class for the below centering mechanism
       - a simple 11ty tag that enters both the div and the pre {% mermaid %}
    #}
    <div style="display: flex; justify-content: center; align-items: center;">
<pre class="mermaid" style="width: auto;">
flowchart LR
  A(A) <--> B(B)
  A(A) <--> X(X)
  A(A) <--> Y(Y)
  B <--> C(C)
  X <--> C
  X <--> Y
</pre>
    </div>
  </section>

  <section>
    <h3>Directed Graph</h3>
    <div style="display: flex; justify-content: center; align-items: center;">
<pre class="mermaid" style="width: auto;">
flowchart LR
  1(1) --> 2(2)
  2 --> 3(3)
  1 --> 3
  3 --> 3
  3 --> 4(4)
  4 --> 5(5)
  5 --> 1
</pre>
    </div>
    <p>Useful representations differ depending on the required algorithm<br />
      and the number of edges in the graph</p>
  </section>

  <section>
    <h3>Dedicated Class</h3>
{% highlight extension %}
{% include source_path + "graph.py" %}
{% endhighlight %}
{% download data_path + "graph.py" %}
  </section>

  <section>
    <h3>Adjacency Matrix</h3>
    <p>$n^2$ elements where $n$ is the number of vertices</p>
    <p>
$$
\left(
\begin{array}{ccccc}
0 &amp; 1 &amp; 1 &amp; 0 &amp; 0 \\
0 &amp; 0 &amp; 1 &amp; 0 &amp; 0 \\
0 &amp; 0 &amp; 1 &amp; 1 &amp; 0 \\
0 &amp; 0 &amp; 0 &amp; 0 &amp; 1 \\
1 &amp; 0 &amp; 0 &amp; 0 &amp; 0 \\
\end{array}
\right)
$$
    </p>
    <ul>
        <li>Testing adjacency is $O(1)$</li>
        <li>Traversing the neighborhood is $O(n)$</li>
        <li>Edge weights can easily be represented</li>
      </ul>
  </section>

  <section>
    <h3>Adjacency Lists</h3>
    <p>Requires less memory for sparse graphs</p>
{% highlight extension %}
graph = {1: [2, 3],
         2: [3],
         3: [3, 4],
         4: [5],
         5: [1]}
{% endhighlight %}
    <ul>
      <li>Testing adjacency is $O(\text\# \text{neighbors})$</li>
      <li>Traversing the neighborhood is $O(\text\# \text{neighbors})$</li>
    </ul>
  </section>
</section>


{% include 'slides/closing.njk' %}

<section>
  <h2>Literature</h2>

  <div class="reference" id="Hetland:2010">
    <span class="authors">Magnus Lie Hetland</span>
    <span class="title">Python Algorithms: Mastering Basic Algorithms in the Python Language</span>
    <span class="pub_details">Apress (2010)</span>
  </div>

  <div class="reference" id="Weiss:2013">
    <span class="authors">Mark Allen Weiss</span>
    <span class="title">Data Structures and Algorithm Analysis in C++ </span>
    <span class="pub_details">Pearson (2013)</span>
  </div>
</section>

<script type="text/javascript" src="/scripts/mermaid.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded',
    mermaid.initialize({startOnLoad:true}));
</script>

{% endblock %}{# presentation #}
