---
title: POS 4
layout: layouts/base_subject.njk
eleventyNavigation:
  key: POS 4
  parent: POS
  order: 4
---


<h2 id="overview">Course Overview</h2>

<h3 id="content_gui">GUI Programming</h3>
<ul>
  <li><a href="https://docs.find-santa.eu/programming/cpp/wx/">
    Introduction to wxWidgets</a></li>
  <li><a href="https://gitlab.com/htl-bulme/cpp_wx_examples/">
    wxWidgets examples</a></li>
  {# TODO: move links below to docs.find-santa.eu which is linked above #}
  <li><a href="https://www.wxwidgets.org/docs/tutorials/#getting-started">
    Getting started with wxwidgets</a></li>
  <li><a href="https://zetcode.com/gui/wxwidgets/">ZetCode wxWidgets tutorial</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLFk1_lkqT8MbVOcwEppCPfjGOGhLvcf9G">
    C++ GUI Programming For Beginners (wxWidgets)</a></li>
</ul>

<h3 id="content_general">General Topics</h3>
<ul>
  <li><a href="/presentations/usability/">Usability and User Experience</a></li>
  <li><a href="/presentations/pos_review/">POS review</a></li>
</ul>


{% include 'blocks/grading/test_project_assignments.njk' %}


<h2 id="assignments">Programming Assignments</h2>
{#<ul>
  <li><a href="/exercises/cs/licensing/">Software Licensing</li>
</ul>
#}
<h3>Git</h3>
<p>Please consult our discord group for the assignment links.</p>

{# <ul>
  <li><a href="https://classroom.github.com/a/b5yPQV80">wx calculator</a>
    (until 2023-03-27 12:20 CEST)</li>
  <li><a href="https://classroom.github.com/a/-ClAcNUx">wx tetris</a></li>
</ul> #}


{% include 'blocks/code_challenge_sites.njk' %}

<h2 id="project">Programming Project</h2>

<h3>Deadlines</h3>
{# <dl>
  <dt>2023-03-26</dt>
  <dd>announce topic & teams; share git repositories</dd>
  <dt>2023-04-17</dt>
  <dd>wireframes have to be completed</dd>
  <dt>2023-05-15</dt>
  <dd>file completed project</dd>
</dl> #}

<h3>Project Grading Criteria</h3>

<p>The project has to be done with git (any public git hosting is ok). The
  repository URL has to be shared w/ the teacher. The teacher must be granted
  read access (in case of non-public closed source projects).
</p>

<table>
  <tr>
    <td>50%</td>
    <td>properly working software</td>
  </tr>
  <tr>
    <td>20%</td>
    <td>autotests (proper coverage of everything that is not GUI code)</td>
  </tr>
  <tr>
    <td>10%</td>
    <td>README.md (project description; compile instructions;
      user manual with images)</td>
  </tr>
  <tr>
    <td>10%</td>
    <td>consistent coding style</td>
  </tr>
  <tr>
    <td>5%</td>
    <td>wireframe</td>
  </tr>
  <tr>
    <td>5%</td>
    <td>proper license in repository</td>
  </tr>
</table>


{# <h2 id="exams">Prior Exams</h2>
<ul>
</ul>
#}

<h2 id="links">Links</h2>
<ul>
  <li><a href="http://docs.find-santa.eu/programming/cpp/">
    Introduction to Programming in C++</a></li>
</ul>


<h2 id="curriculum">Content of the Curriculum (4th Term)</h2>

<p>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2022/368/ANL1_9/NOR40247424?ResultFunctionToken=9d086507-917b-49df-a7f3-281b69ee5d26&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=21.10.2023&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ImRisSeitForRemotion=Undefined&ResultPageSize=100&Suchworte=BGBl.+II+Nr.+368%2f2022">Curriculum in the Legal Information System</a>
(see attachment 1/9 B.1 according to subject table I.2)
</p>


<ul>
  <li>Foundations of programming
    <ul>
      <li>Encapsulation, aggregation, inheritance and polymorphism</li>
      <li>Algorithms for searching, sorting, data compression and
        encryption</li>
    </ul>
  </li>
  <li>Application programming
    <ul>
      <li>Design patterns</li>
      <li>Selecting and using third party libraries</li>
      <li>Data exchange</li>
      <li>Automated testing and CI</li>
    </ul>
  </li>
  <li>Software development process
    <ul>
      <li>Modern (agile) development processes</li>
      <li>Integration, system (e2e), performance and acceptance testing</li>
      <li>Deployment</li>
    </ul>
  </li>
</ul>
