---
layout: layouts/test.njk
class: 4BHEL
group: A
subject: FSST
date: 2023-11-28
points: [12, 12, 18, 58, 1]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>
  <li>
    {% YesNoTable 4, 'Agile practitioners have come to value:', 12 %}
{% yes_no_question 'Individuals and interactions over processes and tools', 'yes' %}
{% yes_no_question 'Comprehensive documentation over working software', 'no' %}
{% yes_no_question 'Contract negotiation over customer collaboration', 'no' %}
{% yes_no_question 'Responding to change over following a plan', 'yes' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 4, 'Agile practitioners follow these principles:', 12 %}
{% yes_no_question 'Our highest priority is to satisfy the customer
  through early and continuous delivery of valuable documentation.', 'no' %}
{% yes_no_question 'At regular intervals, the team reflects on how
  to become more effective, then tunes and adjusts
  its behavior accordingly.', 'yes' %}
{% yes_no_question 'Simplicity &ndash; the art of maximizing the amount of work
  not done &ndash; is essential.', 'yes' %}
{% yes_no_question 'A proper project management tool is required to measure
  progress.', 'no' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 6, '', 18 %}
{% yes_no_question 'Git is a distributed version control system.', 'yes' %}
{% yes_no_question 'Extreme programming has five core values:
  communication, complexity, feedback, excellence and respect.', 'no' %}
{% yes_no_question 'The V-Modell has a designated testing phase for each
  development phase.', 'yes' %}
{% yes_no_question 'Continuous Integration (CI) facilitates onboarding of new
  team members.', 'no' %}
{% yes_no_question 'Planning poker is an instrument that assists in
  validating requirements.', 'no' %}
{% yes_no_question 'Every scrum team should contain a responsible manager.',
  'no' %}
    {% endYesNoTable %}
  </li>

  <li style="page-break-before: always;">
    After graduating, you and a small group of your friends create a
    startup company producing SAAS software. To increase the chance of
    succeeding, your colleages put you in charge of organizing your development
    workflows and the most important tools.

    <ol>
      <li>Please describe which methodology you will apply in your
        company. (5 points)
{% answer %}
Scrum
{% endanswer %}
      </li>
      <li>How often do you intend to release new features? How do you plan
        to maintain a sustainable pace? (8 points)
{% answer %}
We will release every two weeks. We won't commit to more work than can be
achieved during this time with high quality and lots of automated tests.
{% endanswer %}
      </li>
      <li style="page-break-after: always;">
        Describe how you will implement this methodology / framework.
        Which events, roles and artifacts will be of importance? Elaborate!
        (15 points)
{% answer %}
SM, dev team & product owner;
daily standups, planning meetings, review & retrospective meetings;
product + sprint backlog; increments<br />

We'll do sprints that last exactly two weeks. At the end of each sprint we
want to have a working product increment which we can potentially ship to
our customers.
{% endanswer %}
      </li>
      <li>With regard to the tools and processes we discussed in class, which
        ones do you intend to harness to improve your development process
        and collaboration? Name three concrete tools and describe their
        purpose. Explain why they are important!
        (15 points)
{% answer %}
<ul>
  <li>Version control - git & gitlab: keep track of all past versions,
    collaborate with feature branches, do bisection search for bugs, ...</li>
  <li>CI & bug tracking - gitlab: automatically run all tests on each push,
    make sure that backend, frontend, database etc. always work well together,
    ...
  </li>
  <li>TDD - to make sure we have a high test coverage and consequently a low
    number of defects
  </li>
</ul>
{% endanswer %}
      </li>
      <li>Name and briefly describe approx. five values that will guide your
        collaboration. These values
        should match the rest of your methodology. (15 points)
{% answer %}
Commitment, Focus, Openness, Respect, and Courage<br />

We commits to achieving our goals and to supporting each other.
Our focus is on the work of the sprint.
We are open about the work and the challenges.
We respect each other to be capable, independent people.
We have the courage to do the right thing.
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Bonus question: "What is Tony Stark known for?" (1 point)
{% answer %}
  Tony stark is Iron Man.
{% endanswer %}
  </li>

</ol>
