---
layout: layouts/test.njk
class: 4AHEL
group: B
subject: FSST
date: 2022-03-15
points: [6, 10, 8, 6]
grading: "Benotung: >=27: 1, >=24: 2, >=20: 3, >15: 4, <=15: 5"
---

<ol>
  <li>Agile Software Development<br />
    <ol>
      <li>{% YesNoTable 4, 'Agile practitioners have come to value:' %}
{% yes_no_question 'Processes and tools over individuals and interactions', 'no' %}
{% yes_no_question 'Comprehensive documentation over working software', 'no' %}
{% yes_no_question 'Customer collaboration over contract negotiation', 'yes' %}
{% yes_no_question 'Following a plan over responding to change', 'no' %}
        {% endYesNoTable %}
      </li>
      <li>{% YesNoTable 8, 'Agile practitioners follow these principles:' %}
{% yes_no_question 'Our highest priority is to satisfy the customer
  through early and continuous delivery of valuable software.', 'yes' %}
{% yes_no_question 'Deliver working software occasionally, from a
  couple of months to a couple of years, with a
  preference to the longer timescale.', 'no' %}
{% yes_no_question 'Reject changing requirements, particularly late in
development. Agile processes harness a strict plan for
the customer\'s competitive advantage.', 'no' %}
{% yes_no_question 'The most efficient and effective method of
  conveying information to and within a development
  team is face-to-face conversation.', 'yes' %}
{% yes_no_question 'Working software is the primary measure of progress.',
  'yes' %}
{% yes_no_question 'At regular intervals, the team reflects on how
to become more effective, then tunes and adjusts
its behavior accordingly.', 'yes' %}
{% yes_no_question 'The best architectures, requirements, and designs
emerge from self-organizing teams.', 'yes' %}
{% yes_no_question 'Complexity &ndash; the art of maximizing complicated
solutions &ndash; is essential. ', 'no' %}
        {% endYesNoTable %}
      </li>
    </ol>
  </li>

  <li>Linux
    <ol>
      <li>Eine Linux Anwenderin befindet sich derzeit im Verzeichnis
        <code>/etc/apache2/conf-available</code>. Welche Befehle muss sie eingeben, damit der
        folgende Verzeichnisbaum in Ihrem Home Verzeichnis angelegt wird?
        (4 Punkte)<br />
<pre>
└── repos
    ├── code
    ├── configuration
    └── github
</pre>

{% answer %}
{% highlight "bash" %}
mkdir -p ~/repos/code ~/repos/configuration ~/repos/github
{% endhighlight %}
Alternatively, switch to home via `cd` first and skip the `~/`.
It is also possible to create each directory on a separate line.
If <code>~/repos</code> is created separately first, the <code>-p</code>
flag can be omitted.
{% endanswer %}
      </li>
      <li>
        Die Benutzerin möchte, dass ihr Verzeichnis
        <code>~/public_html</code> von allen Benutzern gelesen, aber nur von
        ihrem Benutzer verändert werden kann. Kein anderer Benutzer auf dem
        System, egal in welcher Benutzergruppe, darf Schreibzugriff darauf
        haben, aber jeder muss Lesezugriff haben.
        Schreibe einen Befehl, mit dem diese Änderung durchgeführt wird.
        (2 Punkte)
{% answer %}
{% highlight "bash" %}
chmod 755 ~/public_html
{% endhighlight %}
{% endanswer %}
      </li>
      <li>
        Abschließend will die Benutzerin in das Verzeichnis
        <code>~/code/c++</code> wechseln, um dort die C++ Datei
        <code>4ahel.cpp</code> zu kompilieren. Die ausführbare Datei soll den
        Namen <code>4ahel</code> haben und nach dem kompilieren
        gestartet werden.
        Welche Befehle muss sie eingeben?
        (4 Punkte)
{% answer %}
{% highlight "bash" %}
cd ~/code/c++
g++ 4ahel.cpp -o 4ahel
./4ahel
{% endhighlight %}
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Implementiere eine Funktion <code>void swap(int *a, int *b)</code>
    in C++ welche die Werte der beiden Variablen <code>a</code> und
    <code>b</code> austauscht.
{% answer %}
    <div class="grading">
    1 Punkt den korrekten Funktionsnamen und die korrekte Signatur<br />
    1 Punkt für die notwendige Variable<br />
    2 Punkt für das korrekte Austauschen der Werte<br />
    </div>
{% highlight "cpp" %}
void swap(int *a, int *b) {
  int c = *a;
  *a = *b;
  *b = c;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Implementiere eine Funktion
    <code>int max_of_four(int a, int b, int c, int d)</code> in C++
    welche das Maximum der vier Parameter retourniert.
{% answer %}
    <div class="grading">
    1 Punkt den korrekten Funktionsnamen und die korrekte Signatur<br />
    2 Punkt für ev. verwendete Hilfsfunktion, Abfragen etc.<br />
    1 Punkt für korrekten Rückgabewert
    </div>
{% highlight "cpp" %}
int max(int a, int b) {
  if (a > b) { return a; }
  return b;
}

int max_of_four(int a, int b, int c, int d) {
  return max(a, max(b, max(c, d)));
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>
    Welcher Text wird durch die folgenden Miniprogramme in der
    C++-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder <code>cout</code> oder dergleichen aufgerufen
    wird), so ist "-" als richtige Antwort zu verwenden.
    <ol>

      <li>
{% highlight "cpp" %}
#include <iostream>
#include <vector>

int main() {
  std::vector<int> numbers = {3, 9, 1, 12};
  std::cout << numbers[1] << std::endl;
  return 0;
}
{% endhighlight %}
{% answer %}
9
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
#include <iostream>
#include <vector>

void print_vector(std::vector<std::string> v);

int main() {
  std::vector<std::string> names = {"Pat", "Chris", "Sue"};
  print_vector(names);
  return 0;
}

void print_vector(std::vector<std::string> v) {
  for (auto it = v.begin(); it != v.end(); ++it) {
    std::cout << *it << std::endl;
  }
}
{% endhighlight %}
{% answer %}
Pat<br />
Chris<br />
Sue
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
#include <iostream>
#include <vector>

int main() {
  std::vector<int> numbers = {6, 3, 1};
  print_vector(numbers);
  return 0;
}

void print_vector(std::vector<int> v) {
  for (auto &elem : v) {
    std::cout << elem << std::endl;
  }
}
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

    </ol>
  </li>

</ol>
