---
layout: layouts/test.njk
class: 4BHEL
group: A
subject: FSST
date: 2024-06-04
points: [20, 10, 15, 25, 30]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<p class="page-break-after">
  To solve the tasks in this test, use the following ERD. Use SQL syntax
  that works in either SQLite or PostgreSQL.
  <br />
  <img src="/images/databases/school.png"
       alt="[Simple School DB ERD]"
       style="width: 50%;">
{#
drop table students;
drop table classes;

CREATE TABLE classes (
	class_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	name TEXT,
	"year" INTEGER
);

CREATE TABLE students (
	student_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	full_name TEXT,
	address TEXT,
	phone TEXT,
	email TEXT,
	class_id INTEGER,
	foreign key (class_id) references classes (class_id)
);
#}
</p>

<ol>
  <li><strong>Adding Data</strong> (20 points)<br />
    <p>
      Add the following data to your database.
    </p>
    <table>
      <thead>
        <th colspan="2"><code>classes</code></th>
      </thead>
      <tbody>
        <tr>
          <th><code>class_id</code></th>
          <th><code>name</code></th>
          <th><code>year</code></th>
        </tr>
        <tr>
          <td>1</td>
          <td>2AKIFT</td>
          <td>2023</td>
        </tr>
        <tr>
          <td>2</td>
          <td>4BHEL</td>
          <td>2023</td>
        </tr>
        <tr>
          <td>3</td>
          <td>6ACELI</td>
          <td>2023</td>
        </tr>
      </tbody>
    </table>

    <table style="margin-top: 1em;">
      <thead>
        <th colspan="3"><code>students</code></th>
      </thead>
      <tbody>
        <tr>
          <th><code>student_id</code></th>
          <th><code>full_name</code></th>
          <th><code>class_id</code></th>
        </tr>
        <tr>
          <td>1</td>
          <td>Pat Miller</td>
          <td>1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Chris Surströmming</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
{% answer %}
    <div class="grading">
    6+6 points for insert into (...) values incl. semicolon at end<br />
    4+4 points for data (4 for classes, 4 for students)<br />
    </div>
{% highlight "sql" %}
insert into classes (name, year) values
('2AKIFT', 2023),
('4BHEL', 2023),
('6ACELI', 2023);

insert into students (full_name, class_id) values
('Pat Miller', 1),
('Chris Surströmming', 2);
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Delete student 'Pat Miller'. (10 points)<br />
{% answer %}
    <div class="grading">
    6 points for delete statement incl. semicolon<br />
    4 point for correct condition<br />
    </div>
{% highlight "sql" %}
delete from students where full_name = 'Pat Miller';
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Change the year of the class with <code>class_id=1</code> to 2022.
    (15 points)<br />
{% answer %}
    <div class="grading">
    5 point for update table incl. semicolon<br />
    5 point for set name...<br />
    5 point for correct condition
    </div>
{% highlight "sql" %}
update classes set year = 2022 where class_id = 1;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Write a query that shows the full name and email address of all students
    that attend "4BHEL" in the school
    year 2023. Assume that you do not know the id of "4BHEL".
    Sort the results by the students' names. (25 points)
{% answer %}
    <div class="grading">
      5 points for select statement incl. semicolon<br />
      5 points for using the correct columns<br />
      5 points for correctly joining the tables<br />
      5 points for correct where condition<br />
      5 points for correct order by<br />
    </div>
{% highlight "sql" %}
select full_name, email from students
natural join classes
where classes.name = '4BHEL' and classes.year = 2023
order by students.full_name;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Write a query that shows all information on the first 5 students whose
    name starts with "F".
    Sort the result by the name of the class the students attend.
    (30 points)
{% answer %}
    <div class="grading">
      5 points for select statement incl. semicolon<br />
      5 points for correctly joining the tables<br />
      5 points for where using the correct column<br />
      5 points for condition using like <code>%</code><br />
      5 points for correct order by<br />
      5 points for correct limit
    </div>
{% highlight "sql" %}
select * from students
natural join classes
where students.full_name like 'F%'
order by classes.name
limit 5;
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
