---
layout: layouts/test.njk
class: 4AHEL
group: A
subject: FSST
date: 2022-02-01
points: [11, 13, 6]
grading: "Benotung: >=27: 1, >=24: 2, >=20: 3, >15: 4, <=15: 5"
---

<ol>
  <li>Agile Software Development.
    <ol>
      <li>{% YesNoTable 4, 'Agile practitioners have come to value:' %}
{% yes_no_question 'Individuals and interactions over processes and tools', 'yes' %}
{% yes_no_question 'Comprehensive documentation over working software', 'no' %}
{% yes_no_question 'Contract negotiation over customer collaboration', 'no' %}
{% yes_no_question 'Responding to change over following a plan', 'yes' %}
        {% endYesNoTable %}
      </li>
      <li>{% YesNoTable 8, 'Agile practitioners follow these principles:' %}
{% yes_no_question 'Our highest priority is to satisfy the developers
  through early and continuous delivery of pizza.', 'no' %}
{% yes_no_question 'Deliver working software frequently, from a
  couple of weeks to a couple of months, with a
preference to the shorter timescale.', 'yes' %}
{% yes_no_question 'Business people and developers must work
together daily throughout the project.', 'yes' %}
{% yes_no_question 'The most efficient and effective method of
conveying information to and within a development
team is a scrum board.', 'no' %}
{% yes_no_question 'Incoming payments are the primary measure of progress.', 'no' %}
{% yes_no_question 'Agile developers are willing to work long hours and
through weekends to meet business deadlines.', 'no' %}
{% yes_no_question 'Continuous attention to technical excellence
and good design is wasted development timed. ', 'no' %}
{% yes_no_question 'Simplicity &ndash; the art of maximizing the amount
of work not done &ndash; is essential. ', 'yes' %}
          {% endYesNoTable %}
        </li>
        <li>
          Nenne eine agile Disziplin bzw. ein agiles Framework (1 Punkt).
          Nenne zwei dafür charakteristische Ereignisse/ Praktiken/ Artefakte/
          Werte/ Rollen oder
          Unterdisziplinen (2 Punkte). Erläutere für jede von diesen Elementen
          Parallelen zu den Werten des agilen Manifests (2 Punkte).
{% answer %}
Zum Beispiel:<br />
Scrum<br />
Daily Standup und Sprint Review Meeting.<br />
Das Daily Standup erlaubt es den
Mitgliedern des Scrum Teams regelmäßig zu kommunizieren und korrespondiert damit
zum agilen Wert "Individuals and Interactions". Am Ende jedes Sprints wird im
Sprint Review Meeting das aktuelle, funktionierende Produktinkrement vorgestellt,
wodurch der agile Wert "Working Software" transparent gemacht wird.
{% endanswer %}
        </li>
    </ol>
  </li>


  <li>Linux
    <ol>
      <li>
    Mit welchem Befehl kann man auf der Linux Kommandozeile von KDE Neon
    den clang Compiler für C und C++ installieren? (3 Punkte)
{% answer %}
sudo apt install clang
{% endanswer %}
      </li>
      <li>Eine Linux Anwenderin befindet sich derzeit im Verzeichnis
        <code>/var/log/apt</code>. Welche Befehle muss sie eingeben, damit der
        folgende Verzeichnisbaum in Ihrem Home Verzeichnis angelegt wird?
        (4 Punkte)<br />
<pre>
└── repos
    ├── code
    ├── configuration
    └── github
</pre>

{% answer %}
{% highlight "bash" %}
mkdir -p ~/repos/code ~/repos/configuration ~/repos/github
{% endhighlight %}
Alternatively, switch to home via `cd` first and skip the `~/`.
It is also possible to create each directory on a separate line.
If <code>~/repos</code> is created separately first, the <code>-p</code>
flag can be omitted.
{% endanswer %}
      </li>
      <li>
        Die Benutzerin möchte, dass ihr Verzeichnis
        <code>~/repos/configuration</code> nur mehr von ihrem Benutzer gelesen
        oder verändert werden kann. Kein anderer Benutzer auf dem System,
        egal in welcher Benutzergruppe, darf Zugriff darauf haben.
        Schreibe einen Befehl, mit dem diese Änderung durchgeführt wird.
        (2 Punkte)
{% answer %}
{% highlight "bash" %}
chmod go-rwx ~/repos/configuration
{% endhighlight %}
{% endanswer %}
      </li>
      <li>
        Abschließend will die Benutzerin in das Verzeichnis
        <code>~/repos/code</code> wechseln, um dort die C++ Datei
        <code>4ahel.cpp</code> zu kompilieren und damit ein Programm mit dem
        Namen <code>4ahel</code> zu erstellen, welches Sie danach startet.
        Welche Befehle gibt sie ein, um das Programm erfolgreich zu starten?
        (4 Punkte)
{% answer %}
{% highlight "bash" %}
cd ~/repos/code
clang++ 4ahel.cpp -o 4ahel
./4ahel
{% endhighlight %}
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>
    Welcher Text wird durch die folgenden Miniprogramme in der
    C++-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder <code>cout</code> oder dergleichen aufgerufen
    wird), so ist "-" als richtige Antwort zu verwenden.
    <ol>
      <li>Hinweis: der Wert von M_PI ist 3.14159.
{% highlight "cpp" %}
#include <cmath>
#include <iostream>

int main() {
  std::cout << area(1.0) << std::endl;
  return 0;
}

double area(double radius) {
  return radius * radius * M_PI;
}
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
#include <iostream>
#include <vector>

int main() {
  std::vector<int> numbers = {3, 9, 1, 12};
  std::cout << numbers[2] << std::endl;
  return 0;
}
{% endhighlight %}
{% answer %}
1
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
#include <iostream>
#include <vector>

void print_vector(vector<std::string> v);

int main() {
  std::vector<std::string> names = {"Pat", "Chris", "Sue"};
  std::vector<int> numbers = {3, 9, 1, 12};
  print_vector(names);
  print_vector(numbers);
  return 0;
}

void print_vector(vector<std::string> v) {
  for (auto it = v.begin(); it != v.end(); ++it) {
    std::cout << *it << std::endl;
  }
}
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

    </ol>
  </li>

</ol>
