{% extends "layouts/presentation.njk" %}

{% set title = "CMS 1 + 2 Syllabus" %}
{% set currentYear %}
  {% year %}
{% endset %}
{% set subtitle = "Fall " + currentYear %}
{% block presentation %}

<section>
  <h2>Course Information</h2>
  <dl>
    <dt>Office hours</dt>
    <dd>On appointment</dd>
    <dt>Contact</dt>
    <dd><a href="mailto:cms@senarclens.eu">cms@senarclens.eu</a></dd>
    <dt>Course calendar & location</dt>
    <dd><a href="http://find-santa.eu/calendar.xhtml">http://find-santa.eu/calendar.xhtml</a></dd>
    <dt>Course homepage</dt>
    <dd><a href="/cms/">https://study.find-santa.eu/cms/</a></dd>
    <dt>Prerequisites</dt>
    <dd>Formally: none</dd>
    <dd>Solid understanding of computer software in general</dd>
    <dd>Capability to read English documentation</dd>
    <dd>Administrative rights to a laptop to install tools will
      make life easier</dd>
  </dl>
</section>

<section>
  <h2>Textbooks</h2>
  <h3>Primary</h3>
  <ul>
    <li><a href="http://docs.python.org/3/tutorial/index.html">The Python Tutorial</a> - Python Software Foundation</li>
    <li><a href="https://en.wikibooks.org/wiki/Non-Programmer%27s_Tutorial_for_Python_3">Non-Programmer's Tutorial for Python 3</a> - Josh Cogliati et al.</li>
    <li>Python for Everyone - Cay Horstmann and Rance D. Necaise</li>
    <li><a href="http://programming.itcarlow.ie/index.html">Head First Programming</a> - David Griffiths and Paul Barry</li>
    <li><a href="http://docs.python.org/3/">Python Documentation</a> - Python Software Foundation</li>
  </ul>
  <h3>Further Reading</h3>
  <ul>
    <li><a href="http://getpython3.com/diveintopython3/">Dive Into Python 3</a> - Mark Pilgrim</li>
    <li><a href="http://www.qtrac.eu/py3book.html">Programming in Python 3</a> - Mark Summerfield</li>
  </ul>
</section>

<section>
  <h2>Course Content</h2>
  <p>Introduction to using computer programming for information retrieval and
    managerial decision making.</p>

  <p class="fragment">Students will get to know a state of the art high level
    programming language that is easy to learn. To facilitate this,
    some valuable tools will be presented.</p>

  <p class="fragment">The course uses a step by step approach. It starts with
    basic concepts while using interesting homework tasks to deepen their
    understanding. Computational Management Science 2 offers dedicated lab
    sessions to help with solving the homework tasks.</p>

  <p class="fragment">The intent is to make the course more fun than a
    "traditional" course that covers computer programming. You should learn to
    code what you want - not to code what you can code. The focus won't be
    programming language features, but how to get your work done in a
    programming language. </p>
</section>

<section>
  <h2>Objectives</h2>
  <p>Upon completing the course students will</p>
  <ul>
    <li>be confident with basic computer programming.</li>
    <li>have acquired skills in implementing basic algorithms.</li>
    <li>know syntax and semantics of procedural programming: assignment,
      sequential operations, iteration, conditionals, functions.</li>
    <li>be comfortable using basic tools that help programmers.</li>
    <li>be able to solve simple managerial problems that cannot be solved with
      more common tools.</li>
    <li>be comfortable using version control to keep track of changes
      in your code.</li>
    <li>be able to read other people's source code.</li>
    <li>be able to communicate with techies on a fairly technical level.</li>
    <li class="fragment"><strong>know enough to independently acquire
      additional knowledge in the field.</strong></li>
  </ul>
</section>

<section>
  <h2>Who this Course is for</h2>
  <p>Students who are willing to work hard to:</p>
  <ul>
    <li>achieve practical programming skills</li>
    <li>become more creative, think more precisely</li>
    <li>be better prepared for the job market</li>
    <li>learn how to solve tasks efficiently</li>
  </ul>

  <p>Many things YOU need to get done have to be partly/ widely self-taught.</p>
  <p>"There is no substitute for knowing your application area, your programming language, and the relevant programming technique." – <cite>Bjarne Stroustrup</cite></p>
  <p>Technical know how is crucial for successful IT project managers in order to communicate with their teams.</p>
</section>

<section>
  <h2>Who should not attend this Course</h2>
  <ul>
    <li>Students who just want a 'cheap' positive grade. (They will require
      less effort elsewhere; this module has 4 + 4 ECTS credits. This
      corresponds to an average of 200 hours of work.)</li>
    <li>Cheaters.</li>
  </ul>
</section>

<section>
  <h2>Workflow</h2>
  <dl>
    <p>Required reading before every CMS 1 class</p>
    <dt>CMS 1</dt>
    <dd>deepen understanding of pre-readings</dd>
    <p>Finish homework before every CMS 2 class</p>
    <dt>CMS 2</dt>
    <dd>present homework and explain solutions</dd>
    <dd>get assistance while working on assignments during remaining
      session</dd>
  </dl>
</section>

<section>

  <section>
    <h2>Assessment - CMS 1</h2>
    <p>No single knock-out criterion (except plagiarism)</p>
    <ul>
      <li>Final Exam: 48 points</li>
      <li>Term Project: 48 points
        <ul>
          <li>Source code in English</li>
          <li>Teams of your choice (2 to 4 students)</li>
          <li>25% specification, 40% functionality, 25% tests,
            and 10% documentation</li>
          <li>Announce teams and projects by December 2nd</li>
        </ul>
      </li>
      <li>Participation: max. 1 point per class</li>
    </ul>

    <p class="fragment">Oral Defense: ~15 minutes per student
      (CMS1+2 together)</p>

    <aside class="notes">
      <ul>
        <li>Participation points usually require having worked through the
          assigned reading upfront</li>
      </ul>
    </aside>
  </section>

  <section>
    <h2>Assessment - CMS 2</h2>
    <p>No single knock-out criterion (except plagiarism)</p>
    <ul>
      <li>11 Homework Assignments: 99 points
        <ul>
          <li>Source code in English</li>
          <li>Assignments available on <a href="/cms/">course homepage</a></li>
          <li>Posted two sessions before due dates</li>
          <li>The first two assignments will be done individually</li>
          <li>Subsequent assignments are team-based (pair programming)</li>
          <li>Teams will be randomly chosen for each assignment</li>
          <li>Assignments are checked for plagiarism</li>
          <li>Max. 9 points per assignment</li>
        </ul>
      </li>
      <li>Participation: 1 point per class</li>
    </ul>
    <p class="fragment">Oral Defense: ~15 minutes per student
      (CMS1+2 together)</p>
  </section>

  <section>
    <h2>Grading</h2>
    <table>
      <thead>
        <tr><th>Points</th><th>Grade</th></tr>
      </thead>
      <tbody>
        <tr><td>&gt;90</td><td>1</td></tr>
        <tr><td>&gt;80-90</td><td>2</td></tr>
        <tr><td>&gt;65-80</td><td>3</td></tr>
        <tr><td>&gt;50-65</td><td>4</td></tr>
      </tbody>
    </table>
    <p>The grading may be subject to a curve.<br />
      For example, if you received 87% then you will at
      least get a 2, but may receive a higher grade based on the curve.</p>
  </section>

</section>


<section>
  <h2>Academic Honesty</h2>
  <p>Cheating and plagiarism will not be tolerated</p>

  <p>Copying a single problem in a homework assignment will cause the whole
    assignment not to be counted.<br />
    Repeated academic misconduct will lead to a
    negative grade.</p>

  <figure class="fragment">
  <blockquote>
    <p>
      Programming has an - unfair - reputation as a lonely activity.
      Most people work better and learn faster when they are part of a group
      with a common aim. Learning together and discussing problems with friends
      is not cheating! It is the most efficient - as well as most pleasant -
      way of making progress.
    </p>
    <figcaption>
      <cite title="pg. xxvi, Programming: Principles and Practice Using C++, Addison Wesley, 2009">
        Bjarne Stroustrup</cite>
    </figcaption>
  </blockquote>
  </figure>
</section>



{% include 'slides/closing.njk' %}

{% endblock %}{# presentation #}
