---
title: Computer Programming
subtitle: A Language Agnostic Introduction
layout: layouts/presentation.njk
---

<section>
  <h2>Computer Programming</h2>
  <section>
    <p>Expressing Ideas in a Machine-Readable Way</p>
    <ul>
      <li class="fragment">... is the art of expressing solutions to problems as source code</li>
      <li class="fragment">... comprises <em>designing</em>, writing, testing, debugging, and maintaining the source code of computer programs
      </li>
    </ul>
    <p class="fragment">
      <a href="http://en.wikipedia.org/wiki/Computer_programming">
        Wikipedia – Computer programming</a>
    </p>
  </section>

  <section>
    <p>To do this, we need programming languages</p>
    <ul>
      <li>Artificial languages designed to communicate instructions to a machine</li>
      <li>A notation for writing programs, which are implementations of a computation or algorithm</li>
      <li>Tools for experimentation</li>
      <li>Occassionally, a means of communication among programmers</li>
      <li>Markup languages like HTML, troff or XML, which define structured
        data, are generally <strong>not</strong> considered programming languages</li>
    </ul>
    <p class="fragment"><a href="http://en.wikipedia.org/wiki/Programming_language">
      Wikipedia – Programming language</a></p>
  </section>

  <section>
    <p>There are 1000s of programming languages and dialects</p>
    <ul>
      <li class="fragment">Interpreted and compiled languages</li>
      <li class="fragment">Syntax and semantics</li>
      <li class="fragment">Static versus dynamic typing</li>
      <li class="fragment">Standard library</li>
    </ul>
    <p class="fragment">
      <a href="http://en.wikipedia.org/wiki/History_of_programming_languages">
        Wikipedia – History of programming languages</a>
    </p>
    <p class="fragment">
      <a href="http://en.wikipedia.org/wiki/Timeline_of_programming_languages">
        Wikipedia – Timeline of programming languages</a>
    </p>
  </section>
</section>

<section>
  <h2>Selection of Historic Programming Languages</h2>

  <section>
    <h3>Fortran</h3>
    <ul>
      <li>"Formula Translation"</li>
      <li>Especially suited to numeric computation and scientific computing</li>
      <li>Main versions are II, IV, 77, 90, 95, 03, 08, 18, 23</li>
    </ul>
  </section>

  <section>
    <h3>COBOL</h3>
    <ul>
      <li>"COmmon Business-Oriented Language"</li>
      <li>Emphasis on data manipulation</li>
    </ul>
    <p class="fragment">"It was hoped/claimed that COBOL was so close to
      'business English' that managers could program and programmers would soon
      become redundant. That is a hope we have heard frequently repeated over
      the years by managers keen on cutting the cost of programming. It has
      never been even remotely true." – <cite>Bjarne Stroustrup</cite></p>
  </section>

  <section>
    <h3>Lisp</h3>
    <ul>
      <li>"LISt Processing"</li>
      <li>Interpreted language</li>
      <li>Mainstay of artificial intelligence research</li>
    </ul>
  </section>

  <section>
    <h3>ALGOL 60</h3>
    <ul>
      <li>"ALGOrithmic Language"</li>
      <li>Ancestor to many modern programming languages</li>
    </ul>
  </section>

  <section>
    <h3>Simula</h3>
    <ul>
      <li>"Simulation programming languages" (I and 67)</li>
      <li>Simula 67 is considered the root of modern<br />
        object-oriented programming</li>
    </ul>
  </section>

  <section>
    <h3>Pascal</h3>
    <ul>
      <li>Said to be named in honor of Blaise Pascal</li>
      <li>Teaching language</li>
    </ul>
  </section>

  <section>
    <h3>Ada</h3>
    <ul>
      <li>Named after <a href="http://en.wikipedia.org/wiki/Ada_Lovelace">Lady Augusta Ada Lovelace</a> </li>
      <li>Reliable code for embedded systems programming</li>
    </ul>
  </section>
</section>

<section>
  <h2>Selection of Modern Programming Languages</h2>

  <section>
    <h3>C</h3>
    <ul>
      <li>First appeared 1972</li>
      <li>For implementing operating system</li>
      <li>Very close to the fundamental aspects of hardware</li>
      <li>1978 K&R C, 1989/90 ANSI C, C99, C11, C17, C23</li>
    </ul>
  </section>

  <section>
    <h3>C++</h3>
    <ul>
      <li>Better C
        <ul>
          <li>With data abstraction</li>
          <li>Supporting object-oriented</li>
          <li>Functional and</li>
          <li>Generic programming</li>
        </ul>
      </li>
      <li>C++98, C++03, <strong>C++11</strong>, C++14, C++17, C++20, C++23</li>
    </ul>
    <aside class="notes">
      <p>Newer versions provide new features and an enlarged standard
        library</p>
      <p>For example, anonymous functions were introduced with C++11</p>
    </aside>
  </section>

  <section>
    <h3>Go</h3>
    <ul>
      <li>First appeared in November 2009</li>
      <li>Syntactically similar to C, but also has
        <ul>
          <li>Memory safety</li>
          <li>Garbage collection</li>
          <li>Excellent support for concurrency (goroutines)</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h3>Haskell</h3>
    <ul>
      <li>Purely functional programming language</li>
      <li>Haskell 98, Haskell 2010</li>
    </ul>
  </section>

  <section>
    <h3>Java</h3>
    <ul>
      <li>Compiled to bytecode</li>
      <li>Programs require a Java Virtual Machine (JVM) to run</li>
      <li>Java 21 (as of September 2023)</li>
    </ul>
  </section>

  <section>
    <h3>JavaScript (ECMAScript) (and TypeScript)</h3>
    <ul>
      <li>Behavior in web-based user interfaces</li>
      <li>Dialects provide scripting for PDF documents, desktop widgets,
        Qt applications, LibreOffice, ...</li>
      <li><a href="https://nodejs.org/en">Node.js</a> allows creating modern
        full stack applications</li>
      <li><a href="https://www.electronjs.org/">Electron</a> (et al.) can be
        used to build cross-platform desktop applications</li>
      <li><a href="https://reactnative.dev/">React Native</a> is used to create
        native apps for Android and iOS</li>
      <li>First edition appeared in 1997</li>
      <li>ECMAScript 6 (ES6), 2015: added significant new syntax for writing
        complex applications</li>
      <li>Yearly releases, currently ECMAScript 2023 (ES2023)</li>
    </ul>
  </section>

  <section>
    <h3>PHP</h3>
    <ul>
      <li>"PHP: Hypertext Preprocessor"</li>
      <li>Produces dynamic Web pages</li>
      <li>Major version have breaking changes from previous versions</li>
      <li>PHP 5, PHP 7 and PHP 8</li>
    </ul>
  </section>

  <section>
    <h3>Python</h3>
    <ul>
      <li>"Monty Python's Flying Circus"</li>
      <li>Fun to use</li>
      <li>General-purpose, interpreted high-level programming language</li>
      <li>Also used for scripting various programs including LibreOffice</li>
      <li>Commonly used in artificial intelligence and data analytics
        projects</li>
      <li>MicroPython allows applications on micro controllers</li>
      <li>Python 3 (December 3rd, 2008) had breaking changes from Python 2</li>
      <li>As of October 2024, Python 3.12.7 is the stable release</li>
    </ul>
  </section>
</section>

<section>
  <h2>Programming Languages Features</h2>
  <p>What properties in a programming language do we consider desirable?</p>
  <section>
    <ul>
      <li class="fragment">Portability/ platform independence</li>
      <li class="fragment">High performance</li>
      <li class="fragment">Ability to concisely express ideas</li>
      <li class="fragment">Anything that eases debugging</li>
      <li class="fragment">Anything that eases testing</li>
      <li class="fragment">Stability over decades</li>
      <li class="fragment">Prompt improvements if required</li>
      <li class="fragment">Ease of learning</li>
    </ul>
  </section>

  <section>
    <ul>
      <li class="fragment">Support for popular programming styles</li>
      <li class="fragment">Whatever helps analysis of programs</li>
      <li class="fragment">Lots of facilities (e.g. libraries)</li>
      <li class="fragment">Supported by a large community</li>
      <li class="fragment">Supportive of novices (students, learners)</li>
      <li class="fragment">Comprehensive facilities for experts</li>
      <li class="fragment">Lots of software development tools available</li>
      <li class="fragment">Supported by an open software community</li>
    </ul>
    <p class="fragment"><a href="#Stroustrup:2009">
      <cite title="Stroustrup:2009">
        Stroustrup (2009), p. 772f</cite></a></p>
  </section>
</section>

<section>
  <h2>Terminology</h2>

  <section>
    <dl>
      <div>
        <dt>Operating system</dt>
      </div>
      <div class="fragment">
        <dt>Shell, terminal</dt>
        <dd>Shells usually provide command-line interfaces (CLI)</dd>
        <dd>E.g. Bash, COMMAND.COM, PowerShell, Python shell, Zsh, ...</dd>
        <dd>Terminal windows allow users access to applications such as shells</dd>
      </div>
      <div class="fragment">
        <dt>Source code</dt>
        <dd>Plain text written by a programmer in a programming language</dd>
        <dd>In principle readable by any other programmer</dd>
        <dd><a href="http://en.wikipedia.org/wiki/Source_code">Wikipedia – Source code</a></dd>
      </div>
      <div class="fragment">
        <dt>Interpreter</dt>
        <dd>Directly executes instructions written in a scripting language</dd>
      </div>
      <div class="fragment">
        <dt>Compiler</dt>
        <dd>Translates code written in one language into another language</dd>
      </div>
    </dl>
  </section>

  <section>
    <dl>
      <div>
        <dt>Script</dt>
        <dd>Text file containing source code of an interpreted language</dd>
      </div>
      <div class="fragment">
        <dt>Text editor</dt>
        <dd>Program used for creating and editing plain text files</dd>
        <dd>No formatting</dd>
        <dd>Good editors assist programmers</dd>
        <dd>E.g.: <a href="https://www.gnu.org/software/emacs/">GNU Emacs</a>,
          <a href="https://kate-editor.org/">Kate</a>,
          <a href="https://micro-editor.github.io/">micro</a>,
          <a href="https://www.vim.org/">Vim</a>,
          <a href="https://vscodium.com/">VSCodium</a>, ...</dd>
      </div>
      <div class="fragment">
        <dt>Integrated development Environment (IDE)</dt>
        <dd><a href="https://www.eclipse.org/ide/">Eclipse</a>
          (focus on Java, but many extensions like PyDev available)</dd>
        <dd><a href="https://kdevelop.org/">KDevelop</a>
          (C and C++, with kdev-python also Python)</dd>
        <dd>Spyder (Python only)</dd>
        <dd><a href="https://vscodium.com/">VSCodium</a> (can be considered an
          IDE when using multiple extensions)</dd>
        <dd>...</dd>
      </div>
    </dl>
  </section>

  <section>
    <dl>
      <div>
        <dt>Development environment</dt>
        <dd>Collection of tools</dd>
        <dd>Requires experience in order to be used efficiently</dd>
        <dd>Either provide proper training</dd>
        <dd>Or to allow developers to pick their choice of tools/
          environment</dd>
        <dd>And create an independent build process</dd>
      </div>
      <div class="fragment">
        <dt>User interface</dt>
        <dd>Text based, graphical, web based</dd>
      </div>
    </dl>
  </section>
</section>

{% include 'slides/closing.njk' %}

<section>
  <h2>Literature</h2>
    <div class="reference" id="BarryAndGriffiths:2009">
    <span class="authors">Paul Barry and David Griffiths</span>
    <span class="title">Head First Programming</span>
    <span class="pub_details">O'Reilly (2009)</span>
    <span class="pub_details">
      <a href="https://amzn.to/3PqfHiS">buy on Amazon</a>
    </span>
  </div>
  <div class="reference" id="Pilgrim:2009">
    <span class="authors">Mark Pilgrim</span>
    <span class="title"><a href="http://getpython3.com/diveintopython3/">Dive Into Python 3</a> (2nd edition)</span>
    <span class="pub_details">Apress (October 23, 2009)</span>
    <span class="pub_details">
      <a href="https://amzn.to/46zoxCq">buy on Amazon</a>
    </span>
  </div>
  <div class="reference" id="Python:2023">
    <span class="authors">Python Software Foundation</span>
    <span class="title"><a href="http://docs.python.org/3/">Python Documentation</a></span>
    <span class="pub_details">http://docs.python.org/3/</span>
  </div>
  <div class="reference" id="Stroustrup:2009">
    <span class="authors">Bjarne Stroustrup</span>
    <span class="title"><a href="http://www.stroustrup.com/Programming/">Programming – Principles and Practice Using C++</a></span>
    <span class="pub_details">Addison Wesley (December 15, 2008)</span>
    <span class="pub_details">
      <a href="https://amzn.to/3NH7lCz">buy on Amazon</a>
    </span>
  </div>
</section>
