---
title: Tageskolleg Informatik
subtitle: Programmieren und Softwareentwicklung
layout: layouts/presentation.njk
---

<section>
  <h2>POS</h2>
  <p>4 x 5 Stunden</p>
  <ul>
    <li class="fragment">Wer hat bereits programmiert?</li>
    <li class="fragment">Wer kennt die Programmiersprache Python?</li>
  </ul>
  <aside class="notes">
    <ul>
      <li>
        <ol>
      <li>Python zum Beginnen</li>
      <li>C</li>
      <li>C++ / Java / Python / JavaScript / TypeScript / Go -> versuche auf TeilnehmerInnen einzugehen</li>
        </ol>
      </li>
      <li><strong>Ziel ist es, sich nach Abschluss des Kollegs einen Job
        aussuchen zu können</strong></li>
      <li>Auf Vor- und Nachteile einer IT Ausbildung eingehen</li>
    </ul>
  </aside>
</section>

<section>
  <h2>Gemeinsames Programmieren</h2>
  <section>
    <p>Wir verwenden eine Programmiersprache, um geometrische Formen zu
      zeichnen</p>
    <div class="fragment">
      <p>
        <strong>Python</strong> ist aktuell in vielen Rankings die beliebteste
        und meistverwendete Programmiersprache
      </p>
      <ul>
        <li>zB <a href="https://www.tiobe.com/tiobe-index/">Tiobe Index</a></li>
      </ul>
    </div>
    <div class="fragment">
      <p><strong>Linux</strong> ist bei EntwicklerInnen sehr beliebt und
        für alle frei verfügbar
      </p>
    </div>
    <aside class="notes">
      <ul>
        <li>Ziel ist es, einen ersten Geschmack zu bekommen, worum es geht</li>
      </ul>
    </aside>
  </section>

  <section>
    <h3>Einloggen</h3>
    <dl>
      <dt>Benutzername</dt>
      <dd>guest</dd>
      <dt>Passwort</dt>
      <dd>12345</dd>
    </dl>
    <p>Bitte die Datei
      <a href="/data/py/turtle/intro.py"><code>intro.py</code></a> anklicken
      (öffnen)</p>
  </section>

  <section>
    <h3>Python Turtle</h3>
    <p>Übersicht aller
      <a href="https://docs.python.org/3/library/turtle.html#turtle-methods">Turtle-Befehle</a></p>
  </section>

  <section>
{% highlight "python" %}
t.forward(distance)
t.backward(distance)
t.right(angle)
t.left(angle)
t.pendown()
t.penup()
t.color(colorstring)
t.done()

for _ in range(4):  # run code 4 times
    t.forward(1)
{% endhighlight %}
    <aside class="notes">
      <ul>
        <li>Execute via <code>python intro.py</code></li>
        <li>Or use <code>Tools->Run Current Document</code></li>
      </ul>
    </aside>
  </section>
</section>



<section>
  <h2>Vielen Dank für Ihr Interesse!</h2>
  <p>Wer möchte, kann zu Hause weiter üben:
    <a href="https://webtigerjython.ethz.ch/">webtigerjython.ethz.ch</a>

  </p>
</section>
