---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: MEDT
date: 2023-11-21
points: [24, 24, 24, 28]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---


<ol>
  <li>
    {% YesNoTable 8, 'HTML', 24 %}
      {% yes_no_question
        'HTML is used to create the structure and content of a web page.',
        'yes' %}
      {% yes_no_question 'The &lt;ul&gt; tag is used to create an ordered list.',
        'no' %}
      {% yes_no_question 'The &lt;li&gt; tag denotes a list item.', 'yes' %}
      {% yes_no_question 'The &lt;hyperlink&gt; tag defines a hyperlink,
        which is used to link from one page to another.', 'no' %}
      {% yes_no_question 'The &lt;css&gt; tag is used to define how a website looks.', 'no' %}
      {% yes_no_question 'The <code>type</code> attribute is is relevant for html form elements.', 'yes' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 6, 'CSS', 24 %}
      {% yes_no_question 'CSS code is used to define the behavior of a web page.', 'no' %}
      {% yes_no_question '`color: red;` sets the background color to red.',
        'no' %}
      {% yes_no_question 'CSS can change the font color of an HTML element.', 'yes' %}
      {% yes_no_question 'CSS can be used to change the size of an HTML element.', 'yes' %}
      {% yes_no_question 'CSS can be used to create the structure of an HTML document.', 'no' %}
      {% yes_no_question 'Margin and padding are the same thing.', 'no' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 6, 'JavaScript', 24 %}
      {% yes_no_question
        '<code>function f(a) { return a / 2; }</code> is valid JavaScript',
        'yes' %}
      {% yes_no_question 'JavaScript is a programming language.', 'yes' %}
      {% yes_no_question 'The result of <code>8 % 3</code> is <code>2</code>.',
        'yes' %}
      {% yes_no_question
        'The result of <code>1 == "1"</code> is <code>true</code>.', 'yes' %}
      {% yes_no_question
        '<code>Math.randint()</code> returns a random integer.', 'no' %}
      {% yes_no_question
        '<code>let s = "first "; s += "second";</code> leads to an error.',
        'no' %}
    {% endYesNoTable %}
  </li>

  <li>Create a small web form in HTML. In the form, add an element
    that allows entereing a person's first name. Before this element, add
    a description and link the description and the input field together.
    That means, clicking on the description should activate the input
    field.
    Also, add a control that allows a person to confirm they are over 18
    years of age. Finally, add a button to submit the form.<br />
    Note that you don't need to write anything surrounding the form
    (ie no doctype, html, body etc).
{% answer %}
    <div class="grading">
      5 points for the <code>form</code> tag<br />
      5 points for input type text<br />
      3 points for the label<br />
      5 points for the input id and label for<br />
      5 points for the checkbox<br />
      5 points for the submit button
    </div>

{% highlight "html" %}
<form>
<p>
  <label for="firstname">First name:</label>
  <input type="text" id="firstname" name="firstname" />
</p>
<p>
  <input type="checkbox" id="full_age" name="full_age" checked />
  <label for="full_age">18+ years old</label>
</p>
<p>
  <input type="submit" value="submit">
</p>
</form>
{% endhighlight %}
{% endanswer %}
      </li>
</ol>
