---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: MEDT
date: 2024-01-30
points: [5, 38, 30, 27]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---


<ol>
  <li>Which shortcut opens the developer tools of your web browser
    (Firefox or Chromium)? (5 points)
{% answer %}
F12
{% endanswer %}
  </li>

  <li>Look at the following image showing the box model of a web page's
    element. Please write down all correct names and values that can be read
    from the image. (38 points - 2 for each value + 10 for the correct property
    names)

    <img src="/images/web/box-model.png"
         style="display: block; margin: auto;" />
{% answer %}
{% highlight "css" %}
margin: 8px 0;
border: 1px solid black;
padding: 16px;
width: 837px;
height: 119px;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>CSS (10 points each: 5 for the correct property + 5 for a correct value)

    <ul>
      <li>How can an element's foreground color be set to blue using the
        <code>rgb(.)</code> function?
{% answer %}
{% highlight "css" %}
color: rgb(0, 0, 255);
{% endhighlight %}
{% endanswer %}
      </li>
      <li>How can an element's background be set to middle gray using the
        <code>#</code> notation (any tone representing a middle gray is fine)?
{% answer %}
{% highlight "css" %}
background-color: #888;
{% endhighlight %}
{% endanswer %}
      </li>
      <li>How can an element be made semi-transparent?
{% answer %}
{% highlight "css" %}
opacity: 50%;
{% endhighlight %}
{% endanswer %}
      </li>
    </ul>

  </li>

  <li>Deploying websites (9 points each)
    <ul>
      <li>Which command do you have to type to log in to our development
        web server?
{% answer %}
{% highlight "shell" %}
ssh firstname.lastname@sandbox.bulme.at
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Once logged in, please enter command to access the directory with
        your personal website.
{% answer %}
{% highlight "shell" %}
cd ~/public_html
{% endhighlight %}
{% endanswer %}
      </li>
      <li>After accessing the directory containing your personal website,
        please type a command that launches a program to edit the page that is
        shown when people access<br />
        <kbd>https://sandbox.bulme.at/~firstname.lastname/</kbd>
{% answer %}
{% highlight "shell" %}
micro index.html
{% endhighlight %}
{% endanswer %}
      </li>
    </ul>

  </li>

</ol>
