<p>
  To avoid plagiarism and prevent cheating,
  all grades (including tests, projects and assignments) require a short oral
  defense to be valid.
</p>

{% if assignments %}
<p><strong>Late assignment policy</strong>: the points for each assignment
  filed after its due date are multiplied by 0.8 for each started week after
  the due date.<br />
  For example: a student files an assigment one day late and would receive
  97 points if filed before the due date. The student gets 97 * 0.8 = 77.6
  points instead. Another student files an assignment with 100 points 16 days
  after the due date. 16 days means the third week after the due date has
  started. Hence the student is awarded 100 * 0.8 * 0.8 * 0.8 = 51.2 points.
</p>
{% endif %}
