<{{ section_header_level }} id="grading">Grading</{{ section_header_level }}>

<pre>>87.5: 1, >75: 2, >62.5 : 3, >50: 4, ≤50: 5</pre>
<p>Please note that the above schema MAY be subject to a
  <a href="https://en.wikipedia.org/wiki/Norm-referenced_test">grading curve</a>
  for individual tests or assignments.
</p>
