  <tr>
    <td style="vertical-align: top; min-width: 7em;">participation</td>
    <td>contributions are rewarded with a "<code>+</code>"<br />
        for students with a positive grade, each "<code>+</code>" improves the
        average term grade by 0.1
        (10 <code>+</code> improve one full grade)
    </td>
  </tr>
