{% include 'blocks/grading/header.njk' %}

<table>
  <tr>
    <td>1/3</td>
    <td>written test ({{ test_mode }}) - <strong>must be passed</strong></td>
  </tr>
  <tr>
    <td>1/3</td>
    <td>programming project</td>
  </tr>
  <tr>
    <td>1/3</td>
    <td>programming assignments</td>
  </tr>
{% include 'blocks/grading/participation.njk' %}
</table>

{% include 'blocks/grading/footer.njk' %}
