---
layout: layouts/test.njk
class: 1AKIFT
group: B
subject: POS
date: 2021-11-04
points: [6, 2, 2, 5, 10]
grading: "Grading: 23-25: 1, 20-22: 2, 17-19: 3, 13-16: 4, <13: 5"
---

<ol>
  <li>What is the output of the following code snippets? Write exactly what the
    output of each snippet is if the snippet is the sole content of a Python
    file. If the output is an error message, it is enough to write “ERROR”.
    If there is no output, write "-".
    <ol>
      <li>
{% highlight "python" %}x = 5
y = 2 * x**2 + 2 * x - 6
print(y)
{% endhighlight %}
{% answer %}
54
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}n = 10
d = 6
work = True
while work:
    if n / d == 0:
        print (d)
        work = False
    d -= 1
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = "Programming is great fun"
print (s[3], s[-2])
{% endhighlight %}
{% answer %}
g u
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>What is the difference between a <strong>comment</strong> and a <strong>docstring</strong>?
{% answer %}
Comments are ignored by the interpreter and programming tools.
Docstrings are used to generate
documentation, make information available in development tools and can be accessed programmatically.
{% endanswer %}
  </li>

  <li>What is <strong>scope</strong> in computer programming?
{% answer %}
Scope determines where a name can be accessed (eg. function scope ).
{% endanswer %}
  </li>

  <li>Rewrite the following <code>for</code> loop as <code>while</code> loop.
{% highlight "python" %}
for i in range(0, 10, 3):
    print(f'{i} * {i} = {i * i}')
{% endhighlight %}

{% answer %}
{% highlight "python" %}
i = 0
while i < 10:
    print(f'{i} * {i} = {i * i}')
    i += 3
{% endhighlight %}
{% endanswer %}
  </li>
  <li>Create a program that reads the integer `n` from standard input and prints
the sum of all even integers between 1 and `n` (inclusive) to standard output.
For example, if the number 7 is given, the value 12 should be printed. If the
number 8 is given, the value 20 should be printed.
{% answer %}
{% highlight "python" %}
n = int(input('Enter an integer: '))
total = 0
for i in range(1, n // 2 + 1):
    total += i * 2
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
