---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: POS
date: 2023-01-31
points: [6, 7, 2]
grading: "Grading: >=14: 1, >=12: 2, >=10: 3, >=8: 4, <=7: 5"
---
<p>
  This test may done on a computer without an internet connection.
  Create a file named <kbd>{% isodate date %}_firstname_lastname.py</kbd>.
  All of your code must be added to this file.<br />
  You may create additional
  functions and add code to test your solutions. You may also add data files
  to test your solution.
</p>

<p>Once completed, contact your lecturer who will collect your solution.</p>

<ol>

  <li>Write a function <code>product(iterable) -> int</code>
    in Python that takes a sequences of integers and returns
    the product of the numbers.<br />
    [e.g. <code>product((9, 2, 3)) ⇒ 9 * 2 * 3 = 54</code>;
     <code>product([3, 5, 4, 2]) ⇒ 120]</code>.
    Add a proper docstring and a doctest to receive full points.<br />
    (6 points)
{% answer %}
    <div class="grading">
    1 point for the function signature<br />
    1 point for the docstring<br />
    1 point for the doctest<br />
    2 points for the correct calculation of the product<br />
    1 point for returning the product
    </div>
{% highlight "python" %}
def product(iterable) -> int:
    """
    Return the products of the numbers in iterable.

    >>> product((9, 2, 3))
    54
    """
    result = 1
    for e in iterable:
        result *= e
    return result
{% endhighlight %}
{% endanswer %}
  </li>

  <li>You're in charge of analyzing CO2 data measured by multiple sensors
    in your company's building. You will get the sensor data weekly,
    one file per sensor. The first analysis you're planning to do is to
    calculate the average CO2 pollution per week for each sensor.

    The data in each file is straightforward. One measurement per line,
    starting with a timestamp, then a comma ",", and then the CO2 value in
    PPM. An input file looks like

<pre>
2022-02-02T19:49,1175
2022-02-02T19:59,1235
2022-02-02T20:09,1481
...
2022-02-02T22:09,753
2022-02-02T22:19,819
</pre>

    Implement a function <code>average_co2(filename: str) -> float</code> that returns
    the average CO2 in the given file.
    Add a proper docstring to receive full points.<br />
    (7 points)
{% answer %}
    <div class="grading">
      1 point for a proper docstring<br />
      1 point for reading the file<br />
      1 point for correctly splitting the input lines<br />
      1 point for converting the PPM to int<br />
      1 point for correct counter variable<br />
      1 point for correctly summing up the values<br />
      1 for returning the correct result<br />
    </div>
{% highlight "python" %}
def average_co2(filename: str) -> float:
    """
    Return average CO2 from the given file.
    """
    count = 0
    total = 0
    with open(filename) as f:
        for line in f:
            total += int(line.split(',')[-1])
            count += 1
    return total / count
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Add a shebang for executing the file with python. Use
    <code>/usr/bin/env python</code> as the default python interpreter.
    When your script is executed, print the result of
    <code>product((9, 2, 3))</code> to the terminal. If the script is imported,
    nothing should be printed.<br />
    (2 points)
{% answer %}
    <div class="grading">
      1 point for the proper shebang<br />
      1 point for the ifmain pattern<br />
    </div>
{% highlight "python" %}
#!/usr/bin/env python

#...


if __name__ == "__main__":
    print(product((9, 2, 3)))
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
