---
layout: layouts/test.njk
class: 1AKIFT
group: B
subject: POS
date: 2024-01-31
points: [20, 40, 40]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>

  <li>(20 points)<br />
    Implement a function <code>reverse(s: str) -> str</code> that reverses a
    given string. To receive full points, make sure that the function has a
    proper docstring and a doctest.
    For example:

    <code>reverse("stressed") -> "desserts"</code><br />
    <code>reverse("strops") -> "sports"</code><br />
    <code>reverse("racecar") -> "racecar"</code>

{% answer %}
    <div class="grading">
      5 points for the function signature<br />
      5 points for the docstring<br />
      5 points for the docstest<br />
      5 points for the implementation<br />
    </div>
{% highlight "python" %}
def reverse(text: str) -> str:
    """
    Return a reversed version of the given string.

    >>> reverse("stressed")
    "desserts"
    """
    return text[::-1]
{% endhighlight %}
{% endanswer %}
  </li>

  <li>(40 points)<br />
    Implement <code>rot13(text)</code> assuming that text only contains
    upper case characters. Use the <code>ord(char)->int</code> and
    <code>chr(i:int)->str</code> functions in your implementation.
    Add a proper docstring in order to receive full points.
{% answer %}
    <div class="grading">
      5 points for correct function signature<br />
      5 points for proper docstring<br />
      5 points for result list<br />
      5 points for for loop<br />
      10 points for correct conditions<br />
      5 points for joining the list<br />
      5 points for returning the correct result<br />
    </div>
{% highlight "python" %}
def rot13(text):
    """Return the input string after returning the characters by 13 places."""
    result = []
    for char in text:
        if 'A' <= char = 'M':
            num = ord(char) + 13
        elif 'N' <= char <= 'Z':
            num = ord(char) - 13
        else:
            num = ord(char)
        result.append(chr(num))
    return "".join(result)
{% endhighlight %}
{% endanswer %}
  </li>

  <li>(40 points)<br />
    Write a function <code>sumproduct(first iterable, second iterable)</code>
    in Python that takes two sequences of numbers with equal length and returns
    the sum of the product of the numbers.<br />
    [e.g. <code>sumproduct((1, 3, 4), (9, 2, 3)) ⇒ 1*9 + 3*2 + 4*3 = 27</code>;
     <code>sumproduct([3, 5], [2, 4]) ⇒ 26]</code>.
    Add a proper docstring and a doctest to receive full points.<br />
    Grading: 1 point for correct function signature, 1 point for proper
    docstring, 1 point for a doctest, 2 for returning the correct result.
    (6 points)
{% answer %}
    <div class="grading">
    5 points for the function signature<br />
    5 points for the docstring<br />
    10 points for the doctest<br />
    15 points for the correct calculation of the sumproduct<br />
    5 points for returning the sum
    </div>
{% highlight "python" %}
def sumproduct(first, second):
    """
    Return the sum of the products of `zip(first, second)`.

    >>> sumproduct((1, 3, 4), (9, 2, 3))
    27
    """
    sum = 0
    for i, j in zip(first, second):
        sum += i * j
    return sum
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
