---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: POS
date: 2023-01-25
points: [10, 10]
grading: "Grading: >= 18: 1, 15-17: 2, 12-14: 3, 10-11: 4, <10: 5"
---

<ol>
  <li>Implement a function <code>void representation(int low, int high)</code>
    that prints textual representations of numbers.
    For each integer <code>num</code>
    between <code>low</code> (inclusive) and <code>high</code> (non inclusive)
    a representation must be printed.
    If <code>1 <= num <= 9</code> print the textual representation of the digit
    ("one" for 1 etc.) on a separate line of output. For numbers larger than 9,
    print "even" if <code>num</code> is an even number, otherwise "odd".

    (10 points)
{% answer %}
    <div class="grading">
      1 point for correct signature<br />
      2 points for looping over the correct range<br />
      3 points for representing 1-9 correctly<br />
      2 points for even numbers >= 10<br />
      2 points for odd numbers >= 10
    </div>
{% highlight "c" %}
void representation(int low, int high) {
  for (; low < high; ++low) {
    if (low == 1) {printf("one\n");}
    if (low == 2) {printf("two\n");}
    if (low == 3) {printf("three\n");}
    if (low == 4) {printf("four\n");}
    if (low == 5) {printf("five\n");}
    if (low == 6) {printf("six\n");}
    if (low == 7) {printf("seven\n");}
    if (low == 8) {printf("eight\n");}
    if (low == 9) {printf("nine\n");}
    if (low > 9 && low % 2 == 0 ) {printf("even\n");}
    if (low > 9 && low % 2 == 1 ) {printf("odd\n");}
  }
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Implement a function<br />
    <code>int max_of_five(int a, int b, int c, int d, int e)</code>
    in C. The function must return the maximum of the 5 given numbers.
    To facilitate this, implement a function
    <code>int max(int a, int b)</code>, returning the maximum of its arguments.
    <code>max_of_five(.)</code> must use <code>max(.)</code> for its
    calculation.
    (10 points)
{% answer %}
    <div class="grading">
      2 points the correct function names and signatures<br />
      3 points for the correct implementation of
        <code>max(int a, int b)</code><br />
      5 Punkte für die richtige Implementierung von
        <code>max_of_four</code><br />
    </div>
{% highlight "c" %}
int max(int a, int b) {
    if (a > b) return a;
    return b;
}

int max_of_five(int a, int b, int c, int d, int e) {
    return max(a, max(b, max(c, max(d, e))));
}
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
