---
layout: layouts/test.njk
class: 1AKIFT
group: B
subject: POS
date: 2023-01-11
points: [6, 10, 6, 4, 6]
grading: "Grading: <16: 5, 16-20: 4, 21-24: 3, 25-28: 2, 29-32: 1"
---

<ol>
  <li>
        {% YesNoTable 12 %}
{% yes_no_question 'In Python, the <code>def</code> keyword is used to
  define a function.', 'yes' %}
{% yes_no_question 'In Python it is recommended to use four spaces for
  indentation.', 'yes' %}
{% yes_no_question 'The "ifmain" pattern allows a module to behave differently
  when it is executed vs. imported.', 'yes' %}
{% yes_no_question 'Python code cannot be edited with a regular text editor.
  A special editor is required.', 'no' %}
{% yes_no_question 'In Python, it is possible to iterate over sequences.',
  'yes' %}
{% yes_no_question 'A Python dictionary is particularly useful when
  frequently testing if a value exists in the data structure.', 'no' %}
{% yes_no_question 'Dictionaries in Python are immutable.', 'no' %}
{% yes_no_question 'Python sets are mutable.', 'yes' %}
{% yes_no_question 'Python tuples are immutable.', 'yes' %}
{% yes_no_question 'Python sets support the intersection, difference and union
  operations.', 'yes' %}
{% yes_no_question 'Doctests are a great way to illustrate how code is
  supposed to be used.', 'yes' %}
{% yes_no_question 'Comments are the same as docstrings.', 'no' %}
        {% endYesNoTable %}

  </li>

  <li>What is the output of the following code snippets? Write exactly what the
    output of each snippet is if the snippet is the sole content of a Python
    file. If the output is an error message, it is enough to write “ERROR”.
    If there is no visible output, write "-".
    <div class="grading">2 points for each correct answer.</div>
    <ol>

      <li>
{% highlight "python" %}
def sum(a, b, c):
    return a + b + c
sum(4, 2, 3)
{% endhighlight %}
{% answer %}
-
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def circumference(length, width):
    return 2 * length + 2 * width
print(circumference(5, 2))
{% endhighlight %}
{% answer %}
14
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = 'Hello World!'
s.lower()
print(s)
{% endhighlight %}
{% answer %}
Hello World!
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
l = [4, 2, 3, 1]
print(l.append(0))
{% endhighlight %}
{% answer %}
None
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def fun(a, b=5, c):
    return a + b + c
print(fun(10, 5))
{% endhighlight %}
{% answer %}
Error
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Implement a function <code>find_max(iterable)</code> that returns the
  maximum value of an iterable. It can be assumed that the iterable contains
  at least one value and that all values in the iterable are numeric. Don't
  forget to add a proper docstring. You are not allowed to use the built in
  <code>max(.)</code> function.
  (6 points)
{% answer %}
    <div class="grading">
    1 point for the correct function signature<br />
    1 point for a proper docstring<br />
    1 point for setting an initial value<br />
    1 point for the loop<br />
    1 point for correctly updating the current maximum<br />
    1 point for returning the proper maximum
    </div>
{% highlight "python" %}
def find_max(iterable):
    """Return the maximum value of the iterable."""
    max_ = iterable[0]
    for item in iterable[1:]:
        if max_ < item:
            max_ = item
    return max_
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Rewrite the following code to use tuples instead of lists. Perform the
    corresponding operations or workarounds for these operations with a tuple
    that are demonstrated with a list in the snippet below.
    (4 points)
{% highlight "python" %}
l = [1, 2, 3, 4]
l.append(l[-1] + l[-2])
l.pop(0)  # Remove and return item at index (default last).
print(l.count(3))  # Print number of occurrences of value.
{% endhighlight %}

{% answer %}
    <div class="grading">
    1 point for initializing the tuple<br />
    1 point for creating a new tuple with the correct new element at end<br />
    1 point for creating a new tuple without the first element<br />
    1 point for printing the count(3) of the tuple
    </div>
{% highlight "python" %}
t = (1, 2, 3, 4)
t = t + (t[-1] + t[-2],)
t = t[1:]
print(t.count(3))
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Telephone numbers with letters<br />
    In some countries it is a common practice to encode selected telephone
    numbers as text because they are easier to memorize that way. The letters
    of the text signal which button to press on a telephone keypad. See the
    image below as a reference:<br />
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Telephone-keypad.svg"
         style="display: block; margin: 0.2cm auto; width: 17%;" />
    <cite style="display: block; text-align: center;">Source: Marnanel
      (<a href="http://commons.wikimedia.org/wiki/File%3ATelephone-keypad.svg">via
         Wikimedia Commons</a>)</cite>
    <br />
    Implement a function <code>as_numeric(text)</code> that returns a string
    containing only the numbers that correspond to the input text.<br />
    For example: <code>as_numeric('0800 reimann')</code> should return
    <code>'0800 7346266'</code>.<br />
    Add a docstring with a doctest to receive full points.
    (6 points)
{% answer %}
    <div class="grading">
    1 point for the docstring<br />
    1 point for the doctest<br />
    3 points for the correct algorithm to produce the number string<br />
    1 point for returning the string with the telephone number
    </div>
{% highlight "python" %}
def as_numeric(number_name):
    """
    Take telephone number as name string and return string of digits.
    >>> as_numeric('0800 reimann')
    '0800 7346266'
    """
    number = ""
    number_name = number_name.lower()
    for char in number_name:
        if char in string.digits + ' ':
            number += char
        elif char in {'a', 'b', 'c'}:
            number += '2'
        elif char in {'d', 'e', 'f'}:
            number += '3'
        elif char in {'g', 'h', 'i'}:
            number += '4'
        elif char in {'j', 'k', 'l'}:
            number += '5'
        elif char in {'m', 'n', 'o'}:
            number += '6'
        elif char in {'p', 'q', 'r', 's'}:
            number += '7'
        elif char in {'t', 'u', 'v'}:
            number += '8'
        elif char in {'w', 'x', 'y', 'z'}:
            number += '9'
    return number
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
