---
layout: layouts/test.njk
class: 1AKIFT
group: B
subject: POS
date: 2023-12-13
points: [12, 12, 24, 24, 28]
grading: "Grading: >= 88: 1, >=76: 2, >=64 : 3, >=51: 4, <=50: 5"
---

<ol>
  <li>Python<br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'In Python, the <code>fast</code> keyword is used to
  speed up the execution of a function.', 'no' %}
{% yes_no_question 'In Python it is recommended to use four spaces for
  indentation.', 'yes' %}
{% yes_no_question 'A function is used to exit a loop.', 'no' %}
{% yes_no_question 'Python code written with micro can afterwards be edited
  with any text editor.', 'yes' %}
{% yes_no_question 'In Python, lists are mutable.', 'yes' %}
{% yes_no_question 'Python does not support default parameters.',
  'no' %}
        {% endYesNoTable %}
  </li>
  <li>DVCS and pair programming<br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'Git is a sophisticated programming editor.', 'no' %}
{% yes_no_question 'Git can take care of files in many different programming
  languages.', 'yes' %}
{% yes_no_question '<code>git clone</code> downloads a repository from a
  server.', 'yes' %}
{% yes_no_question '<code>git commit</code> records changes to a repository.',
  'yes' %}
{% yes_no_question 'Pair programming improves code quality.', 'yes' %}
{% yes_no_question 'The driver writes the code while the navigator
  assists.', 'yes' %}
        {% endYesNoTable %}
  </li>

  <li>What is the output of the following code snippets? Write exactly what the
    output of each snippet is if the snippet is the sole content of a Python
    file. If the output is an error message, it is enough to write “ERROR”.
    If there is no visible output, write "-".
    <div class="grading">4 points for each correct answer.</div>
    <ol>

      <li>
{% highlight "python" %}
def sum(a, b):
    return b + c
print(sum(4, 2))
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def area(length):
    return length ** 2
print(area(5))
{% endhighlight %}
{% answer %}
25
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = 'Hello World!'
s.lower()
print(s)
{% endhighlight %}
{% answer %}
Hello World!
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = 'Peace'
print(s.upper())
{% endhighlight %}
{% answer %}
PEACE
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def fun(a, b=5, c):
    return a + b + c
print(fun(10, 5))
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def print_together(a, b):
    print(a, b)
print_together(b='XMAS!', a='Merry')
{% endhighlight %}
{% answer %}
Merry XMAS!
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Implement the function <code>is_leap(year: int) -> bool</code>.
    Given a year as a number, report if it is a leap year. A leap year occurs:
    <ul>
      <li>on every year that is evenly divisible by 4</li>
      <li>except every year that is evenly divisible by 100</li>
      <li>unless the year is also evenly divisible by 400</li>
    </ul>
    For example, <code>is_leap(1981)</code> returns <code>False</code>,
    <code>is_leap(1984)</code> returns <code>True</code>,
    <code>is_leap(1900)</code> returns <code>False</code> while
    <code>is_leap(2000)</code> returns <code>True</code>.
    Document your function with a docstring.
  (24 points)
{% answer %}
    <div class="grading">
    4 points for the correct function signature<br />
    4 points for a proper docstring<br />
    4 points for returning `True` for years evenly divisible by 400<br />
    4 points for returning `False` for years evenly divisible by 100<br />
    4 points for returning `True` for years evenly divisible by 4<br />
    4 points for returning `False` for all other years<br />
    </div>
{% highlight "python" %}
def is_leap(year):
    """Return True if the given year is a leap year, otherwise false."""
    if year % 400 == 0:
        return True
    if year % 100 == 0:
        return False
    if year % 4 == 0:
        return True
    return False
{% endhighlight %}
{% endanswer %}
  </li>


  <li>Implement the following functions:
{% highlight "python" %}
area_circle(r)
circumference_circle(r)
surface_cylinder(r, h)
volume_cylinder(r, h)
{% endhighlight %}
    The required formulas in the order of the functions above are
    <ul>
      <li>$A = r^2 \pi$</li>
      <li>$C = 2 r \pi$</li>
      <li>$A = 2 r \pi h + 2 r^2 \pi$</li>
      <li>$V = r^2 \pi h$</li>
    </ul>
    Each of the functions has to have a proper docstring.
    (28 points)
{% answer %}
    <div class="grading">
    2 points for each correct function signature<br />
    2 points for each proper docstring<br />
    3 points for each correct return value<br />
    </div>
{% highlight "python" %}
import math

def area_circle(r):
    """Return the surface of a sphere with radius r."""
    return math.pi * r * r


def circumference_circle(r):
    """Return the volume of a sphere with radius r."""
    return 2 * math.pi * r


def surface_cylinder(r, h):
    """Return the surface of a cylinder with radius r and height h."""
    return 2 * r * r * math.pi + 2 * r * math.pi * h


def volume_cylinder(r, h):
    """Return the volume of a cylinder with radius r and height h."""
    return r * r * math.pi * h
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
