---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: POS
date: 2022-12-07
points: [6, 10, 6, 4, 6]
grading: "Grading: <16: 5, 16-20: 4, 21-24: 3, 25-28: 2, 29-32: 1"
---

<ol>
  <li>
        {% YesNoTable 12 %}
{% yes_no_question 'In Python, any block of code creates scope.', 'no' %}
{% yes_no_question 'In Python it is recommended to use two spaces for
  indentation.', 'no' %}
{% yes_no_question 'The "ifmain" pattern allows a module to behave differently
  when it is executed vs. imported.', 'yes' %}
{% yes_no_question 'Python offers a "do-while" loop.', 'no' %}
{% yes_no_question 'Python code written with <code>micro</code> can be edited
  with another editor afterwards.', 'yes' %}
{% yes_no_question 'A Python sequence type can be indexed, sliced and
   iterated.', 'yes' %}
{% yes_no_question 'Strings in Python are immutable.', 'yes' %}
{% yes_no_question 'Python lists are mutable.', 'yes' %}
{% yes_no_question 'Python tuples are mutable.', 'no' %}
{% yes_no_question 'Python dictionaries are mutable.', 'yes' %}
{% yes_no_question 'Doctests are a perfect way of testing your code.', 'no' %}
{% yes_no_question 'Comments are more powerful than docstrings.', 'no' %}
        {% endYesNoTable %}

  </li>

  <li>What is the output of the following code snippets? Write exactly what the
    output of each snippet is if the snippet is the sole content of a Python
    file. If the output is an error message, it is enough to write “ERROR”.
    If there is no visible output, write "-".
    <div class="grading">2 points for each correct answer.</div>
    <ol>

      <li>
{% highlight "python" %}
def average(a, b, c):
    return (a + b + c) / 3.0
average(4, 2, 3)
{% endhighlight %}
{% answer %}
-
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def area(length, width):
    return length * width
print(area(5, 2))
{% endhighlight %}
{% answer %}
10
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = 'Hello World!'
s.upper()
print(s)
{% endhighlight %}
{% answer %}
Hello World!
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
l = [4, 2, 3, 1]
print(l.sort())
{% endhighlight %}
{% answer %}
None
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def fun(a, b, c=5):
    return a + b + c
print(fun(10))
{% endhighlight %}
{% answer %}
Error
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Finish the program below. The given search term <code>needle</code>
  should be searched in all of the files in the list of relative
  <code>filenames</code>. The program should count the non-overlapping
  occurrences of <code>needle</code> in all the given files and print it
  to standard output. The comparison must not be case sensitive. Use the
  <code>string</code> class' <code>S.count(sub[, start[, end]]) -> int</code>
  method which returns the number of non-overlapping occurrences of substring
  sub in string S[start:end].
  (6 points)
{% highlight "python" %}
#!/usr/bin/env python
filenames = input('Files: ')
needle = input('Needle: ').lower()
matches = 0
filenames = filenames.split(',')  # create list of filenames
{% endhighlight %}
{% answer %}
    <div class="grading">
    1 point for looping over the filenames<br />
    1 point for opening the file correctly<br />
    1 point for reading the content<br />
    1 point for converting the content to lowercase<br />
    1 point for correctly using the count function<br />
    1 point for printing the correct number of matches
    </div>
{% highlight "python" %}
for filename in filenames:
    with open(filename) as f:
        content = f.read().lower()
        matches += content.count(needle)
print(matches)
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Rewrite the following <code>for</code> loop as <code>while</code> loop.
    (4 points)
{% highlight "python" %}
for i in range(0, 10, 3):
    print(f'{i} * {i} = {i * i}')
{% endhighlight %}

{% answer %}
    <div class="grading">
    1 point for initializing the counter variable<br />
    1 point for the while loop condition<br />
    1 point for the correct print statement<br />
    1 point for correctly incrementing the loop counter
    </div>
{% highlight "python" %}
i = 0
while i < 10:
    print(f'{i} * {i} = {i * i}')
    i += 3
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Write a function <code>sumproduct(first iterable, second iterable)</code>
    in Python that takes two sequences of numbers with equal length and returns
    the sum of the product of the numbers.<br />
    [e.g. <code>sumproduct((1, 3, 4), (9, 2, 3)) ⇒ 1*9 + 3*2 + 4*3 = 27</code>;
     <code>sumproduct([3, 5], [2, 4]) ⇒ 26]</code>.
    Add a proper docstring and a doctest to receive full points.<br />
    Grading: 1 point for correct function signature, 1 point for proper
    docstring, 1 point for a doctest, 2 for returning the correct result.
    (6 points)
{% answer %}
    <div class="grading">
    1 point for the function signature<br />
    1 point for the docstring<br />
    1 point for the doctest<br />
    2 points for the correct calculation of the sumproduct<br />
    1 point for returning the sum
    </div>
{% highlight "python" %}
def sumproduct(first, second):
    """
    Return the sum of the products of `zip(first, second)`.

    >>> sumproduct((1, 3, 4), (9, 2, 3))
    27
    """
    sum = 0
    for i, j in zip(first, second):
        sum += i * j
    return sum
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
