---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: POS
date: 2024-01-17
points: [50, 50]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>

  <li>Write a function <code>cumsum(l: List[int]) -> List[int]</code>
    in Python that takes a list of integers and returns
    a list containing the cumulative sum of the numbers. For example<br />
    <code>cumsum([9, 2, 3]) -> [9, 9+2, 9+2+3] -> [9, 11, 14]</code><br />
    <code>cumsum([3, 5, -4, 2]) -> [3, 8, 4, 6]]</code><br />
    Don't forget to deal with empty lists.
    Add a proper docstring to receive full points.
{% answer %}
    <div class="grading">
      5 points for the function signature<br />
      5 points for the docstring<br />
      10 points for returning correct result for empty lists<br />
      5 points for correctly dealing with the first element<br />
      10 points for correct loop<br />
      10 points for correctly adding all subsequent elements<br />
      5 points for returning the correct result
    </div>
{% highlight "python" %}
def cumsum(l: List[int]) -> List[int]:
    """Return the cumulative sum of the given list."""
    if not l: return []
    r = l[:1]
    for e in l[1:]:
        r.append(r[-1] + e)
    return r
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Your task is to implement a function
    <code>to_rna(dna_strand: str) -> str</code>
    that determines the RNA complement
    of a given DNA sequence.
    Both DNA and RNA strands are a sequence of nucleotides.
    The four nucleotides found in DNA are adenine (A), cytosine (C),
    guanine (G) and thymine (T). The four nucleotides found in RNA are
    adenine (A), cytosine (C), guanine (G) and uracil (U).

    Given a DNA strand as a string (only consisting of upper case
    characters 'G', 'C', 'T' and 'A'), return its transcribed RNA strand as
    string. This is done by replacing each nucleotide with its complement:
<pre>
    G -> C
    C -> G
    T -> A
    A -> U
</pre>
    For example, <code>to_rna('GCGGATA') -> 'CGCCUAU'</code>.
    Add a proper docstring to receive full points.
{% answer %}
    <div class="grading">
      5 points for the function signature<br />
      5 points for the docstring<br />
      20 points for a working representation of the translations<br />
      10 points for producing the correctly translated data<br />
      5 points for the result being a string (not eg a list)<br />
      5 points for returning the correct result
    </div>
{% highlight "python" %}
def to_rna(dna_strand: str) -> str:
    """Return RNA strand for given DNA strand."""
    l = []
    for c in dna_strand:
        if c == 'G':
            l.append('C')
        elif c == 'C':
            l.append('G')
        elif c == 'T':
            l.append('A')
        elif c == 'A':
            l.append('U')
    return ''.join(l)

# one of many alternatives that are more elegant:
def to_rna(dna: str) -> str:
    """Return RNA strand for given DNA strand."""
    translations = {'G': 'C', 'C': 'G', 'T': 'A', 'A': 'U'}
    return ''.join([translations[n] for n in dna])
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
