---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: POS
date: 2023-11-15
points: [12, 12, 24, 24, 28]
grading: "Grading: >= 88: 1, >=76: 2, >=64 : 3, >=51: 4, <=50: 5"
---

<ol>
  <li>Python<br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'In Python, the <code>mem</code> keyword is used to
  determine if a value is a member of a sequence.', 'no' %}
{% yes_no_question 'In Python it is recommended to use five spaces for
  indentation.', 'no' %}
{% yes_no_question 'A function can be considered a named suite of code that
  can be parameterized.', 'yes' %}
{% yes_no_question 'Python code can be edited with any text editor.', 'yes' %}
{% yes_no_question 'In Python, strings are mutable.', 'no' %}
{% yes_no_question 'Python supports keyword arguments and default parameters.',
  'yes' %}
        {% endYesNoTable %}
  </li>
  <li>DVCS and pair programming<br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'Git is a distributed version control system.', 'yes' %}
{% yes_no_question 'It is possible to work only on a single computer without a
  central server when using git.', 'yes' %}
{% yes_no_question '<code>git crunch</code> completely removes old versions
  to save disk space.', 'no' %}
{% yes_no_question '<code>git commit</code> records changes to a repository.',
  'yes' %}
{% yes_no_question 'Pair programming helps to distribute skills and knowlege
  in a team.', 'yes' %}
{% yes_no_question 'Both programmers write code simultaneously when doing pair
  programming.', 'no' %}
        {% endYesNoTable %}
  </li>

  <li>What is the output of the following code snippets? Write exactly what the
    output of each snippet is if the snippet is the sole content of a Python
    file. If the output is an error message, it is enough to write “ERROR”.
    If there is no visible output, write "-".
    <div class="grading">4 points for each correct answer.</div>
    <ol>

      <li>
{% highlight "python" %}
def sum(a, b, c):
    return a + b + c
print(sum(4, 2))
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def area(length):
    return length ** 2
print(circumference(5, 2))
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = 'Hello World!'
s = s.lower()
print(s)
{% endhighlight %}
{% answer %}
hello world!
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = 'Peace'
print(s.append('!'))
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def fun(a, b, c=5):
    return a + b + c
print(fun(10, 5))
{% endhighlight %}
{% answer %}
20
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def print_together(a, b):
    print(a, b)
print_together(b='World!', a='Hello')
{% endhighlight %}
{% answer %}
Hello World!
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Implement the function <code>is_leap(year: int) -> bool</code>.
    Given a year as a number, report if it is a leap year. A leap year occurs:
    <ul>
      <li>on every year that is evenly divisible by 4</li>
      <li>except every year that is evenly divisible by 100</li>
      <li>unless the year is also evenly divisible by 400</li>
    </ul>
    For example, <code>is_leap(1981)</code> returns <code>False</code>,
    <code>is_leap(1984)</code> returns <code>True</code>,
    <code>is_leap(1900)</code> returns <code>False</code> while
    <code>is_leap(2000)</code> returns <code>True</code>.
    Document your function with a docstring.
  (24 points)
{% answer %}
    <div class="grading">
    4 points for the correct function signature<br />
    4 points for a proper docstring<br />
    4 points for returning `True` for years evenly divisible by 400<br />
    4 points for returning `False` for years evenly divisible by 100<br />
    4 points for returning `True` for years evenly divisible by 4<br />
    4 points for returning `False` for all other years<br />
    </div>
{% highlight "python" %}
def is_leap(year):
    """Return True if the given year is a leap year, otherwise false."""
    if year % 400 == 0:
        return True
    if year % 100 == 0:
        return False
    if year % 4 == 0:
        return True
    return False
{% endhighlight %}
{% endanswer %}
  </li>


  <li>Implement the following functions:
{% highlight "python" %}
surface_sphere(r)
volume_sphere(r)
surface_cylinder(r, h)
volume_cylinder(r, h)
{% endhighlight %}
    The required formulas in the order of the functions above are
    <ul>
      <li>$A = 4 r^2 \pi$</li>
      <li>$V = \frac{4}{3} r^3 \pi$</li>
      <li>$A = 2 r \pi h + 2 r^2 \pi$</li>
      <li>$V = r^2 \pi h$</li>
    </ul>
    Each of the functions has to have a proper docstring.
    (28 points)
{% answer %}
    <div class="grading">
    2 points for each correct function signature<br />
    2 points for each proper docstring<br />
    3 points for each correct return value<br />
    </div>
{% highlight "python" %}
import math

def surface_sphere(r):
    """Return the surface of a sphere with radius r."""
    return 4 * math.pi * r * r


def volume_sphere(r):
    """Return the volume of a sphere with radius r."""
    return 4.0 / 3 * math.pi * r * r * r


def surface_cylinder(r, h):
    """Return the surface of a cylinder with radius r and height h."""
    return 2 * r * r * math.pi + 2 * r * math.pi * h


def volume_cylinder(r, h):
    """Return the volume of a cylinder with radius r and height h."""
    return r * r * math.pi * h
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
