---
layout: layouts/test.njk
class: 3BHEL
group: A
subject: FSST
date: 2022-11-23
points: [6, 12, 6, 8]
grading: "Benotung: >=29: 1, >=25: 2, >=21: 3, >16: 4, <=16: 5"
---

<ol>
  <li>Linux Administration
    <ol>
      <li>Aktualisiere die Liste der Paketquellen unter Debian Linux.
        Danach aktualisiere alle auf dem System vorhandenen Programme, sofern
        es für das System installalierbare Aktualisierungen gibt. (2 Punkte)
{% answer %}
{% highlight "bash" %}
sudo apt update
sudo apt upgrade
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Mit welchem Befehl kann man auf der Kommandozeile unter Debian Linux
        den <code>g++</code> Compiler für C++ installieren? (2 Punkte)
{% answer %}
sudo apt install g++
{% endanswer %}
      </li>
      <li>Erstelle einen neuen User mit dem Benutzernamen <code>pat</code>
        (2 Punkte)
{% answer %}
sudo adduser pat
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Linux Kommandozeile
    <ol>
      <li>Eine gerade angemeldete Linux Anwenderin befindet sich derzeit im
        Verzeichnis
        <code>/etc</code>. Welche Befehle muss sie eingeben, damit der
        folgende Verzeichnisbaum in Ihrem Home Verzeichnis angelegt wird?
        (4 Punkte)<br />
<pre>
└── code
    ├── python
    ├── cpp
    └── rust
</pre>

{% answer %}
{% highlight "bash" %}
mkdir -p ~/code/python ~/code/cpp ~/code/rust
{% endhighlight %}
Alternatively, switch to home via `cd` first and skip the `~/`.
It is also possible to create each directory on a separate line.
If <code>~/repos</code> is created separately first, the <code>-p</code>
flag can be omitted.
{% endanswer %}
      </li>

      <li>
        Die Benutzerin möchte, dass ihr Verzeichnis
        <code>~/secrets/</code> auf <code>~/private/</code> umbenannt wird.
        (2 Punkte)
{% answer %}
{% highlight "bash" %}
mv ~/secrets ~/private
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Weiters bittet die Nutzerin dich darum, in ihrem Home Verzeichnis
        ein neues Verzeichnis mit dem Namen <code>fsst</code> anzulegen.
        (1 Punkt)
{% answer %}
{% highlight "bash" %}
mkdir ~/fsst
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Nachdem die Benutzerin ein kleines C++ Programm geschrieben und in
        ihrem <code>~/fsst</code> Verzeichnis gespeichert hat, bittet sie um
        Hilfe, ihr das Programm <code>solver</code> aus ihrer Quelldatei
        <code>solver.cpp</code> zu erstellen. Sie möchte dabei dezitiert,
        dass der GNU C++ Compiler verwendet wird.<br />
        Der Terminal ist derzeit im Home Verzeichnis der Benutzerin
        geöffnet. Bitte helfen Sie ihr mit den korrekten Befehlen. (3 Punkte)
{% answer %}
{% highlight "bash" %}
cd fsst
g++ -o solver solver.cpp
{% endhighlight %}
{% endanswer %}
      </li>

      <li>
        Sie bittet darum, die erstellte Backupdatei
        <code>solver.cpp~</code> löschen. Der Terminal befindet sich bereits
        im richtigen Verzeichnis. (1 Punkt)
{% answer %}
{% highlight "bash" %}
rm solver.cpp~
{% endhighlight %}
{% endanswer %}
      </li>

      <li>
        Abschließend will die Benutzerin, dass das erstellte Program
        <code>solver</code> gestartet wird. (1 Punkt)
{% answer %}
{% highlight "bash" %}
./solver
{% endhighlight %}
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>
    Welcher Text wird durch die folgenden Miniprogramme in der
    C++-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder <code>cout</code> oder dergleichen aufgerufen
    wird), so ist "-" als richtige Antwort zu verwenden. (je 2 Punkte)
    <ol>
      <li>
{% highlight "cpp" %}
#include <iostream>

int main() {
  int i = 3;
  int& j = i;
  j++;
  std::cout << i << " " << j << std::endl;
  return 0;
}
{% endhighlight %}
{% answer %}
4 4
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
#include <iostream>
#include <vector>

int main() {
  std::vector<int> numbers = {3, 9, 1, 12};
  std::cout << numbers[3] << std::endl;
  return 0;
}
{% endhighlight %}
{% answer %}
12
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
#include <iostream>
#include <vector>

int main() {
  std::vector<std::string> names = {"Pat", "Chris", "Sue"};
  for (const auto& name : names) {
    std::cout << name << " ";
  }
  return 0;
}
{% endhighlight %}
{% answer %}
Pat Chris Sue
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Implementiere eine Funktion<br />
    <code>void quadratic(double a, double b, double c)</code>
    in C++. Die Funktion soll die beiden Nullstellen der quadratischen
    Funktion $ax^2 + bx + c = 0$ auf <code>stdout</code> schreiben. Die Formel
    dazu lautet:
    $$
    x_{1,2} = \frac{-b \pm \sqrt{b^2 - 4ac} }{2a}
    $$
    Die Werte sollen mit einer fixen
    Präzision von 2 Stellen nach dem Dezimaltrennzeichen ausgegeben werden.
    Die notwendigen Header (<code>cmath</code>, <code>iomanip</code> und
    <code>iostream</code>) dürfen als gegeben angenommen
    werden. Die Ausgabe soll genau dem folgenden Beispiel folgen:
    <pre>x1: 2.00
x2: -3.00</pre>
    Die Möglichkeit, einen negativen Wert unter der Wurzel zu erhalten kann
    ignoriert werden. Ignorieren Sie ebenso die Möglichkeit einer Division
    durch Null. (8 Punkte)
{% answer %}
    <div class="grading">
    1 Punkt den korrekten Funktionsnamen und die korrekte Signatur<br />
    1 Punkt für die Berechnung der Wurzel<br />
    je 1 Punkt für die Berechnung von x1 und x2<br />
    1 Punkt für fixed<br />
    1 Punkt für setprecision(2)<br />
    2 Punkte für die korrekte Ausgabe<br />
    </div>
{% highlight "cpp" %}
#include <iostream>
#include <iomanip>
#include <cmath>

void quadratic(double a, double b, double c) {
  double root = sqrt(b * b - 4 * a * c);
  double x1 = (-b + root) / (2 * a);
  double x2 = (-b - root) / (2 * a);
  std::cout << std::fixed << std::setprecision(2);
  std::cout << "x1: " << x1 << std::endl;
  std::cout << "x2: " << x2 << std::endl;
}

int main() {
  quadratic(1, -2, 1);
  return 0;
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
