{% extends "layouts/presentations/c_cpp_arrays.njk" %}


{% block vector %}
<p class="fragment">For most C++ programmers, C-arrays only have theoretical
  value for understanding how <code>vector</code> works. In practice,
  <code>std::vector</code> should be used almost always instead of C-arrays.
</p>
{% endblock %}
