{% extends "layouts/presentations/c_cpp_strings.njk" %}


{% block user_input %}
  <section>
    <h3>Example: Read a Single Number via a C-String</h3>
{% highlight extension + ' 3,6,8' %}
{% include source_path + 'read_number.' + extension %}
{% endhighlight %}
    <p>{% download data_path + 'read_number.' + extension %}</p>
  </section>

  <section>
    <h3>Example: Read a Single Number with C++</h3>
    <p>If you can, use proper C++ instead instead of C strings</p>
{% highlight extension + ' 5' %}
{% include source_path + 'cpp_read_number.' + extension %}
{% endhighlight %}
    <p>{% download data_path + 'cpp_read_number.' + extension %}</p>
  </section>

  <section>
    <h3>Example: Read a C-String</h3>
{% highlight extension + ' 6,8' %}
{% include source_path + 'read_string.' + extension %}
{% endhighlight %}
    <p>{% download data_path + 'read_string.' + extension %}</p>
  </section>

  <section>
    <h3>Example: Read a Single Number with C++</h3>
    <p>If you don't have to use C strings, use proper C++ instead</p>
{% highlight extension + ' 6' %}
{% include source_path + 'cpp_read_string.' + extension %}
{% endhighlight %}
    <p>{% download data_path + 'cpp_read_string.' + extension %}</p>
  </section>

  <section>
    <h3>Example: Convert C++ Strings to C Strings</h3>
    <p>Use C++ strings while possible, pass them as C strings when needed</p>
{% highlight extension + ' 6' %}
{% include source_path + 'to_c_string.' + extension %}
{% endhighlight %}
{% include_code source_path + "to_c_string." + extension %}
  </section>
{% endblock %}


{% block cpp_strings %}
<section>
  <h2>C++ Strings</h2>

  <p>Use C++ strings instead of C strings unless there is a good reason
    otherwise.</p>

  <p>C++ strings are a large and complex topic.<br />
    Fortunately, high quality documentation exists:
  </p>

  <ul>
    <li><a href="https://en.cppreference.com/w/cpp/string/basic_string">
        std::basic_string</a> (cppreference.com)</li>
    <li><a href="https://cpp-lang.net/docs/std/containers/strings/string/">
      std::string reference</a> (cpp-lang.net)</li>
  </ul>


</section>
{% endblock %}
