{% extends "layouts/presentations/c_cpp_structs.njk" %}

{% set subtitle = 'C-Structs - Composite Data Types' %}


{% block date_struct %}
{% highlight extension %}
struct Date {
   int year;
   int month;
   int day;
};
Date d = { 2021, 12, 10 };
{% endhighlight %}
{% endblock %}


{% block date_struct_definition %}
{% highlight extension %}
Date d = { .year=2021, .month=12, .day=10 };
{% endhighlight %}
{% endblock %}
