{#
requires: C-arrays, C-strings, C-structs, pointers
#}

{% extends "layouts/presentations/c_cpp_cli.njk" %}


{% block libs %}
<section>
  <dl>
    <dt>argparse - Argument Parser for Modern C++</dt>
    <dd><a href="https://github.com/p-ranav/argparse">
      https://github.com/p-ranav/argparse</a></dd>
    <dd>Requires C++17 or newer</dd>
    <dd>Single header library</dd>
    <dd>MIT license</dd>
    <dd><kbd>sudo apt install libargparse-dev</kbd></dd>
  </dl>
</section>

<section>
  <dl>
    <dt>Boost Program Options</dt>
    <dd><a href="https://github.com/boostorg/program_options">
      https://github.com/boostorg/program_options</a></dd>
    <dd><a href="https://www.boost.org/doc/libs/1_85_0/doc/html/program_options.html">
      Chapter 29. Boost.Program_options</a></dd>
    <dd>BSL-1.0 license</dd>
    <dd>Requires linking (some) Boost C++ Libraries</dd>
    <dd><kbd>sudo apt install libboost-program-options1.83-dev</kbd></dd>
  </dl>
</section>

<section>
  <dl>
    <dt><code>cxxopts</code></dt>
    <dd><a href="https://github.com/jarro2783/cxxopts">
      https://github.com/jarro2783/cxxopts</a></dd>
    <dd>MIT license</dd>
    <dd><kbd>sudo apt install libcxxopts-dev</kbd></dd>
  </dl>
</section>

{% endblock %}
