{% extends "layouts/presentations/c_cpp_enums.njk" %}
{% set enum = "" %}  {# `enum` keyword can be dropped in C++ when using type #}

{% block scoped_enums %}

<section>
  <h2>C++ Scoped Enums</h2>
  <p>Scoped enums (since C++11) address many of the prior limitations</p>
  <ul>
    <li>Cannot be converted to integers implicitly</li>
    <li>May always be forward declared
      (default underlying type is <code>int</code>)</li>
    <li>Offer stronger type safety</li>
    <li>Compiler prohibits comparison of unrelated constants</li>
  </ul>

{% highlight extension + ' 0,6'%}
enum class Name {
  first_choice = <integral constant>,  // assignment is optional; default is 0
  second_choice,  // value is previous value + 1
  ...
  nth_choice,
};
Name variable = Name::second_choice;
{% endhighlight %}

  <p class="fragment">The same value can still be assigned to different
    constants within a scoped enum
  </p>
</section>


<section>
  <h2>Example: Working With Scoped Enums</h2>
  <p><code>operator<<</code> cannot be directly used without overloading</p>
{% highlight extension + ' 11,31,32' %}
{% include source_path + 'scoped_enum.' + extension %}
{% endhighlight %}
{# TODO: replace once pythontutor supports C++23 #}
{% download data_path + 'scoped_enum.' + extension %}
</section>

{% endblock %}  {# scoped_enums #}
