{% extends "layouts/presentations/c_cpp_file_io.njk" %}


{% block api %}
  <p>All required functions are provided by <code>&lt;fstream&gt;</code>.</p>
{% highlight "cpp" %}
// output file stream, alt. `ifstream`, `fstream`
std::ofstream fs{filepath [, mode]};
{% endhighlight %}
  <div class="fragment">
    <p>File streams have a considerable API, partially inherited<br />
      from multiple base classes; e.g.</p>
{% highlight "cpp" %}
operator bool;  // `true` if the stream has no errors, `false` otherwise
operator!;  // `true` if an error has occurred, `false` otherwise
operator<<;  // insert data into the stream
operator>>;  // extract values from an input stream
write(const char_type* s, std::streamsize count);  // insert binary data
read(char_type* s, std::streamsize count);  // read binary data

std::getline(std::ifstream ifs, std::string s);  // Defined in `<string>`
{% endhighlight %}
  </div>

  <p class="fragment">
    <code>operator bool</code> or <code>operator!</code> can be used to check
      if opening a file succeeded.<br />
    </p>
{% endblock %}

