{% extends "layouts/presentations/c_cpp_free_store.njk" %}


{% block language_specific %}
<section>
  <h2>Syntax</h2>
  <dl>
    <dt><code>new</code></dt>
    <dd>operator to reserve (allocate) memory on the free store</dd>
    <dt><code>delete</code></dt>
    <dd>operator to free (deallocate) memory from the free store</dd>
  <div class="fragment">
    <dt><code>new[]</code></dt>
    <dd>allocate all storage required for an array</dd>
    <dt><code>delete[]</code></dt>
    <dd>deallocate all storage reserved for an array</dd>
  </div>
  </dl>

  <p>
    <div class="fragment">
{% highlight extension %}
Type* var_name = new Type;  // allocate memory and store pointer in `var_name`
delete var_name;  // free memory
{% endhighlight %}
    </div>
    <div class="fragment">
{% highlight extension %}
Type* array_name = new Type[num_elements];  // allocate memory
delete[] array_name;
{% endhighlight %}
    </div>
  </p>
</section>


<section>
  <h2>Working with the Free Store (Heap)</h2>
  <p>Determine array size at runtime</p>
{% highlight extension + ' 1' %}
const int size = 1234;  // any value determined at runtime
int array[size];
{% endhighlight %}

  <div class="fragment">
    <p>Unfortunately, the above only works for C99 capable compilers<br />
      ISO C++ does not support this (although some compilers do)</p>
{% highlight extension + ' 1,3' %}
const int size = 1234;  // any value determined at runtime
int* array = new int[size];
// use the array ...
delete[] array;
{% endhighlight %}
  </div>

  <p class="fragment">
    No need to check if <code>array == nullptr</code> when the allocation
    fails.<br />
    C++ would throw an exception in that case.
  </p>
</section>
{% endblock %}  {# language_specific #}

{# smart pointers! #}
