{% extends "layouts/presentations/c_cpp_function_pointers.njk" %}


{% block call_fp_example %}
// `*` is not required
std::cout << "The sum of 2 + 3 is " << (*sum_ptr)(2, 3) << "." << std::endl;
std::cout << "The sum of 2 + 3 is " << (sum_ptr)(2, 3) << "." << std::endl;
std::cout << "The sum of 2 + 3 is " << sum_ptr(2, 3) << "." << std::endl;
{% endblock %}


{% block int_array_example %}
struct IntArray;
struct IntArray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;

  void (*push_back)(IntArray* self, int elem);
  int (*sum)(const IntArray* self);
  int (*count)(const IntArray* self, int elem);
  IntArray* (*destruct)(IntArray* self);
};
IntArray* construct();
{% endblock %}
