---
title: Programming in C++
subtitle: Operator Overloading
layout: layouts/presentation.njk

required: templates

CoreCpp: https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#
---

<section>
  <h2>Purpose of Operator Overloading</h2>
  <section>
    <p>Use the built-in C++ operators on own types.</p>
    <p class="fragment">Allow using C++ operators on existing types that do
      not support them natively.</p>
  </section>

  {% include "slides/cpp_operator_overloading_conventions.njk" %}
</section>

<section>
  <h2>Using Pythonic Syntax in C++</h2>
  <section>
    <p>Concatenate two lists in Python</p>
{% highlight "python 2,3" %}
l1 = [1, 2, 3, 4, 5, 6]  # or `list(range(1, 7))`
l2 = [1, 1, 1, 1, 1, 4]  # or `[1] * 5 + [4]`
l3 = l1 + l2
print(l3)
{% endhighlight %}
    <p class="fragment">Without operator overloading, this syntax is not possible in C++.</p>
  </section>

  <section>
    <p>Without operator overloading, the following does not work.</p>
{% highlight "cpp 6,7" %}
#include <iostream>
#include <vector>

int main(void) {
  std::vector<int> v1{1, 2, 3, 4, 5, 6};
  std::vector<int> v2(5, 1); v2.push_back(4);  // {1, 1, 1, 1, 1, 4}
  std::vector<int> v3 = v1 + v2;  // compiler problem
  std::cout << v3 << std::endl;  // compiler problem
}
{% endhighlight %}
  </section>

  <section>
    <h3>Solution, Part 1: Overload the <code>+</code> Operator</h3>
{% highlight "cpp 1" %}
using std::vector;
vector<int> operator+(const vector<int>& v1, const vector<int>& v2) {
  vector<int> v;
  v.insert(end(v), begin(v1), end(v1));
  v.insert(end(v), begin(v2), end(v2));
  return v;
}
{% endhighlight %}
  </section>

  <section>
    <h3>Solution, Part 1: Overload the <code>+</code> Operator</h3>
    <p>Better to write generic code.</p>
{% highlight "cpp 1-3" %}
using std::vector;
template <class Type>
vector<Type> operator+(const vector<Type>& v1, const vector<Type>& v2) {
  vector<Type> v;
  v.insert(end(v), begin(v1), end(v1));
  v.insert(end(v), begin(v2), end(v2));
  return v;
}
{% endhighlight %}
  </section>

  <section>
    <h3>Solution, Part 2: Overload the <code><<</code> Operator</h3>
{% highlight "cpp 1" %}
template <class Type>
ostream& operator<<(ostream& out, const vector<Type>& v) {
  out << '[';
  for (const auto& e: v) {
    out << e << ", ";
  }
  out << "\b\b]"; // two backspace characters to overwrite final ", "
  return out;
}
{% endhighlight %}
  </section>

  <section>
    <h3>Complete Solution</h3>
{% highlight "cpp 9,17,30-33" %}
{% include "source/cpp/operator_overloading.cpp" %}
{% endhighlight %}
    <p><a href="/data/cpp/operator_overloading.cpp">operator_overloading.cpp</a></p>
  </section>
</section>

{% include 'slides/closing.njk' %}

