{% extends "layouts/presentations/c_cpp_pointers.njk" %}


{% block use_references %}
  <section>
    <h3>Reference to Struct</h3>
    <p>However, in C++ it is recommended to use references in this situation.
    </p>
{% highlight extension + ' 4,5' %}
{% include source_path + 'reference.' + extension %}
{% endhighlight %}
{% include_code source_path + 'reference.' + extension %}
  </section>
{% endblock %}
