{% extends "layouts/presentations/unit_testing.njk" %}

{% set title = "Programming in C++" %}
{% set subtitle = "Unit Testing with Catch2" %}

{% set framework_path = "catch2/" %}


{% block framework %}
  <p class="fragment">At the time of this writing,
    <a href="https://www.boost.org/doc/libs/release/libs/test/">Boost Test</a>,
    <a href="https://github.com/catchorg/Catch2">Catch2</a>
    and
    <a href="https://google.github.io/googletest/">GoogleTest</a>
    stand out in terms of quality and features.
  </p>
{% endblock %}

{% block run_tests_before %}
Download <a href="{{ data_path }}{{ framework_path }}catch_amalgamated.cpp">
  catch_amalgamated.cpp</a> and
<a href="{{ data_path }}{{ framework_path }}catch_amalgamated.hpp">
   catch_amalgamated.hpp</a>
{% highlight "shell" %}
{{ compiler }} --std=c++17 before_refactoring.cpp \
  sum_to_test.cpp catch_amalgamated.cpp -o run_tests
./run_tests # does not terminate; interrupt via [Ctrl]+[C]
{% endhighlight %}
<p>What to do?</p>
<div class="fragment">
{% highlight "shell" %}
./run_tests --help
./run_tests --list-tests  # list all available tests
./run_tests [sum_to]  # or ./run_tests "sum_to must calculate correctly"
./run_tests [sum_to] --section "corner cases"
{% endhighlight %}
</div>
{% endblock %}

{% block run_tests_after %}
<p>
{% download data_path + "after_refactoring." + extension %}
</p>
{% highlight "shell" %}
{{ compiler }} --std=c++17 after_refactoring.cpp \
  sum_to_test.cpp catch_amalgamated.cpp -o run_tests
./run_tests
{% endhighlight %}
{% endblock %}


{% block about_framework %}
<section>
  <h2>Catch2</h2>

  <section>
    <h3>Amalgamated Version in Version 3</h3>
    <p>The "old" way of using Catch2 requires no installation at all</p>
    <p>Include a single header, compile a single C++ file and link that file</p>
{% highlight "shell" %}
{{ compiler }} -c --std=c++17 catch_amalgamated.cpp  # compile Catch2 once
{{ compiler }} -c --std=c++17 source_file.cpp
{{ compiler }} -c --std=c++17 source_file_test.cpp
# link amalgamated version of Catch2
{{ compiler }} -o your_test catch_amalgamated.o source_file.o source_file_test.o
{% endhighlight %}
    <p>This obviously works with any build system.</p>
  </section>

  <section>
    <h3>Recommended Usage</h3>
    <p>Since version 3 of Catch2, the library consists of many different files
    </p>
    <p>Only inlcude what you need and use <code>cmake</code> to compile your
      tests</p>
{% highlight extension + " 1" %}
{% include source_path + framework_path + "v3_test." + extension %}
{% endhighlight %}
{% download data_path + framework_path + "v3_test." + extension %}
  </section>

  <section>
    <h3>Recommended Usage</h3>
    <p><code>cmake</code> automatically downloads Catch2 to your
      project when needed</p>
{% highlight "cmake 4-10,12" %}
{% include source_path + framework_path + "CMakeLists_without_ctest.txt" %}
{% endhighlight %}
  </section>

  <section>
    <h3>Recommended Usage</h3>
    <p><code>cmake</code> can be configured to make tests runnable via
      <code>make test</code> or <code>ctest</code></p>
{% highlight "cmake 4,14" %}
{% include source_path + framework_path + "CMakeLists.txt" %}
{% endhighlight %}
{% download data_path + framework_path + "CMakeLists.txt" %}
  </section>

  <section>
    <h3>Documentation</h3>
  <p>Comprehensive documentation can be found in
    <a href="https://github.com/catchorg/Catch2/tree/devel/docs">Catch2's
      reference documentation</a>.
  </p>
  <p>The provided
    <a href="https://github.com/catchorg/Catch2/tree/devel/examples">
      examples</a> are helpful when getting started.
  </p>
  </section>

</section>
{% endblock %}
