---
layout: layouts/test.njk
class: 5ABELI + 5ACELI
group: A
subject: FSST
date: 2022-12-15
points: [10, 15, 10, 7, 8]
grading: "Benotung: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---
<ol>
  <li>Linux Administration<br />
    <ol>
      <li>
        Für die folgenden Befehle ist es notwendig, Kommandos mit erhöhten
        Privilegien (Administrationsrechten) auszuführen. Nenne mindestens zwei
        Möglichkeiten dafür? (2 Punkte)
{% answer %}
<kbd>sudo $COMMAND</kbd> oder <kbd>su</kbd> und nach Authentifizierung die
Kommandos eingeben.
{% endanswer %}
      </li>
      <li>Mit welchen Befehl kann man auf der Kommandozeile unter Debian Linux
        den <code>kate</code> Editor installieren? (2 Punkte)
{% answer %}
sudo apt install kate
{% endanswer %}
      </li>
      <li>Aktualisiere die Liste der Paketquellen unter Debian Linux.
        Danach aktualisiere alle auf dem System vorhandenen Programme, sofern
        es für das System installierbare Aktualisierungen gibt. (4 Punkte)
{% answer %}
{% highlight "bash" %}
sudo apt update
sudo apt upgrade
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Erstelle einen neuen User mit dem Benutzernamen <code>chris</code>
        (2 Punkte)
{% answer %}
sudo adduser chris
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Linux Kommandozeile
    <ol>
      <li>Die gerade angemeldete Linux Anwenderin <code>chris</code> befindet
        sich derzeit im Verzeichnis <code>/var/log/</code>.
        Welche Befehle muss sie eingeben, um in ihr home Verzeichnis zu
        wechseln? (1 Punkt)
{% answer %}
<code>cd</code>
{% endanswer %}
      </li>

      <li>
        Erstelle folgende Verzeichnisbaum.
        (4 Punkte)<br />
<pre>
└── repos
    ├── fyp
    ├── fsst
    └── config
</pre>
{% answer %}
{% highlight "bash" %}
mkdir -p ~/repos/fyp ~/repos/fsst ~/repos/config
{% endhighlight %}
{% endanswer %}
      </li>

      <li>
        Die Benutzerin möchte, dass ihr Verzeichnis
        <code>~/homework_3/</code> in das Verzeichnis
        <code>~/repos/fsst/</code> verschoben wird.
        (3 Punkte)
{% answer %}
{% highlight "bash" %}
mv ~/homework_3 ~/repos/fsst
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Weiters soll das Verzeichnis <code>~/old/</code> mit seinem gesamten
        Inhalt gelöscht werden.
        (2 Punkte)
{% answer %}
{% highlight "bash" %}
rm -r ~/old
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Erstelle das ausführbare Programm <code>hw3</code> aus der Datei
        <code>hw3.c</code>. Der Terminal befindet sich bereits
        im richtigen Verzeichnis. (3 Punkte)
{% answer %}
{% highlight "bash" %}
clang -o hw3 hw3.c
{% endhighlight %}
{% endanswer %}
      </li>

      <li>
        Die erstellte Backupdatei <code>hw3.c~</code> ist zu löschen. (1 Punkt)
{% answer %}
{% highlight "bash" %}
rm hw3.c~
{% endhighlight %}
{% endanswer %}
      </li>

      <li>
        Abschließend starte das frisch kompilierte Program. (1 Punkt)
{% answer %}
{% highlight "bash" %}
./hw3
{% endhighlight %}
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main(.)</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden. (je 2 Punkte)
    <ol>
      <li>
{% highlight "c" %}
typedef struct { int x; int y; } Point;
Point test = {3, 7};
printf("[%d %d]\n", test.x, test.y);
{% endhighlight %}
{% answer %}
[3 7]
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int a = 10;
int* p = &a;
int** pp = &p;
**pp /= **pp;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
1
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int array[] = {2, 2, 2, 2};
int* array_ptr = array;
int count = sizeof(array) / sizeof(int);
int value = 1;
while (count--) {
  value *= *array_ptr++;
}
printf("%d\n", value);
{% endhighlight %}
{% answer %}
16
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
typedef struct node Node;
struct node {int value; Node *next;};
Node* node = (Node*) malloc(sizeof(Node));
node->value = 123; node->next=NULL;
Node* head = (Node*) malloc(sizeof(Node));
head->value = 100; head->next=node;
printf("%d\n", head->next->value);
{% endhighlight %}
{% answer %}
123
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char s[] = "Hello";
char* p = s;
while (*p) {
  *p = toupper(*p);
  ++p;
}
puts(s);
{% endhighlight %}
{% answer %}
HELLO
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Implementiere eine Funktion<br />
    <code>int max_of_four(int a, int b, int c, int d)</code>
    in C. Die Funktion soll die größte der vier Zahlen retournieren.
    Um dies zu vereinfachen, implementiere auch eine Funktion
    <code>int max(int a, int b)</code>, welche das Maximum von zwei Zahlen
    zurück gibt und von <code>max_of_four(.)</code> verwendet werden muss.
    (7 Punkte)
{% answer %}
    <div class="grading">
    2 Punkte für die korrekten Funktionsnamen und die korrekte Signatur<br />
    2 Punkte für die richtige Implementierung von
      <code>max(int a, int b)</code><br />
    3 Punkte für die richtige Implementierung von
      <code>max_of_four</code><br />
    </div>
{% highlight "cpp" %}
int max(int a, int b) {
    if (a > b) return a;
    return b;
}

int max_of_four(int a, int b, int c, int d) {
    return max(a, max(b, max(c, d)));
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Implementiere eine Funktion
    <code>int* range(size_t count)</code> welche einen Pointer zu einem Array
    mit den Zahlen von 0 bis <code>count - 1</code> zurück gibt. Zum Beipiel
    retourniert <code>range(4)</code> einen Pointer zu einem Array mit den
    Werten <code>{0, 1, 2, 3}</code>.
    Falls das Reservieren des Speichers fehlschlägt, ist das auf
    <code>stdout</code> oder <code>stderr</code> auszugeben.
    (8 Punkte)
{% answer %}
    <div class="grading">
    1 Punkte für die korrekte Funktionssignatur<br />
    2 Punkte für das reservieren des Speichers<br />
    2 Punkt für Fehlermeldung inkl. der notwendigen Abfrage<br />
    2 Punkte für richtige setzen der Werte<br />
    1 Punkt für den return value<br />
    </div>
{% highlight "cpp" %}
int* range(size_t count) {
  int* a = (int*) malloc(count * sizeof(int));
  if (a == NULL) {
    fprintf(stderr, "Error: could not allocate memory.\n");
  }
  for (size_t i = 0; i < count; ++i) {
    a[i] = i;
  }
  return a;
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
