---
layout: layouts/test.njk
class: 5ABELI + 5ACELI
group: A
subject: FSST
date: 2023-11-20
points: [30, 20]
grading: "Benotung: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---
<ol>
  <li>Linux Kommandozeile<br />
    <ol>
      <li>Um den Rest des Tests zu erledigen, muss man sich zuerst mit dem
        für den Test individuell bereitgestellten User auf sandbox.bulme.at
        einloggen. (5 Punkte)
      </li>
      <li>
        Im Home Verzeichnis befindet sich ein Verzeichnis `old_data` mit alten
        Daten. Dieses Verzeichnis ist inklusive aller Daten zu entfernen.
        (5 Punkte)
{% answer %}
{% highlight "bash" %}
rm -r ~/old_data
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Im Home Verzeichnis befindet sich außerdem ein Verzeichnis
        `repositories`. Dieses Verzeichnis ist auf den Namen `repos`
        umzubenennen. (5 Punkte)
{% answer %}
{% highlight "bash" %}
mv ~/repositories ~/repos
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Es ist ein neues Verzeichnis für Web Inhalte zu erstellen. Der Name
        des Verzeichnisses ist so zu wählen, dass Inhalte automatisch unter
        sandbox.bulme.at/~username/ sichtbar werden. (5 Punkte)
{% answer %}
{% highlight "bash" %}
mkdir ~/public_html
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Die Rechte von dem neu erstellten Verzeichnis sind so zu ändern,
        dass auch der Web Server die darin enthaltenen Dateien und
        Unterverzeichnisse lesen und anzeigen kann.
        (5 Punkte)
{% answer %}
{% highlight "bash" %}
chmod o+rx ~/public_html
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Im Web-Verzeichnis ist eine Datei <code>index.html</code> so
        anzulegen, damit sie auch vom Webserver gelesen werden kann.
        (5 Punkte)
{% answer %}
{% highlight "bash" %}
touch ~/public_html/index.html
{% endhighlight %}
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Web
    <ol>
      <li>Die eben erstellte Datei ist so zu editieren, dass beim Anzeigen in
        Webbrowsern in der Titelleiste "FSST Rocks" zu lesen ist. (5 Punkt)
{% answer %}
  Im <code>head</code>
{% highlight "html" %}
<title>FSST Rocks</title>
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Es ist eine große Überschrift "FSST Rocks" anzuzeigen.
        (5 Punkte)<br />
{% answer %}
Am Anfang des <code>body</code>
{% highlight "html" %}
<h1>FSST Rocks</h1>
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Es ist ein kleines Formular (2 Punkte) hinzuzufügen.
        In dem Formular sind
        ein Texteingabefeld zur Eingabe eines Vornamen mit zugeordnetem Label
        (5 Punkte) und ein
        <code>submit</code> Knopf (3 Punkte) einzufügen.
{% answer %}

{% highlight "html" %}
<form>
<p>
  <label for="firstname">First name:</label>
  <input type="text" id="firstname" name="firstname" />
</p>
<p>
  <input type="submit" value="submit">
</p>
</form>
{% endhighlight %}
{% endanswer %}
      </li>
</ol>
