---
layout: layouts/test.njk
class: 5ABELI + 5ACELI
group: B
subject: FSST
date: 2024-01-29
points: [25, 25]
grading: "Benotung: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---
<ol>
  <li>Linux Kommandozeile<br />
    <ol>
      <li>Um den Rest des Tests zu erledigen, muss man sich zuerst mit dem
        für den Test individuell bereitgestellten User auf sandbox.bulme.at
        einloggen. (5 Punkte)
      </li>
      <li>
        Im Home Verzeichnis befindet sich ein Verzeichnis `delme` mit alten
        Daten. Dieses Verzeichnis ist inklusive aller Daten zu entfernen.
        (5 Punkte)
{% answer %}
{% highlight "bash" %}
rm -r ~/delme
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Es ist ein neues Verzeichnis für Web Inhalte zu erstellen. Der Name
        des Verzeichnisses ist so zu wählen, dass Inhalte automatisch unter
        <kbd>https://sandbox.bulme.at/~username</kbd> sichtbar werden.
        (5 Punkte)
{% answer %}
{% highlight "bash" %}
mkdir ~/public_html
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Die Rechte des Home Verzeichnisses und ggf. auch von dem neu
        erstellten Verzeichnis sind so zu anzupassen,
        dass der Web Server auf die für ihn vorgesehenen Dateien und
        Unterverzeichnisse zugreifen kann. Dabei dürfen nicht mehr als die
        notwendigen Rechte vergeben werden.
        (5 Punkte)
{% answer %}
    <div class="grading">
      3 points for home having o:--x<br />
      1 points for public_html (still) having o:r-x<br />
      1 point if there is no other permission quirks
    </div>
{% highlight "bash" %}
chmod o+x ~
chmod o+rx ~/public_html
{% endhighlight %}
{% endanswer %}
      </li>
      <li>Im Web-Verzeichnis ist eine Datei anzulegen, die bei Zugriff auf
        <kbd>https://sandbox.bulme.at/~username</kbd> automatisch angezeigt
        wird.
        (5 Punkte)
{% answer %}
{% highlight "bash" %}
touch ~/public_html/index.html
{% endhighlight %}
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Web
    <ol>
      <li>Es ist eine große Überschrift "I Love Programming!" anzuzeigen.
        (5 Punkte)<br />
{% answer %}
Am Anfang des <code>body</code>
{% highlight "html" %}
<h1>I Love Programming!</h1>
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Es ist ein kleines Formular (2 Punkte) hinzuzufügen.
        In dem Formular sind
        drei Optionsfelder mit den Werten "Linux", "OS X" und "Windows"
        und dem vorgestellten Text "Betriebssystem" optisch ansprechend
        untereinander anzuzeigen (5 Punkte).
        Beim Klick auf den jeweiligen Optionstext ist die
        betreffende Option auszuwählen (3 Punkte).

<div style="margin-top: 1em;">
<form style="font-size: 70%;">
  <p>Betriebssystem:</p>

  <p>
    <input type="radio" id="linux" name="os" value="linux" checked />
    <label for="linux">Linux</label>
  </p>

  <p>
    <input type="radio" id="osx" name="os" value="osx" />
    <label for="osx">OS X</label>
  </p>

  <p>
    <input type="radio" id="windows" name="os" value="windows" />
    <label for="windows">Windows</label>
  </p>
</form>
</div>

<div class="noprint">
{% answer %}
{% highlight "html" %}
<form>
  <p>Betriebssystem:</p>
  <p>
    <input type="radio" id="linux" name="os" value="linux" checked />
    <label for="linux">Linux</label>
  </p>
  <p>
    <input type="radio" id="osx" name="os" value="osx" />
    <label for="osx">OS X</label>
  </p>
  <p>
    <input type="radio" id="windows" name="os" value="windows" />
    <label for="windows">Windows</label>
  </p>
</form>
{% endhighlight %}
{% endanswer %}
</div>
      </li>

      <li>Das Design der Seite ist so zu ändern, dass der gesamte
        Hintergrund in einem zarten hellgrau dargestellt wird. (5 Punkte)

{% answer %}
Im &lt;head&gt;
{% highlight "html" %}
<style>
html {
  background-color: #ddd;
}
</style>
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Weiters ist die Schriftart innerhalb des Formulars in einer
        Festbreitenschrift (monospace) darzustellen. (5 Punkte)
{% answer %}
Ebenfalls im <code>style</code> Tag

<style>
form {
  font-family: 'Fira Code', monospace;
}
</style>

{% highlight "css" %}
form {
  font-family: 'Fira Code', monospace;
}
{% endhighlight %}
{% endanswer %}
      </li>
</ol>
