---
layout: layouts/test.njk
class: 4BHEL
group: A
subject: KSN
date: 2024-04-09
points: [12, 12, 12, 36, 28]
grading: "Grading: >= 88: 1, >=76: 2, >=64 : 3, >=51: 4, <=50: 5"
---

<p>Requires
  <a href="../../../../cheat_sheets/header_tables/">header tables</a>!</p>


<ol>
  <li><strong>Internet Protocol Suite (TCP/IP)</strong><br />
    <ol>
      <li>

        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'An IPv6 address has 4 bytes (octets).', 'no' %}
{% yes_no_question '<kbd>ping</kbd> sends ICMP ECHO_REQUEST to network hosts.',
  'yes' %}
{% yes_no_question 'TCP and UDP are ip layer protocols.', 'no' %}
{% yes_no_question 'QUIC is an application layer protocol.',
  'no' %}
{% yes_no_question 'Wireshark can be used to interpret hex dumps of network
  traffic.', 'yes' %}
{% yes_no_question 'Port numbers identify sending and receiving application
  end-points on a host.', 'yes' %}
        {% endYesNoTable %}
      </li>

      <li>
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'Postel\'s law states: "Be liberal in what you accept,
  and conservative in what you send".', 'yes' %}
{% yes_no_question 'SSH allows remote logins to other computers.',
  'yes' %}
{% yes_no_question 'SSH uses port 80.', 'no' %}
{% yes_no_question 'Application layer protocols provide process-to-process
  communications across an Internet Protocol (IP) computer network',
  'yes' %}
{% yes_no_question 'HTTPS uses port 465 as default.',
  'no' %}
{% yes_no_question 'Users should generally prefer HTTP over HTTPS.',
  'no' %}
        {% endYesNoTable %}
      </li>
    </ol>
  </li>

  <li><strong>Wireshark</strong>
    The following hex dump is from an echo request
    from computer A to computer B. It shows an ethernet frame from the beginning
    that is cut off before the end. Answer the following questions / fill out
    the appropriate values using this hex dump and the
    relevant header tables.

<pre>
0000   9c b6 54 0b e5 5b c8 94 02 f8 a6 1d 08 00 45 00
0010   00 54 b1 25 40 00 40 01 74 45 0a 00 00 ba 0a 00
0020   00 85 08 00 40 cb 95 9a 00 17 78 35 14 66 00 00
0030   00 00 cd 14 09 00 00 00 00 00 10 11 12 13 14 15
0040   16 17 18 19 1a 1b 1c 1d 1e 1f 20 21 22 23 24 25
0050   26 27 28 29 2a 2b 2c 2d 2e 2f 30 31 32 33 34 35
0060   36 37
</pre>

    <ol>
      <li><div class="grading">4 points each</div>
        <ul>
          <li>Next node's MAC address:</li>
          <li>Computer A's MAC address:</li>
          <li>EtherType (in hex):</li>
        </ul>
{% answer %}
        <ul>
          <li>Next node's MAC address: <code>9c:b6:54:0b:e5:5b</code></li>
          <li>Computer A's MAC address: <code>c8:94:02:f8:a6:1d</code></li>
          <li>EtherType (in hex): <code>0x0800 (IPv4)</code></li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          4 points each except 8 points for each IP address
        </div>
        <ul>
          <li>Internet protocol version (decimal): <code></code></li>
          <li>Header length (bytes, decimal): <code></code></li>
          <li>Total length (bytes, decimal): <code></code></li>
          <li>Time to live (decimal): <code></code></li>
          <li>Protocol (text; <code>{1: ICMP, 6: TCP, 17: UDP}</code>): </li>
          <li>Source IP (dot-decimal notation): <code></code></li>
          <li>Destination IP (dot-decimal notation): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Internet protocol version (decimal): <code>4</code></li>
          <li>Header Length (bytes, decimal): <code>5 * 4 = 20</code>
          </li>
          <li>Total length (bytes, decimal): <code>84</code>
            (<code>0x054</code>)</li>
          <li>Time to live (decimal): <code>64</code> (<code>0x40</code>)</li>
          <li>Protocol (text): <code>ICMP</code> (<code>1</code>)</li>
          <li>Source IP: <code>10.0.0.186</code>
            (<code>0a 00 00 ba</code>)</li>
          <li>Destination IP: <code>10.0.0.133</code>
            (<code>0a 00 00 85</code>)</li>
        </ul>
{% endanswer %}
      </li>
      <li>The following hex dump is the TCP header of the Diffie-Hellman Key
        Exchange Init. Answer the following questions / fill out
        the appropriate values.
        <div class="grading">
          6/ 2/ 6/ 2/ 4/ 4/ 4 points
        </div>
<pre>
0000   d1 8a 00 16 ec 24 7f 93 8b f3 da 71 80 18 01 f5
0010   c0 3d 00 00 01 01 08 0a 89 e6 9f cc 54 a6 33 11
</pre>
        <ul>
          <li>Source port (decimal): <code></code></li>
          <li>Is the source port a well known port? If yes, which one?
            <code></code></li>
          <li>Destination port (decimal): <code></code></li>
          <li>Is the destination port a well known port? If yes, which one?
            <code></code></li>
          <li>Data offset (bytes, decimal): <code></code></li>
          <li>Checksum (hex): <code></code></li>
          <li>Reserved (binary): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Source port (decimal): <code>53642</code>
            (<code>0xd18a</code>)</li>
          <li>Is the source port a well known port? If yes, which protocol?
            <code>no</code></li>
          <li>Destination port (decimal): <code>22</code>
            (<code>0x0016</code>)</li>
          <li>Is the destination port a well known port? If yes, which protocol?
            SSH</li>
          <li>Data offset (bytes, decimal): <code>8 * 4 = 32</code></li>
          <li>Checksum (hex): <code>0xc03d</code></li>
          <li>Reserved (binary): <code>0b0000</code></li>

        </ul>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
