---
layout: layouts/test.njk
class: 4CHEL
group: C
subject: KSN
date: 2024-04-22
points: [12, 12, 12, 36, 28]
grading: "Grading: >= 88: 1, >=76: 2, >=64 : 3, >=51: 4, <=50: 5"
---

<p>Requires
  <a href="../../../../cheat_sheets/header_tables/">header tables</a>!</p>

<pre>
0000   9c b6 54 0b e5 5b d8 5e d3 68 34 a2 08 00 45 00
0010   01 9e f2 7f 40 00 22 06 32 4b 0a 00 00 a1 0a 00
0020   00 85 f0 00 00 50 ee 72 ab 24 36 98 94 3b 80 18
0030   01 f6 24 fa 00 00 01 01 08 0a 30 e8 f4 ea 19 6a
0040   2b 67 47 45 54 20 2f 20 48 54 54 50 2f 31 2e 31
0050   0d 0a 48 6f 73 74 3a 20 31 30 2e 30 2e 30 2e 31
0060   33 33 0d 0a 55 73 65 72 2d 41 67 65 6e 74 3a 20
</pre>

<ol>
  <li>
    <ol>
      <li>
    <strong>Internet Protocol Suite (TCP/IP)</strong><br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'A MAC address has 6 bytes (octets).', 'yes' %}
{% yes_no_question 'A MAC address is typically written as 6 pairs of two
  hexadecimal values, separated by colons (":").', 'yes' %}
{% yes_no_question 'An IPv4 address has 4 times 4 bytes, separated by
  dots (".").', 'no' %}
{% yes_no_question 'The most common transport layer application is ICMP.',
  'no' %}
{% yes_no_question 'Wireshark is a program to stream high quality video
  over IPv6.', 'no' %}
{% yes_no_question 'The address resolution protocol translates domain names
  to IP addresses.', 'no' %}
        {% endYesNoTable %}
      </li>

      <li>
    <strong>Application Layer</strong><br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'Postel\'s law states: "Be liberal in what you accept,
  and conservative in what you send".', 'yes' %}
{% yes_no_question 'HTTP, DNS and QUIC are application layer protocols.',
  'no' %}
{% yes_no_question 'SSH uses port 21.', 'no' %}
{% yes_no_question 'If an application layer protocol does not use encryption,
  it has to be considered insecure.',
  'yes' %}
{% yes_no_question 'HTTP and HTTPS use ports 80 and 663 as default ports.',
  'no' %}
{% yes_no_question 'A packet analyzer can run in user space.',
  'yes' %}
        {% endYesNoTable %}
      </li>
    </ol>
  </li>

  <li><strong>Wireshark</strong>
    The (partial) hex dump on the first page is from an HTTP GET request
    from computer A to server B. It shows an ethernet frame from the beginning
    that is cut off before the end. Answer the following questions / fill out
    the appropriate values using the hex dump on the first page and the
    relevant header tables.
    <ol>
      <li><div class="grading">4 points each</div>
        <ul>
          <li>Next node's MAC address:</li>
          <li>Computer A's MAC address:</li>
          <li>EtherType (in hex):</li>
        </ul>
{% answer %}
        <ul>
          <li>Next node's MAC address: <code>9c:b6:54:0b:e5:5b</code></li>
          <li>Computer A's MAC address: <code>d8:5e:d3:68:34:a2</code></li>
          <li>EtherType (in hex): <code>0x0800 (IPv4)</code></li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          4 points each except 8 points for each IP address
        </div>
        <ul>
          <li>Internet protocol version (decimal): <code></code></li>
          <li>Header length (number of bytes, decimal): <code></code></li>
          <li>Total length (bytes, decimal): <code></code></li>
          <li>Time to live (decimal): <code></code></li>
          <li>Protocol (text; <code>{1: ICMP, 6: TCP, 17: UDP}</code>): </li>
          <li>Source IP (dot-decimal notation): <code></code></li>
          <li>Destination IP (dot-decimal notation): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Internet protocol version (decimal): <code>4</code></li>
          <li>Header Length (number of bytes, decimal): <code>5 * 4 = 20</code>
          </li>
          <li>Total length (bytes, decimal): <code>414</code>
            (<code>0x019e</code>)</li>
          <li>Time to live (decimal): <code>34</code> (<code>0x22</code>)</li>
          <li>Protocol (text): <code>TCP</code> (<code>6</code>)</li>
          <li>Source IP: <code>10.0.0.161</code>
            (<code>0a 00 00 a1</code>)</li>
          <li>Destination IP: <code>10.0.0.133</code>
            (<code>0a 00 00 85</code>)</li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          6/ 2/ 6/ 2/ 4/ 4/ 4 points
        </div>
        <ul>
          <li>Source port (decimal): <code></code></li>
          <li>Is the source port a well known port? If yes, which one?
            <code></code></li>
          <li>Destination port (decimal): <code></code></li>
          <li>Is the destination port a well known port? If yes, which one?
            <code></code></li>
          <li>Data offset (number of bytes, decimal): <code></code></li>
          <li>Checksum (hex): <code></code></li>
          <li>Urgent Pointer (decimal): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Source port (decimal): <code>61440</code>
            (<code>0xf000</code>)</li>
          <li>Is the source port a well known port? If yes, which protocol?
            <code>no</code></li>
          <li>Destination port (decimal): <code>80</code>
            (<code>0x0050</code>)</li>
          <li>Is the destination port a well known port? If yes, which protocol?
            HTTP</li>
          <li>Data offset (number of bytes, decimal): <code>8 * 4 = 32</code></li>
          <li>Checksum (hex): <code>0x24fa</code></li>
          <li>Urgent Pointer (decimal): <code>0</code></li>

        </ul>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
