---
layout: layouts/test.njk
class: 4*HEL
group: B
subject: KSN
date: 2023-03-07
points: [12, 12, 12, 36, 28]
grading: "Grading: >= 88: 1, >=76: 2, >=64 : 3, >=51: 4, <=50: 5"
---

<p>Requires
  <a href="../../../../cheat_sheets/header_tables/">header tables</a>!</p>

<pre>
0000   c8 94 02 f8 a6 1d ec 3e b3 4d 71 2c 08 00 45 00
0010   0e 14 57 f8 40 00 3b 06 f6 87 97 65 41 45 0a 00
0020   00 ba 01 bb ad 3c d4 bc 92 90 c9 f7 1e 90 80 18
0030   01 32 f1 6a 00 00 01 01 08 0a 34 9c 2d 54 1d dd
0040   88 4c 17 03 03 0d db 60 29 f6 ea a0 3b a0 ae 85
0050   7f 24 55 ad 8e a1 73 61 b5 e8 3f c7 02 c6 b2 aa
0060   50 c5 c5 0c d1 94 46 74 1c 4b 3f 36 3a e1 ef 31
</pre>

<ol>
  <li>
    <ol>
      <li>
    <strong>Link Layer</strong><br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'In TCP/IP, the link layer is directly below the
  internet layer.', 'yes' %}
{% yes_no_question 'The MAC header is usually large compared to
  the encompassed data.', 'no' %}
{% yes_no_question 'Internet layer protocols transport network packets from the
  originating host across network boundaries.', 'yes' %}
{% yes_no_question 'A link protocol only works between adjacent network nodes
  of a network segment.', 'yes' %}
{% yes_no_question 'IPv4 is used for discovering MAC addresses.', 'no' %}
{% yes_no_question 'The EtherType indicates the size of the current header.',
  'no' %}
        {% endYesNoTable %}
      </li>

      <li>
    <strong>Transport Layer</strong><br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'In TCP/IP, the transport layer is directly below the
  application layer.', 'yes' %}
{% yes_no_question 'QUIC, TCP and UDP are transport layer protocols.', 'yes' %}
{% yes_no_question 'UDP is connection oriented.', 'no' %}
{% yes_no_question 'TCP and UDP use ip addresses to identify sending and
  receiving application end-points on a host.',
  'no' %}
{% yes_no_question 'Ports 465, 993 and 995 are well-known ports.', 'yes' %}
{% yes_no_question 'Port numbers are 16-bit unsigned integers.', 'yes' %}
        {% endYesNoTable %}
      </li>
    </ol>
  </li>

  <li><strong>Wireshark</strong>
    The (partial) hex dump on the first page is from an HTTP GET request
    from computer A to server B. It shows an ethernet frame from the beginning
    that is cut off before the end. Answer the following questions / fill out
    the appropriate values using the hex dump on the first page and the
    relevant header tables.
    <ol>
      <li><div class="grading">4 points each</div>
        <ul>
          <li>Next node's MAC address:</li>
          <li>Computer A's MAC address:</li>
          <li>EtherType (in hex):</li>
        </ul>
{% answer %}
        <ul>
          <li>Next node's MAC address: <code>c8:94:02:f8:a6:1d</code></li>
          <li>Computer A's MAC address: <code>ec:3e:b3:4d:71:2c</code></li>
          <li>EtherType (in hex): <code>0x0800 (IPv4)</code></li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          4 points each except 8 points for each IP address
        </div>
        <ul>
          <li>Internet protocol version (decimal): <code></code></li>
          <li>Header length (number of bytes, decimal): <code></code></li>
          <li>Total length (bytes, decimal): <code></code></li>
          <li>Time to live (decimal): <code></code></li>
          <li>Protocol (text; <code>{1: ICMP, 6: TCP, 17: UDP}</code>): </li>
          <li>Source IP (dot-decimal notation): <code></code></li>
          <li>Destination IP (dot-decimal notation): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Internet protocol version (decimal): <code>4</code></li>
          <li>Header Length (number of bytes, decimal): <code>5 * 4 = 20</code>
          </li>
          <li>Total length (bytes, decimal): <code>3604</code>
            (<code>0x0e14</code>)</li>
          <li>Time to live (decimal): <code>59</code> (<code>0x3b</code>)</li>
          <li>Protocol (text): <code>TCP</code> (<code>6</code>)</li>
          <li>Source IP: <code>151.101.65.69</code>
            (<code>97 65 41 45</code>)</li>
          <li>Destination IP: <code>10.0.0.186</code>
            (<code>0a 00 00 ba</code>)</li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          6/ 2/ 6/ 2/ 4/ 2/ 2/ 2/ 2 points
        </div>
        <ul>
          <li>Source port (decimal): <code></code></li>
          <li>Is the source port a well known port? If yes, which one?
            <code></code></li>
          <li>Destination port (decimal): <code></code></li>
          <li>Is the destination port a well known port? If yes, which one?
            <code></code></li>
          <li>Data offset (number of bytes, decimal): <code></code></li>
          <li>ACKnowledgement (true / false): <code></code></li>
          <li>PuSH (true / false): <code></code></li>
          <li>Syn (true / false): <code></code></li>
          <li>Fin (true / false): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Source port (decimal): <code>443</code>
            (<code>0x01bb</code>)</li>
          <li>Is the source port a well known port? If yes, which protocol?
            <code>HTTPS</code></li>
          <li>Destination port (decimal): <code>44348</code>
            (<code>0xad3c</code>)</li>
          <li>Is the destination port a well known port? If yes, which protocol?
            no</li>
          <li>Data offset (number of bytes, decimal): <code>8 * 4 = 32</code></li>
          <li>ACKnowledgement (true / false): <code>true</code></li>
          <li>PuSH (true / false): <code>true</code></li>
          <li>Syn (true / false): <code>false</code></li>
          <li>Fin (true / false): <code>false</code></li>
        </ul>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
