---
layout: layouts/test.njk
class: 4CHEL
group: D
subject: KSN
date: 2023-03-30
points: [12, 12, 12, 36, 28]
grading: "Grading: >= 88: 1, >=76: 2, >=64 : 3, >=51: 4, <=50: 5"
---

<p>Requires
  <a href="../../../../cheat_sheets/header_tables/">header tables</a>!</p>

<pre>
0000   64 e8 81 48 3e c0 c8 94 02 f8 a6 1d 08 00 45 00
0010   01 ae fc 2f 40 00 20 06 06 a8 ac 10 4e 33 c1 ab
0020   7a 83 ff ff 00 50 f4 3f 43 92 36 5d 4b c3 80 18
0030   01 f6 c3 0d 00 00 01 01 08 0a e1 6f 7c dc 85 3d
0040   04 f9 47 45 54 20 2f 7e 67 65 72 61 6c 64 2f 20
0050   48 54 54 50 2f 31 2e 31 0d 0a 48 6f 73 74 3a 20
0060   77 69 72 65 73 68 61 72 6b 2e 62 75 6c 6d 65 2e
</pre>

<ol>
  <li>
    <ol>
      <li>
    <strong>Internet Protocol Suite (TCP/IP)</strong><br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'An IPv4 address has 4 bytes (octets).', 'yes' %}
{% yes_no_question '<kbd>ping</kbd> is used to log in to remote hosts.', 'no' %}
{% yes_no_question 'TCP and UDP are application layer protocols.', 'no' %}
{% yes_no_question 'TCP is a connection oriented protocol.',
  'yes' %}
{% yes_no_question 'Wireshark is a network packet analyzer.', 'yes' %}
{% yes_no_question 'ARP is used to discover an IP address when given
  a mac address.', 'no' %}
        {% endYesNoTable %}
      </li>

      <li>
    <strong>Application Layer</strong><br />
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'Postel\'s law states: "Fiber-optic cables allow long
  distances to be spanned with few repeaters".', 'no' %}
{% yes_no_question 'HTTP, DNS and FTP are application layer protocols.',
  'yes' %}
{% yes_no_question 'SSH uses port 22.', 'yes' %}
{% yes_no_question 'SSH, HTTPS and SFTP use encryption.',
  'yes' %}
{% yes_no_question 'HTTP and HTTPS use ports 80 and 443 as default ports.',
  'yes' %}
{% yes_no_question 'A password sent over HTTP cannot be sniffed.',
  'no' %}
        {% endYesNoTable %}
      </li>
    </ol>
  </li>

  <li><strong>Wireshark</strong>
    The (partial) hex dump on the first page is from an HTTP GET request
    from computer A to server B. It shows an ethernet frame from the beginning
    that is cut off before the end. Answer the following questions / fill out
    the appropriate values using the hex dump on the first page and the
    relevant header tables.
    <ol>
      <li><div class="grading">4 points each</div>
        <ul>
          <li>Next node's MAC address:</li>
          <li>Computer A's MAC address:</li>
          <li>EtherType (in hex):</li>
        </ul>
{% answer %}
        <ul>
          <li>Next node's MAC address: <code>64:e8:81:48:3e:c0</code></li>
          <li>Computer A's MAC address: <code>c8:94:02:f8:a6:1d</code></li>
          <li>EtherType (in hex): <code>0x0800 (IPv4)</code></li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          4 points each except 8 points for each IP address
        </div>
        <ul>
          <li>Internet protocol version (decimal): <code></code></li>
          <li>Header length (number of bytes, decimal): <code></code></li>
          <li>Total length (bytes, decimal): <code></code></li>
          <li>Time to live (decimal): <code></code></li>
          <li>Protocol (text; <code>{1: ICMP, 6: TCP, 17: UDP}</code>): </li>
          <li>Source IP (dot-decimal notation): <code></code></li>
          <li>Destination IP (dot-decimal notation): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Internet protocol version (decimal): <code>4</code></li>
          <li>Header Length (number of bytes, decimal): <code>5 * 4 = 20</code>
          </li>
          <li>Total length (bytes, decimal): <code>430</code>
            (<code>0x01ae</code>)</li>
          <li>Time to live (decimal): <code>32</code> (<code>0x20</code>)</li>
          <li>Protocol (text): <code>TCP</code> (<code>6</code>)</li>
          <li>Source IP: <code>172.16.78.51</code>
            (<code>ac 10 4e 33</code>)</li>
          <li>Destination IP: <code>193.171.122.131</code>
            (<code>c1 ab 7a 83</code>)</li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          6/ 2/ 6/ 2/ 4/ 4/ 4 points
        </div>
        <ul>
          <li>Source port (decimal): <code></code></li>
          <li>Is the source port a well known port? If yes, which one?
            <code></code></li>
          <li>Destination port (decimal): <code></code></li>
          <li>Is the destination port a well known port? If yes, which one?
            <code></code></li>
          <li>Data offset (number of bytes, decimal): <code></code></li>
          <li>Checksum (hex): <code></code></li>
          <li>Reserved (binary): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Source port (decimal): <code>65535</code>
            (<code>0xffff</code>)</li>
          <li>Is the source port a well known port? If yes, which protocol?
            <code>no</code></li>
          <li>Destination port (decimal): <code>80</code>
            (<code>0x0050</code>)</li>
          <li>Is the destination port a well known port? If yes, which protocol?
            HTTP</li>
          <li>Data offset (number of bytes, decimal): <code>8 * 4 = 32</code></li>
          <li>Checksum (hex): <code>0xc30d</code></li>
          <li>Reserved (binary): <code>0b0000</code></li>

        </ul>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
