---
layout: layouts/test.njk
class: 4BHEL
group: B
subject: KSN
date: 2024-04-24
points: [12, 12, 12, 36, 28]
grading: "Grading: >= 88: 1, >=76: 2, >=64 : 3, >=51: 4, <=50: 5"
---

<p>Requires
  <a href="../../../../cheat_sheets/header_tables/">header tables</a>!</p>


<ol>
  <li><strong>Internet Protocol Suite (TCP/IP)</strong><br />
    <ol>
      <li>

        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'An IPv6 address has 16 bytes (octets).', 'yes' %}
{% yes_no_question '<kbd>ping</kbd> configures a network interface via DHCP.',
  'no' %}
{% yes_no_question 'TCP and UDP are application layer protocols.', 'no' %}
{% yes_no_question 'QUIC is a transport layer protocol.',
  'yes' %}
{% yes_no_question 'A packet sniffer consists of a package capture library
  and a packet analyzer.', 'yes' %}
{% yes_no_question 'Wireshark users can select from which interface to capture
  packets.', 'yes' %}
        {% endYesNoTable %}
      </li>

      <li>
        {% YesNoTable 6, '', 12 %}
{% yes_no_question 'Postel\'s law states: "Be liberal in what you deliver,
  and conservative in what you accept".', 'no' %}
{% yes_no_question 'HTTP allows remote shell access to other computers.',
  'no' %}
{% yes_no_question 'SSH uses port 22.', 'yes' %}
{% yes_no_question 'DNS, SMTP and SSH are application layer protocols.',
  'yes' %}
{% yes_no_question 'HTTPS uses port 443 as default.',
  'yes' %}
{% yes_no_question 'Users should generally prefer HTTPS over HTTP.',
  'yes' %}
        {% endYesNoTable %}
      </li>
    </ol>
  </li>

  <li><strong>Wireshark</strong>
    The following hex dump is from an http response
    from computer B to computer A. It shows an ethernet frame from the beginning
    that is cut off before the end. Answer the following questions / fill out
    the appropriate values using this hex dump and the
    relevant header tables.

<pre>
0000   00 e0 4c 68 07 c4 ec 3e b3 4d 71 2c 08 00 45 00
0010   00 ff 14 a6 40 00 33 06 b2 1c c3 32 b2 c8 0a 00
0020   00 3c 00 50 ca b4 1e 38 f5 a0 6e ea 98 1a 50 18
0030   01 12 c5 93 00 00 48 54 54 50 2f 31 2e 31 20 33
0040   30 31 20 4d 6f 76 65 64 20 50 65 72 6d 61 6e 65
0050   6e 74 6c 79 0d 0a 44 61 74 65 3a 20 53 75 6e 2c
0060   20 32 31 20 41 70 72 20 32 30 32 34 20 32 31 3a
</pre>

    <ol>
      <li><div class="grading">4 points each</div>
        <ul>
          <li>Next node's MAC address:</li>
          <li>Computer A's MAC address:</li>
          <li>EtherType (in hex):</li>
        </ul>
{% answer %}
        <ul>
          <li>Next node's MAC address: <code>00:e0:4c:68:07:c4</code></li>
          <li>Computer A's MAC address: <code>ec:3e:b3:4d:71:2c</code></li>
          <li>EtherType (in hex): <code>0x0800 (IPv4)</code></li>
        </ul>
{% endanswer %}
      </li>
      <li>
        <div class="grading">
          4 points each except 8 points for each IP address
        </div>
        <ul>
          <li>Internet protocol version (decimal): <code></code></li>
          <li>Header length (bytes, decimal): <code></code></li>
          <li>Total length (bytes, decimal): <code></code></li>
          <li>Time to live (decimal): <code></code></li>
          <li>Protocol (text; <code>{1: ICMP, 6: TCP, 17: UDP}</code>): </li>
          <li>Source IP (dot-decimal notation): <code></code></li>
          <li>Destination IP (dot-decimal notation): <code></code></li>
        </ul>
{% answer %}
        <ul>
          <li>Internet protocol version (decimal): <code>4</code></li>
          <li>Header Length (bytes, decimal): <code>5 * 4 = 20</code>
          </li>
          <li>Total length (bytes, decimal): <code>255</code>
            (<code>0x0ff</code>)</li>
          <li>Time to live (decimal): <code>51</code> (<code>0x33</code>)</li>
          <li>Protocol (text): <code>TCP</code> (<code>6</code>)</li>
          <li>Source IP: <code>195.50.178.200</code>
            (<code>c3 32 b2 c8</code>)</li>
          <li>Destination IP: <code>10.0.0.60</code>
            (<code>0a 00 00 3c</code>)</li>
        </ul>
{% endanswer %}
      </li>
      <li>The following hex dump is the TCP header.
        Answer the following questions / fill out the appropriate values.
        <div class="grading">
          4/ 4/ 4/ 4/ 4/ 4/ 4 points
        </div>
<pre>
0000   ca b4 00 50 6e ea 8e 1e 1e 38 f5 a0 50 18 01 f6
0010   8a 4d 00 00
</pre>
        <ul>
          <li>Source port (decimal): <code></code></li>
          <li>Destination port (decimal): <code></code></li>
          <li>Is the destination port a well known port? If yes, which one?
            <code></code></li>
          <li>Which type of program usually initiates such requests?</li>
          <li>Acknowledgment number (hex): <code></code></li>
          <li>Data offset (bytes, decimal): <code></code></li>
          <li>Is the payload (data) under normal circumstances encrypted?</li>
        </ul>
{% answer %}
        <ul>
          <li>Source port (decimal): <code>51892</code>
            (<code>0xcab4</code>)</li>
          <li>Destination port (decimal): <code>80</code>
            (<code>0x0050</code>)</li>
          <li>Is the destination port a well known port? If yes, which protocol?
            HTTP</li>
          <li>Which type of program usually initiates such requests?
            web browser</li>
          <li>Acknowledgment number (hex): <code>1e 38 f5 a0</code></li>
          <li>Data offset (bytes, decimal):
            <code>5 * 4 = 20</code></li>
          <li>Is the payload (data) under normal circumstances encrypted?
            no</li>

        </ul>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
