---
title: FSST Module 6
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST e6
  parent: FSST
  order: 9
---

This module is for students taking the sixth term of the electronics and
computer engineering Kolleg. It is likewise for night school students during
their eigth term.

{#
<h2 id="overview">Course Overview</h2>
<ul>
  <li><a href=""></a></li>
</ul>
#}

{#
<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href=""></a></li>
</ul>
#}

<h2 id="links">Links</h2>
{% include 'blocks/code_challenge_sites.njk' %}


<h2 id="curriculum">Content of the Curriculum (6th module)</h2>

<ul>
  <li>Embedded Programming
    <ul>
      <li>Solve complex programming assignments with appropriate
        programming languages</li>
    </ul>
  </li>
  <li>Operating Systems
    <ul>
      <li>Systems programming</li>
      <li>Implementation and use operating system components</li>
      <li>Processes and threads</li>
    </ul>
  </li>
  <li>Information Security
    <ul>
      <li>Legal foundation</li>
      <li>Data protection</li>
      <li>Cryptography</li>
      <li>Protection of information from unauthorized access, use,
        modification, or destruction</li>
      <li>Creating backups</li>
    </ul>
  </li>
</ul>
