<table class="header">
  <caption>
    <a href="https://en.wikipedia.org/wiki/Internet_Protocol_version_4#Packet_structure">
      IPv4 Packet Structure (Header + Payload)</a>
      (<a href="https://datatracker.ietf.org/doc/html/rfc791">RFC791</a>)</caption>
  <tbody>
    <tr>
      <th>Offset</th>
      <th>Byte</th>
      <th colspan="8">0</th>
      <th colspan="8">1</th>
      <th colspan="8">2</th>
      <th colspan="8">3</th></tr>
    <tr>
      <th>Byte</th>
      <th>Bit</th>
      <th>00</th><th>01</th><th>02</th><th>03</th><th>04</th><th>05</th><th>06</th><th>07</th>
      <th>08</th><th>09</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th>
      <th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th>
      <th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th>
    </tr>
    <tr>
      <th>0</th><th>0</th>
      <td colspan="4">Version</td>
      <td colspan="4" title="Internet Header Length in 32 bit words">IHL</td>
      <td colspan="6" title="Differentiated Services Code Point">DSCP</td>
      <td colspan="2" title="Explicit Congestion Notification">ECN</td>
      <td colspan="16" title = "[Bytes]">Total Length</td>
    </tr>
    <tr>
      <th>4</th><th>32</th>
      <td colspan="16">Identification</td>
      <td colspan="3">Flags</td>
      <td colspan="13">Fragment Offset</td>
    </tr>
    <tr>
      <th>8</th><th>64</th>
      <td colspan="8">Time To Live</td>
      <td colspan="8">
        <a href="https://datatracker.ietf.org/doc/html/rfc790"
            title="RFC 790, page 6">Protocol</a>
      </td>
      <td colspan="16">Header Checksum</td>
    </tr>
    <tr>
      <th>12</th><th>96</th>
      <td colspan="32">Source IP Address</td>
    </tr>
    <tr>
      <th>16</th><th>128</th>
      <td colspan="32">Destination IP Address</td>
    </tr>
    <tr>
      <th>20</th><th>160</th>
      <td colspan="32" rowspan="3">Options 0-40 bytes (if IHL > 5)<br>
      </td>
    </tr>
    <tr><th>⋮</th><th>⋮</th></tr>
    <tr><th>56</th><th>448</th></tr>
    <tr>
      <th></th><th></th>
      <td colspan="32">Data Payload<br />
        (in total $2^{16} = 65536$ bytes = 64 kB incl. header and options)<br>
      </td>
    </tr>
  </tbody>
</table>
