<table class="header">
  <caption>MAC (Media Access Control) Header</caption>
  <tbody>
    <tr>
      <th>Byte</th>
      <th>00</th>
      <th>01</th>
      <th>02</th>
      <th>03</th>
      <th>04</th>
      <th>05</th>
      <th>06</th>
      <th>07</th>
      <th>08</th>
      <th>09</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
    <tr>
    <tr>
      <th>0</th>
      <td colspan="6">Destination MAC address</td>
      <td colspan="6">Source MAC address</td>
      <td colspan="2">EtherType</td>
    </tr>
  </tbody>
</table>
