<table class="header">
  <caption>TCP segment header
    (<a href="https://datatracker.ietf.org/doc/html/rfc9293#name-header-format">RFC 9293</a>)
  </caption>
  <tbody>
    <tr>
      <th>Offset</th>
      <th>Byte</th>
      <th colspan="8">0</th>
      <th colspan="8">1</th>
      <th colspan="8">2</th>
      <th colspan="8">3</th></tr>
    <tr>
      <th>Byte</th>
      <th>Bit</th>
      <th>00</th><th>01</th><th>02</th><th>03</th><th>04</th><th>05</th><th>06</th><th>07</th>
      <th>08</th><th>09</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th>
      <th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th>
      <th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th>
    </tr>
    <tr>
      <th>0</th><th>0</th>
      <td colspan="16">Source port</td>
      <td colspan="16">Destination port</td>
    </tr>
    <tr>
      <th>4</th><th>32</th>
      <td colspan="32">Sequence number</td>
    </tr>
    <tr>
      <th>8</th><th>64</th>
      <td colspan="32">Acknowledgment number (if ACK set)</td>
    </tr>
    <tr>
      <th>12</th><th>96</th>
      <td colspan="4"
          title="Header Length (the number of 32-bit words in the TCP header)">
        Data offset</td>
      <td colspan="4">Reserved<br>0 0 0 0</td>
      <td><div class="vertical-lr"
                title="Congestion Window Reduced">CWR</div></td>
      <td><div class="vertical-lr" title="ECN-Echo">ECE</div></td>
      <td><div class="vertical-lr" title="Urgend">URG</div></td>
      <td><div class="vertical-lr" title="Acknowledgement">ACK</div></td>
      <td><div class="vertical-lr" title="Push">PSH</div></td>
      <td><div class="vertical-lr"
                title="Reset the connection">RST</div></td>
      <td><div class="vertical-lr"
                title="Synchronize sequence numbers">SYN</div></td>
      <td><div class="vertical-lr"
                title="Last packet from sender">FIN</div></td>
      <td colspan="16">Window size</td>
    </tr>
    <tr>
      <th>16</th><th>128</th>
      <td colspan="16">Checksum</td>
      <td colspan="16">Urgent pointer (if URG set)</td>
    </tr>
    <tr>
      <th>20</th><th>160</th>
      <td colspan="32" rowspan="3">Options (if data offset &gt; 5.
        Padded at the end with "0" bits if necessary.)<br>
      </td>
    </tr>
    <tr><th>⋮</th><th>⋮</th></tr>
    <tr><th>56</th><th>448</th></tr>
  </tbody>
</table>
