/*
Base styles for teaching support material.
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

body {
  padding: 5em 10em;
  margin: 0;
  background-color: rgba(49, 54, 57, 1);
  color: white;
  font-size: 100%;
  font-family: 'PT Serif', serif;;
  /* font-weight: bold; */
  vertical-align: baseline;
}

header {
  text-align: center;
}

header > h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 300%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* Hack to avoid overlapping content with the top menu bar. */
h2, h3, h4, h5, h6 {
  margin-top: -40px;
  padding-top: 42px;
}

kbd, code, pre {
  font-family: 'Fira Code', monospace;
}

a {
  color: white;
}

nav.subjects {
  text-align: center;
  margin: 3em auto;
  max-width: 1200px;
}

a.subject {
  display: inline-block;
  border-radius: 1em;
  width: 10em;
  height: 5em;
  text-align: center;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-width: 1px;
  background-color:rgba(255, 255, 255, 0.1);
  padding: 2em;
  margin: 1em;
  text-decoration: none;
  vertical-align: middle;
}

a.subject img {
  padding-top: 5%;
  display: inline-block;
  max-width: 100%;
}
a.subject:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 0 1px #27496d,0 2px 5px #193047
}
a.subject:active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 2px 30px #193047;
  transition: all ease 0.2s;
}
a.subject span {
  margin: 1ex;
  text-align: center;
  display: block;
}

.legal {
  font-size: 60%;
}

dl.grading > dt {
  float: left;
  clear: left;
  width: 15em;
  font-weight: bold;
}

nav.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(39, 64, 78);
}

nav.menu > ul {
  margin: 0;
  padding-left: 10em;
  padding-right: 10em;
  list-style-type: none;
  overflow: hidden;
}

nav.menu > ul > li {
  float: left;
  padding: 1ex 0;
}

nav.menu li > a {
  text-decoration: none;
  padding: 1ex 1.5em;
}

nav.menu li > a:hover {
  background-color: rgb(25, 50, 64);
}

/* Active element; make sure it is also marked active
   when being hovered. */
nav.menu li.active > a, nav.menu li.active > a:hover {
  color: white;
  background-color: #04AA6D;
}

/* Submenus */
nav.menu li.dropdown > ul {
  display: none;
  position: absolute;
  background-color: rgb(39, 64, 78);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 1ex;
  padding: 0;
}

nav.menu li.dropdown > ul li {
  padding: 1ex 0;
  text-decoration: none;
  list-style-type: none;
}

nav.menu li.dropdown:hover ul {
  display: block;
}

li.dropdown > a::after {
  content: "...";
}

/* Mark if an element of a submenu is active. */
/* Not supported in most current browsers yet */
nav.menu li.dropdown :has(.active) {
  border-bottom: #04AA6D;
}

@media screen and (max-width: 730px) {
  body {
    padding: 6em 1em;
  }

  nav.menu > ul {
    padding-left: 0;
    padding-right: 0;
  }
}
