/*
Styles specifically for exercises.

Exercises share test.css for most of the formatting. This files only contains
overrides that should not be present on the tests.
*/

.exercise-header {
  display: none;
}

@media print {
  .exercise-header {
    display: block;
    font-size: 80%;
  }
}
