/*
 * Common style file share by exercises and tests.
 */

:root {
  --main-code-font: 'Fira Mono'; /* Narrow font for code listings. */
  --printed-code-font: 'M PLUS 1 Code'; /* Narrow font for code listings. */
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 3em;
  margin: 0 auto;
  max-width: 820px;
}

header {
  margin-bottom: 2em;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

kbd, code, pre {
  font-family: var(--main-code-font), monospace;
  font-size: 90%;
}

code[class*="language-"], pre[class*="language-"], .code {
  font-family: var(--main-code-font), monospace;
}

pre, li, p, table {
  page-break-inside: avoid;
}

pre {
  border-left: 1ex solid gray;
  padding-left: 1ex;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

table.points {
  margin-left: initial;
  margin-right: initial;
}

td, th {
  padding: 0 1em;
  border: 1px solid black;
}

td.score, th.score {
  text-align: right;
}

li {
  margin-bottom: 1ex;
  margin-left: 1em;
  display: list-item;
  text-align: justify;
}

li li {
  margin-left: 1.5em;
}

ol {
  margin-top: 1em;
}

ol ol {
  list-style-type: lower-alpha;
}

input[type='checkbox'] {
  margin: 0.5em 1em 0 0.5em;
}

input[type='button'] {
  padding: 0.2em 1em;
  margin: 0.2em;
}

.center-images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* multiple choice question */
div.choice {
  display: flex;
  align-items: center;
  margin: 0.4em 0;
}

div.choice input {
  display: flex;
}

div.choice label {
  display: flex;
}

.mc-question.show-solution label:after {
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

.mc-question.show-solution label.true:after {
  content: "true";
  color: green;
}

.mc-question.show-solution label.false:after {
  content: "false";
  color: red;
}

/* yes-no questions */

tr.yes-no-question:after {
  content: "?";
  border: 1px solid black;
  margin-left: 0.3cm;
  margin-right: 0.3cm;
  padding: 0 0.3cm;
  display: table-cell;
  vertical-align: middle;
}

tr.yes-no-question:hover:after {
  background-color: #dfdfdf;
}

tr.show-solution > td.yes-no-solution {
  background: linear-gradient(to top right, transparent calc(50% - 1px), black, transparent calc(50% + 1px)), linear-gradient(to bottom right, transparent calc(50% - 1px), black, transparent calc(50% + 1px));
}

div.answer {
  border-radius: 0.3cm;
  padding: 0.3cm;
}

div.answer:hover {
  transition: background-color .5s;
  background-color: #dfdfdf;
}

div.answer::before {
  font-size: 80%;
  content: "Click here to toggle solution!";
  margin-bottom: 0.3cm;
}

.solution {
  visibility: hidden;
}

/* Make sure the Hash is only shown on printouts. */
div.printed-hash {
  display: none;
}

.grading {
  font-size: 60%;
}

table.header {
  font-family: var(--main-code-font), monospace;
  caption-side: bottom;
}

table.header th, table.header td {
  text-align: center;
  border: 1px solid;
  vertical-align: middle;
  padding: 2px;
  margin: 0;
  min-width: 2em;
}

.header caption {
  font-weight: bold;
}

@media print {
  /* I initially had a page break after the header to separate the student name
     from their tasks to be able to correct more objectively without knowing
     whose test I correct. By now, I tend to have single choice tasks which
     can be corrected objectively anyway, hence the page break is not needed
     anymore. */
  header {
    page-break-after: auto;
  }

  div.answer::before {
    content: none;
    margin-bottom: 0.3cm;
  }

  tr.yes-no-question:after {
    content: none;
  }

  /* Allows showing hash on each page of a printed test.
   * This allows to anonymize tests by only having the name
   * on the first page.
   */
  div.printed-hash {
    display: block;
    position: fixed;
    bottom: 0;
  }


  code[class*="language-"], pre[class*="language-"] {
    font-family: var(--printed-code-font), monospace;
    font-size: 90%;
    background-image: none;
  }

  .solution {
    visibility: hidden !important;
  }

  .solution-button {
    visibility: hidden !important;
  }

  .page-break-after {
    clear: both;
    page-break-after: always;
  }

  .noprint {
    display:none;
  }
}
