---
layout: layouts/base.njk
include_header_level: h3
section_header_level: h2
test_mode: computer (offline)
assignments: True
---

{% if subelements %}
<nav class="subjects">
{% for i in range(1, subelements + 1) -%}
  <a class="subject" href="{{ i }}/">
    <span class="material-icons">filter_{{ i }}</span>
    <div>{{ title }} {{ i }}</div>
  </a>
{%- endfor %}
</nav>
{%- endif %}

<nav class="menu">
{% set navPages = collections.all | eleventyNavigation %}

{{ navPages | eleventyNavigationToHtml({
  activeListItemClass: "active",
  activeAnchorClass: "active-anchor",
  listItemHasChildrenClass: "dropdown",
  activeKey: eleventyNavigation.key}) | safe }}
</nav>

{{ content | toc | safe}}

{{ content | safe }}
