---
layout: layouts/exercise_base.njk
---
<p><em>Max. 9 points</em></p>

<p>Download
  <a href="/data/py/hw_{{ exercise }}.tar.gz">hw_{{ exercise }}.tar.gz</a>
  and extract it.  This archive contains a grader which works for all current
  versions of Python 3 and expects the solution files to be placed in the same
  directory. It has to be executed from this directory via</p>

<pre><code>python hw{{ exercise }}_grader.py
</code></pre>

<p>Add your solutions in the directory contained in the archive. Right
after the shebang, each of your files must contain your name using the following template</p>
{% highlight "python" %}
"""
.. moduleauthor:: Your Name <your.name@example.com>
"""
{% endhighlight %}

<p>We did not discuss every detail required to solve the following tasks. Use
  your favorite search engine and some common sense to solve the tasks.</p>

  {{ content | safe }}

{# The first assignments are not graded anymore and later assignments will
use github for grading.

<p>All resulting files must be placed in a single directory. The name of the
  directory must be <kbd>{{ exercise }}_firstname_lastname</kbd> (in case of
  team homeworks, add each member's first and last names). Make sure to also
  include the grader. Compress the directory to either
  <kbd>{{ exercise }}_firstname_lastname.tar.gz</kbd> or
  <kbd>{{ exercise }}_firstname_lastname.tar.bz2</kbd> before sending it to
  <a href="mailto:assignments@senarclens.eu">assignments@senarclens.eu</a>.</p>
#}
