---
title: POS 3
layout: layouts/base_subject.njk
eleventyNavigation:
  key: POS 3
  parent: POS
  order: 3
test_mode: computer, online
language: C++
---


<h2 id="overview">Course Overview</h2>

<h3 id="methodologies">Software Development Methodologies</h3>
<ul>
  <li><a href="http://agilemanifesto.org/">
    Manifesto for Agile Software Development</a></li>
  <li><a href="http://agilemanifesto.org/principles.html">
    Principles behind the Agile Manifesto</a></li>
  <li><a href="https://scrumguides.org">The Scrum Guide</a></li>
  <li><a href="http://scrumquiz.org">Scrum Quiz</a></li>
</ul>

{% if language == 'C++' %}

<h3 id="content_general">General Topics</h3>
<ul>
  <li><a href="/presentations/cpp/algorithms/intro/">Introduction to Algorithms</a></li>
</ul>
{# TODO: add and adjust
  <li><a href="/images/programming/doubly_linked_list.png">Doubly linked list</a></li>
  <li><a href="https://github.com/HTL-Bulme/f2022-pos-3akift-presentations">Student Presentations</a></li>
</ul>
 #}

<h3 id="content_oop">Object oriented programming with C++</h3>
<ul>
  <li><a href="/presentations/cpp/standard_library/containers/">
      Standard Library - Containers</a></li>
  <li><a href="/presentations/cpp/oop/structs/">Introduction to OOP -
    Structs (Composite Data Types)</a></li>
  <li><a href="/presentations/cpp/oop/classes/">Introduction to OOP -
    Classes and Encapsulation</a></li>
{#
  <li><a href="/presentations/cpp/oop/aggregation/">Introduction to OOP -
    Aggregation</a></li>
  <li><a href="/presentations/cpp/oop/inheritance/">Introduction to OOP -
    Inheritance</a></li>
  <li><a href="/presentations/cpp/templates/">Templates</a></li>
#}
  <li><a href="/presentations/cpp/operator_overloading/">
    Operator Overloading</a></li>
  <li><a href="/presentations/cpp/enums/">
    Enums and Scoped Enums</a></li>
  <li><a href="/presentations/cpp/oop/operator_overloading/">
    OOP - Overloading Operators for User Defined Types</a></li>
  <li>
    <a href="/presentations/cpp/unit_testing_catch2/">Unit Testing (Catch2)</a>
    or
    <a href="/presentations/cpp/unit_testing_gtest/">
      Unit Testing (Google Test)</a>
  </li>
  <li><a href="/presentations/cpp/exceptions/">Exceptions</a></li>
</ul>


{% elif language == 'Python' %}

<h3 id="concepts">Programming Concepts</h3>
<ul>
  <li>
    <a href="/presentations/py/oop/overview/">
      Creating Your Own Data Types</a></li>
  <li><a href="/presentations/py/unit_testing/">Unit Testing</a></li>
  <li>
    <a href="/presentations/py/fp/overview/">
    Functional Programming</a></li>
  <li><a href="https://www.senarclens.eu/~gerald/presentations/cms1/10_algorithms/">
    Data Structures and Algorithms</a></li>
</ul>


<h3 id="notebooks">IPython Notebooks</h3>
<p>Make sure jupyter-notebook is installed
  (<code>sudo apt install jupyter-notebook</code>). After downloading a
  notebook, use it via</p>
<pre>
jupyter notebook ${notebookname}
</pre>
{# <p>or open the entire development environment via</p>
<pre>
jupyter lab
</pre> #}
<ul>
  <li><a href="/data/notebooks/PuLP.ipynb">PuLP.ipynb</a></li>
  <li><a href="/data/notebooks/data_analysis.ipynb">data_analysis.ipynb</a></li>
</ul>

{% endif %}


<h2 id="exercises">Programming Assignments</h2>
{# <h3>Revision / Introductory Exercises</h3>
<ul>
  <li><a href="/exercises/cpp/exercise_1/">C++ exercise 1</a></li>
</ul> #}

<h3>Git</h3>
<p>Please consult our discord group for the assignment links.</p>

{# <h3>Object oriented programming (OOP) with C++</h3>
<ul>
  <li><a href="/exercises/cpp/oop_intro/">Intro to OOP</a></li>
  <li><a href="/exercises/cpp/operator_overloading/">C++ Operator Overloading</a></li>
  <li><a href="https://www.hackerrank.com/challenges/c-tutorial-struct/problem">
    Structs</a> (Hackerrank)</li>
  <li><a href="https://www.hackerrank.com/challenges/c-tutorial-class/problem">
    Class</a> (Hackerrank)</li>
  <li><a href="https://www.hackerrank.com/challenges/classes-objects/problem">
    Objects</a> (Hackerrank)</li>
  <li><a href="https://www.hackerrank.com/challenges/box-it/problem">
    Box It!</a> (Hackerrank)</li>
  <li><a href="/exercises/cpp/oop_intro/">Intro to OOP - Classes and
    Encapsulation</a></li>
  <li><a href="/exercises/algorithms/deque/">Deque</a></li>
  <li><a href="/exercises/cpp/oop_inheritance/">OOP - Inheritance</a></li>
</ul> #}

<h2>Programming Project</h2>
<ul>
  <li><a href="/exercises/cs/initial_oss_contribution/">Initial Open Source
    Contribution Programming Project</a></li>
</ul>


<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/pos3_midterm_f2022_a_en/">POS 3 mid term f2022 (group A)</a></li>
  <li><a href="tests/pos3_midterm_f2022_b_en/">POS 3 mid term f2022 (group B)</a></li>
</ul>


<h2 id="links">Links</h2>
<ul>
  <li><a href="http://docs.find-santa.eu/dvcs/">Git notes</a></li>
  <li><a href="https://ndpsoftware.com/git-cheatsheet.html">Git cheatsheet</a></li>
</ul>

{% include 'blocks/code_challenge_sites.njk' %}

{% include 'blocks/grading/test_assignments.njk' %}


<h2 id="curriculum">Content of the Curriculum (3rd Term)</h2>

<p>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2022/368/ANL1_9/NOR40247424?ResultFunctionToken=9d086507-917b-49df-a7f3-281b69ee5d26&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=21.10.2023&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ImRisSeitForRemotion=Undefined&ResultPageSize=100&Suchworte=BGBl.+II+Nr.+368%2f2022">Curriculum in the Legal Information System</a>
(see attachment 1/9 B.1 according to subject table I.2)
</p>

<ul>
  <li>Foundations of programming
    <ul>
      <li>Static and dynamic data structures</li>
      <li>Concepts of object oriented programming (encapsulation, aggregation,
        inheritance and polymorphism)</li>
      <li>Recursion</li>
    </ul>
  </li>
  <li>Application programming
    <ul>
      <li>Harnessing the standard library</li>
      <li>Develop modern, graphic user interfaces</li>
    </ul>
  </li>
  <li>Software development process
    <ul>
      <li>Plan the software architecture of complex systems</li>
      <li>Documentation generation</li>
    </ul>
  </li>
</ul>
