---
title: Programming in Python
subtitle: Creating Your Own Data Types
layout: layouts/presentation.njk
---

{% set directory = 'oop/' %}

{% set source_path = 'source/' + extension + '/' + directory %}
{% set data_path = '/data/' + extension + '/' + directory  %}

<section>
  <h2>Object Oriented Programming (OOP)</h2>

  <section>
    <p>Disclaimer - this is not an OOP course!</p>

    <ul class="fragment">
      <li>In the real world, there is an infinite variation of data types</li>
      <li>OOP allows you to model your own</li>
      <li>We have used objects extensively, but our code was procedural</li>
      <li>Most modern programming languages allow object orientation</li>
    </ul>
  </section>

  <section>
    <h3>Problems of a purely procedural approach</h3>
    <ul class="outline">
      <p>Using a tuple or list, it isn't obvious what the
        elements represent</p>
{% highlight "py" %}
circle = (25, 15, 7)
{% endhighlight %}

      <div class="fragment">
        <p>Using a dictionary, data integrity is not guaranteed</p>
{% highlight "py" %}
circle = {'x': 25, 'y': 15, 'radius': -7}  # invalid radius
circle['y'] = 'fifteen'  # invalid y coordinate
{% endhighlight %}
      </div>

      <p class="fragment">Inability to guarantee the validity of an object is
        likely the worst downside of purely procedural approaches</p>
    </ul>
  </section>

  <section>
    <h3>Purpose and Advantages</h3>
    <ul>
      <li>Like dictionaries, classes keep related data in one place</li>
      <li>They define behavior by associating <strong>methods</strong> with
        your data</li>
      <li>And can ensure the integrity and coherence of your data</li>
      <li>By hiding data and using methods for valid operations
        (<strong>encapsulation</strong>)</li>
      <li>User defined classes can be composed of existing classes
        (<strong>composition</strong>)</li>
      <li><strong>Inheritance</strong> allows using existing classes as basis
        for new classes</li>
      <li>Facilitates maintenance by providing re-usable classes</li>
      <li>Doing OOP almost always simplifies non-trivial programs</li>
    </ul>
  </section>
</section>


<section>

  <section>
    <h2>Classes</h2>
    <ul>
      <li>User defined data types</li>
      <li>Heart of object oriented programming</li>
      <li>Provides custom data members ("fields") (resembling dictionaries)</li>
      <li>Behavior is defined by the class' methods</li>
      <li>Classes can be thought of as object factories (or templates)</li>
    </ul>
{% highlight "py" %}
class <identifier>:
    <suite>
{% endhighlight %}
  </section>

  <section>
    <h2>Class Instance | Class Object | Object</h2>
    <ul>
      <li>Variables with the type of a class are called objects</li>
      <li>Like modules, classes and objects also serve as namespaces</li>
      <li>Objects are created by "calling" the class' name</li>
    </ul>
{% highlight "py" %}
new_object = ClassName()
{% endhighlight %}
    <div class="fragment">
      <p>Arguments to instantiate a Python class are the parameters to its
        <code>__init__(.)</code> method (excluding <code>self</code>)</p>
{% highlight "py" %}
new_object = ClassName(arg1, arg2, ...)
{% endhighlight %}
    </div>
  </section>

  <section>
    <h2>Defining Python Classes</h2>
      <p>Python uses
        <a href="http://docs.python.org/3/reference/datamodel.html#specialnames">
          <strong>special methods</strong></a> for class operations</p>
      <p>By convention, only special methods start and end with
        two underscores</p>
{% highlight "py 1,2,7,12,14" %}
{% include source_path + "circle.py" %}
{% endhighlight %}
{% include_code source_path + "circle.py" %}
  </section>
</section>


<section>

  <section>
    <h2>Method</h2>
    <ul>
      <li>Function associated with a class</li>
      <li>Public methods constitute the class' interface</li>
      <li>This public interface defines what one can do with instances</li>
    </ul>
  </section>

  <section>
    <h2>Defining Methods in Python</h2>
{% highlight "py 16,20,28,29" %}
{% include source_path + "methods.py" %}
{% endhighlight %}
{% include_code source_path + "methods.py" %}
  </section>
</section>


<section>
  <section>
    <h2>Encapsulation</h2>
    <p>Allows to restrict access to internal data</p>
    <p>Data can only be changed by using methods that guarantee valid
      operations</p>
    <p>Python provides <code>@property</code> decorators for encapsulting
      data fields</p>


    <p class="fragment">Limitation:
      Python does not offer a bulletproof way of controlling data access
    </p>
  </section>

  <section>
    <h2>Example: Encapsulation</h2>
{% highlight "py 17,18,21,22,39" %}
{% include source_path + "encapsulation.py" %}
{% endhighlight %}
{% include_code source_path + "encapsulation.py" %}
  </section>

</section>


<section>
  <section>
    <h2>Aggregation/ Composition</h2>
    <ul>
      <li>User defined classes can be
        <a href="http://en.wikipedia.org/wiki/Object_composition">
         composed of existing classes</a></li>
      <li>Subobjects are components of their parent object</li>
      <li>Models <strong>has-a relationships</strong></li>
      <li>E.g. a graph consists of vertices and edges</li>
    </ul>

  </section>

  <section>
    <h2>Example: Aggregation/ Composition</h2>
    <p>Using <code>Point</code> as center of a <code>Circle</code></p>
{% highlight "py 5,24,28,31,32,54,55" %}
{% include source_path + "composition.py" %}
{% endhighlight %}
{% include_code source_path + "composition.py" %}
  </section>
</section>


<section>

  <section>
    <h2><a href="http://en.wikipedia.org/wiki/Inheritance_(computer_science)">
      Inheritance</a></h2>
    <ul>
      <li>Allows using existing classes as basis for
        new classes<br />
        subtypes are established from existing classes</li>
      <li>A parent class is usually referred to as <strong>base</strong> or
        <strong>super class</strong><br />
        Child classes can also be referred to as <strong>sub-</strong> or
        <strong>derived classes</strong></li>
      <li>Allows to specialize (subclass) a common base class</li>
      <li>Models <strong>is-a relationships</strong><br />
        e.g. a directed graph is a graph, a circle is a shape</li>
      <li>Methods defined in the super class can be used in the subclass</li>
      <li>Methods can be overridden - they can be reimplemented in the
        subclass</li>
      <li>Built-in <code>super()</code> function accesses overridden base
        class methods</li>
    </ul>

  </section>

  <section>
    <h2>Example: Inheritance</h2>
    <p><code>Circles</code> and <code>Triangles</code> are
      <code>Shapes</code></p>
{% highlight "py 6,8,11,38,60,64,69,78,82" %}
{% include source_path + "inheritance.py" %}
{% endhighlight %}
{% include_code source_path + "inheritance.py" %}
  </section>
</section>


<section>

  <section>
    <h2><a href="http://en.wikipedia.org/wiki/Subtype_polymorphism">
      Polymorphism</a></h2>
    <ul>
      <li>Objects of a subclass can be used wherever a base class object
        is expected</li>
      <li>E.g. a circle does everything a shape does and more</li>
    </ul>
  </section>

  <section>
    <h2>Example: Polymorphism</h2>
    <p><code>Circles</code> and <code>Triangles</code> are
      <code>Shapes</code></p>
{% highlight "py 102-107" %}
{% include source_path + "inheritance.py" %}
{% endhighlight %}
{% include_code source_path + "inheritance.py" %}
  </section>
</section>


<section>
  <h2>Summary</h2>
  <ul>
    <li>User defined types are available using classes</li>
    <li>Classes are instantiated with the same syntax like calling
      functions</li>
    <li>Arguments to instantiate a Python class are the parameters to its
      <code>__init__(.)</code> method (excluding <code>self</code>)</li>
    <li>If you want to understand and properly use classes, you need a
      designated textbook!</li>
  </ul>
</section>


{% include 'slides/closing.njk' %}


<section>
  <h2>Literature</h2>

  <div class="reference" id="BarryAndGriffiths:2009">
    <span class="authors">Paul Barry and David Griffiths</span>
    <span class="title">Head First Programming</span>
    <span class="pub_details">O'Reilly (2009)</span>
  </div>

  <div class="reference" id="pilgrim:2009">
    <span class="authors">Mark Pilgrim</span>
    <span class="title"><a href="http://getpython3.com/diveintopython3/">Dive Into Python 3</a> (2nd edition)</span>
    <span class="pub_details">Apress (October 23, 2009)</span>
  </div>

  <div class="reference" id="Python:{% year %}">
    <span class="authors">Python Software Foundation</span>
    <span class="title"><a href="http://docs.python.org/3/">
      Python Documentation</a></span>
    <span class="pub_details">http://docs.python.org/3/</span>
  </div>
</section>
