---
title: FSST 3
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST 3
  parent: FSST
  order: 3
---

{#
<h2><a href="https://classroom.github.com/a/rhUV3TXQ">Test (Accept via GitHub)</a></h2>
<h2><a href="https://classroom.github.com/a/0hdXuwuj">Re-Test (Accept via GitHub)</a></h2>
#}

<h2 id="overview">Course Overview</h2>
<ul>
  <li><a href="https://study.find-santa.eu/presentations/c/multiple_files/">Working with Multiple Files</a></li>
  <li>Programming in C++
    <ul>
      <li><a href="/presentations/cpp/introduction/">Introduction to C++</a></li>
      <li><a href="/presentations/cpp/fast_track/">Fast Track to C++ Syntax for C Programmers</a></li>
      <li><a href="/presentations/cpp/oop/structs/">Introduction to OOP -
        Structs (Composite Data Types)</a></li>
      <li><a href="/presentations/cpp/oop/classes/">Introduction to OOP -
        Classes and Encapsulation</a></li>
      <li><a href="/presentations/cpp/operator_overloading/">
        Operator Overloading</a></li>
      <li><a href="/presentations/cpp/enums/">
        Enums and Scoped Enums</a></li>
      <li><a href="/presentations/cpp/oop/operator_overloading/">
        OOP - Overloading Operators for User Defined Types</a></li>
      <li><a href="https://gitlab.com/htl-bulme/cpp_wx_examples/">
        wx widgets examples</a></li>
    </ul>
  </li>
</ul>

<h2 id="exercises">Programming Exercises</h2>
<ul>
  <li><a href="/exercises/cpp/exercise_1/">C++ exercise 1</a></li>
  <li>Intro to OOP - Structs (Composite Data Types):
    <a href="https://classroom.github.com/a/yAL7GEA-">accept assignment</a>
  </li>
  <li>Intro to OOP - Classes and Encapsulation:
    <a href="https://classroom.github.com/a/cha2nJCG">accept assignment</a>
  </li>
  <li>OOP - Inheritance
    <a href="https://classroom.github.com/a/k1H2AGBs">accept assignment</a>
  </li>
  <li>Improve a Tetris implementation built with wxWidgets
    <a href="https://classroom.github.com/a/0A2F7lai">accept assignment</a>
  </li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/fsst3_midterm_f2022_a_de/">FSST 3 midterm f2022 (group A,
    German)</a></li>
  <li><a href="tests/fsst3_final_f2022_a_de/">FSST 3 final f2022 (group A,
    German)</a></li>
</ul>

<h2 id="links">Links</h2>
<ul>
  <li><a href="http://docs.find-santa.eu/linux/#selected-shell-commands">Selected shell commands</a></li>
</ul>

{% include 'blocks/code_challenge_sites.njk' %}


<h2 id="curriculum">Content of the Curriculum (3rd Grade)</h2>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)

<h4>Module 5+6</h4>

<ul>
  <li>Operating Systems
    <ul>
      <li>Operating system architecture</li>
      <li>Installation and configuration of client and server operating
        systems</li>
    </ul>
  </li>
  <li>Software Engineering
    <ul>
      <li>Introduction to an object oriented programming language</li>
      <li>Foundations of object oriented programming</li>
      <li>Classes and encapsulation</li>
      <li>Aggregation, Composition and Inheritance</li>
    </ul>
  </li>
  <li>Software Development
    <ul>
      <li>Solve problems using an object oriented approach</li>
      <li>Graphical User Interfaces</li>
      <li>Relevant algorithms</li>
      <li>Analysis of algorithms and data structures with regard to runtime
        and memory</li>
    </ul>
  </li>
  <li>Embedded Programming
    <ul>
      <li>Create, install, test and document software for microcontrollers</li>
      <li>Write modular programs that interact with peripherals</li>
      <li>Event processing (eg. using interrupts)</li>
      <li>Communication (interfaces) between systems</li>
      <li>Data logging</li>
    </ul>
  </li>
</ul>
