---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: DBI
date: 2023-01-31
points: [6, 9]
grading: "Grading: >=14: 1, >=12: 2, >=10: 3, >=8: 4, <=7: 5"
---

<p class="page-break-after">
  To solve the tasks in this test, use the following ERD.<br />
  <img src="/images/databases/northwind_small_mariadb.png"
       alt="[Northwind Small DB ERD]"
       style="width: 50%;">
</p>

<ol>
  <li>List the customer names of all customers that have not posted any
    orders. Name the column "Customer Name".
{% answer %}
    <div class="grading">
    1 point for selecting the correct column<br />
    1 point for the alias<br />
    1 points for filtering<br />
    2 points for the subquery<br />
    1 point for the semicolon
    </div>
{% highlight "sql" %}
-- mariadb solution
select CustomerName as "Customer Name" from Customers c
where c.CustomerID not in
(
select CustomerID from Orders o
);
{% endhighlight %}
{% endanswer %}
  </li>

  <li>List all details of all Customers that have ordered products that cost
    more than twice the average price per product. Matching customers must
    be listed exactly once.
{% answer %}
    <div class="grading">
    1 point for distinct<br />
    1 point for selecting all other columns<br />
    3 points for all joins<br />
    1 point for filtering<br />
    2 points for the subquery<br />
    1 point for the semicolon
    </div>
{% highlight "sql" %}
select distinct(c.CustomerID), c.*  from Products p
natural join Orders
natural join OrderDetails
natural join Customers c
where Price >
(
select 2 * avg(Price) from Products
);
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
