---
layout: layouts/test.njk
class: 1AKIFT
group: B
subject: DBI
date: 2023-02-06
points: [6, 9]
grading: "Grading: >=14: 1, >=12: 2, >=10: 3, >=8: 4, <=7: 5"
---

<p class="page-break-after">
  To solve the tasks in this test, use the following ERD.<br />
  <img src="/images/databases/northwind_small_mariadb.png"
       alt="[Northwind Small DB ERD]"
       style="width: 50%;">
</p>

<ol>
  <li>Write a query that only shows the category with the lowest average price.
    Show the name of this
    category and call the column "Cheapest Category" as well its average
    price.<br />
    (6 points)
{% answer %}
    <div class="grading">
    1 point for selecting the correct columns<br />
    1 point for the alias<br />
    1 point for the grouping<br />
    1 point for the aggregation function (in select and order by)<br />
    1 point for limiting output to a single category<br />
    1 point for the semicolon
    </div>
{% highlight "sql" %}
-- mariadb solution
select c.CategoryName as "Cheapest Category", avg(price) from Categories c
natural join Products p
group by c.CategoryID
order by avg(price)
limit 1;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Which suppliers only provided goods cheaper than the average product
    price? Show each of their IDs and names exactly once.<br />
    (9 points)
{% answer %}
    <div class="grading">
    1 point for distinct<br />
    1 point for selecting correct columns<br />
    1 point for the join<br />
    1 point for grouping<br />
    2 points for filtering incl. the aggregation<br />
    2 points for the subquery<br />
    1 point for the semicolon
    </div>
{% highlight "sql" %}
select distinct(SupplierID), SupplierName from Suppliers s
natural join Products p
group by s.SupplierID
having max(p.Price) <
(select avg(Price) from Products);
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
