---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: DBI
date: 2023-01-15
points: [4, 4, 10, 14, 18]
grading: "Grading: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---

<p class="page-break-after">
  To solve the tasks in this test, use the following ERD and data tables.<br />
  <img src="/images/databases/trades.png" alt="[Trade DB ERD]">
</p>

<table style="font-size: 80%;">
  <tr class="code"><th colspan="5">customers</th></tr>
  <tr class="code"><th>customer_id</th><th>first_name</th><th>last_name</th>
    <th>iban</th><th>country</th></tr>
  <tr class="odd"><td>1</td><td>Per</td><td>Kronberg</td>
    <td>SE12 7463 1923 9451 2942</td><td>Sweden</td></tr>
  <tr><td>2</td><td>Leonie</td><td>Yvroud</td>
    <td>FR94 2874 8475 1238 4845</td><td>France</td></tr>
  <tr class="odd"><td>3</td><td>Derrek</td><td>Sonnamaker</td>
    <td>AT32 0000 0012 3941 3944</td><td>USA</td></tr>
</table>

<table style="margin-top: 1em; font-size: 80%;">
  <tr class="code"><th colspan="6">employees</th></tr>
  <tr class="code"><th>employee_id</th><th>first_name</th><th>last_name</th>
    <th>salary</th><th>commission_rate</th></tr>
  <tr class="odd"><td>1</td><td>Chris</td><td>Sanders</td>
    <td>70,000</td><td>3</td></tr>
  <tr><td>2</td><td>Pat</td><td>Steward</td>
    <td>55,000</td><td>5</td></tr>
  <tr class="odd"><td>3</td><td>Sue</td><td>Hedborg</td>
    <td>61,000</td><td>4</td></tr>
  <tr><td>4</td><td>Francois</td><td>Dupois</td>
    <td>65,000</td><td>3</td></tr>
  <tr class="odd"><td>5</td><td>Cat</td><td>Whitherspoon</td>
    <td>75,000</td><td>2.5</td></tr>
</table>

<table style="margin-top: 1em; font-size: 80%;">
  <tr class="code"><th colspan="5">orders</th></tr>
  <tr class="code"><th>order_id</th><th>filed</th><th>gross_price</th>
    <th>customer_id</th><th>employee_id</th></tr>
  <tr class="odd"><td>1</td><td>2023-01-01</td><td>35,000</td>
    <td>3</td><td>5</td></tr>
  <tr><td>2</td><td>2023-01-01</td><td>8,500</td>
    <td>2</td><td>4</td></tr>
  <tr class="odd"><td>3</td><td>2023-01-02</td>
    <td>15,000</td><td>3</td><td>5</td></tr>
  <tr><td>4</td><td>2023-01-03</td><td>6,800</td><td>1</td><td>2</td></tr>
</table>

<ol>
  <li>
    {% YesNoTable 4, "", 4 %}
      {% yes_no_question '<code>select count(*) from orders</code> yields 5.',
        'no' %}
      {% yes_no_question '<code>select count(*) from orders cross join
         employees</code> yields 20.',
        'yes' %}
      {% yes_no_question '<code>"select * from employees
        natural join orders;"</code> and <code>"select * from employees
        join orders using (employee_id);"</code> have the same result.',
        'yes' %}
      {% yes_no_question 'In MariaDB, aggregate functions cannot be used
        without <code>group by</code>.',
        '' %}
    {% endYesNoTable %}
  </li>

  <li>Given the current state of the data shown above, how many
    rows and how many columns do the results of
    following queries have? 2 points for each correct
    answer.
    <ol>
      <li>
{% highlight "sql" %}
select * from employees e
natural join orders o;
{% endhighlight %}
{% answer %}
4 rows, 9 columns
{% endanswer %}
      </li>
      <li>
{% highlight "sql" %}
select o.order_id, o.filed, o.gross_price,
       concat(e.first_name, ' ', e.last_name) as Employee,
       concat(c.first_name, ' ', c.last_name) as Customer
from employees e
natural join orders o
right outer join customers c using (customer_id);
{% endhighlight %}
{% answer %}
4 rows, 5 columns
{% endanswer %}
      </li>
    </ol>
  </li>

  <li class="center-images">Your boss asks you to provide a report
    allowing her to immediately see how the business is developing over time.
    She's only interested in the current year's data (2023).
    The best way to do this is to provide her with a data table that shows the
    total revenue per day. To make the table look nicer, the headers must be
    capitalized. Display the two relevant columns.
    Make sure to sort the table ascending by date. (10 points)<br />
{% answer %}
    <div class="grading">
    2 points for the capitalized header aliases<br />
    1 point for selecting from the correct table<br />
    2 points for filtering this year's data<br />
    2 points for grouping the data by `filed`<br />
    2 points for ordering ascendingly<br />
    1 point for the semicolon
    </div>
{% highlight "sql" %}
-- mariadb solution
select filed as 'Filed', sum(gross_price) as Total from orders o
where o.filed >= "2023-01-01"
group by filed
order by filed;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>The sales department wants to get a better overview of the best
    customers. They ask you to provide them with the neccesary information.
    It would be great if you could generate them a spreadsheet that shows
    how much each customer has spent on the company's products. They need
    the customer's full name and their total spending, ideally sorted by
    the total amount spent in descending order. That way, they immediately
    see the most important customers. They also kindly ask to have the data
    generated in a professional way. They really don't like that techie stuff.
    When asked what they mean by that, they explain that, for example, headers
    should not have underscores and should be properly capitalized.
    Write an SQL query that solves their problem. (14 points)
{% answer %}
    <div class="grading">
    3 points for showing the correct columns<br />
    1 point for showing proper aliases for the column headers<br />
    2 points for aggregating each group's sum<br />
    2 points for using a working join<br />
    2 points for grouping by customer<br />
    3 points for sorting the table by total spending in descending order<br />
    1 point for the semicolon
    </div>
{% highlight "sql" %}
select c.first_name, c.last_name, sum(o.gross_price) as "Sum"
from customers c
natural join orders o
group by c.customer_id
order by sum(o.gross_price) desc;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>At the beginning of each month, payroll needs to know how much commission
    they need to pay to each employee in sales. At the beginning of February,
    they hence need the commission for each of the employees for all orders
    filed in January. The commission is the product of an order's gross price
    multiplied by the matching employee's commission rate and then divided
    by 100. You need to provide payroll with the correct data so that all
    employees
    can be paid fairly. Payroll does not have special requirements on the
    formatting. They only need to know the employee's last name and the
    total commission. Use a meaningful name for the column containing the
    total commission. To make life easier for them, sort the table by last name
    and, of course, show each employee only once with the amount they should
    receive for the last month. Don't forget that your query
    will be run in February,
    so there will hopefully be many new orders until then. (18 points)<br />
{% answer %}
    <div class="grading">
    2 points for showing the correct columns<br />
    1 point for showing a proper alias for the total commission<br />
    2 points for calculating each order's commission<br />
    2 points for aggregating each employee's total commission<br />
    2 points for using a working join<br />
    4 points for filtering the orders from January<br />
    2 points for grouping by employee<br />
    2 points for sorting the table by last name<br />
    1 point for the semicolon<br />
    </div>
{% highlight "sql" %}
select e.last_name , sum(o.gross_price * e.commission_rate / 100) as commission
from employees e
natural join orders o
where o.filed BETWEEN "2023-01-01" and "2023-01-31"
group by e.employee_id
order by e.last_name
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
