---
title: MEDT 2
layout: layouts/base_subject.njk
eleventyNavigation:
  key: MEDT 2
  order: 2
  parent: MEDT
---

<h2 id="overview">Course Overview + Grading</h2>
<dl>
  <dt>1st week</dt>
  <dd><a href="https://sandbox.bulme.at/~gu/medt/MEDT.zip">JS Project (GU)</a></dd>

  <dt>2nd week</dt>
  <dd>
    <a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/">
      Introduction to the ES6 Challenges</a></dd>

  <dt>3rd week - 8th week</dt>
  <dd>Frontend project(Vue JS) - <strong>50% of the grade</strong></dd>
  <dd>The final week may be used for a <strong>test</strong> to improve upon
    the project's grade (overall 25% for the project, 25% for the test)</dd>

  <dt>9th week - 11th week</dt>
  <dd>Content management systems (CMS) - <strong>25% of the grade</strong></dd>
  <dd>Create teams of ~two students</dd>
  <dd>Each team selects a distinct CMS system and installs it in Linux</dd>
  <dd>Each team fills their CMS with
    <ul>
      <li>an installation manual reproducing the steps required to install
        their CMS in Linux</li>
      <li>at least two additional pages including links between the pages</li>
      <li>at least three images (including screenshots)</li>
      <li>internal and external links</li>
      <li>a video (preferably embedded, but a link is also ok</li>
    </ul>
  </dd>
  <dd>Each team presents their CMS in 10 minutes
    <ul>
      <li>explanation of the installation process and possible issues</li>
      <li>demonstration of the live CMS and changes to the content</li>
    </ul>
  </dd>


  <dt>12th week - 13th week</dt>
  <dd>Intro to Static site generators (SSG) -
    <strong>25% of the grade</strong></dd>
  <dd>
    <ul>
      <li><a href="https://docs.github.com/en/pages/quickstart">
        Quickstart for GitHub Pages</a> (Jekyll) OR</li>
      <li><a href="https://www.11ty.dev/docs/">Getting Started — Eleventy</a> +
        <a href="https://learneleventyfromscratch.com/">
          Learn Eleventy From Scratch</a>
        (<a href="https://github.com/HTL-Bulme/learneleventyfromscratch.com">GitHub repo</a>)
      </li>
      {#
    deploying static web files via gitlab pages or other service
      #}
    </ul>
  </dd>

  <dt>14th week</dt>
  <dd>Theory of colors and fonts</dd>

  <dt>15th week</dt>
  <dd>Creating printable documents (for your thesis)</dd>
  <dd>$\LaTeX$ and <a href="https://typst.app/">typst</a></dd>
</dl>



{#
<h2 id="exercises">Exercises</h2>
<ul>
  <li><a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/">
    Introduction to JavaScript</a></li>
</ul>
#}

{#
<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/dbi1_midterm_f2022_a_en/">DBI 1 midterm f2022 (group A,
    English)</a></li>
</ul>
#}

{#
<h2 id="links">Links</h2>
#}

<h2 id="curriculum">Content of the Curriculum (2nd Term)</h2>

<ul>
  <li>Presentation of Information in Websites
    <ul>
      <li>Design website content using current web standards</li>
      <li>Markup language, style sheets for modern page layouts</li>
      <li>Select appropriate tools for creating and testing websites</li>
      <li>Responsive web design</li>
      <li>Publish a website online through a provider</li>
      <li>Select, install and use content management systems (CMS)</li>
    </ul>
  </li>
  <li>Multimedia Content
    <ul>
      <li>Photography, screen captures, edit images with appropriate tools</li>
      <li>Create and edit audio recordings with appropriate tools</li>
      <li>Apply fundamental design principles in visual and auditory media</li>
    </ul>
  </li>
  <li>User Interface Design
    <ul>
      <li>Usability engineering</li>
      <li>Apply appropriate methods for optimizing user interaction</li>
      <li>Explain the importance of accessibility</li>
    </ul>
  </li>
</ul>

