---
title: WIP Programming in C++
subtitle: Introduction to Object Oriented Programming (OOP)
subsubtitle: Has-a Relationships
layout: layouts/presentation.njk

required: classes,constructors,big-3

CoreCpp: https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#
GoogleCpp: https://google.github.io/styleguide/cppguide.html#
---

<section>
  <h2>What are "Has-a Relationships"</h2>
  <p>Classes can have data members of any type, including complex objects</p>
  <p>For example
    <ul>
      <li>a class contains <code>vector&lt;int&gt;</code>
        as data member</li>
      <li>it is then said that it <em>has a</em>
        <code>vector&lt;int&gt;</code></li>
    </ul>
  </p>
  <p class="fragment">There are different <em>has-a</em> relationships
    called dependency, association, composition and aggregation.
  </p>
  Issues are that examples are frequently highly artificial and have little
  to do with actual programming (eg. cars or houses).

  To have independent objects relate to each other in a stable system,
  we should study design patterns.

  Best practice
  Implement the simplest relationship type that meets the needs of your
  program, not what seems right in real-life.

  TODO: investigate core guidelines and google guidelines (eg: don't use
  references as data members)

</section>

<section>
  <h2>Composition</h2>
  https://www.learncpp.com/cpp-tutorial/composition/

  Composition is a strong Association

    The part (member) is part of the object (class)
    The part (member) can only belong to one object (class) at a time
    The part (member) has its existence managed by the object (class)
    The part (member) does not know about the existence of the object (class)

  Composition is a restricted form of Aggregation in which two entities are
  highly dependent on each other.  

  Composition implies a relationship where the child cannot exist independent of the parent.

  A "owns" B = Composition : B has no meaning or purpose in the system without A

  Example: folder containing files
  UML diagram: filled diamond
  A--&lt;filled&gt;B (B being the "containing" class, like folder, A is the contained class,
  like file)

  Compositions in C++:
  Compositions are one of the easiest relationship types to implement in C++.
  Because normal data members exist directly as part of the struct/class,
  their lifetimes are bound to that of the class instance itself.
  Even the compiler generated dtor destroys them.

  Compositions that need to do dynamic allocation or deallocation may be implemented using pointer data members. In this case, the composition class should be responsible for doing all necessary memory management itself (not the user of the class). This is frequently used in GUI programming.
  Eg. when the window goes out of scope, it cleans up (deallocates) all of its members.

    Typically use normal member variables
    Can use pointer members if the class handles object allocation/deallocation itself
    Responsible for creation/destruction of parts

    <section>
    <h3>Example</h3>
    "center" is created in circle constructor (most clear);
    center can also be a copy of a point or a `new` object
     when the circle is destroyed, the point seizes to exist

     also: people + address: https://www.javatpoint.com/cpp-aggregation
  </section>
</section>

<section>
  <h2>Aggregation</h2>

  <section>
    https://www.learncpp.com/cpp-tutorial/aggregation/

  Aggregation is a weak Association

  Aggregation implies a relationship where the child can exist independently
  of the parent. Example: Class (parent) and Student (child). Delete the Class
  and the Students still exist.

  A "uses" B = Aggregation : B exists independently (conceptually) from A

  UML diagram: diamond shape
  A--&lt;&gt;B (B being the containing class)

  conceptual usage is high;
  practical usage in C++ is rather limited (see example); copy is actually
  a composition in terms of implementation; pointer is making the object
  vulnerable from the outside
  </section>

  <section>
  The associated object (member) is otherwise unrelated to the object (class)
  The associated object (member) can belong to more than one object (class) at a time
  The associated object (member) does not have its existence managed by the object (class)
  The associated object (member) may or may not know about the existence of the object (class)

  in an association, the relationship may be unidirectional or bidirectional
  (where the two objects are aware of each other)

  Typically use pointer or reference members that point to or reference objects that live outside the scope of the aggregate class
    Not responsible for creating/destroying parts

  While aggregations can be extremely useful, they are also potentially more
  dangerous, because aggregations do not handle deallocation of their parts.
  Deallocations are left to an external party to do.
  (hence using composition with copies or internal handling of allocation and
  deallocation is frequently best)
  </section>

  <section>
    <h3>Example Bidirectional Association</h3>
    point can exist independently of circle; first create point, then
    initialize circle with point (copy or pointer? rather pointer for the sake
    of the concept); when the circle is
    destroyed, the point
    continues to exist; the other way around is troubling

    try example with a reference to point (this is generally fine; we need a
    reference_wrapper only for a container of references);
    one needs to consider: what happens when point goes out
    of scope (eg. circle is returned)?
    but: don't have reference data members

    std::reference_wrapper lives in the &lt;functional&gt; header.
  </section>

  <section>other example: college + students + teachers + courses
    {# https://www.geeksforgeeks.org/association-composition-aggregation-java/ #}
    courses can have a reflexive association (an association to the same type):
    a course may have 0..n prerequisite courses
  </section>
</section>

<section>
  <h2>Association</h2>
  https://www.learncpp.com/cpp-tutorial/association/

  not really a has-a relationship either; consider moving to separate UML
  presentation

  An association almost always implies that one object has the other object as a field/property/attribute (terminology differs).

  UML term.
  There can be one-one, one-many, many-one, and many-many association present
  between the association classes.

  Aggregation and composition are associations.
  A relationship where all object have their own lifecycle and there is no
  owner is also an association.


  UML diagram: arrow (or line, if not directional)
   A --&gt; B

  Example:
  two classes are linked from the outside by calling a
  setter
  code example: two humans get married; they are associated
  destructor would need to check spouse status (pointer); if not nullptr
  the spouse would need to be set to nullptr before the other gets destroyed

  <section>
{% highlight "cpp" %}
  std::vector<std::reference_wrapper<const Patient>> m_patient{};
{% endhighlight %}


{% highlight "cpp" %}
{% include "source/cpp/templates/non_type_template.cpp" %}
{% endhighlight %}
{% include_code "source/cpp/templates/non_type_template.cpp" %}
  </section>
</section>


<section>
  <h2>Dependency</h2>
  https://www.learncpp.com/cpp-tutorial/dependencies/

  no really a has-a relationship; consider moving to separate UML
  presentation

  A dependency typically (but not always) implies that an object accepts another object as a method parameter, instantiates, or uses another object. A dependency is very much implied by an association.

  UML: dotted line with arrow towards used object
  my_class - - -> stream

  example in C++: object has dependency on stream object for ostream operator
</section>

<section>
  <h2>Best Practices</h2>
  model in a way that it's easiest with your programming language

  KISS + YAGNI

  rather model easy than according to real life (tend to use more composition
  as aggregation poses many problems, but don't hesitate to use aggregation
  when it's actually needed)

  don't over-model; IMO no need to explicitly model a dependency for, eg.,
  ostream
</section>

<section>
  <h2>Questions</h2>

    <section>
      <h3>Text Editor</h3>
      Buffer that holds the text while the editor is open.

      File edited by the editor.
      <aside class="notes">
        A Text Editor owns a Buffer (composition).
        A Text Editor uses a File (aggregation). When the Text Editor is
        closed, the Buffer is destroyed but the File itself is not destroyed.
      </aside>
    </section>
</section>

{% include 'slides/closing.njk' %}
