---
title: Programming in C++
subtitle: Object Oriented Programming (OOP)
subsubtitle: Overloading Operators for User Defined Types
layout: layouts/presentation.njk

required: operator_overloading, oop/classes
recommend: exceptions
---

<section>
  <h2>Where to Declare / Define Operators</h2>

  <section>
    <p>Operators having an object of a user defined type on their left hand
      side may be declared and defined inside in that class / struct</p>
    <p>All other operators have to be declared and defined outside</p>
  </section>

  <section>
    <h3>Declaration and Definition Inside Data Type</h3>

    <dl>
      <dt>Advantages</dt>
      <dd>Sometimes conciseness</dd>
      <dd>Possibility to cleanly access private members</dd>
      <dt>Disadvantages</dt>
      <dd>Limited flexibility for binary operators</dd>
      <dd>Can't handle mixed types easily</dd>
    </dl>
  </section>

  <section>
    <h3>Declaration and Definition Outside Data Type</h3>

    <dl>
      <dt>Advantages</dt>
      <dd>Consistent declaration of operators with two different operand
        types</dd>
      <dd>Handles mixed types easier (templates)</dd>
      <dd>More consistent with overloading operators for built-in types</dd>

      <dt>Disadvantages</dt>
      <dd>Access to private members would require <code>friend</code>
        declaration</dd>
      <dd>Sometimes less concise</dd>
    </dl>
  </section>

  {% include "slides/cpp_operator_overloading_conventions.njk" %}
</section>


<section>
  <h2>Syntax</h2>

  <section>
    <h3>Definition Inside Class (Struct)</h3>
{% highlight "cpp 4,6,8" %}
class Name {
public:
  // examples of binary operators defined inside class
  // both operands are class members; LHS is *this, RHS is sole argument
  Name operator+(const Name& other) const noexcept { ... }
  // only the LHS operand is a class member, RHS is sole argument
  Name operator+(int i) const noexcept { ... }
  // unary operator; just uses *this -> no arguments
  Name operator-() const noexcept { ... }

  // ...
};
{% endhighlight %}
  </section>

  <section>
    <h3>Standalone Definition</h3>
    <p>No access to <code>*this</code> => all operands have to be passed
      as arguments</p>
    <p><code>const</code> may only be used for arguments as there is no
      <code>*this</code></p>
{% highlight "cpp 1,3,5,9,11" %}
// both operands are class members
Name operator+(const Name& lhs, const Name& rhs) noexcept { ... }
// only the LHS operand is a class member
Name operator+(const Name& n, int i) noexcept { ... }
// unary operator
Name operator-(const Name& n) noexcept { ... }

// the following operators have to be defined outside of class / struct
// only the RHS operand is a class member
Name operator+(int i, const Name& n) noexcept { ... }
// the output stream operator cannot be defined in a class / struct
std::ostream& operator<<(std::ostream& out, const Name& n) { ... }
{% endhighlight %}
  </section>
</section>


<section>
  <h2>Example: Complex Numbers</h2>

  <section>
{% highlight "cpp 8,9,14,15" %}
{% include "source/cpp/oop/operators/complex_numbers.hpp" %}
{% endhighlight %}
{% download "/data/cpp/oop/operators/complex_numbers.hpp" %}
  </section>

  <section>
{% highlight "cpp 5,9,13" %}
{% include "source/cpp/oop/operators/complex_numbers.cpp" %}
{% endhighlight %}
{% download "/data/cpp/oop/operators/complex_numbers.cpp" %}
  </section>

  <section>
{% highlight "cpp 7-9" %}
{% include "source/cpp/oop/operators/complex_main.cpp" %}
{% endhighlight %}
{% download "/data/cpp/oop/operators/complex_main.cpp" %}
  </section>
</section>


<section>
  <h2>Exercise</h2>
  <p>Please solve the
    <a href="https://exercism.org/tracks/cpp/exercises/complex-numbers">
      complex numbers exercise on exercism</a></p>
</section>

{% include 'slides/closing.njk' %}
