{#
recommends: algorithms/intro
#}

{% extends "layouts/presentations/containers.njk" %}

{% set title = "Programming in C++" %}
{% set subtitle = "Standard Library - Containers" %}


{% block intro %}
<section>
  <h2>C++ Standard Library</h2>

  <section>
  <ul>
    <li>Part of the C++ ISO Standard</li>
    <li>Heavily influenced by the Standard Template Library (STL)</li>
    <li>Provides
      <ul>
        <li>Generic <strong>container data types</strong></li>
        <li>Streams</li>
        <li>Generic algorithms (syntax, semantics and performance)</li>
        <li>Regular expressions, filesystem interaction, concurrency, ...</li>
      </ul>
    </li>
    <li><a href="https://en.cppreference.com/w/">C++ reference</a></li>
  </ul>
  </section>

  <section>
    <h3>Advantages</h3>
    <ul>
      <li>Allows focusing on the project at hand</li>
      <li>Fulfills documented performance requirements</li>
      <li>Available with every common compiler:
        <a href="https://en.cppreference.com/w/cpp/compiler_support">compiler support</a></li>
      <li>Continues to grow with every version of C++
        (<a href="https://isocpp.org/std/status">status</a>)</li>
    </ul>
  </section>
</section>

<section>
  <h2>Container Data Types</h2>
  <p>The standard library provides many container data types</p>
  <div class="fragment">
    <p>The most important container types are</p>
    <ul>
      <li><code>vector</code> (+ <code>array</code>) (contiguous memory)</li>
      <li><code>list</code> (doubly linked list)</li>
      <li><code>map</code> (hashmap)</li>
      <li><code>set</code></li>
    </ul>
  </div>
  <p class="fragment">Overview of <a href="https://en.cppreference.com/w/cpp/container">all
    container types</a></p>
</section>
{% endblock %}{# intro #}

