---
version: 2024-02-29
---

<style>

header {
  display: table;
}

header > p {
  display: table-row;
}

header label {
  display: table-cell;
  padding-right: 20px;
}

header input {
  display: table-cell;
  margin-bottom: 10px;
}

.highlight {
  font-weight: bold;
}
</style>

<h1>Presentation Evaluation</h1>

<header>
  <p>
    <label for="student" class='highlight'>Student: </label>
    <input id='student' name='student' type='text'>
  </p>
  <p>
    <label for="topic">Topic: </label>
    <input id='topic' name='topic' type='text'></p>
</header>

<p>Grading: &gt;=88: 1, &gt;=76: 2, &gt;=63: 3, &gt;50: 4, &lt;=50: 5 </p>

<table>
  <thead>
    <tr><th>Criterion</th><th>Points</th><th>Comments</th></tr>
  </thead>

<tr><th>Content</th><td><input type='number'> max. 25</td><td></td></tr>
<tr><td>Topic well covered, correctness</td><td><input type='text'> /15</td><td></td></tr>
<tr><td>Easy to follow</td><td><input type='text'> /5</td><td></td></tr>
<tr><td>Level appropriate for audience</td><td><input type='text'> /5</td><td></td></tr>

<tr><th>Presentation Quality</th><td><input type='text'> max. 30</td><td></td></tr>
<tr><td>Good beginning and ending</td><td><input type='text'> /2</td><td></td></tr>
<tr><td>Speaks freely</td><td><input type='text'> /?</td><td></td></tr>
<tr><td>Posture, gestures</td><td><input type='text'> /3</td><td></td></tr>
<tr><td>Absence of distractions, spleens</td><td><input type='text'> /2</td><td></td></tr>
<tr><td>Enunciation &amp; pronunciation</td><td><input type='text'> /2</td><td></td></tr>
<tr><td>Eye contact</td><td><input type='text'> /3</td><td></td></tr>
<tr><td>Live demonstration / coding example or adequate substitute</td><td><input type='text'> /10</td><td></td></tr>
<tr><td>Good ending</td><td><input type='text'> /2</td><td></td></tr>
<tr><td>Answers to audience questions</td><td><input type='text'> /5</td><td></td></tr>

<tr><th>Slides / Alternative</th><td><input type='text'> max. 15</td><td></td></tr>
<tr><td>Easy to read, not too much text</td><td><input type='text'> /5</td><td></td></tr>
<tr><td>Appropriate number of slides</td><td><input type='text'> /5</td><td></td></tr>
<tr><td>Adequate illustrations</td><td><input type='text'> /5</td><td></td></tr>

<tr><th>Handout</th><td><input type='text'> max. 15</td><td></td></tr>
<tr><td>Content properly covered</td><td><input type='text'> /8</td><td></td></tr>
<tr><td>Substitute for live demonstration</td><td><input type='text'> /5</td><td></td></tr>
<tr><td>Sources</td><td><input type='text'> /2</td><td></td></tr>

<tr><th>Time</th><td><input type='text'> max. 15</td><td></td></tr>
<tr><td>Within &plusmn; 10% of allotted time?</td><td><input type='text'> /10</td><td></td></tr>
<tr><td>Was time used efficiently?</td><td><input type='text'> /5</td><td></td></tr>

<tr><th>Sum</th><td><input type='text'> /100</td><td></td></tr>
</table>

<p>
  <label for="notes" style="margin-right: 15px; margin-top: 25px">Notes / questions: </label>
  <input id='notes' name='notes' type='text'>
</p>

