{% extends "layouts/presentations/c_cpp_arrays.njk" %}


{% block c99_dynamic_size %}
  <section>
    <h3>Create Dynamically Sized Array</h3>
    <p>... supported by compilers that fully implement the C99 standard.</p>
    <p>Other compilers require the use of
      <a href="../free_store/">dynamic memory management</a>.
    </p>
{% highlight extension + " 4" %}
{% include source_path + "dynamic_size." + extension %}
{% endhighlight %}
{% include_code source_path + "dynamic_size." + extension %}
  </section>
{% endblock %}
