{#
requires: C-arrays, C-strings, C-structs, pointers
#}

{% extends "layouts/presentations/c_cpp_cli.njk" %}

{% block libs %}
<div class="fragment">
  <dl>
    <dt>argparse</dt>
    <dd><a href="https://github.com/cofyc/argparse">https://github.com/cofyc/argparse</a></dd>
    <dd>MIT license</dd>
  </dl>
</div>
{% endblock %}
