{#
requires: pointers, structs
#}

{% extends "layouts/presentations/c_cpp_file_io.njk" %}


{% block api %}
  <p>All required functions are provided by <code>&lt;stdio.h&gt;</code></p>
  <p><code>fopen(.)</code> opens files; if opening fails, NULL is returned</p>
{% highlight "c" %}
FILE *fopen(const char *pathname, const char *mode);
{% endhighlight %}
  <div class="fragment">
    <p><code>fprintf(.)</code> and <code>fwrite(.)</code> write text and binary
      data to open files</p>
{% highlight "c" %}
int fprintf(FILE *stream, const char *format, ...);
int fputc(int c, FILE *stream);
int fputs(const char *s, FILE *stream);
size_t fwrite(const void *ptr, size_t size, size_t nmemb, FILE *stream);
{% endhighlight %}
  </div>
  <div class="fragment">
    <p><code>fclose(.)</code> writes buffered output and frees the file pointer's
      resources</p>
{% highlight "c" %}
int fclose(FILE *stream);  // on successful completion, 0 is returned
{% endhighlight %}
  </div>
{% endblock %}

