{% extends "layouts/presentations/c_cpp_free_store.njk" %}


{% block language_specific %}
<section>
  <h2>C API</h2>
  <dl>
    <dt><code>#include &lt;stdlib.h&gt;</code></dt>
    <dt><code>void *malloc(size_t size)</code></dt>
    <dd>Allocates <code>size</code> bytes and returns a pointer to the
      allocated memory.  The memory is not initialized.</dd>
    <dt><code>void free(void *ptr)</code></dt>
    <dd>Frees the memory space pointed to by <code>ptr</code>.</dd>
  </dl>
  <dl class="fragment">
    <dt><code>void *calloc(size_t nmemb, size_t size)</code></dt>
    <dd>Allocates memory for an array of <code>nmemb</code> elements of
      <code>size</code> bytes each and returns a
      pointer to the allocated memory.  The memory is set to zero.</dd>
    <dt><code>void *realloc(void *ptr, size_t size)</code></dt>
    <dd>Changes the size of the memory block pointed to by ptr to size bytes.</dd>
    <dt><code>void *reallocarray(void *ptr, size_t nmemb, size_t size);</code></dt>
    <dd>Changes the size of the memory block pointed to by ptr to be large
      enough for an array of <code>nmemb</code> elements, each of which is
      <code>size</code> bytes.</dd>
  </dl>
</section>

<section>
  <h2>Working with the Heap (Free Store)</h2>
  <section>
    <h3>Determine array size at runtime</h3>
{% highlight extension + ' 1' %}
const int size = 1234;  // any value determined at runtime
int array[size];
{% endhighlight %}

<div class="fragment">
    <p>Unfortunately, the above only works for C99 capable compilers</p>
{% highlight extension + ' 1,3' %}
const int size = 1234;  // any value determined at runtime
int* array = malloc(size * sizeof(int));
// use the array ...
free(array);
{% endhighlight %}
</div>

<div class="fragment">
    <p>Alternatively, one can be more explicit with a typecast</p>
{% highlight extension + ' 1,3' %}
const int size = 1234;  // any value determined at runtime
int* array = (int*) malloc(size * sizeof(int));
// use the array ...
free(array);
{% endhighlight %}
</div>
  </section>

  <section>
    <h3>Make Sure the Calls Were Successful</h3>
{% highlight extension + ' 2' %}
const size_t size = 1234;  // any value determined at runtime
int* array = (int*) malloc(size * sizeof(int));
if (array == NULL) {  // NULL pointer means no memory was allocated
  fprintf(stderr, "malloc %lu bytes failed\n", size);
  exit(EXIT_FAILURE);
}
// use the array ...
free(array);
{% endhighlight %}
  </section>

</section>
{% endblock %}  {# language_specific #}
