{% extends "layouts/presentations/c_cpp_function_pointers.njk" %}


{% block call_fp_example %}
printf("The sum of 2 + 3 is %d\n", (*sum_ptr)(2, 3));
printf("The sum of 2 + 3 is %d\n", (sum_ptr)(2, 3));  // `*` is not required
printf("The sum of 2 + 3 is %d\n", sum_ptr(2, 3));  // `()` are not required
{% endblock %}

{% block int_array_example %}
typedef struct intarray IntArray;
struct intarray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;

  void (*push_back)(IntArray* self, int elem);
  int (*sum)(const IntArray* self);
  int (*count)(const IntArray* self, int elem);
  IntArray* (*destruct)(IntArray* self);
};
IntArray* ia_construct();
{% endblock %}
