{% extends "layouts/presentations/c_cpp_multiple_files.njk" %}


{% block extern_and_static %}
  <section>
    <h3><code>extern</code> and <code>static</code> Functions in C</h3>
      <p>Every identifier that is marked as <code>extern</code> is part
        of a file's public interface.
        These identifiers can be used in other files by including the
        header file.</p>
      <ul>
        <li>Functions are automatically <code>extern</code></li>
        <li>Use the <code>extern</code> keyword to share variables (if really,
      really needed)</li>
        <li>In C, the <code>static</code> keyword marks functions that should
          not be exported</li>
        <li class="fragment"><code>static</code> C functions cannot be used in
          other files of the same project</li>
      </ul>
  </section>
{% endblock %}
