{% extends "layouts/presentations/c_cpp_strings.njk" %}


{% block user_input %}
  <section>
    <p>I/O functions are included via <code>stdio.h</code></p>
    <ul>
      <li><code>scanf(.)</code> can read user input, but has security problems</li>
      <li>Some compilers offer <code>scanf_s(.)</code>
        <ul>
          <li>non-standard and hence not portable</li>
        </ul>
      </li>
      <li>Solution: <code>fgets(.)</code> + <code>sscanf(.)</code>
        <ul>
          <li><code>fgets(char *s, int size, FILE *stream)</code> reads in at
            most one less than size characters;
            includes final newline</li>
          <li><code>sscanf(const char *str, const char *format, ...)</code>
            scans input according to format</li>
        </ul>
      </li>
    </ul>
  </section>

    <section>
    <h3>Example: Read a Single Number</h3>
{% highlight extension + ' 3,6,8' %}
{% include source_path + 'read_number.' + extension %}
{% endhighlight %}
    <p>{% download data_path + 'read_number.' + extension %}</p>
  </section>

  <section>
    <h3>Example: Read Two Numbers</h3>
{% highlight extension + ' 3,6,8' %}
{% include source_path + 'read_numbers.' + extension %}
{% endhighlight %}
    <p>{% download data_path + 'read_numbers.' + extension %}</p>
  </section>

  <section>
    <h3>Example: Read a String</h3>
    <p><code>fgets(.)</code> also includes the final newline (if it fits
      the size of the buffer)</p>
{% highlight extension + ' 6,8' %}
{% include source_path + 'read_string.' + extension %}
{% endhighlight %}
    <p>{% download data_path + 'read_string.' + extension %}</p>
  </section>
{% endblock %}
