{% extends "layouts/presentations/c_cpp_structs.njk" %}

{% set subtitle = 'Typedef and Structs - Composite Data Types' %}


{% block date_struct %}
{% highlight extension %}
struct date {
   int year;
   int month;
   int day;
};
struct date d = { 2021, 12, 10 };
{% endhighlight %}
{% endblock %}


{% block date_struct_definition %}
{% highlight extension %}
struct date d = { .year=2021, .month=12, .day=10 };
{% endhighlight %}
{% endblock %}


{% block typedef %}
  <section>
    <h3>Typedef</h3>
    <ul>
      <li>Used to create an additional name (alias) for another data type</li>
      <li>Particularly useful in combination with structs</li>
    </ul>
{% highlight extension %}
typedef type_definition new_identifier;
{% endhighlight %}
  </section>
{% endblock %}
