
{% extends "layouts/presentations/course_review.njk" %}

{% set title = "CMS" %}


{% block learned %}
    <ul>
      <li>Work with git</li>
      <li>Create small programs using Python 3</li>
      <li>Apply the basics of functional programming</li>
      <li>Read, use and create object oriented source code</li>
      <li>Understand and implement simple algorithms</li>
      <li>Create and run unit tests</li>
      <li class="fragment"><strong>
        Independently acquire new knowledge as needed</strong></li>
    </ul>
{% endblock %}

{% block discussed %}
{% endblock %}


<section>
{% block outlook %}
  <section>
    <h3>If you haven't already done so, investigate ...</h3>
    <ul>
      <li>Code formatters like <a href="https://github.com/psf/black">black</a>
      </li>
      <li class="fragment">Other programming languages
        <ul>
          <li>Learn new languages as you need them...</li>
        </ul>
      </li>
      <li class="fragment">Efficiently using a debugger</li>
      <li class="fragment">How to detect memory leaks</li>
      <li class="fragment">Software architecture</li>
      <li class="fragment">System architecture</li>
    </ul>

    <aside class="notes">
      <ul>
        <li>Setting breakpoints that depend on variable values etc.</li>
      </ul>
    </aside>
  </section>
  <section>
    <h3>Advanced Programming Techniques</h3>
    <ul>
      <li>Threads and parallelization</li>
      <li><a href="https://regex101.com/">Regular expressions</a></li>
      <li>Generators and iterators</li>
      <li>Additional functional programming techniques</li>
      <li>Aspect oriented programming</li>
      <li>Security</li>
      <li>(GraphQL / REST) APIs</li>
      <li>... and many, many more</li>
    </ul>

  </section>

  <section>
    <h3>More of the standard libraries and key third party libraries ...</h3>
    <ul>
      <li>Take time to know, but save time in the end</li>
      <li>In the long run, it is rarely faster to develop a solution yourself...</li>
      <li class="fragment">... but mind the "dependency hell"</li>
    </ul>
  </section>
{% endblock %}
</section>
