<section>
  <h2>Compiling and Executing a {{ language }} Program</h2>

  <section>
    <p>Executable program files are created from readable source code.</p>
    <div>
      <div class="inline-box" style="width: 120px; height: 150px;">
        <img src="/images/icons/text-x-{{ extension }}src.svg"
             alt="[{{ extension }} source icon]"><br>
        <code>main.{{ extension }}</code>
      </div>
      <div class="inline-box"
           style="vertical-align: middle; height: 150px;">&rarr;</div>
      <div class="inline-box" style="width: 120px; height: 150px;">
        <img src="/images/icons/application-x-executable.svg"
             alt="[{{ extension }} source icon]"><br>
        <code>executable</code>
      </div>
    </div>

    <div class="fragment">
    <p>For creating executables, a compiler toolchain is needed.</p>
    <ul>
      <li><a href="http://gcc.gnu.org/">GCC</a> - GNU Compiler Collection</li>
      <li><a href="https://clang.llvm.org/">Clang</a> - C language family
        frontend for LLVM</li>
      <li>MSVC - Microsoft Visual C and C++ compiler</li>
    </ul>
    </div>
  </section>

  <section>
    <p>
      Creating a {{ language }} executable is a four step process.
    </p>
    <ol>
      <li>Preprocessor</li>
      <li>Compiler</li>
      <li>Assembler</li>
      <li>Linker</li>
    </ol>
  </section>

  <section>
    <h3>Example</h3>
      <p>{% download "/data/" + extension + "/hello." + extension %}</p>
      <p>By default, all four stages (preprocessor, compiler, assembler
        and linker)<br />are done</p>
{% highlight "bash" %}
{{ compiler }} hello.{{ extension }}  # or `{{ altCompiler }} hello.{{ extension }}`
./a.out
{% endhighlight %}
      <div class="fragment">
      <p>Provide a name for the created executable (instead of the default
        <code>a.out</code>
      </p>
{% highlight "bash" %}
{{ compiler }} hello.{{ extension}} -o hello
./hello
{% endhighlight %}
      <dev class="fragment">
        <p>Compilation can be done with either <code>{{ compiler }}</code> or
          <code>{{ altCompiler }}</code>.</p>
{% highlight "bash" %}
{{ compiler }} $INFILE -o $PROGRAM_NAME
{{ altCompiler }} $INFILE -o $PROGRAM_NAME
{% endhighlight %}
      </dev>
</div>
  </section>

  <section>
    <h3>1. Preprocessor</h3>
    <ul>
      <li>Essentially a pure text processor</li>
      <li>Removes comments, performs includes etc.</li>
      <li>Usually never done separately</li>
    </ul>
    <div class="fragment">
      <p>Stop after preprocessor and send output to <code>stdout</code></p>
{% highlight "bash" %}
{{ compiler }} -E hello.{{ extension}}
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>2. Compiler</h3>
    <ul>
      <li>Translates high level code to a lower level (assembly language)</li>
      <li>Parses the source code</li>
      <li>Performs type checking</li>
      <li>Usually never done separately</li>
      <li>Must recognize all identifiers (function declarations etc.)</li>
    </ul>
    <div class="fragment">
      <p>Creates assembler files (usually <code>*.s</code>)</p>
{% highlight "bash" %}
{{ compiler }} -S hello.{{ extension}}
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>3. Assembler</h3>
    <ul>
      <li>Translates assembly language to object code (machine language)</li>
      <li>Creates <code>*.o</code> files</li>
      <li><strong>Usually done separately</strong> when working with multiple input files
        <ul class="fragment">
          <li>Impossible to create executables without <code>main(.)</code></li>
          <li>Impossible to create executables with multiple <code>main(.)</code></li>
        </ul>
      </li>
    </ul>
    <div class="fragment">
{% highlight "bash" %}
{{ compiler }} -c hello.{{ extension}}
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>4. Linker</h3>
    <ul>
      <li>Combines object files into a unified executable program, resolving all symbols</li>
      <li><strong>Should be run separately</strong> when working with multiple input files</li>
    </ul>
    <div class="fragment">
{% highlight "bash" %}
{{ compiler }} -o hello hello.o
{% endhighlight %}
    </div>
  </section>
</section>
