  <section>
  <h3>Related Conventions</h3>

  <dl>
    <dt><a href="{{ CoreCpp }}cover-overloading-and-overloaded-operators">
      C.over</a>
    </dt>
    <dd>Overloading and overloaded operators</dd>
    <dt>
      <a href="{{ CoreCpp }}c168-define-overloaded-operators-in-the-namespace-of-their-operands">
        C.168</a>
    </dt>
    <dd>Define overloaded operators in the namespace of their operands</dd>
    <dt>
      <a href="{{ CoreCpp }}c86-make--symmetric-with-respect-to-operand-types-and-noexcept">C.86</a>
    </dt>
    <dd>Make <code>==</code> symmetric with respect to operand types and
      <code>noexcept</code></dd>
  </dl>
  </section>
