
<section data-background-color="white">
  <h2>Beurteilungsstufen gemäß LBVo</h2>
  <table>
  <thead>
    <tr>
      <th></th>
      <th>Sehr Gut</th>
      <th>Gut</th>
      <th>Befriedigend</th>
      <th>Genügend</th>
      <th>Nicht Genügend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>a) Erfassung und Anwendung des Lehrstoffes<br><br>
      b) Durchführung der Aufgaben</td>
      <td>Anforderungen werden in weit über das Wesentliche hinausgehendem Ausmaß erfüllt</td>
      <td>Anforderungen werden in weit über das Wesentliche hinausgehendem Ausmaß erfüllt</td>
      <td>Anforderungen werden in den wesentlichen Bereichen zur Gänze erfüllt</td>
      <td>Anforderungen werden in den wesentlichen Bereichen überwiegend erfüllt</td>
      <td>Anforderungen werden nicht einmal in den wesentlichen Bereichen überwiegend erfüllt</td>
    </tr>
    <tr>
      <td>c)&nbsp;Eigenständigkeit</td>
      <td>muss deutlich vorliegen (wo dies möglich ist)</td>
      <td>merkliche Ansätze (wo dies möglich ist)</td>
      <td>Mängel bei b) werden durch merkliche Ansätze ausgeglichen</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>d) Selbständige Anwendung des Wissens und Könnens</td>
      <td>muss vorliegen (wo dies möglich ist)</td>
      <td>bei entsprechender Anleitung (wo dies möglich ist)</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody></table>
</section>

