{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple unit test intros for different
programming languages with only a few blocks being distinct.
#}
{% extends "layouts/presentation.njk" %}

{% set title = "[WIP] Deployment" %}
{% set source_path = "source/" + extension + "/deployment/" %}
{% set data_path = "/data/" + extension + "/deployment/" %}


{% block presentation %}


<section>
  <h2>Purpose of Software Deployment</h2>

  <dl>
    <dt>Deployment</dt>
    <dd>The action of bringing resources into effective action</dd>
    <dt>Software deployment</dt>
    <dd>All of the activities that make a software system
      available for use</dd>
  </dl>

  <p class="fragment">Because every software system is unique, the precise
    processes or procedures for deploying software can hardly be defined.</p>
</section>


<section>
  <h2>Deployment Possibilities</h2>

  <section>
    <table>
      <tr>
        <th style="text-align: left;">License</th>
        <td>open source</td>
        <td>proprietary</td>
      </tr>
      <tr>
        <th>Source Access</th>
        <td>allowed or encouraged</td>
        <td>restricted</td>
      </tr>
      <tr>
        <th>Distribution</th>
        <td>as source</td>
        <td>compiled binaries</td>
      </tr>
      <tr>
        <th>Programming language</th>
        <td>homogeneous</td>
        <td>heterogeneous</td>
      </tr>
      <tr>
        <th>Channel</th>
        <td colspan="2">website, media, pre-installed
          software distributions, package managers, ..</td>
      </tr>
      <tr>
        <th>Releases</th>
        <td>continuous</td>
        <td>versioned</td>
      </tr>
      <tr>
        <th>Updates</th>
        <td>time based</td>
        <td>feature based</td>
      </tr>
    </table>

    <aside class="notes">
      <p>heterogeneous systems may require much more complicated build steps</p>
      <p>media channels may include CDs, DVDs, USB memory<br />
        pre-installed: on hardware (eg. routers, home appliances, ...)</p>
      <p>an example for a restricted package manager is Apple's app store</p>
      <p>large-scale installations need DevOps activities</p>
    </aside>
  </section>

  <section>
    <table>
      <tr>
        <th style="text-align: left;">Target</th>
        <td>application</td>
        <td>library</td>
      </tr>
      <tr>
        <th>Roles</th>
        <td colspan="2">end users, professionals, own staff</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>SaaS</td>
        <td>local</td>
      </tr>
      <tr>
        <th>Package manager</th>
        <td>open</td>
        <td>restricted</td>
      </tr>
      <tr>
        <th>Platform</th>
        <td>single / controlled</td>
        <td>independent</td>
      </tr>
      <tr>
        <th>SaaS</th>
        <td colspan="2">own hardware, rented servers, VMs,
          containerized, orchestrated containers</td>
      </tr>
    </table>
  </section>

  <section>
    <h3>Simple Example</h3>
    <p>How would you deploy a single open source script?</p>
    <p class="fragment">Good options include your homepage or a repository</p>
  </section>
</section>


<section>
  <h2>DevOps</h2>

  <p>Non-trivial deployments of SaaS software usually require DevOps
    activities</p>

  <div class="fragment">
    <p>Tools for provisioning, configuration management, and
      application include</p>
    <ul>
      <li>Ansible</li>
      <li>Chef</li>
      <li>Puppet</li>
      <li>Salt</li>
      <li>...</li>
    </ul>
  </div>
</section>


<section>
  <h2>Ansible</h2>

  <p>Give introduction ...</p>

  <p class="fragment">Fortunately, pre-made package managers can vastly
    facilitate these activities</p>

  <p class="fragment">We may even use private instances of package manager
    software</p>
</section>


<section>
  <h2>Example: Deployment to PyPI</h2>

  <section>
    <p>There are many great tools for building and deploying Python software</p>
    <p>Each of <code>hatch</code>, <code>pdm</code>, <code>poetry</code> and
      <code>setuptools</code> offer distinct features</p>

    <div class="fragment">
      <p>For now, let's use <code>poetry</code>; start by installing it</p>
{% highlight 'shell' %}
sudo apt install python3-poetry
{% endhighlight %}
    </div>
  </section>

  <section>
    <p>If we want to use the official PyPI servers, we need an
      <a href="https://pypi.org/account/register/">account</a></p>

    {# follow
      https://medium.com/lambda-automotive/python-poetry-finally-easy-build-and-deploy-packages-e1e84c23401f
      and
      https://www.digitalocean.com/community/tutorials/how-to-publish-python-packages-to-pypi-using-poetry-on-ubuntu-22-04
     #}

    <aside class="notes">
      <p>The <kbd>pypi</kbd> website is extremely restrictive and only allows
        very few parallel
        signups; (5 is definitely too much); ask students to sign up from home
        upfront</p>
      <p>Set up account with class; verify email;
        configure 2FA with an authenticator app; create API tokens;
        explain pending publishers like GitLab</p>

     </aside>
  </section>
</section>


{% include 'slides/closing.njk' %}

<section>
  <h2>Further Reading</h2>
{#  <div class="reference" id="GammaEtAl:1997">
    <span class="authors">Erich Gamma, Richard Helm, Ralph Johnson,
      John Vlissides</span>
    <span class="title">Design Patterns. Elements of Reusable Object-Oriented
      Software</span>
    <span class="pub_details">Prentice Hall; 1st ed. (1997)</span>
  </div>
  <div class="reference" id="Martin:2002">
    <span class="authors">Robert C. Martin</span>
    <span class="title">Agile Software Development, Principles, Patterns, and
      Practices</span>
    <span class="pub_details">Pearson; 1st ed. (2002)</span>
  </div>

  <div class="reference" id="python:2012">
    <span class="authors">Python Software Foundation</span>
    <span class="title">
      <a href="http://docs.python.org/3/">Python Documentation</a></span>
    <span class="pub_details">http://docs.python.org/3/</span>
  </div>#}
</section>


{% endblock %}
