{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple unit test intros for different
programming languages with only a few blocks being distinct.
#}
{% extends "layouts/presentation.njk" %}
{% set source_path = "source/" + extension + "/design_patterns/" %}
{% set data_path = "/data/" + extension + "/design_patterns/" %}

{% set title = "[WIP] Design Patterns and Principles" %}

{% block presentation %}


<section>
  <h2>The SOLID Design Principles</h2>

  <section>
    <p>Design principles by Robert C. Martin (Uncle Bob)</p>
    <p>Frequently referred to in design patterns literature</p>
  </section>

  <section>
    <ul>
      <li><strong>S</strong>ingle responsibility principle</li>
      <li><strong>O</strong>pen close principle</li>
      <li><strong>L</strong>iskov substitution principle</li>
      <li><strong>I</strong>nterface segregation principle</li>
      <li><strong>D</strong>ependency inversion principle</li>
    </ul>
  </section>

</section>


<section>
  <h2>Single Responsibility Principle (SRP)</h2>

  <section>
    <p>Also known as "separation of concerns" (SOC)</p>
    <p>A class should only have its primary responsibility</p>
  </section>

  <section>
    <h3>Example</h3>
  </section>
</section>


<section>
  <h2>Open Close Principle (OCP)</h2>

  <section>

  </section>

  <section>

  </section>
</section>


<section>
  <h2>Liskov Substitution Principle (LSP)</h2>

  <section>
    <p>LSP is a particular definition of a subtyping relation,
      called strong behavioral subtyping</p>
    <p>Initially introduced by Barbara Liskov in a 1987</p>

    <p>"Liskov's notion of a behavioural subtype defines a notion of substitutability for objects; that is, if S is a subtype of T, then objects of type T in a program may be replaced with objects of type S without altering any of the desirable properties of that program"</p>
  </section>

  <section>

  </section>
</section>


<section>
  <h2>Interface Segregation Principle (ICP)</h2>

  <section>

  </section>

  <section>

  </section>
</section>


<section>
  <h2>Dependency Inversion Principle (DIP)</h2>

  <section>

  </section>

  <section>

  </section>
</section>


<section>
  <h2>Creational Patterns</h2>

  <ul>
    <li>Abstract Factory</li>
    <li>Builder</li>
    <li>Factory Method</li>
    <li>Prototype</li>
    <li>Singleton</li>
  </ul>
</section>

<section>
  <h2>Structural Patterns</h2>

  <ul>
    <li>Adapter</li>
    <li>Bridge</li>
    <li>Composite</li>
    <li>Decorator</li>
    <li>Facade</li>
    <li>Flyweight</li>
    <li>Proxy</li>
  </ul>
</section>

<section>
  <h2>Behavioral Patterns</h2>

  <ul>
    <li>Chain of Responsibility</li>
    <li>Command</li>
    <li>Interpreter</li>
    <li>Iterator</li>
    <li>Mediator</li>
    <li>Memento</li>
    <li>Observer</li>
    <li>State</li>
    <li>Strategy</li>
    <li>Template Method</li>
    <li>Visitor</li>
  </ul>
</section>


{% include 'slides/closing.njk' %}

<section>
  <h2>Further Reading</h2>
  <div class="reference" id="GammaEtAl:1997">
    <span class="authors">Erich Gamma, Richard Helm, Ralph Johnson,
      John Vlissides</span>
    <span class="title">Design Patterns. Elements of Reusable Object-Oriented
      Software</span>
    <span class="pub_details">Prentice Hall; 1st ed. (1997)</span>
  </div>
  <div class="reference" id="Martin:2002">
    <span class="authors">Robert C. Martin</span>
    <span class="title">Agile Software Development, Principles, Patterns, and
      Practices</span>
    <span class="pub_details">Pearson; 1st ed. (2002)</span>
  </div>

{#  <div class="reference" id="python:2012">
    <span class="authors">Python Software Foundation</span>
    <span class="title">
      <a href="http://docs.python.org/3/">Python Documentation</a></span>
    <span class="pub_details">http://docs.python.org/3/</span>
  </div>#}
</section>


{% endblock %}
