---
layout: layouts/test.njk
class: 1CHEL
group: B
subject: FSST
date: 2023-12-21
points: [32, 24, 44]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>
  <li>
    {% YesNoTable 8, '', 32 %}
{% yes_no_question 'Die Anfänge der Internettechnologien wurden während dem
  kalten Krieg entwickelt.', 'yes' %}
{% yes_no_question 'Das www ermöglichte eine einfachere Nutzung des Internets
  für die breite Bevölkerung', 'yes' %}
{% yes_no_question 'Die ersten Webseiten wurden 1991 veröffentlicht', 'yes' %}
{% yes_no_question 'Künstliche Intelligenz hat gigantische Potentiale und ist
  frei von Risiken.', 'no' %}
{% yes_no_question 'Künstliche Intelligenz könnte für den Betrieb von autonomen
  Kampfmaschinen eingesetzt werden',  'yes' %}
{% yes_no_question 'MacOS, Irix und Windows sind die drei meistverwendeten
  Betriebssysteme.', 'no' %}
{% yes_no_question 'Es ist legal, eine Kopie vom Linux-Betriebssystem
  anzufertigen und diese an Freunde und Familie weiter zu verteilen.', 'yes' %}
{% yes_no_question 'Ubuntu, Fedora und Debian sind Linux Distributionen.',
  'yes' %}
    {% endYesNoTable %}
  </li>



  <li>
    {% YesNoTable 6, 'Programmiersprachen', 24 %}
{% yes_no_question 'Source Code (Quelltext) bezeichnet den in einer
  Programmiersprache geschriebenen Text eines Computerprogrammes.', 'yes' %}
{% yes_no_question 'Ein Interpreter übersetzt Dateien mit Quelltext in
  Dateien mit Maschinencode.', 'no' %}
{% yes_no_question 'Fortran, Cobol und Lisp können als historische
  Programmiersprachen bezeichnet werden.', 'yes' %}
{% yes_no_question 'Die Programmiersprache C hat ein statisches Typensystem.',
  'yes' %}
{% yes_no_question 'Embedded Systems können mit C aufgrund der geringen
  Performance der Sprache nicht programmiert werden.',
  'no' %}
{% yes_no_question 'C99, C11 und C17 bezeichnen verschiedene Versionen der
  Programmiersprache C.', 'yes' %}
    {% endYesNoTable %}
  </li>

  <li>
    <strong>Einführung in die Programmierung</strong> (44 Punkte)

    <ol>
      <li>Welchen Befehl muss man schreiben (inklusive aller Argumente), um
        sich auf unserem Programmierserver anzumelden? (10 Punkte)
{% answer %}
<div class="grading">
  5 points for <code>ssh</code><br />
  2 points for correct username<br />
  3 points for correct hostname
</div>

<code>ssh vorname.nachname@sandbox.bulme.at</code>
{% endanswer %}
      </li>

      <li>Mit welchem Befehl kann die Datei <code>program.c</code> auf Sandbox
        editiert werden? (8 Punkte)
{% answer %}
<div class="grading">
  5 points for <code>micro</code> et al.<br />
  3 points for the filename
</div>
{% highlight "shell" %}
micro program.c  # or `vim`, `jed`, ...
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Verfasse ein kompilierbares Programm mit der
        Programmiersprache C. Es muss den Text
        "Merry XMAS!" ausgeben und dem Betriebssystem
        melden, dass die Ausführung erfolgreich war.
        (20 Punkte)
{% answer %}
<div class="grading">
  5 points for the include<br />
  5 points for the main function<br />
  5 points for <code>printf("Merry XMAS!")</code><br />
  5 points for returning 0
</div>

{% highlight "c" %}
#include <stdio.h>

int main() {
  printf("Merry XMAS!\n");
  return 0;
}
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Nenne die zwei Compiler (die Befehle, um diese zu starten), mit denen
        auf Sandbox C Dateien in ausführbare Programme übersetzt werden können.
        (6 Punkte)
{% answer %}
<code>clang</code> und <code>gcc</code>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
