---
layout: layouts/test.njk
class: 1CHEL
group: A
subject: FSST
date: 2024-01-25
points: [32, 24, 44]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>
  <li>
    {% YesNoTable 8, '', 32 %}
{% yes_no_question 'C Sourcecode kann direkt ohne Zwischenschritte ausgeführt
  werden.', 'no' %}
{% yes_no_question 'Mit der Programmiersprache C können, unter anderem,
  grafische Anwendungsprogramme, Betriebssysteme und Programmiersprachen
  umgesetzt (geschrieben) werden.', 'yes' %}
{% yes_no_question 'Ein Texteditor wird dazu verwendet, um Textdateien zu
  erstellen bzw. ändern.', 'yes' %}
{% yes_no_question 'Dateien mit Sourcecode können mit jedem Texteditor
  bearbeitet werden.', 'yes' %}
{% yes_no_question 'Dateien mit C Sourcecode haben normalerweise keine
  Dateiendung.', 'no' %}
{% yes_no_question 'Zu den Aufgaben des Preprocessors gehören das Entfernen
  von Kommentaren und das Einfügen der <code>include</code>s.', 'yes' %}
{% yes_no_question 'Aufgabe des Linkers ist es, zu überprüfen, ob alle Variablen
  im Code einen korrekten Typ haben.', 'no' %}
{% yes_no_question 'Der Assembler übersetzt Assemblycode in Objektcode
  (Maschinensprache).', 'yes' %}
    {% endYesNoTable %}
  </li>



  <li>
    {% YesNoTable 6, '', 24 %}
{% yes_no_question 'Ein 32 bit Integer kann nur Zahlen bis 127 speichern.',
  'no' %}
{% yes_no_question '<code>float</code> ist ein Datentyp für ganze Zahlen.',
  'no' %}
{% yes_no_question 'Mit <code>printf</code> und <code>puts</code> kann Text
  auf <code>stdout</code> (idR also im Terminalfenster) ausgegeben werden.',
  'yes' %}
{% yes_no_question '<code>scanf</code> dient zum Auslesen von
  Benutzereingaben.', 'yes' %}
{% yes_no_question 'Das Ausführen eines C Programms beginnt immer in der
  <code>main</code> Funktion.',
  'yes' %}
{% yes_no_question 'Mit dem <code>int</code> Schlüsselwort können Variablen
  vom Typen Integer angelegt werden.', 'yes' %}
    {% endYesNoTable %}
  </li>

{# write program to show the size of the data type #}
  <li>
    <strong>Einführung in die Programmierung</strong> (44 Punkte)

    <ol>
      <li>Verfasse ein kompilierbares Programm mit der
        Programmiersprache C. Es muss folgenden Text ausgeben, wobei "?"
        durch den jeweils richtigen Wert zu ersetzen ist. Dieser Wert ist mit
        dem richtigen Operator zu generieren.
<pre>
char requires ? bytes
int requires ? bytes
double requires ? bytes
</pre>
        Nach der Ausgabe muss das Programm dem Betriebssystem
        melden, dass die Ausführung erfolgreich war.
        (33 Punkte)
{% answer %}
<div class="grading">
  5 points for the include<br />
  5 points for the main function<br />
  3*6 points for creating the correct output (2 for <code>printf(.)</code>,
    2 for <code>%zu</code> (or <code>%lu</code>), 2 for using <code>sizeof</code><br />
  points for using <code>sizeof</code><br />
  5 points for returning 0
</div>

{% highlight "c" %}
#include <stdio.h>

int main() {
  printf("char requires %zu bytes\n", sizeof(char));
  printf("int requires %zu bytes\n", sizeof(int));
  printf("double requires %zu bytes\n", sizeof(double));
  return 0;
}
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Der Sourcecode des obige Programs ist in <code>types.c</code>
        gespeichert. Übersetze den Code so, dass das ausführbare Program
        den Namen <code>display_types</code> bekommt.
        (6 Punkte)
{% answer %}
<div class="grading">
  2 points for the compiler<br />
  2 points for the correct output parameter<br />
  2 points for the correct input filename
</div>

<code>clang -o display_types types.c</code>
{% endanswer %}
      </li>

      <li>Auf der Linux Kommandozeile kann man Hilfe zu
        C Programmierbefehlen bekommen. Schreibe den Befehl, der die Hilfe zur
        <code>printf</code> Funktion gibt. Achtung: in diesem Fall ist die
        richtige "Sektion" mitanzugeben.
        (5 Punkte)
{% answer %}
<div class="grading">
  3 points for <code>man printf</code><br />
  2 points for explicitly passing section 3
</div>

<code>man 3 printf</code>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
