---
layout: layouts/test.njk
class: 1CHEL
group: A
subject: FSST
date: 2023-12-07
points: [18, 12, 12, 18, 40]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>
  <li>
    {% YesNoTable 6, 'Betriebssyteme', 18 %}
{% yes_no_question 'Ein Betriebssystem bildet die Grundlage eines
  Computersystems, indem es die Hardware steuert und Programme überwacht.',
  'yes' %}
{% yes_no_question 'Windows ist das älteste Betriebssystem. Seine Entwicklung
  begann Jahrzehnte vor Linux, Unix und Mac OS', 'no' %}
{% yes_no_question 'Open Source bezeichnet Software, deren Quellcode frei
  verfügbar ist.', 'yes' %}
{% yes_no_question 'Die Entwicklung von Linux begann 1991 durch
  Ken Thompson.', 'no' %}
{% yes_no_question 'Linux ist ein freies
  Multiplattform-Mehrbenutzer-Betriebssystem.', 'yes' %}
{% yes_no_question 'Eine Linux-Distribution bezeichnet die parallele
  Installation von Linux auf vielen Rechnern.', 'no' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 4, 'Internet', 12 %}
{% yes_no_question 'Die Begriffe Internet und World Wide Web bezeichnen das
  gleiche.', 'no' %}
{% yes_no_question 'Die Entwicklung des Internet hat im kalten Krieg begonnen',
  'yes' %}
{% yes_no_question 'Im World Wide Web wird das HTTP Protokoll verwendet,
  um HTML Dateien zu übertragen', 'yes' %}
{% yes_no_question 'Die ersten Webseiten und Browser wurden 1961
  veröffentlicht', 'no' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 4, 'Künstliche Intelligenz', 12 %}
{% yes_no_question 'Ethik in der Künstlichen Intelligenz erfordert Transparenz
  und Erklärbarkeit.', 'yes' %}
{% yes_no_question 'Künstliche Intelligenz ermöglicht Innovationen,
  die unser tägliches Leben verbessern können.', 'yes' %}
{% yes_no_question 'KI und AI sind unterschiedliche Konzepte.', 'no' %}
{% yes_no_question 'Künstliche Intelligenz birgt erhebliche Risiken.', 'yes' %}
    {% endYesNoTable %}
  </li>


  <li>
    {% YesNoTable 6, 'Programmiersprachen', 18 %}
{% yes_no_question 'Eine Programmiersprache ist eine formale Sprache mit der
  zwei Computer Daten untereinander austauschen.', 'no' %}
{% yes_no_question 'Python gehört zu den ältesten historischen
  Programmiersprachen.', 'no' %}
{% yes_no_question 'C wurde von Dennis Ritchie für die Programmierung des
  damals neuen Unix-Betriebssystems entwickelt.', 'yes' %}
{% yes_no_question 'Java ist eine funktionale Programmiersprache.', 'no' %}
{% yes_no_question 'JavaScript hat dynamische Inhalte im Web revolutioniert.',
  'yes' %}
{% yes_no_question 'Kotlin, Rust und Swift sind Dialekte von Java.',
  'no' %}
    {% endYesNoTable %}
  </li>

  <li>
    <strong>Einführung in die Programmierung</strong> (40 Punkte)

    <ol>
      <li>Welchen Befehl muss man schreiben (inklusive aller Argumente), um
        sich auf unserem Programmierserver anzumelden? (10 Punkte)
{% answer %}
<div class="grading">
  5 points for <code>ssh</code><br />
  2 points for correct username<br />
  3 points for correct hostname
</div>

<code>ssh vorname.nachname@sandbox.bulme.at</code>
{% endanswer %}
      </li>

      <li>Mit welchem Befehl kann auf Sandbox
        ein Texteditor gestartet werden. (5 Punkte)
{% answer %}
{% highlight "shell" %}
micro  # or `vim`, `jed`, ...
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Verfasse ein kompilierbares Programm mit der
        Programmiersprache C. Es muss den Text
        "Good luck!" ausgeben und einen Rückgabewert beinhalten.
        (20 Punkte)
{% answer %}
<div class="grading">
  5 points for the include<br />
  5 points for the main function<br />
  5 points for <code>printf("Good luck!")</code><br />
  5 points for returning 0
</div>

{% highlight "c" %}
#include <stdio.h>

int main() {
  printf("Good luck!\n");
  return 0;
}
{% endhighlight %}
{% endanswer %}
      </li>

      <li>Der Code befindet sich in
        <code>solve.c</code>. Welcher Befehl erstellt ein ausführbares Programm?
        (5 Punkte)
{% answer %}
<code>clang solve.c</code> oder <code>gcc solve.c</code>
{% endanswer %}
      </li>
    </ol>
  </li>
</ol>
