---
layout: layouts/test.njk
class: 1CHEL
group: A
subject: FSST
date: 2024-05-28
points: [10, 25, 35, 30]
grading: "Benotung: >87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---
<ol>
  <li>
{% YesNoTable 4, '', 10 %}
{% yes_no_question 'Ein Array in C kann Elemente mit unterschiedlichen
  Datentypen kombinieren.', 'no' %}
{% yes_no_question '<code>sizeof(.)</code> gibt die Anzahl der Elemente
  eines Arrays zurück.', 'no' %}
{% yes_no_question 'Das erste Element eines C-Arrays hat den Index 0.', 'yes' %}
{% yes_no_question 'Jedes <code>for</code> loop in C kann in ein entsprechendes
  <code>while</code> loop umgeschrieben werden.', 'yes' %}
{% endYesNoTable %}
  </li>

  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output (Terminal) geschrieben?
    Schreibe den genauen Output des Snippets. Die Snippets werden als Teil
    von <code>int main(.)</code> ausgeführt und alle notwendigen
    <code>#includes</code> sind vorhanden. Wenn das Snippet nicht kompilierbar
    ist, zu einem Absturz führen würde oder der Output nicht definiert ist,
    so ist das Wort "<strong>ERROR</strong>" als Antwort zu geben. Erzeugt das Snippet keinen
    Output (wenn beispielsweise kein printf oder dergleichen aufgerufen wird),
    so ist "<strong>-</strong>" als richtige Antwort zu verwenden.
    <div class="grading">5 Punkte für jede richtige Antwort.</div>
    <ol>


  <li>
{% highlight "c" %}
unsigned int values[] = {4, 2, 1, 0};
for (int i = 0; i < sizeof(values) / sizeof(unsigned int); i++) {
  printf("%d ", values[i]);
}
{% endhighlight %}
{% answer %}
4 2 1 0
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int arr[] = {1, 2, 3};
printf("%d\n", arr[3]);
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int condition = 1;
while (condition == 1) {
  condition = 0;
  printf("Hello\n");
}
{% endhighlight %}
{% answer %}
Hello
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
for (int i = 3; i > 0; --i) {
  printf("%d\n", i);
}
{% endhighlight %}
{% answer %}
3<br />
2<br />
1
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int num = 2;
switch (num) {
case 1:
  printf("One.\n");
case 2:
  printf("Two.\n");
case 3:
  printf("Three.\n");
}
{% endhighlight %}
{% answer %}
Two.<br />
Three.
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Implementiere die Funktion
{% highlight "c" %}
size_t count_less_than(int array[], size_t dimension, int threshold);
{% endhighlight %}
    Die Funktion muss die Anzahl der Element in <code>array</code>
    zurückgeben, welche kleiner als <code>threshold</code> sind.
    (35 Punkte)
{% answer %}
    <div class="grading">
      6 points for correct signature and name<br />
      6 points for declaring a variable for the count<br />
      6 points for a proper loop<br />
      6 points for a proper condition<br />
      6 points for incrementing the counter<br />
      5 points for returning the correct result
    </div>
{% highlight "c" %}
size_t count_less_than(const int array[], size_t dimension, int threshold) {
  size_t count = 0;
  for (size_t i = 0; i < dimension; ++i) {
    if (array[i] < threshold) {
      ++count;
    }
  }
  return count;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Implementiere die Funktion
{% highlight "c" %}
long product(int array[], size_t dimension);
{% endhighlight %}
    Die Funktion muss das Produkt von allen Werten in
    <code>array</code> zurückgeben.
    (30 points)
{% answer %}
    <div class="grading">
      6 points for correct signature and name<br />
      6 points for declaring a variable for the result<br />
      6 points for a proper loop<br />
      6 points for calculation each product<br />
      6 points for returning the correct result
    </div>
{% highlight "cpp" %}
long product(int array[], size_t dimension) {
  long result = 1;
  for (size_t i = 0; i < dimension; ++i) {
    result *= array[i];
  }
  return result;
}
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
