---
layout: layouts/test.njk
class: 1CHEL
group: B
subject: FSST
date: 2024-06-11
points: [10, 30, 30, 30]
grading: "Benotung: >87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---
<ol>
  <li>
{% YesNoTable 4, '', 10 %}
{% yes_no_question 'Wenn man einen C-Array an eine Funktion übergibt,
  muss man dessen Dimension (Anzahl der Elemente) ebenfalls übergeben, da diese
  in der Funktion nicht mehr herausfindbar ist.', 'yes' %}
{% yes_no_question 'Wenn in einem C-Array mit `uint64_t` das erste Element an
  der Adresse <code>0x7fc8c013e0</code> liegt, dann liegt das zweite Element
  an der Adresse <code>0x7fc8c013ea</code>.', 'no' %}
{% yes_no_question 'Wenn `dim` die Anzahl der Elemente in einem C-Array ist,
  dann hat das letzte Element den Index `dim`.', 'no' %}
{% yes_no_question 'In einem C-Array müssen alle Elemente den gleichen Datentyp
  haben.', 'yes' %}
        {% endYesNoTable %}
  </li>

  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output (Terminal) geschrieben?
    Schreibe den genauen Output des Snippets. Die Snippets werden als Teil
    von <code>int main(.)</code> ausgeführt und alle notwendigen
    <code>#includes</code> sind vorhanden. Wenn das Snippet nicht kompilierbar
    ist, zu einem Absturz führen würde oder der Output nicht definiert ist,
    so ist das Wort "<strong>ERROR</strong>" als Antwort zu geben. Erzeugt das Snippet keinen
    Output (wenn beispielsweise kein printf oder dergleichen aufgerufen wird),
    so ist "<strong>-</strong>" als richtige Antwort zu verwenden.
    <div class="grading">5 Punkte für jede richtige Antwort.</div>

    <ol>
      <li>
{% highlight "c" %}
int arr[] = {1, 2, 3};
printf("%d\n", arr[0]);
{% endhighlight %}
{% answer %}
1
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
unsigned int values[] = {4, 2, 1, 0};
printf("%zu\n", sizeof(values));
{% endhighlight %}
{% answer %}
16
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int condition = 0;
while (condition == 1) {
  condition = 0;
  printf("Hello\n");
}
{% endhighlight %}
{% answer %}
-
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
for (int i = 0; i > 3; ++i) {
  printf("%d\n", i);
}
{% endhighlight %}
{% answer %}
-
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int num = 1;
switch (num) {
case 1:
  printf("One.\n");
  break;
case 2:
  printf("Two.\n");
  break;
case 3:
  printf("Three.\n");
  break;
}
{% endhighlight %}
{% answer %}
One.
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
unsigned int values[] = {4, 2, 1, 0};
printf("number of elements: %zu\n", len(values));
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Implementiere die Funktion
{% highlight "c" %}
double average(int array[], size_t dim);
{% endhighlight %}
    Die Funktion muss den Durchschnitt der Element in <code>array</code>
    zurückgeben (Summe dividiert durch Anzahl der Elemente).
    (30 Punkte)
{% answer %}
    <div class="grading">
      6 points for correct signature and name<br />
      6 points for declaring and initializing a variable for the sum<br />
      6 points for a proper loop<br />
      6 points for incrementing the sum<br />
      6 points for returning the sum divided by the dimension<br />
    </div>
{% highlight "c" %}
double average(int array[], size_t dim) {
  double sum = 0.0;
  for (size_t i = 0; i < dim; ++i) {
    sum += array[i];
  }
  return sum / dim;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Implementiere die Funktion
{% highlight "cpp" %}
int contains(int array[], size_t dim, int elem);
{% endhighlight %}
    Die Funktion muss <code>1</code> zurückgeben, wenn <code>elem</code> im
    übergebenen <code>array</code> enthalten ist, sonst <code>0</code>.
    (30 points)
{% answer %}
    <div class="grading">
      6 points for correct signature and name<br />
      6 points for a proper loop<br />
      6 points for a proper condition<br />
      6 points for returning 1 if `elem` is in the array<br />
      6 points for returning 0 otherwise<br />
    </div>
{% highlight "c" %}
int contains(int array[], size_t dim, int elem) {
  for (size_t i = 0; i < dim; ++i) {
    if (array[i] == elem) return 1;
  }
  return 0;
}
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
