---
title: Grading
layout: layouts/presentation.njk
---

{% include 'slides/lbvo.njk' %}

<section>
  <h2>Arten der Leistungsfeststellung</h2>

  <section>
    <h3>2 Tests pro Semester (je 25 Minuten)</h3>
    <ul>
      <li>Grundlegende Aufgaben</li>
      <li>Erweiterte Aufgaben</li>
      <li class="fragment">Bei Verhinderung kann mündliche Prüfung über den
      Teststoff angeordnet werden</li>
      <li class="fragment">
        Bei Vortäuschen von Leistungen
        <ul >
          <li>unbeurteilter Test</li>
          <li>mündl. Prüfung über den Teststoff</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h3>Mündliche Prüfungen</h3>
    <p>Prüfungsdauer: 15 Minuten + Vorbereitungszeit</p>
    <p class="fragement">Angeordnet durch Lehrer (nur wenn notwendig)</p>

    <!-- 1 Prüfung pro Semester auf Schülerwunsch -->

    <p class="fragment">Gewichtung entsprechend Test – Stoffumfang</p>

    <!-- Zählt immer zusätzlich zu anderen Leistungen -->
  </section>
  <section>
    <h3>Mitarbeit</h3>
    <ul>
      <li>Beurteilung erfolgt über das ganze Schuljahr</li>
      <li>Einzelne Leistungen werden nicht getrennt beurteilt</li>
    {#<p>Wesentlicher Faktor der Gesamtnote</p>#}
      <li class="fragment">
        <strong>Grundlegend:</strong> Programmieraufgaben, Code Reviews,
        Wiederholung, Mitarbeit im Unterricht, …
      </li>
      <li class="fragment">
        <strong>Erweitert</strong>: Übungspräsentation, Referat mit Handout, freiwilliges Programmierprojekt, …<br />
      </li>
    </ul>
  </section>
</section>

<section>
  <h2>Notengebung</h2>
  <ul>
    <li>Mitarbeit im Unterricht</li>
    <li>Schriftliche Leistungsfeststellungen (Tests)</li>
    <li>Mündlichen Leistungsfeststellungen (Prüfungen)</li>
  </ul>
  <p class="fragment">Die unterschiedlichen Leistungsarten sind prinzipiell
    gleich gewichtet, jedoch fließen zuletzt erbrachte Leistungen stärker in
    die Beurteilung ein.</p>
</section>


