---
layout: layouts/test.njk
class: 2AKIFT
group: B
subject: POS
date: 2023-06-14
points: [25, 25, 25, 25]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>
  <li>
    <ol>
      <li>
{% YesNoTable 6, '', 15 %}
  {% yes_no_question '<code>cmake</code> can generate
    <code>Makefiles</code>.', 'yes' %}
  {% yes_no_question "One can only use <code>cmake</code> if the chosen
    IDE supports it.", 'no' %}
  {% yes_no_question '<code>cmake</code> is platform independent.', 'yes' %}

  {% yes_no_question 'With dynamic memory it is possible to grow and shrink
    dynamic data structures.', 'yes' %}
  {% yes_no_question 'The size of the stack can be determined with
    <code>ulimit -s</code>.', 'yes' %}
  {% yes_no_question 'Using memory from the heap is faster than from the
    stack.', 'no' %}
{% endYesNoTable %}
      </li>

      <li>
{% YesNoTable 4, '', 10 %}
  {% yes_no_question 'Text files have the advantage of being human
    readable.', 'yes' %}
  {% yes_no_question 'There are multiple standards for storing data in
    text files.', 'yes' %}
  {% yes_no_question 'Binary files can easily be read with any text
    editor.', 'no' %}
  {% yes_no_question "Storing data in binary files generally requires more
    memory than structured text files.",
    'no' %}
{% endYesNoTable %}
      </li>
    </ol>
  </li>


  <li>The following C17 snippets are executed as a part of
    <code>int main(.)</code> (unless main is part of the snippet).
    Assume that all neccessary standard library
    <code>#include</code>s are present.<br />
    What do these code snippets write to <code>stdout</code>?
    Write their exact output below each snippet.
    <br />
    If a snippet cannot be compiled, would crash or its output is undefined,
    it is enough to write “<strong>ERROR</strong>”.
    If there is no visible output, write "<strong>-</strong>".
    <div class="grading">5 points for each correct answer.</div>

    <ol>
      <li>
{% highlight "c" %}
typedef struct { double x; double y; } Point;
Point test = {.25, .75};
printf("[%.2lf %.2lf]\n", test.x, test.y);
{% endhighlight %}
{% answer %}
[0.25 0.75]
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int a = 10;
int* p = &a;
int** pp = &p;
**pp /= **pp;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
1
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char s[] = "Hello";
char* p = s;
while (*p) {
  *p = toupper(*p);
  ++p;
}
puts(s);
{% endhighlight %}
{% answer %}
HELLO
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
unsigned int radicand = 36;
for (unsigned int i = 0; i <= radicand; --i) {
  if (i * i == radicand) { printf("%u", i); }
}
{% endhighlight %}
{% answer %}
-
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
size_t size = 8192 * 1024;  // 8 MB
int* array = (int*) malloc(size);
for (size_t i = 0; i < size / sizeof(int); ++i) {
  array[i] = i * i;  // initialize the array ...
}
printf("Survived?\n");
free(array);  // avoid memory leak
{% endhighlight %}
{% answer %}
Survived?
{% endanswer %}
      </li>
    </ol>
  </li>

  <li><strong>Queen Attack</strong><br />

{% highlight 'c' %}
const int CAN_NOT_ATTACK = 0;
const int CAN_ATTACK = 1;
const int INVALID_POSITION = 2;
typedef struct {
  uint8_t row;
  uint8_t column;
} Position;
{% endhighlight %}
    Given the position of two queens on a chess board (8 times 8 squares) as
    0 indexed row and column of type <code>Position</code>, determine whether
    the two queens have invalid positions, can attack each other or cannot
    attach each other. To do so, implement a function
    <code>int can_attack(Position queen_1, Position queen_2)</code> that
    returns the appropriate constant as defined above.<br />
    The setting is valid, if the two queens do not share the same field and if
    both of them are based within the 8x8 board. Assume that two queens can
    attack each other if the setting is valid and they share the same row,
    column or diagonal on the board.
{% answer %}
    <div class="grading">
      5 points for catching any possible off-board condition as invalid<br />
      5 points for returning invalid if the queens share a position<br />
      5 points for returning <code>CAN_ATTACK</code> in case rows or columns
        are shared and the setting is valid<br />
      5 points for returning <code>CAN_ATTACK</code> in case the diagonal is
        shared and the setting is valid<br />
      5 points for returning <code>CAN_NOT_ATTACK</code> in case
        the setting is valid but an attack is impossible<br />
    </div>
{% highlight "c" %}
bool is_valid(Position pos) {
  if (pos.row >= 8 || pos.column >= 8) return false;
  return true;
}

int can_attack(Position queen_1, Position queen_2) {
  if (!(is_valid(queen_1) && is_valid(queen_2))) return INVALID_POSITION;
  if (queen_1.row == queen_2.row && queen_1.column == queen_2.column)
    return INVALID_POSITION;
  if (queen_1.row == queen_2.row || queen_1.column == queen_2.column)
    return CAN_ATTACK;
  int8_t d_row = queen_1.row - queen_2.row;
  int8_t d_column = queen_1.column - queen_2.column;
  if (abs(d_row) == abs(d_column)) return CAN_ATTACK;
  return CAN_NOT_ATTACK;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li><strong>Binary Numbers</strong><br />
    Implement a function
    <code>int binary_str_to_int(const char* str)</code>
    that takes a C string representing a binary number (eg. "100101")
    and returns the base 10 numeric representation of that string.
    In case of "100101", the result would be
    $1*2^5 + 0*2^4 + 0*2^3 + 1*2^2 + 0*2^1 + 1*2^0 = 32 + 4 + 1 = 37$.
    Do not use any library functions. You may assume the input to be valid.
{% answer %}
    <div class="grading">
      5 points if the function name and signature are correct and
        no library functions are used<br />
      5 points for calculating the number of digits<br />
      5 points for skipping 0 digits<br />
      5 points for calculating the value of each digit<br />
      5 points for returning the correct value<br />
    </div>
{% highlight "c" %}
int binary_str_to_int(const char* str) {
    int digits = 0;
    int result = 0;
    while (str[digits]) { digits++; }
    for (int i = digits - 1; i >= 0; --i) {
        if (str[digits - i - 1] == '1') {
            result += 1 << i;
        }
    }
    return result;
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
