---
layout: layouts/test.njk
class: 2AKIFT
group: A
subject: POS
date: 2022-06-09
points: [4, 12, 9, 7]
grading: "Benotung: <16: 5, 16-20: 4, 21-24: 3, 25-28: 2, 29-32: 1"
---

<ol>
  <li>{% YesNoTable 8 %}
      {% yes_no_question 'Der mit <code>malloc(.)</code> reservierte Speicher
        muss manuell mittels Aufruf von <code>free(.)</code> freigegeben
        werden.', 'yes' %}
      {% yes_no_question 'Dynamische Speicherverwaltung in C is notwendig, um
        den gesamten vorhandenen Hauptspeicher nutzen zu können.', 'yes' %}
      {% yes_no_question 'Speicher für einen Array kann mit
        <code>malloc(.)</code> nicht reserviert werden.', 'no' %}
      {% yes_no_question 'Dynamisch wachsende Arrays stehen in C auch ohne
        dynamische Speicherverwaltung zur Verfügung.', 'no' %}
      {% yes_no_question 'Der Rückgabewert von <code>malloc(.)</code> ist
        <code>void*</code>.', 'yes' %}
      {% yes_no_question 'In C kann der gleiche Funktionsname mehrfach mit
        unterschiedlichen Parametern definiert werden.', 'no' %}
      {% yes_no_question 'Die C++ Standard Template Library (STL) stellt
        mitunter Container Datentypen wie <code>string</code> und
        <code>vector</code> zur Verfügung.',
        'yes' %}
      {% yes_no_question 'C++ Templates erlauben es, eine Funktion nur einmal
        zu definieren und sie dennoch mit unterschiedlichen Datentypen der
        Parameter zu verwenden.', 'yes' %}
    {% endYesNoTable %}
  </li>



  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C++-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main(.)</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>
{% highlight "cpp" %}
std::vector<std::string> names = {"Pat", "Chris", "Sue", "Steve"};
for (const auto& name : names) {
  std::cout << name << " ";
}
{% endhighlight %}
{% answer %}
Pat Chris Sue Steve
{% endanswer %}
      </li>
      <li>
{% highlight "cpp" %}
std::vector<int> values = {1, 2, 3};
for (auto it = values.rbegin(); it != values.rend(); it++) {
  std::cout << *it << std::endl;  // dereference the iterator
}
{% endhighlight %}
{% answer %}
3<br />
2<br />
1
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
int array[] = {1, 2, 3, 4};
int* array_ptr = array;
int count = sizeof(array) / sizeof(int);
int value = 0;
while (count--) {
  value += *array_ptr++;
}
printf("%d\n", value);
{% endhighlight %}
{% answer %}
10
{% endanswer %}
      </li>

{# TODO: continue here; use cpp exercise 1 and one of the C exercises as inputs #}
      <li>
{% highlight "c" %}
char str[] = "students";
char* haystack = str;
char needle = 's';
int occ = 0;
while (*haystack) {
  if (*haystack == needle) { occ++; }
  haystack++;
}
printf("%d\n", occ);
{% endhighlight %}
{% answer %}
2
{% endanswer %}
      </li>
      <li>
{% highlight "c" %}
typedef struct treenode TreeNode;
struct treenode {int value; TreeNode *left; TreeNode *right;};
TreeNode *node = (TreeNode*) malloc(sizeof(TreeNode));
node->value = 123; node->left=NULL; node->right=NULL;
printf("%d\n", node->value);
{% endhighlight %}
{% answer %}
123
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
std::vector<int> values = {1, 2, 3};
values.push_back(4);
for (const auto& value: values) {
    std::cout << value << ' ';
}
{% endhighlight %}
{% answer %}
1 2 3 4
{% endanswer %}
      </li>
    </ol>
  </li>

  <li><strong>C Programmierung</strong><br />
    Gegeben ist folgender <code>struct</code>
{% highlight 'c' %}
struct intarray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;
};
{% endhighlight %}
    Erstelle einen Typen <code>IntArray</code>, mit dem Instanzen von
    <code>struct intarray</code> erstellt werden können.
    Implementiere die Funktion
    <code>IntArray* ia_create()</code>, welche einen neuen
    <code>IntArray</code> zurück gibt, dessen <code>array</code> Platz für
    100 Elemente hat. Setze den Wert von <code>reserved</code> auf 100 und
    den Wert von <code>elements</code> auf 0.<br />
    Implementiere weiters die Funktion
    <code>size_t ia_count(IntArray* ia, int elem)</code>, welche zurück gibt,
    wie oft <code>elem</code> in <code>ia->array</code> enthalten ist.
{% answer %}
    <div class="grading">
      1 Punkt für den Typedef<br />
      1 Punkt für beide korrekten Funktionsnamen und Signaturen<br />
      1 Punkt für das Reservieren von Speicher für <code>IntArray</code><br />
      1 Punkt für das Reservieren von Speicher für <code>array</code><br />
      1 Punkt für das korrekte Anpassen von <code>reserved</code> und
        <code>elements</code><br />

      1 Punkt für das korrekte Ermitteln von count<br />
      1 Punkt für die dafür notwendige Schleife<br />
      je 1 Punkt für beide korrekten Rückgabewerte
    </div>
{% highlight "c" %}
typedef struct intarray IntArray;

IntArray* ia_create() {
  IntArray* ia = (IntArray*) malloc(sizeof(IntArray));
  ia->reserved = 100;
  ia->elements = 0;
  ia->array = (int*) malloc(ia->reserved * sizeof(int));
  return ia;
}

size_t ia_count(IntArray* ia, int elem) {
  size_t count = 0;
  for (size_t i = 0; i < ia->elements; ++i) {
    if (ia->array[i] == elem) count++;
  }
  return count;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li><strong>C++ Programmierung</strong><br />
    Implementiere die Funktion <code>
      std::pair&lt;double, double&gt; quadratic(double a, double b, double c)
    </code>
    welche die quadratische Gleichung mit den Koeffizienten a, b und c löst und
    die beiden Nullstellen $x_1$ und $x_2$ als <code>std::pair</code>
    zurückgibt.
    Wer <code>std::pair</code> lieber nicht verwenden möchte, kann auch einen
    eigenen <code>struct</code> für diesen Zweck implementieren, um beide
    Werte zurückgeben zu können. In diesem Fall muss natürlich die
    Signatur der Funktion <code>quadratic</code> angepasst werden.<br />
    Die Formel für quadratische Gleichungen
    lautet $x_{1,2} = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$. Es kann die
    Funktion <code>sqrt</code> verwendet werden. Auf komplexe Zahlen braucht
    keine Rücksicht genommen zu werden.
{% answer %}
    <div class="grading">
      1 Punkt den korrekten Funktionsnamen und die korrekte Signatur<br />
      2 Punkte für korrektes Handling von <code>std::pair</code> oder
        Deklaration und Verwendung des Structs inkl. anpassen der Signatur<br />
      1 Punkt für die Berechnung der Wurzel<br />
      je 1 Punkt für die Berechnung von x1 und x2<br />
      1 Punkt für die Rückgabe der beiden korrekten Werte<br />
    </div>
{% highlight "c" %}
std::pair<double, double> quadratic(double a, double b, double c) {
  double root(sqrt(b * b - 4 * a * c));
  double x1((-b + root) / (2 * a));
  double x2((-b - root) / (2 * a));
  std::pair<double, double> result(x1, x2);
  return result;
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
