---
layout: layouts/test.njk
class: 2AKIFT
group: A
subject: POS
date: 2022-04-28
points: [4, 12, 8, 8]
grading: "Benotung: <16: 5, 16-20: 4, 21-24: 3, 25-28: 2, 29-32: 1"
---

<ol>
  <li>{% YesNoTable 8 %}
      {% yes_no_question 'Der mit <code>malloc(.)</code> reservierte Speicher
        muss manuell mittels Aufruf von <code>free(.)</code> freigegeben
        werden.', 'yes' %}
      {% yes_no_question 'Dynamische Speicherverwaltung in C ist notwendig, um
        den gesamten vorhandenen Hauptspeicher nutzen zu können.', 'yes' %}
      {% yes_no_question 'Mit <code>malloc(.)</code> kann auch Speicher für
        einen ganzen struct reserviert werden.', 'yes' %}
      {% yes_no_question 'Mit <code>free(.)</code> bekommen Programmierer
        Auskunft darüber, wieviel Hauptspeicher aktuell frei ist.', 'no' %}
      {% yes_no_question 'Alle <em>member</em> eines <code>struct</code>
        müssen den gleichen Datentypen haben.', 'no' %}
      {% yes_no_question 'Ein <code>struct</code> darf Pointer beinhalten.',
        'yes' %}
      {% yes_no_question 'Es ist gültig, einen <code>typedef</code> zu einem
        <code>struct</code> zu erstellen, bevor der <code>struct</code>
        deklariert wurde.',
        'yes' %}
      {% yes_no_question 'Es ist nicht erlaubt, dass ein Pointer auf einen
        anderen Pointer zeigt.', 'no' %}
    {% endYesNoTable %}
  </li>



  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main(.)</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>
{% highlight "c" %}
typedef struct { double x; double y; } Point;
Point test = {.25, .75};
printf("[%.2lf %.2lf]\n", test.x, test.y);
{% endhighlight %}
{% answer %}
[0.25 0.75]
{% endanswer %}
      </li>
      <li>
{% highlight "c" %}
int a = 3;
int* p = &a;
int** pp = &p;
**pp -= **pp;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
0
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int array[] = {2, 2, 2, 2};
int* array_ptr = array;
int count = sizeof(array) / sizeof(int);
int value = 0;
while (count--) {
  value += *array_ptr++;
}
printf("%d\n", value);
{% endhighlight %}
{% answer %}
8
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char name[] = "Chris";
char* name_ptr = name;
while (*name_ptr) {
  printf("%c", toupper(*name_ptr));
  name_ptr++;
}
printf("\n");
{% endhighlight %}
{% answer %}
CHRIS
{% endanswer %}
      </li>
      <li>
{% highlight "c" %}
struct listnode {int value; ListNode *prev; ListNode *next;};
ListNode *node = (ListNode*) malloc(sizeof(TreeNode));
node->value = 123; node->prev=NULL; node->next=NULL;
printf("%d\n", node->value);
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
typedef struct node Node;
typedef struct route {unsigned id; Node* head; Node* tail;} Route;
Route *r = (Route*) malloc(sizeof(Route));
r->id = 1; r->head=NULL; r->tail=NULL;
printf("%u\n", r->id);
{% endhighlight %}
{% answer %}
1
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Definiere einen Typen <code>Student</code>, der die Member
    <code>char first_name[30]</code>,
    <code>char last_name[50]</code>,
    <code>unsigned long id</code> und <code>unsigned* grades</code>
    beinhaltet.<br />
    Implementiere auch eine Funktion <code>Student read_student()</code>,
    welche Vornamen, Nachnamen und id von <code>stdin</code> einliest.
    <code>grades</code> soll auf den Wert <code>NULL</code> gesetzt werden.
{% answer %}
    <div class="grading">
      1 Punkt für die Deklaration des Structs<br />
      1 Punkt für den Typedef<br />
      je 0.5 Punkte für die vier Felder<br />
      1 Punkt den korrekten Funktionsnamen und die korrekte Signatur<br />
      1 Punkt für das Lesen der Strings<br />
      1 Punkt für das Lesen der id<br />
      0.5 Punkte für <code>s.grades = NULL;</code>
      0.5 Punkte für die Rückgabe des Structs<br />
    </div>
{% highlight "c" %}
typedef struct student Student;
struct student {
  char first_name[30];
  char last_name[50];
  unsigned long id;
  unsigned* grades;
};


Student read_student() {
  Student s;
  char buffer[20];
  printf("Enter the first name: ");
  fgets(s.first_name, 30, stdin);
  s.first_name[strcspn(s.first_name, "\n")] = '\0';
  printf("Enter the last name: ");
  fgets(s.last_name, 50, stdin);
  s.last_name[strcspn(s.last_name, "\n")] = '\0';
  printf("Enter the student id: ");
  fgets(buffer, 20, stdin);
  sscanf(buffer, "%lu", &s.id);
  s.grades = NULL;
  return s;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Gegeben ist folgender <code>struct</code>
{% highlight 'c' %}
struct intarray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;
};
{% endhighlight %}
    Erstelle einen Typen <code>IntArray</code>, mit dem Instanzen von
    <code>struct intarray</code> erstellt werden können.
    Implementiere die Funktion
    <code>void ia_push_back(IntArray* ia, int elem)</code>, welche
    <code>elem</code> am Ende von <code>ia->array</code> anfügt und die
    Anzahl von <code>elements</code> und <code>reserved</code> korrekt
    anpasst. Nicht darauf vergessen, gegebenenfalls mehr Speicher für das
    neue Element zu reservieren.
{% answer %}
    <div class="grading">
      1 Punkt für den Typedef<br />
      1 Punkt für den korrekten Funktionsnamen und die korrekte Signatur<br />
      1 Punkt für die rechtzeitige Abfrage, ob der array voll ist<br />
      1 Punkt für das korrekte Anpassen von <code>reserved</code><br />
      1 Punkt für die Reallokation von <code>array</code><br />
      2 Punkte für das Anfügen von <code>elem</code><br />
      1 Punkt für den richtigen Wert von <code>elements</code>
    </div>
{% highlight "c" %}
typedef struct intarray IntArray;

void ia_push_back(IntArray* ia, int elem) {
  if (ia->elements == ia->reserved) {
    ia->reserved *= 2;
    ia->array = realloc(ia->array, ia->reserved * sizeof(int));
  }
  ia->array[ia->elements] = elem;
  ia->elements++;
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
