---
layout: layouts/test.njk
class: 2AKIFT
group: A
subject: POS
date: 2024-05-14
points: [20, 20, 20, 40]
grading: "Grading: >87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>
  <li>
        {% YesNoTable 10, '', 20 %}
{% yes_no_question 'C++ allows procedural, object oriented, generic and
  functional programming.', 'yes' %}
{% yes_no_question 'In C++, the scope resolution operator <code>::</code>
  allows accessing identifiers within a given namespace.', 'yes' %}
{% yes_no_question 'A C++ <code>vector</code> is a container that stores
  key / value pairs.', 'no' %}
{% yes_no_question 'A C++ compiler translates high level code to a lower level
  (assembly language).', 'yes' %}
{% yes_no_question 'The assembler combines object files into a unified
  executable program.', 'no' %}
{% yes_no_question 'It is recommended to use magic-based for-loops wherever
  possible.', 'no' %}
{% yes_no_question 'A function declaration serves as a promise to the compiler
  that the function will exist when linking.', 'yes' %}
{% yes_no_question '<code>using namespace std</code> is a good practice in
  C++ programs.', 'no' %}
{% yes_no_question 'It is impossible to write C++ close to the fundamental
  aspects of hardware like C.', 'no' %}
{% yes_no_question 'Range-based for loops provide easy access to each element
  in a container.', 'yes' %}
        {% endYesNoTable %}
  </li>

  <li>The following C++20 snippets are executed as a part of
    <code>int main(.)</code> (unless main is part of the snippet).
    Assume all neccessary
    <code>#include</code>s to be present.<br />
    What do these code snippets write to <code>stdout</code>?
    Write their exact output below each snippet.
    <br />
    If a snippet cannot be compiled, would crash or its output is undefined,
    it is enough to write “<strong>ERROR</strong>”.
    If there is no visible output, write "<strong>-</strong>".
    <div class="grading">4 points for each correct answer.</div>
    <ol>

      <li>
{% highlight "cpp" %}
int val(123);
std::cout << "Hello " << val() << std::endl;
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
std::vector<int> v{1, 2, 3};
for (auto it = v.rbegin(); it != v.rend(); ++it) std::cout << *it << " ";
std::cout << std::endl;
{% endhighlight %}
{% answer %}
3 2 1
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
int i{3};
int& j{i};
int k{i};
j = 5;
std::cout << i << ' ' << j << ' ' << k << std::endl;
{% endhighlight %}
{% answer %}
5 5 3
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
char name[] = "Sue";
char* n = name;
while (*n) {
  std::cout << *n;
  n++;
}
{% endhighlight %}
{% answer %}
Sue
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
int a = 10;
int* p = &a;
int** pp = &p;
**pp *= **pp;
std::cout << a;
{% endhighlight %}
{% answer %}
100
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Implement the function
{% highlight "cpp" %}
std::size_t str_len(char* str);
{% endhighlight %}
    that returns the number of characters in <code>str</code> excluding the
    trailing '\0'. Do not use any library functions. (20 points)
{% answer %}
    <div class="grading">
    4 points for declaring a variable for the length with the correct data
      type<br />
    4 points for a proper loop condition<br />
    4 points for incrementing the pointer<br />
    4 points for incrementing the counter<br />
    4 points for returning the correct result
    </div>
{% highlight "cpp" %}
std::size_t str_len(char* str) {
  std::size_t len(0);
  while (*str++) {len++;}
  return len;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Declare a <code>struct</code> that stores the name of a book, the
    number of its pages and its price. Use appropriate data types for each
    member. Then implement a function
{% highlight "cpp" %}
double total_price(std::vector<Book> books);
{% endhighlight %}
    that returns the total price of all books in <code>books</code>.
    Assume that while all required includes are present, no
    <code>using</code> directives were used.
    (40 points)
{% answer %}
    <div class="grading">
    5 points for declaring the struct<br />
    5 points for each data member with a proper data type<br />
    5 points for declaring and initializing a varible holding the total
      price<br />
    5 points for using a proper for loop<br />
    5 points for incrementing the total price<br />
    5 points for returning the correct value
    </div>
{% highlight "cpp" %}
struct Book {
  std::string name;
  uint32_t pages;
  double price;
};

double total_price(std::vector<Book> books) {
  double total = 0.0;
  for (const auto& book : books) {
    total += book.price;
  }
  return total;
}
{% endhighlight %}
{% endanswer %}
  </li>


</ol>
