---
layout: layouts/test.njk
class: 2AKIFT
group: A
subject: POS
date: 2023-05-31
points: [25, 25, 25, 25]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

  {#
  structs
  pointer
  ...
  #}
<ol>
  <li>{% YesNoTable 10, '', 25 %}
      {% yes_no_question 'When recompiling a large project after a small change,
        <code>make</code> can drastically reduce the compile time.', 'yes' %}
      {% yes_no_question '<code>make</code> can use multiple processor cores
        in parallel when compiling a project.', 'yes' %}
      {% yes_no_question "
        <code>make</code> inspects a project's source code to automatically
        generate each target's dependencies.", 'no' %}
      {% yes_no_question '<code>cmake</code> is a platform dependend version of
        <code>make</code> that only works on Linux.', 'no' %}
      {% yes_no_question 'Function pointers allow functions to be treated
        as first class citizen.', 'yes' %}
      {% yes_no_question 'Without function pointers, it is impossible to
        reserve heap memory.', 'no' %}
      {% yes_no_question 'Function pointers are required for using callbacks
        in C.',
        'yes' %}
      {% yes_no_question "A function that is part of a C struct can
        automatically access all of the struct's data members.",
        'no' %}
      {% yes_no_question 'Command-line arguments are not used in modern
        programs.', 'no' %}
      {% yes_no_question 'The C standard provides functions for parsing
        long command-line arguments and subcommands.', 'no' %}
    {% endYesNoTable %}
  </li>



  <li>The following C17 snippets are executed as a part of
    <code>int main(.)</code> (unless main is part of the snippet).
    Assume that all neccessary standard library
    <code>#include</code>s are present.<br />
    What do these code snippets write to <code>stdout</code>?
    Write their exact output below each snippet.
    <br />
    If a snippet cannot be compiled, would crash or its output is undefined,
    it is enough to write “<strong>ERROR</strong>”.
    If there is no visible output, write "<strong>-</strong>".
    <div class="grading">5 points for each correct answer.</div>

    <ol>
      <li>
{% highlight "c" %}
char* names[] = {"Pat", "Chris", "Sue", "Steve"};
qsort(names);
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>
      <li>
{% highlight "c" %}
char* names[] = {"Pat", "Chris", "Sue", "Steve"};
FILE* f = fopen("data.txt", "w");
for (size_t i = 0; i < sizeof(names) / sizeof(char*); ++i) {
  fprintf(f, "%s\n", names[i]);
}
{% endhighlight %}
{% answer %}
-
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char name[] = "Sue";
char* n = name;
while (*n) {
  printf("%c", *n);
  n++;
}
{% endhighlight %}
{% answer %}
Sue
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char str[] = "students";
char* haystack = str;
char needle = 'x';
int occ = 0;
while (*haystack) {
  if (*haystack == needle) { occ++; }
  haystack++;
}
printf("%d\n", occ);
{% endhighlight %}
{% answer %}
0
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
unsigned int radicand = 36;
for (unsigned int i = 0; i <= radicand; ++i) {
  if (i * i == radicand) { printf("%u", i); }
}
{% endhighlight %}
{% answer %}
6
{% endanswer %}
      </li>
    </ol>
  </li>

  <li><strong>Integer Array</strong><br />
    Given the following <code>struct</code>
{% highlight 'c' %}
struct intarray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;
};
{% endhighlight %}
    Create a type <code>IntArray</code> that can be used to create instances of
    <code>struct intarray</code>. Implement the function
    <code>void ia_erase(IntArray* ia, size_t index)</code> that removes the
    element at <code>index</code>. If index is beyond the end of the array,
    nothing should be done.

{% answer %}
    <div class="grading">
      4 points for typedef<br />
      4 points for the correct function name and signature<br />
      4 points for returning if index is beyond the array<br />
      4 points for decrementing the number of elements if index is within the
        array<br />
      5 points for iterating over the correct elements (-2 for missing the end
        by 1)<br />
      4 points for moving the tail of the array to fill the gap at
        <code>index</code><br />
    </div>
{% highlight "c" %}
typedef struct intarray IntArray;

void ia_erase(IntArray* ia, size_t index) {
  if (index >= ia->elements) { return; }
  ia->elements--;
  for (size_t i = index; i < ia->elements; ++i) {
    ia->array[i] = ia->array[i + 1];
  }
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li><strong>Hamming Distance</strong><br />
    Implement a function <code>int hamming(char* first, char* second)</code>
    that returns the hamming distance between the two given DNA strings.
    If <code>first</code> and <code>second</code> do not have the same length,
    return <code>-1</code>.
    Otherwise, return the number of differences in the two strings.
    For example,
<pre>
CCTAAGTAA
CGTAAGTGA
 ^     ^
</pre>
    has two differences and therefore your function should return 2 in this
    case. You may (but do not have to) use standard library functions.
{% answer %}
    <div class="grading">
      4 points for the correct function name and signature<br />
      4 points for returning -1 if the lengths do not match<br />
      4 points for correctly initializing the number of differences<br />
      5 points for iterating over all characters (-2 for a character)<br />
      4 points for incrementing the number of differences<br />
      4 points for correctly returning the number of differences<br />
    </div>
{% highlight "c" %}
int hamming(char *lhs, char *rhs) {
  if (strlen(lhs) != strlen(rhs)) return -1;
  int difference = 0;
  for (size_t i = 0; i < strlen(lhs); ++i) {
    if (lhs[i] != rhs[i]) difference += 1;
  }
  return difference;
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
