---
layout: layouts/exercise_base.njk
exercise: 1
points: 9
---

{% include 'blocks/teams_of_two.njk' %}

{# this is in draft stage and needs to be
   finished; todo:
   * use source highlighting from eleventy
   * update links / paths
   * upload required exercise data
 #}
<p>
Download <a href="/data/cpp/hw_1.tar.gz">hw_1.tar.gz</a> and extract it.
Then add your homework solutions to the directory. Rename the
directory according to the rules in the syllabus before submitting it as
compressed archive. Don't forget to add the correct subject to the email
when submitting.</p>

<p>All of the tasks below need to</p>
<ul>
  <li>compile without warnings or errors</li>
  <li>run with the provided input data without crashing</li>
  <li>produce correct results</li>
  <li>have proper documentation</li>
  <li>be implemented without using non-English function and variable names,
    docstrings etc.</li>
</ul>
<p>in order to receive (full) points.</p>

<ol>
  <li><strong>Compute 1+5*6</strong><br/>
    The first exercise concerns basic mathematics: Write a program for
    computing and printing the result of 1+5*6.<br/>
    A sample run of this program:
<pre>
31
</pre>
    Name the program file: <kbd>simplemath.cpp</kbd>
  </li>
  <li>
    <strong>Perimeter and area</strong><br/>
    The program below should print the perimeter and area of a circle given its
    radius. However, it contains errors. Fix the program.<br/>
{% highlight "cpp" %}
int main(); {
  double radius
  cout << "Enter a radius: ";
  cin >> radius;
  double area(radius * radius * M_PI);
  double perimeter(2 * radius * M_PI);
  cout << std::setprecision(2) << std::fixed;
  cout << "The circle has an area of " << area << "\n";
  cout << "The perimeter of this circle is " << perimeter << "\n";
  return 0
}
{% endhighlight %}
    Name the program file: <kbd>circle.cpp</kbd>
  </li>
  <li>
    <strong>Imperial units</strong><br />
    Ask the user for a length in meters and print the corresponding length measured in inches, in feet, in yards, and in miles. Assume that one inch is 2.54 cm, one foot is
    12 inches, one yard is 3 feet, and one British mile is 1760 yards. Round all results to two digits for printing.<br />
    A sample run of this program:
<pre>
Enter a distance in meters: 1.3
51.18 inch
4.27 feet
1.42 yards
0.00 miles
</pre>
    Name the program file: <kbd>imperial_units.cpp</kbd>
  </li>
  <li>
    <strong>Mathematical functions</strong><br />
    Write a program that prints the sine and cosine of all values between 0 and
    $\pi$ in steps of 0.1. The last value must be $\pi$. All values in the sine
    and cosine columns should be fixed to 2 digits after the decimal point.
    Hint: check out
    <a href="http://www.cplusplus.com/reference/iomanip/?kw=iomanip">
      &lt;iomanip&gt;</a>.
    <br />
    A sample run of this program:
<pre>
radians |  sine | cosine
------------------------
    0.0 |  0.00 |   1.00
    0.1 |  0.10 |   1.00
    0.2 |  0.20 |   0.98
[...]
    3.0 |  0.14 |  -0.99
    3.1 |  0.04 |  -1.00
   3.14 |  0.00 |  -1.00
</pre>
  Name the program file: <kbd>trigonometry.cpp</kbd>
  </li>
  <li>
    <strong>Distance between two points</strong><br/>
    Write a program that asks the user for two points in a two-dimensional plane. The program must calculate and print the euclidean distance between the two points, rounded to 4 digits.<br />
  A sample run of this program:
<pre>
First point's x-coordinate: 3.0
First point's y-coordinate: 7.0
Second point's x-coordinate: -2.0
Second point's y-coordinate: 3.0
The euclidean distance between the two points is 6.4031.
</pre>
  Name the program file: <kbd>distance.cpp</kbd>
  </li>
  <li><strong>Equation solver</strong><br />
    Write a function <code>quadratic(a, b, c)</code> that solves quadratic
    equations. The function does not have to be able to deal with input leading
    to complex numbers as results.<br />
    Name the program file: <kbd>equations.cpp</kbd>
  </li>
  <li><strong>Sum</strong><br/>
    Write a function <code>sum_to(num)</code> that takes an integer
    <code>num &gt;= 0</code> as sole
    argument. The function should return the sum of all positive integers
    <code>&lt;= num</code>. In the function, assert that the input is
    &ge; 0 by using <code>assert</code>. Hint: if you have trouble with
    warnings about types, have a look at
    <a href="http://stackoverflow.com/questions/28002/regular-cast-vs-static-cast-vs-dynamic-cast">Regular cast vs. static_cast vs. dynamic_cast</a>.<br/>
    Name the program file: <kbd>addition.cpp</kbd>
  </li>
  <li><strong>Geometry functions</strong><br />
    Implement the following functions calculating the perimeters, areas,
    surfaces or volumes of common geometric shapes:<br />
    <code>surface_cylinder(r, h)</code><br />
    <code>volume_cylinder(r, h)</code><br />
    <code>surface_cone(r, h)</code><br />
    <code>volume_cone(r, h)</code><br />
    Name the program file: <kbd>geometry.cpp</kbd>
  </li>
  <li><strong>Business functions</strong><br />
    Implement a function <code>interest(capital, rate, years=1, tax=0)</code>
    that returns the profit (compound interest) of investing money. If a
    positive tax value is entered, every year's interest is to be reduced by
    the tax. The <code>rate</code> and <code>tax</code> parameters must be
    between 0 (0%) and 1 (100%). The number of years is integral.<br />
    Using the above function, implement a second function that returns the
    terminal value of investing money:
    <code>terminal_value(capital, rate, years=1, tax=0)</code>.<br />
    Name the program file: <kbd>business.cpp</kbd>
  </li>
  <li><strong>Monte Carlo Simulation</strong> (rather easy, but still worth a bonus point)<br />
    <!-- TODO: add to grader; see Java for everyone, pg 178 -->
    Simulation is an ingenious method of finding approximate solutions where
    other methods fail. A typical example is the calculation of $\pi$. Your
    task is to implement a simple simulation that calculates an approximation
    of $\pi$. To do so, imagine a 2 x 2 square with an inscribed circle
    with a radius of 1. To facilitate calculations, the center of the square
    should be the origin of a cartesian coordinate system. Generate random
    pairs of (x/y) coordinates inside the square and then test if the denoted
    point is inside the circle ($x^2 + y^2 \le 1$). Since the area of the
    circle is $pi$ and the area of the square is 4, the approximate number of
    points inside the circle divided by the number of generated points is $pi$
    divided by 4 ($\frac{\mbox{hits}}{\mbox{tries}} = \frac{\pi}{4}$).<br />
    (Hint: use the function <code>drand48()</code> (requires
    <code>#include &lt;stdlib.h&gt;</code>) to generate
    random numbers [0.0, 1.0).)<br />
    Name the program file: <kbd>simulation.cpp</kbd>  </li>
</ol>
