---
layout: layouts/test.njk
class: 5ABELI
group: A
subject: DIC
date: 2021-12-07
points: [5, 5, 2, 5, 5]
grading: "Benotung: <11: 5, 11-13: 4, 14-16: 3, 17-19: 2, 20-22: 1"
---

<ol>
  <li>{% YesNoTable 10 %}
      {% yes_no_question 'Um einen Zähler zu bauen, der bis 1023 zählt,
        werden 12 Flip Flops gebraucht.', 'No' %}
      {% yes_no_question 'Um einen Zähler zu bauen, der bis 255 zählt,
        werden 8 Flip Flops gebraucht.', 'Yes' %}
      {% yes_no_question 'Es gibt synchrone und asynchrone Zähler.', 'Yes' %}
      {% yes_no_question '<code>0xAA</code> ist eine Oktalzahl.', 'No' %}
      {% yes_no_question '<code>0b10011011</code> ist eine 4 bit Binärzahl.', 'No' %}
      {% yes_no_question '<code>0xFF</code> hat den gleichen Wert wie
        <code>0b11111111</code>', 'Yes' %}
      {% yes_no_question 'Oktalzahlen finden bei Unix Dateirechten Anwendung.', 'Yes' %}
      {% yes_no_question 'Microcontroller werden häufig zur Steuerung von
        Hardware verwendet.', 'Yes' %}
      {% yes_no_question 'Manche Microcontroller haben mehrere Cores und können Multithreading.', 'Yes' %}
      {% yes_no_question 'Der Raspberry Pi ist ein Microcontroller.', 'No' %}
    {% endYesNoTable %}
  </li>

  <li>Nenne 5 Anwendungsgebiete von Microcontrollern.
{% answer %}
Zum Beispiel: Steuerung von Motoren, Waschmaschinen, Unterhaltungselektronik,
Steuergeräte von KFZ, Bankomatkarten.
{% endanswer %}
  </li>

  <li>Nenne mindestens zwei gängige Programmiersprachen zur Programmierung
    von Microcontrollern.
{% answer %}
Micropython und C
{% endanswer %}
  </li>

  <li>Gib das IEC Schaltsymbol (3 Punkte) und die Wahrheitstabelle
    (2 Punkte) eines NAND-Gatters an.
{% answer %}
<img src="/images/symbols/iec_nand.svg" alt="IEC NAND">
<table>
  <tr>
    <th>$A$</th>
    <th>$B$</th>
    <th>$\overline{A \land B}$</th>
  </tr>
  <tr><td>0</td><td>0</td><td>1</td></tr>
  <tr><td>0</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>0</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>0</td></tr>
</table>
{% endanswer %}
  </li>

  <li>Führe folgende Berechnung mittels 8 bit Two's Complement Darstellung
    aus:<br />127 - 96. Das Ergebnis soll auch als Dezimalzahl dargestellt
    werden.<br />
    (1 Punkt je für erste Zahl, 2 Punkte für zweite Zahl in Two's Complement,
     1 Punkt für Rechnung, 1 Punkt für Dezimaldarstellung des Ergebnisses)
{% answer %}
<table>
  <tr><th>Decimal</th><th>Two's Complement</th></tr>
  <tr><td>127</td><td><code>01111111</code></td></tr>
  <tr><td>-96</td><td><code>10100000</code></td></tr>
  <tr><td> 31</td><td><code>00011111</code></td></tr>
</table>
{% endanswer %}
  </li>
</ol>
