---
layout: layouts/test.njk
class: 5ABELI
group: A
subject: DIC
date: 2022-02-01
points: [2, 2, 6, 5]
grading: "Benotung: <8: 5, 8-9: 4, 10-11: 3, 12-13: 2, 14-15: 1"
---

<ol>
  <li>
    {% YesNoTable 4 %}
      {% yes_no_question 'Der Raspberry Pi Pico hat 2MB Flash.', 'yes' %}
      {% yes_no_question 'Der Raspberry Pi Pico hat mehrere analoge Eingänge.', 'yes' %}
      {% yes_no_question 'Der Raspberry Pi Pico verfügt über eine schnelle
        WLAN Anbindung.', 'no' %}
      {% yes_no_question 'Der Raspberry Pi Pico kann wie ein USB Stick als
        Massenspeicher eingebunden werden, um eine neue Firmware darauf zu Installieren.', 'yes' %}
    {% endYesNoTable %}
  </li>

  <li>Das untenstehende Programm <code>hello.cpp</code> soll mittels
    <kbd>clang++</kbd> kompiliert
    werden. Die ausführbare Datei soll den Namen <kbd>hello</kbd> bekommen.
    Welches Kommando mit welchen Argumenten muss dazu verwendet werden?
{% highlight "c" %}
/* \file hello.cpp */
#include <iostream>

int main(void) {
  std::cout << "Hello, World" << std::endl;
  return 0;
}
{% endhighlight %}
{% answer %}
clang hello.cpp -o hello
{% endanswer %}
  </li>

  <li>
    Welcher Text wird durch die folgenden Miniprogramme in der
    C++-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder <code>cout</code> oder dergleichen aufgerufen
    wird), so ist "-" als richtige Antwort zu verwenden.
    <ol>
      <li>
{% highlight "cpp" %}
#include <iostream>
#include <string>
#include <vector>

int main() {
  std::vector<std::string> names = {"Pat", "Chris", "Sue"};
  for (auto& name : names) {
    std::cout << name << " ";
  }
  std::cout << "\n";
}
{% endhighlight %}
{% answer %}
Pat Chris Sue
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
#include <iostream>
#include <vector>

int main() {
  std::vector<int> numbers = {3, 9, 1, 12};
  std::cout << numbers[2] << std::endl;
  return 0;
}
{% endhighlight %}
{% answer %}
1
{% endanswer %}
      </li>
      <li>
{% highlight "cpp" %}
#include <iostream>
#include <vector>

int main(void) {
  std::vector<int> v1{1, 2, 3, 4, 5, 6};
  std::vector<int> v2(5, 1); v2.push_back(4);
  std::vector<int> v3 = v1 + v2;
  std::cout << v3 << std::endl;
}
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>
    </ol>
  </li>

  <li>Schreibe eine C++ Funktion, welche es ermöglicht, den output stream
    operator <code><<</code> zu verwenden, um Vektoren mit ganzen Zahlen
    direkt auf standard out auszugeben. Folgendes soll dadurch möglich
    werden:
{% highlight "cpp" %}
std::vector<int> v1{1, 2, 3, 4, 5, 6};
std::cout << v1 << std::endl;
{% endhighlight %}
    1 Punkt den korrekten Funktionsnamen und die korrekte Signatur;
    1 Punkt für die notwendige Schleife;
    2 Punkt für die Ausgabe aller Elemente;
    1 Punkt, wenn das Trennzeichen nur zwischen Elementen verwendet wird.
    1 Bonuspunkt für eine generische Implementierung (unabhängig vom Datentyp).
{% answer %}
{% highlight "cpp" %}
template <class Type>
ostream& operator<<(ostream& out, const vector<Type>& v) {
  out << '[';
  for (const auto& e: v) {
    out << e << ", ";
  }
  out << "\b\b]"; // two backspace characters to overwrite final ", "
  return out;
}
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
