---
layout: layouts/test.njk
class: 6ABELI
group: A
subject: DIC
date: 2022-05-16
points: [4, 4, 3, 4]
grading: "Benotung: ≥14: 1, ≥12: 2, ≥10: 3, ≥8: 4, <8: 5"
---

<ol>
  <li>
    {% YesNoTable 8 %}
      {% yes_no_question 'Simulation und Emulation erlauben es, Binärcode einer
        Plattform auf einer anderen Plattform zu verwenden.', 'yes' %}
      {% yes_no_question 'Ein Halbaddierer hat drei Eingänge und zwei
        Ausgänge.', 'no' %}
      {% yes_no_question 'Programmable Logic Arrays (PLA) bestehen aus
        UND- und ODER-Matrizen.', 'yes' %}
      {% yes_no_question 'An einen Microcontroller können keine
        Peripheriekomponenten angeschlossen werden.', 'no' %}
      {% yes_no_question 'Ein MQTT Broker ist ein Server der Nachrichten
        von "Publishern" empfängt und diese an "Subscriber" weiterleitet.',
        'yes' %}
      {% yes_no_question 'MQTT unterstützt mehrere Quality of Service (QoS)
        Level.', 'yes' %}
      {% yes_no_question 'SPI verwendet eine Master-Slave Architektur für die
        Kommunikation mit Peripheriegeräten.', 'yes' %}
      {% yes_no_question 'Der Hauptzweck von fat binaries ist es, Programme,
        die für Windows 10 geschrieben wurden in Windows 11 zu verwenden.',
        'no' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 8 %}
      {% yes_no_question 'Header Dateien müssen separat kompiliert werden.',
        'no' %}
      {% yes_no_question 'Durch das Aufteilen eines Programms auf mehrere
        Sourcecode Dateien
        kann die Kompilierzeit drastisch verkürzt werden.', 'yes' %}
      {% yes_no_question 'Ein C Program wird in 4 Schritten in Binärcode
        übersetzt: Preprocessor, Compiler, Assembler und Linker.', 'yes' %}
      {% yes_no_question 'Der Preprocessor kümmert sich um das Type Checking.',
        'no' %}
      {% yes_no_question 'Der Assembler übersetzt Assembly in
        Maschinensprache.', 'yes' %}
      {% yes_no_question 'Include guards stellen sicher, dass in der Header
        Datei keine Funktion mehrfach deklariert ist.', 'no' %}
      {% yes_no_question 'Unit Tests können nur gemeinsam ausgeführt werden,
        da einzelne Tests voneinander abhängig sind.', 'no' %}
      {% yes_no_question 'Unit Tests sind extrem wichtig, um potentielle Fehler
        schon frühzeitig zu finden.', 'yes' %}
    {% endYesNoTable %}
  </li>

  <li>Schreibe eine Funktion <code>int* range(size_t count)</code> in C, welche
    einen Array von Ganzzahlen auf dem free store zurückgibt. Die Werte des
    Arrays sollen dem jeweiligen Index entsprechen. Das heisst, das Array muss
    folgende Werte haben:
    <code>[0, 1, 2, ..., count-2, count-1]</code>
{% answer %}
    <div class="grading">
      0.5 Punkte für die korrekte Signatur<br />
      1 Punkt für den korrekten Aufruf von <code>malloc(.)</code><br />
      1 Punkt für das korrekte Initialisieren aller Werte<br />
      0.5 Punkte für den passenden Rückgabewert<br />
    </div>
{% highlight "c" %}
int* range(size_t count) {
  int* a = (int*) malloc(count * sizeof(int));
  if (a == NULL) {
    fprintf(stderr, "Error: could not allocate memory.\n");
    exit(1);
  }
  for (size_t i = 0; i < count; ++i) {
    a[i] = i;
  }
  return a;
}
{% endhighlight %}
{% endanswer %}
      </li>

  <li>Gegeben ist folgender <code>struct</code> inkl. <code>typedef</code> um
    Arrays verwenden zu können,
    welche über den für sie reservierten Speicher und die aktuelle Anzahl an
    Elementen bescheid wissen:
{% highlight "c" %}
typedef struct intarray IntArray;
struct intarray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;
};
{% endhighlight %}
    Schreibe eine Funktion <code>IntArray* ia_create()</code>, welche einen
    Pointer zu einem neuen <code>IntArray</code> zurückgibt. Es soll Platz
    für 100 Ganzzahlen im Array reserviert sein, jedoch soll der Speicher nicht
    initialisiert werden, da noch keine Elemente vorhanden sind. Setze
    auch die Zahlenwerte für <code>reserved</code> (Anzahl der reservierten
    Elemente) und <code>elements</code> (Anzahl der tatsächlich gespeicherten
    Elemente, also 0).
{% answer %}
    <div class="grading">
      0.5 Punkte für die korrekte Signatur<br />
      1 Punkt für den korrekten Aufruf von <code>malloc(.)</code> um
        <code>IntArray</code> selbst zu reservieren<br />
      1 Punkt für den korrekten Aufruf von <code>malloc(.)</code> um
        den Array zu reservieren<br />
      1 Punkt für das richtige Initialisieren von <code>reserved</code>
        und <code>elements</code><br />
      0.5 Punkte für den passenden Rückgabewert<br />
    </div>
{% highlight "c" %}
IntArray* ia_create() {
  IntArray* ia = (IntArray*) malloc(sizeof(IntArray));
  ia->reserved = 100;
  ia->elements = 0;
  ia->array = (int*) malloc(ia->reserved * sizeof(int));
  return ia;
}

{% endhighlight %}
{% endanswer %}
  </li>

</ol>
