---
layout: layouts/test.njk
class: 6ABELI
group: B
subject: DIC
date: 2022-05-23
points: [4, 4, 5, 2]
grading: "Benotung: ≥14: 1, ≥12: 2, ≥10: 3, ≥8: 4, <8: 5"
---

<ol>
  <li>
    {% YesNoTable 8 %}
      {% yes_no_question 'Kompilierter Binärcode kann direkt auf jeder
        Hardwareplatform verwendet werden.', 'no' %}
      {% yes_no_question 'Ein Volladdierer hat drei Eingänge und zwei
        Ausgänge.', 'yes' %}
      {% yes_no_question 'Programmable Logic Arrays (PLA) bestehen aus
        UND- und ODER-Matrizen.', 'yes' %}
      {% yes_no_question 'SPI und I2C sind Protokolle, die es einem
        Microcontroller erlauben, mit Peripheriekomponenten zu kommunizieren.',
        'yes' %}
      {% yes_no_question 'MQTT erlaubt es, Android Binaries auf iOS
        auszuführen.',
        'no' %}
      {% yes_no_question 'MQTT hat keine Unterstützung für Quality of
        Service (QoS).', 'no' %}
      {% yes_no_question 'SPI verwendet eine Master-Slave Architektur.',
        'yes' %}
      {% yes_no_question 'Fat binaries sind eine mögliche Alternative zu
        Simulation.', 'yes' %}
    {% endYesNoTable %}
  </li>

  <li>
    {% YesNoTable 8 %}
      {% yes_no_question 'Header Dateien werden durch den Assembler mit den
        C Dateien verbunden.',
        'no' %}
      {% yes_no_question 'Das Aufteilen eines Programms auf mehrere
        Sourcecode Dateien verlängert die Kompilierzeit drastisch.', 'no' %}
      {% yes_no_question 'Ein C Program wird in folgender Reihenfolge in
        Binärcode übersetzt: Preprocessor->Assembler->Compiler->Linker.',
        'no' %}
      {% yes_no_question 'Der C Preprocessor kümmert sich primär um relativ
        einfache Textersetzungen.',
        'yes' %}
      {% yes_no_question 'Der Linker führt kompilierte Objektdateien und
        Bibliotheken zu einem ausführbarem Programm zusammen.', 'yes' %}
      {% yes_no_question 'Include guards erlauben es dem Assembler,
        effizienteren Binärcode herzustellen.', 'no' %}
      {% yes_no_question 'Unit Tests werden primär zum Testen von komplexen
        Benutzungsszenarien verwendet.', 'no' %}
      {% yes_no_question 'Ein Nachteil von Unit Tests ist, dass sie in der
        Ausführung langsam sind.', 'no' %}
    {% endYesNoTable %}
  </li>

  <li>Gegeben ist folgender <code>struct</code> inkl. <code>typedef</code> um
    Arrays verwenden zu können,
    welche über den für sie reservierten Speicher und die aktuelle Anzahl an
    Elementen bescheid wissen:
{% highlight "c" %}
typedef struct intarray IntArray;
struct intarray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;
};
{% endhighlight %}
    <ul>
      <li>
    Schreibe eine Funktion <code>IntArray* ia_ones(size_t count)</code>,
    welche einen
    Pointer zu einem neuen <code>IntArray</code> zurückgibt. Es soll mindestens
    Platz für die gegebene Anzahl an Ganzzahlen im Array reserviert sein.
    Jedes der <code>count</code> Elemente muss auf den Wert
    <code>1</code> initialisiert werden. Nicht vergessen auch die Zahlenwerte
    für <code>reserved</code> (Anzahl der reservierten
    Elemente) und <code>elements</code> (Anzahl der tatsächlich gespeicherten
    Elemente) korrekt zu setzen.
{% answer %}
    <div class="grading">
      1 Punkt für die korrekte Signatur und den passenden Rückgabewert<br />
      1 Punkt für das richtige Initialisieren von <code>elements</code>
        und <code>reserved</code><br />
      1 Punkt für die korrekten Aufrufe von <code>malloc(.)</code> um
        <code>IntArray</code> zu reservieren<br />
      1 Punkt für die korrekten Aufrufe von <code>malloc(.)</code> um den Array
        zu reservieren<br />
      1 Punkt für das auf 1 setzen aller Werte des Arrays
    </div>
{% highlight "c" %}
IntArray* ia_ones(size_t count) {
  IntArray* ia = (IntArray*) malloc(sizeof(IntArray));
  ia->reserved = count > 100 ? count : 100;
  ia->elements = count;
  ia->array = (int*) malloc(ia->reserved * sizeof(int));
  for (size_t i = 0; i < count; ++i) { ia->array[i] = 1; }
  return ia;
}
{% endhighlight %}
{% endanswer %}
      </li>

      <li>
        Implementiere eine Funktion <code>size_t ia_size(IntArray* ia)</code>,
        welche die aktuelle Anzahl der im Array gespeicherten Elemente
        zurückgibt.
{% answer %}
    <div class="grading">
      1 Punkt für die korrekte Signatur<br />
      1 Punkt für den passenden Rückgabewert
    </div>
{% highlight "c" %}
size_t ia_size(IntArray* ia) {
  return ia->elements;
}
{% endhighlight %}
{% endanswer %}
      </li>
    </ul>

  </li>

</ol>
