---
title: WIP Computer Networks
subtitle: Hypertext Transfer Protocol (HTTP)
layout: layouts/presentation.njk
---

<section>
  <section
    data-background-image="https://upload.wikimedia.org/wikipedia/commons/5/5b/HTTP_logo.svg"
    data-background-size="30%"
    data-background-position="10% 90%">

    <h2>What is the Hypertext Transfer Protocol (HTTP)?</h2>

    <p>An application layer protocol in the
      <a href="../tcp_ip/">Internet protocol suite</a></p>

    <p>Designed for distributed, collaborative, hypermedia information
      systems</p>

    <p>HTTP is the foundation of data communication for the World Wide Web</p>

    <dl>
      <dt>HTTP/1.0</dt>
      <dd>
        <a href="https://datatracker.ietf.org/doc/html/rfc1945">RFC 1945</a>
      </dd>
      <dt>HTTP Semantics</dt>
      <dd>
        <a href="https://datatracker.ietf.org/doc/html/rfc9110">RFC 9110</a>
      </dd>
      <dt>HTTP/1.1</dt>
      <dd>
        <a href="https://datatracker.ietf.org/doc/html/rfc9112">RFC 9112</a>
      </dd>
      <dt>HTTP/2</dt>
      <dd>
        <a href="https://datatracker.ietf.org/doc/html/rfc9113">RFC 9113</a>
      </dd>
      <dt>HTTP/3</dt>
      <dd>
        <a href="https://datatracker.ietf.org/doc/html/rfc9114">RFC 9114</a>
      </dd>
    </dl>
  </section>

  <section>
    <h2>Brief History</h2>
    <figure>
<pre class="mermaid">
timeline
  1991 : HTTP/0.9 : obsolete
  1996 : HTTP/1.0 : obsolete
  1997 : HTTP/1.1 : TCP
  2015 : HTTP/2 : TCP
  2022 : HTTP/3 : QUIC
</pre>
      <figcaption>Timeline of HTTP versions</figcaption>
    </figure>
  </section>
</section>


<section>
  <h2>HTTP Headers</h2>
  <p>Let the client and the server pass additional information with request or
    response.</p>

  <dl>
    <dt>Request headers</dt>
    <dd>Contain information about the client and the resource to be fetched</dd>
    <dt>Response headers</dt>
    <dd>additional information about the server and the response
      (eg. a new location)</dd>
  </dl>

  <p>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers">
      Reference documentation on MDN</a>
  </p>
</section>


<section>
  <h2>HTTP Request Methods (HTTP Verbs)</h2>
  <p>Most common request methods:</p>
  <dl>
    <dt>GET</dt>
    <dd>Request a representation of the specified resource</dd>
    <dd>Should only retrieve data</dd>
    <dt>POST</dt>
    <dd>Submit an entity to the specified resource</dd>
    <dd>Often causes a change in state or side effects on the server</dd>
    <dt>PUT</dt>
    <dd>Replace all current representations of the target with the payload</dd>
    <dt>DELETE</dt>
    <dd>Deletes the specified resource</dd>
  </dl>

  <p>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods">
      Reference documentation on MDN</a>
  </p>

{#
still missing explanation of idempotent et al; explain browser tools (incl. screenshot)
#}

</section>


<section>
  <h2>HTTP Response Status Codes</h2>

  <section>
    <ol>
      <li>Informational responses (100 – 199)</li>
      <li>Successful responses (200 – 299)</li>
      <li>Redirection messages (300 – 399)</li>
      <li>Client error responses (400 – 499)</li>
      <li>Server error responses (500 – 599)</li>
    </ol>
    <p>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">
        Reference documentation on MDN</a></p>
  </section>

  <section>
    <h3>200 OK</h3>
    <p>The request has succeeded.</p>

    <div class="fragment">
      <h3>404 Not Found</h3>
      <p>Indicates that the server cannot find the requested resource.</p>
      <p>Links to a 404 page are often called broken or dead links.</p>
    </div>
  </section>
</section>


{% include 'slides/closing.njk' %}

{# TODO: write patch for 11ty mermaid plugin to use the following
   when not providing the esm distribution

   also add html / njk example to README.md of the project

   the issue seems to be that the mermaid build does not provide a correct
   .min.mjs file for 10.1.0 (but it does for older ones)
   eg
   https://unpkg.com/mermaid@8.14.0/dist/mermaid.esm.min.mjs
   https://unpkg.com/browse/mermaid@10.1.0/dist/ with
    https://unpkg.com/mermaid@10.1.0/dist/mermaid.esm.min.mjs
 #}
<script type="text/javascript" src="/scripts/mermaid_10.1.0.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded',
    mermaid.initialize({startOnLoad:true}));
</script>
{# the following does not work for regular local files; it would require an
   esm distribution that is not broken; see comment above #}
{#{% mermaid_js %}#}
