---
title: WIP Computer Networks
subtitle: Secure Shell (SSH)
layout: layouts/presentation.njk
---

<section>
  <section
    data-background-image="https://upload.wikimedia.org/wikipedia/commons/5/5b/HTTP_logo.svg"
    data-background-size="30%"
    data-background-position="10% 90%">

    <h2>What is the Hypertext Transfer Protocol (HTTP)?</h2>

    <p>An application layer protocol in the
      <a href="../tcp_ip/">Internet protocol suite</a></p>

    <p>A secure protocol that uses TCP port 22. It provides encrypted
      management connection to a remote device.</p>


    {# https://en.wikipedia.org/wiki/Secure_Shell#Standards_documentation #}
  </section>

  <section>
    <h2>Brief History</h2>
<figure>
<pre class="mermaid">
timeline
  1995 : Version 1 : obsolete
  1999 : OpenSSH was forked
  2006 : Version 2
  2015-10-19 : Microsoft announced: OpenSSH will be natively supported on MS Windows
</pre>
    <figcaption>Timeline of SSH</figcaption>
</figure>
  </section>

  <section>
    {#
The OpenSSH suite includes the following command-line utilities and daemons:

    scp, a replacement for rcp.
    sftp, a replacement for ftp to copy files between computers.
    ssh, a replacement for rlogin, rsh and telnet to allow shell access to a remote machine.
    ssh-add and ssh-agent, utilities to ease authentication by holding keys ready and avoid the need to enter passphrases every time they are used.
    ssh-keygen, a tool to inspect and generate the RSA, DSA and elliptic-curve keys that are used for user and host authentication.
    ssh-keyscan, which scans a list of hosts and collects their public keys.
    sshd, the SSH server daemon.
    #}
  </section>

</section>




{% include 'slides/closing.njk' %}

{# TODO: write patch for 11ty mermaid plugin to use the following
   when not providing the esm distribution

   also add html / njk example to README.md of the project

   the issue seems to be that the mermaid build does not provide a correct
   .min.mjs file for 10.1.0 (but it does for older ones)
   eg
   https://unpkg.com/mermaid@8.14.0/dist/mermaid.esm.min.mjs
   https://unpkg.com/browse/mermaid@10.1.0/dist/ with
    https://unpkg.com/mermaid@10.1.0/dist/mermaid.esm.min.mjs
 #}
<script type="text/javascript" src="/scripts/mermaid_10.1.0.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded',
    mermaid.initialize({startOnLoad:true}));
</script>
{# the following does not work for regular local files; it would require an
   esm distribution that is not broken; see comment above #}
{#{% mermaid_js %}#}
