---
title: 'Zigbee: a Closer Look'
subtitle: Properties, Advantages, Disadvantages, and Comparison to Wi-Fi
layout: layouts/presentation.njk
---

<section data-background-image="/images/networking/zigbee_logo.svg"
         data-background-size="30%"
         data-background-position="10% 90%">
  <h2>Introduction to Zigbee</h2>
  <p>The Full-Stack Solution for All Smart Devices</p>
  <p>Developed by the
    <a href="https://csa-iot.org/">Connectivity Standards Alliance (CSA)</a></p>
  <ul>
    <li>Low-power, low-cost, and short-range
      wireless communication technology</li>
    <li>Common applications: home automation, sensor networks,
      industrial control</li>
  </ul>
  <p class="fragment">Possible alternative: Matter and Thread</p>
</section>


<section
  data-background-image="https://csa-iot.org/wp-content/uploads/2024/01/Zigbee-Members_Square-1-1024x797.png">
</section>


<section>
  <h2>Properties of Zigbee</h2>

  <section
    data-background-image="https://csa-iot.org/wp-content/uploads/2022/01/Zigbee-Mesh-Map-01-1024x578.png"
    data-background-size="50%"
    data-background-position="10% 90%">

    <ul>
      <li>Frequency: 2.4 GHz, 868 MHz, 915 MHz</li>
      <li>Range: Typically shorter than Wi-Fi</li>
      <li>Data Rate: Lower than Wi-Fi</li>
      <li>Topology: Mesh network</li>
    </ul>
  </section>

</section>

<section>
  <section>
    <h2>Advantages of Zigbee</h2>
    <ul>
      <li>Low power consumption</li>
      <li>Low cost</li>
      <li>Reliability</li>
      <li>Security</li>
      <li>Does not require a wifi access point</li>
    </ul>
  </section>

  <section>
    <h2>Disadvantages of Zigbee</h2>
    <ul>
      <li>Limited range of individual devices</li>
      <li>Low data rates</li>
      <li>Interference</li>
      <li>Requires a Zigbee coordinator (ZC)</li>
    </ul>
  </section>
</section>


<section>
  <h2>Zigbee Components</h2>

  <section>
    <h3>Zigbee Coordinator (ZC)</h3>
    <ul>
      <dl>
        <dt>Role</dt>
        <dd>Central Hub</dd>
        <dd>Primary control point for the Zigbee network</dd>
        <dd>Establishes and maintains the Zigbee mesh network</dd>
        <dt>Device Management</dt>
        <dd>Allows adding, removing, and configuring devices on the network</dd>
        <dt>Security Gateway</dt>
    </dl>
    <p>There can be <strong>only one coordinator in a Zigbee network</strong>
    </p>
    <p class="fragment">Usually an inexpensive USB dongle</p>
  </section>

  <section>
    <h3>Zigbee Router (ZR)</h3>
    <dl>
      <dt>Role</dt>
      <dd>Extends network range and improves reliability</dd>
      <dt>Key Functions</dt>
      <dd>
        <ul>
          <li>Base for mesh networking</li>
          <li>Data relay</li>
          <li>Route optimization</li>
          <li>Self-healing capabilities</li>
        </ul>
      </dd>
    </dl>
    <p class="fragment">Most mains-powered Zigbee devices (can) also act as
      routers</p>
    <p class="fragment">Measured power consumption of an idle Zigbee plug was
      around 0.3 watt
    </p>
    <aside class="notes">
      <dt>Self-healing capabilities</dt>
      <dd>Zigbee Routers monitor the network and search for new routes.
        If a path is disrupted, they adjust the routing table to find the
        most efficient path.</dd>
      <dt>Devices</dt>
      <dd>Devices like smart bulbs, plugs, and switches have the capability
        to relay signals between other Zigbee devices in the network</dd>
    </aside>
  </section>

  <section>
    <h3>Zigbee End Device (ZED)</h3>
    <dl>
      <dt>Role</dt>
      <dd>Perform specific tasks within the network</dd>
      <dd>Data reporting to the network</dd>
      <dd>Eg. sensor data acquisition</dd>
      <dt>Power Consumption</dt>
      <dd>Typically battery-powered, emphasizing low power consumption</dd>
    </dl>
    <p class="fragment">Examples: temperature sensors, smoke sensors, ...</p>
  </section>
</section>


<section>
  <h2>Zigbee vs. Wi-Fi Comparison</h2>
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Zigbee</th>
        <th>Wi-Fi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Frequency</td>
        <td>2.4 GHz (worldwide)<br />868 MHz (Europe)<br />
          915 MHz (Americas + Australia)</td>
        <td>2.4 GHz, 5 GHz</td>
      </tr>
      <tr>
        <td>Data Rate</td>
        <td>Up to 250 kbps</td>
        <td>Up to several Gbps</td>
      </tr>
      <tr>
        <td>Range</td>
        <td>10-100 meters (indoor)</td>
        <td>30-100 meters (indoor)</td>
      </tr>
      <tr>
        <td>Power Consumption</td>
        <td>Very low (ideal for battery-powered devices)<br />
          ~0.3W for idle ZR<br />
          considerably less for pure ZED</td>
        <td>Higher power consumption<br />
          ~0.5W for idle end device</td>
      </tr>
    </tbody>
  </table>
</section>

{# maybe add more detailed info on security #}

<section>
  <h2>Summary and Conclusion</h2>
  <ul>
    <li>Low-power, wireless mesh networking protocol ideal for IoT</li>
    <li>Strong security features and robust mesh topology</li>
    <li>Applications: smart homes, industrial automation, healthcare</li>
    <li>Low bandwidth and slower compared to WiFi</li>
  </ul>
  <div class="fragment">
    <p>The smart home standard <strong>Matter</strong> combined with the
      low power IPv6-based mesh networking protocol <strong>Thread</strong>
      are an alternative worth considering
    </p>
  </div>
</section>


{% include 'slides/closing.njk' %}
