<{{ include_header_level }} id="learning_platforms">Interactive Learning
  Platforms</{{ include_header_level }}>

<p>The best way to learn programming is to write code. Have fun!</p>

<ul>
  {#<li><a href="https://codeally.io/">CodeAlly</a></li>#}
  <li><a href="https://www.codewars.com/r/Kh4MaA">Codewars</a></li>
  <li><a href="https://exercism.org/">Exercism</a> (open source, see
    <a href="https://github.com/exercism">exercism on GitHub</a>)</li>
  <li><a href="https://www.freecodecamp.org/">freeCodeCamp</a></li>
  <li><a href="https://www.hackerrank.com">HackerRank</a></li>
  {# <li><a href="https://www.hackerearth.com/">HackerEarth</a></li> #}
</ul>

{#
<p>For mastering your tools, you should also be fluent with their shortcuts.

</p>
#}

{#
Removed, as this is mainly a paid tier with some free addition exercises.
<ul>
  <li><a href="https://www.shortcutfoo.com/">shortcutFoo</a></li>
</ul>
#}

{#
<h2>Resources for Learning C</h2>

<ul>
  <li><a href="https://www.programiz.com/c-programming">Learn C Programming</a></li>
</ul>
#}
