---
title: Electronics Lab
subtitle: Diode Characteristics and Rectifiers
layout: layouts/presentation.njk
---

<section>
  <section>
    <h2>Recording a Diode's Characteristic</h2>
    <h3>Forward Direction</h3>
    <img src="/images/circuits/diode_characteristic_forward_direction.svg"
         alt="[circuit for diode characteristic in forward direction]"
         class="r-stretch">
  </section>
  <section>
    <h2>Recording a Diode's Characteristic</h2>
    <h3>Reverse Direction</h3>
    <img src="/images/circuits/diode_characteristic_reverse_direction.svg"
         alt="[circuit for diode characteristic in reverse direction]"
         class="r-stretch">
  </section>
  <section>
    <h2>Recording a Diode's Characteristic</h2>
    <ul>
      <li>Check the Diode's datasheet upfront</li>
      <li>Avoid currents that would destroy the diode</li>
      <li>Observe dependence on temperature changes</li>
    </ul>
  </section>
</section>
