---
title: POS 1
layout: layouts/base_subject.njk
test_mode: paper
assignments: False
eleventyNavigation:
  key: POS 1
  parent: POS
  order: 1
---

{% set languages = ['Python'] %}


<h2 id="overview">Course Overview</h2>

<h3>Development Environment and Tools</h3>
<ul>
  <li><a href="https://www.youtube.com/watch?v=4cdRApK7RTQ&list=PLAW1Fsz27UuaLYfGBmXM7nHur2XpNuIeD&index=1">Introduction to Linux as Development Environment</a>
    <ul>
      <li><a href="http://docs.find-santa.eu/linux/#selected-commands">
        Linux Command-Line</a></li>
      <li>Installation and Configuration of Tools</li>
      <li>Kate or
        <a href="http://docs.find-santa.eu/tools/vscodium.html">VSCodium</a>
          or KDevelop</li>
      <li>Debugging (commandline + GUI)</li>
    </ul>
  </li>
  <li><a href="https://www.senarclens.eu/~gerald/presentations/dvc/">
    Git Introduction</a>
    (reference <a href="http://docs.find-santa.eu/dvcs/">material for
    learning git</a>)</li>
</ul>


{% if 'Python' in languages %}
<h3>Introduction to Programming in Python</h3>
<ul>
  <li><a href="/presentations/introduction_to_programming/">
    Introduction to Programming</a></li>
  <li><a href="/presentations/py/introduction/">Hello Python</a></li>
  <li><a href="/presentations/py/strings/">Strings</a></li>
  <li><a href="/presentations/py/functions/">Functions</a></li>
  <li><a href="/presentations/py/containers/">Container Data Types</a></li>
  <li><a href="/presentations/py/modules/">Modules and Packages</a></li>
  <li><a href="/presentations/py/documentation/">Documentation</a></li>
  <li><a href="/presentations/py/oop/overview/">
    Creating Your Own Data Types</a></li>
</ul>
{% endif %}


{% if 'C' in languages %}
<h3>Programming in C</h3>
<ul>
  <li><a href="/presentations/c/introduction/">Programming in C - Introduction</a></li>
  <li><a href="/presentations/c/fast_track/">Fast Track to C Syntax for Programmers</a></li>
  <li><a href="/presentations/c/strings/">Programming in C - Working with Text</a></li>
  {#<li>Functions in C (including variadic functions)</li>#}
  <li><a href="/presentations/c/structs/">Programming in C - Typedef and Structs - Composite Data Types</a></li>
</ul>
{% endif %}


<h2 id="exercises">Programming Exercises</h2>

{% if 'Python' in languages %}
<h3>Python</h3>
<ul>
  <li><a href="/exercises/py/exercise_1/">Exercise 1</a></li>
  <li><a href="/exercises/py/exercise_2/">Exercise 2</a></li>
  {#<li><a href="/exercises/py/exercise_3/">Exercise 3</a></li>
  <li>Please consult our discord group for git-based assignment links</li>
  <li><a href="/exercises/py/exercise_4/">Exercise 4</a> - accept
    <a href="https://classroom.github.com/a/UJwGBlfp">assignment on GitHub</a>
  </li>
  <li>Exercise 5 - accept
    <a href="https://classroom.github.com/a/LoULfWor">assignment on GitHub</a>
  </li>
  #}
</ul>
{% endif %}

{% if 'C' in languages %}
<h3>C</h3>
<ul>
  <li><a href="/exercises/c/exercise_data_types/">C exercise data types</a></li>
</ul>
{% endif %}


<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/pos1_midterm_f2021_en_a/">POS 1 midterm f2021 (group a)</a></li>
  <li><a href="tests/pos1_midterm_f2021_en_b/">POS 1 midterm f2021 (group b)</a></li>
  <li><a href="tests/pos1_midterm_f2021_en_extra/">POS 1 midterm f2021 (extra)</a></li>
  <li><a href="tests/pos1_final_f2021_en_a/">POS 1 final f2021 (group a)</a></li>
  <li><a href="tests/pos1_midterm_f2022_en_a">POS 1 midterm f2022 (group a)</a></li>
  <li><a href="tests/pos1_midterm_f2022_en_b/">POS 1 midterm f2022 (group b)</a></li>
  <li><a href="tests/pos1_final_f2022_en_a/">POS 1 final f2022 (group a)</a></li>
  <li><a href="tests/pos1_final_f2022_en_b/">POS 1 final f2022 (group b)</a></li>
  <li><a href="tests/pos1_midterm_f2023_en_a">POS 1 midterm f2023 (group a)</a></li>
  <li><a href="tests/pos1_midterm_f2023_en_b">POS 1 midterm f2023 (group b)</a></li>
  <li><a href="tests/pos1_final_f2023_en_a/">POS 1 final f2023 (group a)</a></li>
  <li><a href="tests/pos1_final_f2023_en_extra/">POS 1 final f2023 (extra)</a></li>
</ul>

<h2 id="links">Links</h2>
<h3>Notes</h3>
<ul>
  <li><a href="http://docs.find-santa.eu/dvcs/">Distributed Version Control</a></li>
  <li><a href="https://ndpsoftware.com/git-cheatsheet.html">Git Cheatsheet</a></li>
  <li><a href="http://docs.find-santa.eu/linux/ssh.html">Connecting to Linux
    Using SSH</a></li>
  <li><a href="http://docs.find-santa.eu/linux/#selected-commands">Selection of Linux Commands</a></li>
  <li><a href="http://docs.find-santa.eu/tools/vscodium.html">Introduction to VSCodium</a></li>
</ul>




<h3 id="software">Software</h3>
<ul>
  <li>KDE Neon Linux-based VirtualBox image with all programming tools we need:
    <a href="https://lehrer.bulme.at/~sg/vms/progamming.ova">progamming.ova</a><br />
    Download with username: <kbd>student</kbd>, ask in class for the password<br />
    Login with username: <kbd>student</kbd>, password: <kbd>changeme</kbd></li>
  <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a></li>
  <li><a href="https://files.kde.org/neon/images/user/current/neon-user-current.iso">KDE Neon Linux ISO image</a></li>
  <li>Text editor: <a href="https://vscodium.com/">VSCodium</a> or
    <a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
</ul>


{% include 'blocks/code_challenge_sites.njk' %}


{% include 'blocks/grading/two_tests_40_60.njk' %}


<h2 id="curriculum">Content of the Curriculum (1st Term)</h2>

<p>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2022/368/ANL1_9/NOR40247424?ResultFunctionToken=9d086507-917b-49df-a7f3-281b69ee5d26&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=21.10.2023&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ImRisSeitForRemotion=Undefined&ResultPageSize=100&Suchworte=BGBl.+II+Nr.+368%2f2022">Curriculum in the Legal Information System</a>
(see attachment 1/9 B.1 according to subject table I.2)
</p>

<ul>
  <li>Foundations of programming
    <ul>
      <li>Statements and control flow</li>
      <li>Basic types and operators</li>
      <li>Procedural programming</li>
      <li>Graphical representation of algorithms</li>
      <li>Implementing algorithms in a high level programming language</li>
    </ul>
  </li>
  <li>Application programming
    <ul>
      <li>User interface development</li>
      <li>Hardware-specific programming</li>
    </ul>
  </li>
  <li>Software development process
    <ul>
      <li>Development environment</li>
      <li>Testing and troubleshooting</li>
      <li>Debugging</li>
    </ul>
  </li>
</ul>
