---
title: KSN 5
layout: layouts/base_subject.njk
eleventyNavigation:
  key: KSN 5
  parent: KSN
  order: 2
---

<h2 id="overview">Course Overview</h2>

<ul>
  <li>
    <a href="https://www.freecodecamp.org/learn/scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher">
      Caesar and Vigenère ciphers</a></li>
  <li>
    <a href="https://www.freecodecamp.org/learn/scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/">
      Luhn algorithm</a></li>
  <li><a href="/presentations/networking/zigbee/">Zigbee: a Closer Look</a></li>
</ul>

<h2>Running Sample Code</h2>
<p>For running the Python code discussed in class, you can
  <ul>
    <li>preferably use your own hardware by
      <a href="http://docs.find-santa.eu/python/installation/">installing
      Python and the required libraries</a> (numpy, matplotlib, ipywidgets and
      jupyterlab)</li>
    <li>use sandbox.bulme.at (login via ssh using
      <code>firstname.lastname</code> as username and your email password)</li>
  </ul>
</p>

{# <h2 id="exercises">Exercises</h2>
<ul>
  <li><a href="/data/py/rf_exercise.ipynb">RF exercise</a></li>
  <li><a href="https://gaia.cs.umass.edu/kurose_ross/wireshark.php">Wireshark Labs</a></li>
</ul> #}


<h2 id="exams">Prior Exams</h2>
<ul>
  {# <li><a href="tests/ksn4_midterm_s2023_en_a/">KSN 5 final f2024 (group a)</a></li> #}
</ul>

<h2 id="links">Links</h2>

<ul>
  <li><a href="/cheat_sheets/ascii_table/">ASCII Table</a></li>
  <li><a href="/cheat_sheets/header_tables/">TCP/ IP Headers</a></li>
</ul>

{#
KSN4; might also apply to KSN5

 <h3 id="books">Books</h3>
<ul>
  <li><a href="https://www.inference.org.uk/itprnn/book.pdf">Information Theory, Inference, and Learning Algorithms</a></li>
  <li><a href="https://smile.amazon.de/Information-Theory-Tutorial-Introduction-Book/dp/0956372856/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=">Information Theory: A Tutorial Introduction</a></li>
  <li><a href="https://pysdr.org/">PySDR: A Guide to SDR and DSP using Python</a></li>
</ul> #}



<h3 id="curriculum">Content of the Curriculum (5th Grade)</h3>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)

<ul>
  <li>Fundamentals of Information Theory and Transmission Technology
    <ul>
      <li>Source and channel coding</li>
      <li>Transmission channels</li>
      <li>Modulation and demodulation methods</li>
      <li>Multiple use of transmission channels</li>
    </ul>
  </li>
  <li>High-Frequency Technology
    <ul>
      <li>Select suitable transmission technology components</li>
      <li>Measure high-frequency behavior</li>
      <li>Electromagnetic compatibility (EMC)</li>
    </ul>
  </li>
  <li>Optical Telecommunications engineering
    <ul>
      <li>Measure, interpret and evaluate optoelectronic signals</li>
    </ul>
  </li>
  <li>Network Services
    <ul>
      <li>Configure network components for the use of network services</li>
      <li>Implementation and application of network services</li>
    </ul>
  </li>
  <li>Switching Systems
    <ul>
      <li>Create requirements profiles switching systems</li>
      <li>Architecture of a switching system</li>
      <li>Current switching systems (setup time, security and costs)</li>
    </ul>
  </li>
  <li>Consumer Electronics
    <ul>
      <li>Combine signal processing components for specific applications</li>
    </ul>
  </li>
</ul>

