---
title: ASCII Table
layout: layouts/base.njk
---
<style>
  table {
    margin-left: auto;
    margin-right: auto;
  }
  tr.control {
    background-color: #666;
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  th {
    font-weight: bold;
    font-size: 120%;
    background-color: darkblue;
  }
  td, th {
    padding-left: 1em;
    padding-right: 1em;
  }
  tr:hover {
    background-color: #222;
  }
</style>
<table style="font-family: Fira Code, monospace; text-align: right;">
  <colgroup>
    <col class="decimal"/>
    <col class="hexadecimal" />
    <col class="binary" />
    <col class="character" />
    <col class="description" />
  </colgroup>
  <thead>
    <tr>
      <th>Dec</th>
      <th>Hex</th>
      <th>Binary</th>
      <th>Char</th>
      <th>Description</th>
    </tr>
  </thead>
{% for i in range(128) -%}
  <tr class="{% if i<=31 %}control{% else %}printable{% endif %}">
    <td>{{ i }}</td>
    <td>{{ (i).toString(16).toUpperCase().padStart(2, '0') }}</td>
    <td>{{ (i).toString(2).toUpperCase().padStart(7, '0') }}</td>
    <td>{% if i <= 32 or i == 127 -%}
        {{ asciiDescriptions.get(i).code }}
      {%- else -%}
      {{ i | chr }}
      {%- endif %}</td>
    <td>{% if i <= 32 or i == 127 -%}
        {{ asciiDescriptions.get(i).description }}
      {%- endif %}</td>
  </tr>
{% endfor %}
</table>
