---
title: DBI 1
layout: layouts/base_subject.njk
eleventyNavigation:
  key: DBI 1
  order: 1
  parent: DBI
---

<h2 id="overview">Overview</h2>
<ul>
  <li><a href="/presentations/databases/dbms/">Database Management Systems</a></li>
</ul>

<h2 id="exercises">Exercises</h2>
<ul>
  <li><a href="/exercises/databases/school_database/">School database</a></li>
  <li><a href="/exercises/databases/references_1/">Introduction to SQL
    References</a></li>
  <li><a href="/exercises/databases/northwind_1/">Northwind Exercises 1</a></li>
  <li><a href="/exercises/databases/adventureworks_joins/">SQL Joins
    (AdventureWorks)</a></li>
  <li><a href="/exercises/databases/py_sqlite_owid/">
    SQLite + Python Introduction</a></li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/dbi1_midterm_f2022_a_en/">
    DBI 1 midterm f2022 (group A)</a></li>
  <li><a href="tests/dbi1_midterm_f2022_b_en/">
    DBI 1 midterm f2022 (group B)</a></li>
  <li><a href="tests/dbi1_final_f2022_1_a_en/">
    DBI 1 final f2022 (group A)</a></li>
  <li><a href="tests/dbi1_extra_f2022_a_en/">
    DBI 1 extra f2022 (group A)</a></li>
  <li><a href="tests/dbi1_extra_f2022_b_en/">
    DBI 1 extra f2022 (group B)</a></li>
</ul>

<h2 id="links">Links</h2>

<ul>
  <li><a href="https://github.com/HTL-Bulme/sample_databases">Sample Databases</a></li>
  <li><a href="http://docs.find-santa.eu/linux/ssh.html">Connecting to Linux
    Using SSH</a></li>
  <li><a href="http://docs.find-santa.eu/sql/">SQL Notes</a> (on docs.find-santa.eu)</li>
  <li><a href="https://www.khanacademy.org/computing/computer-programming/sql">Intro to SQL</a></li>
  <li><a href="https://www.w3schools.com/sql/">SQL Tutorial</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Join_(SQL)">Joins (Wikipedia)</a></li>
</ul>

<h3>Software</h3>
<ul>
  <li><a href="https://portableapps.com/de/apps/utilities/7-zip_portable">7-zip</a></li>
  <li><a href="https://sourceforge.net/projects/xampp/files/">XAMPP</a></li>
  <li><a href="https://mariadb.org/download/">MariaDB</a> (in case of problems with XAMPP)</li>
</ul>

{% include 'blocks/code_challenge_sites.njk' %}

<h2>Content of the Curriculum (1st Term)</h2>

<ul>
  <li>Data Models, Query Languages and Databases
    <ul>
      <li>Terminology</li>
      <li>Create a data model for a given assignment
        <ul>
          <li>Identification of attributes and relations etc.</li>
        </ul>
      </li>
      <li>Investigate the correctness of a given data model</li>
      <li>Derive and analyse a relational model from a data model
        <ul>
          <li>Schema, domains, keys, null values, etc.</li>
        </ul>
      </li>
      <li>Develop simple database queries to solve real world problems</li>
      <li>Understand the purpose of database normalization</li>
      <li>Normalize a given relational database model
        <ul>
          <li>Consistency</li>
          <li>Update, insertion and deletion anaomalies</li>
        </ul>
      </li>
      <li>Functional Dependencies and referential integrity</li>
      <li>Employ standardized query languages to access and modify data
        <ul>
          <li>Projection</li>
          <li>Selection</li>
          <li>Grouping</li>
          <li>Joins</li>
          <li>Aggregation</li>
          <li>Subqueries</li>
        </ul>
      </li>
      <li>Create database applications using appropriate technologies
        and development environments
      </li>
    </ul>
  </li>
  <li>Architecture and Administration of Database Management Systems (DBMS)
    <ul>
      <li>Open source vs. proprietary DBMS</li>
      <li>Types of DBMS</li>
      <li>Argue the application of DBMS as information
        systems
      </li>
      <li>Select an appropriate DBMS that satisfies a project's requirements
      </li>
      <li>Install a DBMS</li>
    </ul>
  </li>
</ul>

