---
title: FSST Module 3
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST e3
  parent: FSST
  order: 6
---

This module is for students taking the third term of the electronics and
computer engineering Kolleg. It is likewise for night school students during
their fifth term.

<h2 id="overview">Course Overview</h2>
<ul>
  <li><a href="/presentations/c/introduction/#/2">
        Programming in C - Introduction</a></li>
  <li><a href="/presentations/c/fast_track/">
        Fast Track to C Syntax for Programmers</a></li>
  <li><a href="/presentations/c/strings/">
        Programming in C - Working with Text</a></li>
  {#<li>Functions in C (including variadic functions)</li>#}
  <li><a href="/presentations/c/structs/">
        Programming in C - Typedef and Structs - Composite Data Types</a></li>
  <li><a href="/presentations/c/multiple_files/">
        Programming in C - Working with Multiple Source Files</a></li>
  <li><a href="/presentations/c/pointers/">Programming in C - Pointers</a></li>
  <li><a href="/presentations/c/free_store/">
        Programming in C - The Free Store (Dynamic Memory Management)</a></li>
  <li><a href="/presentations/c/unit_testing/">Unit Testing</a></li>
  <li><a href="#web">Introduction to Web Programming</a></li>
</ul>

<h2 id="web">Web Programming Basics</h2>
{# TODO: move section (from here and FSST2 to docs.find-santa.eu) #}
<p>We'll work through (parts of) these excellent web tutorials on
  freeCodeCamp:</p>
<ul>
  <li><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/">
    (New) Responsive Web Design</a></li>
  <li><a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/">
    JavaScript Algorithms and Data Structures</a></li>
</ul>

<p>Start by setting up a mini development environment. We can either stick
  to replit or use a local installation to speed up development on our own
  machine. When going for the latter approach, I suggest using VSCodium as
  our editor. Consult
  <a href="http://docs.find-santa.eu/tools/vscodium.html">Introduction to VSCodium</a>
  to get started with this editor.
  {# TODO: Try out live-server on school PCs. If it works w/out admin privileges:
  describe installation and usage. #}
</p>

<p><p>For study purposes, please also consult
  <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web">
    Getting started with the Web</a>, a tutorial by <strong>mdn</strong>,
    probably the best resource on web development.
</p>

<h3 id="web_examples">Web Programming Examples</h3>
<ul>
  <li><a href="/data/web/canvas_example.html">canvas_example.html</a></li>
</ul>

<h2 id="exercises">Programming Exercises</h2>
<ul>
  <li><a href="/exercises/c/exercise/">Structs</a></li>
  <li><a href="/exercises/c/pointers/">Pointers</a></li>
  <li><a href="/exercises/c/multiple_files/">Multiple source files</a></li>
  <li><a href="/exercises/c/free_store/">
    Dynamic memory management (free store)</a></li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/fsste3_midterm_f2022_de_a/">
    FSST e3 midterm f2022 (group A, German)</a></li>
  <li><a href="tests/fsste3_final_f2022_de_a/">
    FSST e3 final f2022 (group A, German)</a></li>
  <li><a href="tests/fsste3_midterm_f2023_de_a/">
    FSST e3 midterm f2023 (group A, German)</a></li>
  <li><a href="tests/fsste3_midterm_f2023_de_b/">
    FSST e3 midterm f2023 (group B, German)</a></li>
</ul>

<h2 id="links">Links</h2>
<ul>
  <li><a href="http://docs.find-santa.eu/linux/#selected-shell-commands">Selected Linux shell commands</a></li>
  <li><a href="http://docs.find-santa.eu/linux/ssh.html">Connecting to Linux Using SSH</a></li>
  <li><a href="https://developer.mozilla.org/en-US/">MDN web documentation</a></li>
</ul>
{% include 'blocks/code_challenge_sites.njk' %}


<h2 id="curriculum">Content of the Curriculum (3rd module)</h2>

<ul>
  <li>Software Engineering
    <ul>
      <li>Creating data structures</li>
      <li>Serializing data to files</li>
    </ul>
  </li>
  <li>Embedded Programming
    <ul>
      <li>Write modular programs that interact with peripherals</li>
      <li>Event processing (eg. using interrupts)</li>
    </ul>
  </li>
  <li>Web Design
    <ul>
      <li>Client-server model</li>
      <li>Create simple web pages using current web technologies
        (HTML, CSS and JavaScript)</li>
    </ul>
  </li>
</ul>
