---
title: FSST Module 5
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST e5
  parent: FSST
  order: 8
---

This module is for students taking the fifth term of the electronics and
computer engineering Kolleg. It is likewise for night school students during
their seventh term.


<h2 id="overview">Course Overview</h2>
<ul>
  <li><a href="/presentations/cpp/free_store/">
    Programming in C++ - Free Store</a></li>
  <li><a href="/presentations/cpp/operator_overloading/">
    Programming in C++ - Operator Overloading</a></li>
</ul>


{#
<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href=""></a></li>
</ul>
#}

<h2 id="links">Links</h2>
{% include 'blocks/code_challenge_sites.njk' %}


<h2 id="curriculum">Content of the Curriculum (5th module)</h2>

<ul>
  <li>Software Engineering
    <ul>
      <li>Select and use algorithms</li>
      <li>Solve complex programming assignments</li>
      <li>Maintenance</li>
      <li>Quality assurance</li>
    </ul>
  </li>
  <li>Operating Systems
    <ul>
      <li>Operating system services</li>
      <li>Configure clients and servers in a network</li>
      <li>User and privilege administration</li>
    </ul>
  </li>
  <li>Databases
    <ul>
      <li>Writing queries</li>
      <li>Design and implementation</li>
      <li>Entity–relationship model</li>
    </ul>
  </li>
</ul>
