---
title: FSST 4
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST 4
  parent: FSST
  order: 4
---

<h2 id="overview">Course Overview</h2>

<h3 id="agile">Agile Software Development</h3>
<ul>
  <li><a href="http://agilemanifesto.org/">
    Manifesto for Agile Software Development</a></li>
  <li><a href="http://agilemanifesto.org/principles.html">
    Principles behind the Agile Manifesto</a></li>
  <li><a href="https://scrumguides.org">The Scrum Guide</a></li>
  <li><a href="http://scrumquiz.org">Scrum Quiz</a></li>
</ul>

{# C++ #}
{# Embedded Systems #}

<h3 id="linux">Introduction to Linux</h3>
<ul>
  <li><a href="http://docs.find-santa.eu/linux/">
    Introduction to KDE Neon (Linux) and Bash</a></li>
</ul>

<h3 id="databases">Introduction to Databases</h3>
<dl>
  <dt>1st week</dt>
  <dd><a href="/presentations/databases/dbms/">Database Management Systems</a>
  </dd>
  <dd>Download and install the available <code>sqlite</code> databases and
    tools as described in this
    <a href="https://github.com/HTL-Bulme/sample_databases/tree/master/sqlite#readme">README</a>.
    These databases are designed to match the examples in the SQL tutorial.</dd>

  <dt>2nd week</dt>
  <dd>Complete the
    <a href="https://www.w3schools.com/sql/default.asp">SQL Tutorial</a>
    up to and including
    <a href="https://www.w3schools.com/sql/sql_alias.asp">aliases</a>.
    Instead of relying on the website, execute the examples in your local
    database (use the "<kbd>Execute SQL</kbd>" tab of DB Brower for SQLite).
  </dd>
  <dd>Accept the first database assignment on SQL SELECT.</dd>

  {# We covered everything up to and including <code>join</code>.
  Wikipedia also provides a good introduction to
  <a href="https://en.wikipedia.org/wiki/Join_(SQL)">SQL Joins</a>.
  Note that <code>right join</code> is not supported in sqlite3.</p> #}
</dl>



<h3 id="sql_exercises">SQL Exercises</h3>
<ul>
  <li><a href="/exercises/databases/northwind_1/">Introduction to SQL</a></li>
  {# <li><a href="/images/databases/web_shop_simple.pgerd.png">web_shop_simple.pgerd.png</li> #}
</ul>

<h3 id="sql_sample_code">Sample Code</h3>
<ul>
  <li><a href="/data/databases/sqlite/read_db_table.c">read_db_table.c</a>

    (compile via <code>clang read_db_table.c -l sqlite3</code> or
    <code>gcc read_db_table.c -l sqlite3</code>;
    requires installation of <code>libsqlite3-dev</code>)<br />
    Documentation:
    <a href="https://www.sqlite.org/c3ref/intro.html">C-language Interface
      Specification for SQLite</a>
    </li>
  <li><a href="/data/databases/sqlite/select.py">select.py</a><br />
    Documentation:
    <a href="https://docs.python.org/3/library/sqlite3.html">sqlite3
      — DB-API 2.0 interface for SQLite databases</a>
  </li>
  <li><a href="https://github.com/senarclens/sqlite-js-examples">JavaScript (nodejs)</a></li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/fsst4_final_f2021_de_a/">
    FSST 4 final f2021 (group a)</a></li>
  <li><a href="tests/fsst4_final_f2021_de_b/">
    FSST 4 final f2021 (group b)</a></li>
  <li><a href="tests/fsst4_final_s2022_de_a/">
    FSST 4 final s2022 (group a)</a></li>
  <li><a href="tests/fsst4_midterm_f2023_en_a/">
    FSST 4 midterm f2023 (group a)</a></li>
  <li><a href="tests/fsst4_final_s2024_en_a/">
    FSST 4 final s2024 (group a)</a></li>
</ul>

<h2 id="notes">Notes</h2>
<ul>
  <li>
    <a href="http://docs.find-santa.eu/programming/sql/tools.html">
      SQL Tools</a></li>
</ul>

<h2 id="curriculum">Content of the Curriculum (4th Grade)</h2>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)

<h4>Module 7+8</h4>

<ul>
  <li>Operating Systems
    <ul>
      <li>Betriebssystemkomponenten</li>
      <li>Select, install and configure operating systems for specific
        purposes</li>
      <li>Benutzer, deren Rechte und die Peripherie verwalten sowie
        Client bzw. Server in einem Netz konfigurieren</li>
      <li>Betriebssystemdienste</li>
    </ul>
  </li>
  <li>Software Development
    <ul>
      <li>Software development process</li>
      <li>Apply methodologies for developing software</li>
      <li>Configuration management</li>
      <li>Software verification and validation</li>
      <li>Select and employ relevant programming languages to solve
        technical problems</li>
    </ul>
  </li>
  <li>Embedded Programming
    <ul>
      <li>Create real-time systems</li>
      <li>Programmierung für echtzeitnahe Steuerungen einsetzen</li>
      <li>Hardwarenahe Programmteile hinsichtlich Code- und Laufzeiteffizienz testen und evaluieren</li>
    </ul>
  </li>
  <li>Databases
    <ul>
      <li>Modelle des Datenbankentwurfs interpretieren sowie Datenbanken
        abfragen, planen und realisieren</li>
      <li>Gängige Notationsformen, Strukturen, Entwurf, Implementierung,
        Abfragesprachen</li>
    </ul>
  </li>
  <li>Web Development and Network Programming
    <ul>
      <li>Client-server architecture</li>
      <li>Apply client- and server-side technologies</li>
    </ul>
  </li>
</ul>
