---
layout: layouts/test.njk
class: 3AKIFT
group: B
subject: POS
date: 2023-01-31
points: [10, 15, 10, 15]
grading: "Grading: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---

<ol>
  <li>
        {% YesNoTable 10, '', 10 %}
{% yes_no_question 'C++ is a strict superset of C.', 'no' %}
{% yes_no_question 'In C++, the scope resolution operator <code>::</code>
  allows accessing identifiers within a given namespace.', 'yes' %}
{% yes_no_question 'A C++ <code>set</code> is a container that stores
  key / value pairs.', 'no' %}
{% yes_no_question 'A C++ struct cannot have private members.', 'no' %}
{% yes_no_question 'Composition is a "has-a" relationship.', 'yes' %}
{% yes_no_question 'The C++ Core Guidelines recommend to use
  <code>struct</code> only if the data members can vary
  independently.', 'yes' %}
{% yes_no_question 'A C++ template allows functions and classes to operate with
  generic types.', 'yes' %}
{% yes_no_question 'Operator overloading is the mechanism of basing an object
  or class upon another object ("is-a" relationship).', 'no' %}
{% yes_no_question 'A default constructor is a constructor which can be called
  with no arguments.', 'yes' %}
{% yes_no_question 'When providing a destructor, one should also
  provide (or delete) the copy constructor and copy assignment.', 'yes' %}
        {% endYesNoTable %}

  </li>

  <li>The following C++17 snippets are executed as a part of
    <code>int main(.)</code> (unless main is part of the snippet).
    All neccessary
    <code>#include</code>s are present.<br />
    What do these code snippets write to <code>stdout</code>?
    Write their exact output below each snippet.
    <br />
    If a snippet cannot be compiled, would crash or its output is undefined,
    it is enough to write “<strong>ERROR</strong>”.
    If there is no visible output, write "<strong>-</strong>".
    <div class="grading">3 points for each correct answer.</div>
    <ol>

      <li>
{% highlight "cpp" %}
int val(123);
std::cout << "Hello " << val() << std::endl;
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
std::vector<int> v{1, 2, 3};
for (auto it = v.rbegin(); it != v.rend(); ++it) std::cout << *it << " ";
std::cout << std::endl;
{% endhighlight %}
{% answer %}
3 2 1
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
int i{3};
int& j{i};
int k{i};
j = 5;
std::cout << i << ' ' << j << ' ' << k << std::endl;
{% endhighlight %}
{% answer %}
5 5 3
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
template <class Type>
void print_vector(const std::vector<Type>& v) {
  for (auto it = v.rbegin(); it != v.rend(); ++it) {
    std::cout << *it << std::endl;
  }
}

int main() {
  std::vector<int> v{1, 2, 3};
  print_vector(v);
  return 0;
}
{% endhighlight %}
{% answer %}
3<br />
2<br />
1
{% endanswer %}
      </li>

      <li>
{% highlight "cpp" %}
std::set<int> s{7, 5, 16, 8};
s.insert(5);
s.insert(6);
std::cout << s.size() << std::endl;
{% endhighlight %}
{% answer %}
5
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Define a template <code>struct TreeNode</code> that serves as an element
    of a binary tree data structure. The objects created
    by the struct should contain a value of any given type as well as a
    pointer to the left and right child <code>TreeNode</code>s.

    <figure>
      <img src="/images/uml/struct_treenode.svg" alt="struct treenode diagram">
      <figcaption>A minimalistic diagram showing the struct.</figcaption>
    </figure>

    Define the struct as it is seen in the diagram above. You also have to add
    two constructors. The first takes a single argument holding the value of
    a node. The second
    takes three arguments: the value of a node and a pointer to the left
    and right child nodes. Do not allow implicit conversion to your new type.
    (10 points)
{% answer %}
    <div class="grading">
    1 point for declaring the template type<br />
    1 point for correctly using the template type throughout the struct<br />
    1+1 points for defining the struct including the semicolon at the end<br />
    1+1+1 points for declaring the data members including default values<br />
    1 points for complete explicit single argument ctor<br />
    2 points for complete three argument ctor
    </div>
{% highlight "cpp" %}
template <class Type>
struct TreeNode {
  Type value;
  TreeNode* left = nullptr;
  TreeNode* right = nullptr;
  explicit TreeNode(Type value) : value{value} {};
  explicit TreeNode(Type value, TreeNode* next, TreeNode* prev)
    : value{value}, next{next}, prev{prev} {};
};
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Define a template class <code>Vector</code> with operations to
  insert elements at the beginning and at the end. You do not need to define
  any operations, just declare them. Declare the big 3. It is enough to
  define the destructor.
  Make the compiler generate the default constructor.
  Properly use encapsulation. Give all data members reasonable default values.
  (15 points)
{% answer %}
    <div class="grading">
    1 point for declaring the template type<br />
    1 point for correctly using the template type throughout the class<br />
    1+1 points for defining the class including the semicolon at the end<br />
    1+1+1 points for declaring the private data members<br />
    1+1 for declaring the desired insert operations<br />
    1 point for default ctor<br />
    2 points for complete dtor incl. definition<br />
    1+1 point for copy ctor and copy assignment declarations<br />
    1 point for making the API public
    </div>
{% highlight "cpp" %}
template <class T>
class Vector {
public:
  void push_back(T value);
  void push_front(T value);
  Vector() = default;
  ~Vector() { delete[] data_; };
  Vector(const Vector& v);
  Vector& operator=(const Vector& other);
private:
  T* data_ = nullptr;
  size_t size_;
  size_t reserved_;
};
{% endhighlight %}
{% endanswer %}
  </li>


</ol>
