---
layout: layouts/exercise_base.njk
exercise: SQLite + Python Introduction
---

<p>In this exercise you will learn how to use a programming language to
  interact with a database. You will download live data from
  <a href="https://ourworldindata.org/">Our World in Data</a> and insert
  the data into an SQLite database for further processing.
  Then you query that data using any
  compatible database tool. Finally, you'll query and aggregate the data
  using a programming language.
</p>

<p>In order to solve this exercise, consult the official
  <a href="https://docs.python.org/3/library/sqlite3.html#sqlite3-tutorial">
    DB-API 2.0 interface for SQLite databases tutorial
  </a>.</p> In order to understand the input data, download and open the
  <a href="https://github.com/owid/covid-19-data/raw/master/public/data/excess_mortality/excess_mortality.csv">CSV file</a>
  with your favorite spreadsheet program or an editor that properly
  supports CSV.

<ol>
  <li>Insert the data for Austria and Sweden from the URL into the sqlite db
    for further analysis. Use this stub implementation:
    <a href="/data/databases/sqlite/owid.py">owid.py</a> that creates the
    database and fills the <code>Countries</code> table. It is your duty to
    extend the exisiting code to fill the <code>Mortality</code> table.</li>
  <li>Query the cumulative excess mortality and the cumulative excess per
    million for Sweden and Austria via any database tool
    (I recommend
    <a href="https://sqlitebrowser.org/">DB Browser for SQlite</a>,
    <kbd>sudo apt install sqlitebrowser</kbd> ).</li>
  <li>Write a second script (<kbd>owid_analysis.py</kbd>) that performs the
    above query from within Python and print the results to
    <code>stdout</code>.</li>
  <li>Modify <kbd>owid_analysis.py</kbd> to only print out the last common
    date's cumulative excess mortality and the cumulative excess mortality
    per million for both Sweden and Austria. The output should look like
    <pre>
Country   Date        Cumulative Excess    Cumulative Excess per Million
Austria   2022-12-11  21776.797            2435.9878
Sweden    2022-12-11  13488.696            1278.6283</pre>
  </li>
</ol>
