---
layout: layouts/exercise_base.njk
exercise: Double-ended Queue (Deque)
points: 5
---

<p>
  Your task is to implement a double-ended queue (deque). It is up to you to
  decide which underlying data structure to pick (array or linked list).
  Your <code>Deque</code> has to offer the following API:</p>

{% highlight "c" %}
void push_back(.);  // append new element to end
void push_front(.);  // append new element to beginning
Type pop_back();  // remove and return last element
Type pop_front();  // remove and return first element
{% endhighlight %}

<p>
  In case the <code>Deque</code> is empty, the <code>pop_*</code> methods must
  return <code>NULL</code> (depending on your language, this may also be
  something like <code>nullptr</code>, <code>None</code> or the like).
</p>

<p>Using a <code>Deque</code> that stores integers could look like this</p>

{% highlight "c" %}
Deque d;
d.push_back(15);
d.push_back(7);
d.push_front(5);
{% endhighlight %}

<p>
  The image below shows the deque implemented as a doubly linked list, but you
  may use other low level data structures as well. Explain your choice as
  comment or docstring. After the structure is implemented, test it by
  <ol>
    <li>inserting 50 random elements</li>
    <li>20 million times:<br />
      using a randomizer, perform either <code>push_front(.)</code> or
      <code>pop_back()</code> given a 50 / 50 chance for each
    </li>
  </ol>
  Finally, measure the time of running your test code using the
  <code>time</code> shell command.
</p>

<div>
  <img
    src="/images/programming/doubly_linked_list.png" alt="deque"
    style="max-width: 100%" />
</div>
