---
layout: layouts/exercise_base.njk
exercise: C Arrays
points: 4
---
<ol>
  <li><strong>Total Resistance</strong><br />
  Develop a program that calculates the total resistance of $n$ parallel
  resistors like in the schematic below.<br />

  <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Resistors_in_parallel.svg"
       alt="File:Resistors in parallel.svg" /><br />

  The program should use a separate function for the actual calculation.
    <ul>
      <li>In <code>main(.)</code>)
        deal with user input and output. Ask the user to
        enter the number of parallel resistors of the circuit
        and then ask for the resistance of each resistor using a
        <code>for</code> loop.
      </li>
      <li>The other function should take an array of resistances and the length
        of this array as input and return the total resistance.
      </li>
    </ul>
    The total resistance can be calculated with this formula:
    $$
    R_{total} = \frac{1}{\sum_{i=1}^n \frac{1}{R_i}}
    $$<br />
    Name the source file: <kbd>parallel_resistors.c</kbd>
  </li>

  <li><strong>Count Matching Elements</strong><br />
    Write a function
    <code>size_t count_matches(int array[], size_t dimension, int number)</code>
    that returns how many times the given number occurs in the array.
    For example
{% highlight "c" %}
int array[] = {4, 1, 7, 5, 4, 1, 4, 2, 7};
count_matches(array, 9, 5);  // returns 1
count_matches(array, 9, 4);  // returns 3
{% endhighlight %}
    Name the source file: <kbd>count_matches.c</kbd>
  </li>

  <li><strong>Find Maximum</strong><br />
    Write a function <code>int max(int array[], int dimension)</code> that takes
    an array of integers and its dimension and returns the array's highest
    number. Try to determine a way to figure out the
    number of elements in the array inside the function <code>max(.)</code>.
    You may
    assume that the passed array is never empty.
{% highlight "c" %}
int array[] = {4, 1, 7, 5, 4, 1, 4, 2, 7};
max(array, 9);  // returns 7
{% endhighlight %}
    Name the source file: <kbd>find_max.c</kbd>
  </li>

</ol>
