---
layout: layouts/exercise_base.njk
exercise: Conditions
points: 5
---

<p>
  Below exercises serve to train conditions
  (<code>if</code>, <code>switch</code> and conditional expressions)
  in the C programming language.
</p>

<p>
  You are not allowed to use the <code>scanf</code> function for reading user
  input. (This leaves <code>fgets(.)</code> or <code>getline(.)</code> together
  with <code>sscanf(.)</code> or parsing input via <code>fgetc(.)</code>
  family of functions.)
</p>

<p>
  All of your code (including comments and identifiers) has to be written
  in English.
</p>


<ol>
  <li><strong>Even or odd</strong><br />
  Write a C file that checks if a given number is even or odd.<br />
  A sample run of this program:
<pre>
Enter a number: 26
26 is even.
</pre>
  Name the source file: <kbd>even_or_odd.c</kbd>
  </li>

  <li><strong>Larger number</strong><br />
  Write a C file that prints the larger of two given numbers.<br />
  A sample run of this program:
<pre>
First number: 20
Second number: 12
20 is larger.
</pre>
  Name the source file: <kbd>larger.c</kbd>
  </li>

  <li><strong>Largest number</strong><br />
  Write a C file that prints the largest of three given numbers.<br />
  A sample run of this program:
<pre>
First number: 20
Second number: 12
Third number: 35
35 is the largest number.
</pre>
  Name the source file: <kbd>largest.c</kbd>
  </li>

  <li><strong>RPN calculator</strong><br />
  Write a C file that implements a simple calculator using the
  <a href="https://en.wikipedia.org/wiki/Reverse_Polish_notation">
    reverse Polish notation</a>. It is enough to perform a single operation.
    <br />
  A sample run of this program:
<pre>
First operand: 20
Second operand: 12
Operator (+, -, *, /, %): +
The result is 32.
</pre>
  Name the source file: <kbd>calculator.c</kbd>
  </li>


</ol>
