---
layout: layouts/exercise_base.njk
exercise: Data Types
points: 5
---
<ol>
  <li><strong>Size of date types</strong><br />
  Write a c file that prints the sizes of all data types you know.<br />
  Name the source file: <kbd>data_types.c</kbd>
  </li>
</ol>
