---
layout: layouts/exercise_base.njk
exercise: Working with Multiple Files
points: 5
---

<ol>
  <li><strong>Calculate total resistance</strong><br />
    Implement a <code>struct circuit</code> that stores the resistances of
    three different resistors and a boolean value indicating whether the
    three resistors are in series or parallel.
    Declare <code>struct circuit</code> and a typedef to <code>Circuit</code>
    in <kbd>circuit.h</kbd>. Store the resistances using double precision
    floating point numbers.<br />

    Create the following files: <kbd>circuit.c, circuit.h, main.c, ui.c,
    ui.h</kbd> and implement the functions below.
{% highlight "c" %}
/* main.c */
// create at least two different circuits (one parallel and one serial)
// and use both draw_circuit(.) and print_circuit(.) on each of them
int main();

/* circuit.c, circuit.h */
// return the total resistance of the circuit
double calc_circuit_resistance(Circuit c);

/* in ui.c, ui.h */
// read the resistances from stdin
// also ask the user whether a parallel or series connection is used
// return a new circuit struct containing the above data
Circuit read_circuit();
// print a visual representation of the struct; this can be something like
// -[220Ω]-[330Ω]-[220Ω]- and
//
//  ┌[220Ω]┐
// ─┼[330Ω]┼─
//  └[220Ω]┘
void draw_circuit(Circuit c);
// print the values of the resistors, whether a parallel or series connection
// is used and the total resistance
void print_circuit(Circuit c);
{% endhighlight %}
    Declare all functions in the corresponding header files and include the
    header files wherever needed. Make sure to use <code>#include</code>
    guards in each of the header files.
  </li>

  <li><strong>Inventory management system</strong><br />
    Your employer stores many different electric components (resistors,
    capacitors, ...). It is your duty to create an in-memory database to
    keep track of these components. Create the following files to contain
    your program: <kbd>inventory.{c,h}, interface.{c,h}</kbd>. Use the
    existing <kbd>main.c</kbd> and extend <code>main(.)</code> to use your
    new code.<br />
    In <kbd>inventory.h</kbd> define a type <code>Item</code>.
    Each <code>Item</code> stores
    <ul>
      <li>80 characters for the component type (resistor, capacitor, ...)</li>
      <li><code>unsigned</code> holding the quantity of devices available</li>
      <li><code>double</code> holding the value (resistance, capacity, ...)</li>
      <li>20 characters for the unit (Ω, MΩ, µF, ...)</li>
    </ul>
    Create the following functions:
{% highlight "c" %}
/* inventory.c, inventory.h */
// Return the total number of resistors in the inventory.
// Eg. there are 100 resistors with 330 ohm, 50 with 5600 ohm and 10 with
// 2 megaohm, the total number is 160.
size_t count_resistors(Item items[], size_t count);

// Return the total number of capacitors in the inventory.
size_t count_capacitors(Item items[], size_t count);

/* interface.c, interface.h */
// ask the user to enter a new item on the command-line;
// add the new item to the given list and return the count increased by one
// (since there is one more element in the inventory array)
size_t add_item(Item items[], size_t count);

// print given item to stdout
void print_item(Item i);

// print all items, one per line
void print_items(Item items[], size_t count);

// command-line interface to create and manage an inventory
// start a loop that asks the user which action they want to perform
// `a` -> create a new item and add it to the inventory array
// `c` -> show the number of capacitors
// `e` -> exit the program
// `i n` -> show the n-th item (0-indexed) of the inventory array
// `h` -> show this help text
// `l` -> show the list of items
// `r` -> show the number of resistors
void cli();
{% endhighlight %}
  In <code>main(.)</code> call <code>cli()</code>. Create
  an array of items of sufficient size inside of <code>cli()</code>.
  </li>
  <li><strong>Build systems</strong><br />
    <ol>
    <li>
      In order to be able to compile the above tasks conveniently, write a
      GNU Makefile with the following high level targets:
      <ul>
        <li><code>all</code> - compile everything</li>
        <li><code>clean</code> - clean up everything</li>
      </ul>
      Make sure to only compile what really needs to be compiled when
      <kbd>make</kbd> is called. To do so, you will need to create additional
      targets for the object files.
    </li>
    <li>
      Once the GNU Makefile works properly, create a <kbd>CMakeLists.txt</kbd>
      that generates make files for you. Test building your project with
      <kbd>cmake</kbd>. Remember that <kbd>cmake</kbd> builds are done out of
      source.
    </li>
    <li>
      Finally, add a <kbd>README.md</kbd> file to
      this exercise and briefly explain how the project can be compiled. The
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
        markdown cheatsheet</a> has all the information you need on the syntax
        to get started.
    </li>
    </ol>
  </li>
  {# todo: add task for creating build file (make or cmake) #}
</ol>
