---
layout: layouts/exercise_base.njk
exercise: Pointers
points: 5
---

<ol>
  <li><strong>Initialize arrays</strong><br />
    Implement the following functions:
{% highlight "c" %}
int main();
void zeros(int* array, int count);
void ones(int* array, int count);
void range(int* array, int count);
{% endhighlight %}
    <code>zeros(.)</code> gets an array and the number of its elements. It
    should set each element to zero. <code>ones(.)</code> does the same as
    zeros, but sets each value to one. <code>range(.)</code> sets the
    array to <code>0, 1, 2, 3, ..., count-1</code><br />
    Do not implement <code>main(.)</code> in the source file containing the
    above functions.<br />
    In a separate file called <kbd>main.c</kbd>, implement <code>main(.)</code>
    to initialize an array, call each of the
    above functions and print the array right after each function call.<br />
    Name the source file: <kbd>initialize_arrays.c</kbd>
  </li>

  <li><strong>String operations</strong><br />
    Implement the following functions:
{% highlight "c" %}
// Change the string so that all alphabetical characters are upper case.
void to_upper(char* array);

// Return true if there are any upper case characters.
bool has_upper(char* array);

// Return true if all alphabetical characters are upper case.
bool is_upper(char* array);

// Change the string so that all alphabetical characters are lower case.
void to_lower(char* array);

// Return true if there are any lower case characters.
bool has_lower(char* array);

// Return true if all alphabetical characters are lower case.
bool is_lower(char* array);
{% endhighlight %}
    In a separate file called <kbd>main.c</kbd>, implement a function to run
    and test your code. This function has to be called by the existing
    <code>main(.)</code> function.
    Name the source file: <kbd>string_manipulation.c</kbd>
  </li>

</ol>
