---
layout: layouts/exercise_base.njk
exercise: C Structs
points:
---

<ol>
  <li><strong>Complex Numbers</strong><br />
    Implement a new type <code>Complex</code> that stores the <code>real</code>
    number and the imaginary unit (<code>imag</code>). Both <code>real</code>
    and <code>image</code> should be <code>double</code>.
    Implement the following
    functions:
{% highlight "c" %}
Complex add(Complex a, Complex b);  // return the sum of `a` and `b`
Complex sub(Complex a, Complex b);  // return the difference of `a` and `b`
Complex mul(Complex a, Complex b);  // return the product of `a` and `b`
{% endhighlight %}
    Having these functions in place, it becomes possible to add, substract,
    and multiply two complex numbers. The mathematical basis for the
    implementation is available for <a href="https://en.wikipedia.org/wiki/Complex_number#Addition_and_subtraction">addition</a> and
    <a href="https://en.wikipedia.org/wiki/Complex_number#Multiplication_and_square">multiplication</a>.<br />
    Use these functions in <code>main(.)</code> to make sure they produce
    the correct outcomes for the following combinations:
    <ol>
      <li>5+5i, 7+i (results:
        <code>add -> 12.0+6.0i, sub -> -2.0+4.0i, mul -> 30.0+40.0i</code>)</li>
      <li>5+5i, 7-3i (results:
        <code>add -> 12.0+2.0i, sub -> -2.0+8.0i, mul -> 50.0+20.0i</code>)</li>
      <li>3-2i, 7-3i (results:
        <code>add -> 10+-5i, sub -> -4+1i, mul -> 15-23i</code>)</li>
      <li>-5, 7-3i (results:
        <code>add -> 2-3i, sub -> -12+3i, mul -> -35+15i</code>)</li>
    </ol>
    Name the source file: <kbd>complex_numbers.c</kbd>
  </li>
  <li><strong>Student Data</strong><br />
    Implement a struct that stores information about a student in a new type
    called <code>Student</code>. Each student has a
    <code>char first_name[30]</code>,
    <code>char last_name[50]</code> and a <code>unsigned long id</code>.
    Implement the following functions:
{% highlight "c" %}
Student read_student();  // read student information from stdin
// print one student per line to stdout
void print_students(Student students[], size_t dimension);
{% endhighlight %}
  </li>
  In <code>main(.)</code> ask the user how many students should be stored.
  Create an array holding the correct number of students and fill the array
  by repeatedly calling <code>read_student()</code>. Once finished,
  print your in-memory student database to <code>stdout</code>.<br />
  Name the source file: <kbd>student_database.c</kbd>
</ol>
