---
title: POS 2
layout: layouts/base_subject.njk
eleventyNavigation:
  key: POS 2
  parent: POS
  order: 2
---

{% set language = 'C++' %}
{% set extension = 'cpp' %}


<h2 id="overview">Programming in {{ language }} - Course Overview</h2>

<ul>

{% if language == 'C' %}
  <li><a href="/presentations/c/introduction/">
    Programming in C - Introduction</a></li>
  <li><a href="/presentations/c/fast_track/">
    Fast Track to C Syntax for Programmers</a></li>
  <li><a href="/presentations/c/arrays/">Programming in C - Arrays</a></li>
  <li><a href="/presentations/c/strings/">
    Programming in C - Working with Text</a></li>
  <li><a href="/presentations/c/structs/">
    Programming in C - Typedef and Structs - Composite Data Types</a></li>
  <li><a href="/presentations/c/pointers/">Programming in C - Pointers</a></li>
  <li><a href="/presentations/c/free_store/">
    Programming in C - The Free Store (Dynamic Memory Management)</a></li>
  <li><a href="/presentations/c/multiple_files/">Programming in C -
    Working with multiple source files and build tools</a></li>
  <li><a href="/presentations/c/unit_testing/">
    Programming in C - Unit Testing</a></li>
  <li><a href="/presentations/c/file_io/">Programming in C - File I/O</a></li>
  <li><a href="/presentations/c/cli/">
    Programming in C - Commandline Arguments</a></li>
  <li><a href="/presentations/c/function_pointers/">
    Programming in C - Function Pointers</a></li>
  <li><a href="/presentations/c/algorithms/intro/">
    Data Structures and Algorithms in C - Introduction</a></li>

{% elif language == 'C++' %}
  <li><a href="/presentations/cpp/introduction/">Introduction to C++</a></li>
  <li><a href="/presentations/cpp/fast_track/">Fast Track to C++ Syntax for
    Programmers</a></li>
  <li><a href="/presentations/cpp/arrays/">
    Programming in C++ - C-Arrays</a></li>
  <li><a href="/presentations/cpp/c-strings/">
    Programming in C++ - C-Strings</a></li>
  <li><a href="/presentations/cpp/c-structs/">
    Programming in C++ - C-Structs</a></li>
  <li><a href="/presentations/cpp/pointers/">
    Programming in C++ - Pointers</a></li>
  <li><a href="/presentations/cpp/free_store/">
    Programming in C++ - Free Store</a></li>
  <li><a href="/presentations/cpp/multiple_files/">
    Programming in C++ - Working with Multiple Files</a></li>
  <li><a href="/presentations/cpp/file_io/">
    Programming in C++ - File I/O</a></li>
  <li><a href="/presentations/cpp/function_pointers/">
    Programming in C++ - Function Pointers</a></li>
  <li><a href="/presentations/cpp/cli/">
    Programming in C++ - Commandline Arguments</a></li>
  <li><a href="/presentations/cpp/standard_library/containers/">
      Standard Library - Containers</a></li>
{% endif %}

</ul>


<h2 id="exercises">Programming Assignments</h2>

<h3>Git</h3>
<p>Please consult our discord group for the assignment links.</p>

<ul>
{% if language == 'C' %}
  <li><a href="/exercises/c/data_types/">Data types</a></li>
  <li><a href="/exercises/c/arrays/">C Arrays</a></li>
  <li><a href="/exercises/c/strings/">C strings</a></li>
  <li><a href="/exercises/c/structs/">Structs</a></li>
  <li>Pointers: <a href="https://classroom.github.com/a/SO0-nTHM">accept
    assignment</a></li>
  <li>Dynamic memory management (free store): <a href="https://classroom.github.com/a/qnYiVjp7">
    accept assignment</a></li>
  <li>File IO: <a href="https://classroom.github.com/a/lLrHwPog">accept
    assignment</a></li>
  <li><a href="/exercises/c/multiple_files/">Multiple source files</a></li>
  <li><a href="/exercises/algorithms/deque/">Deque</a></li>

{% elif language == 'C++' %}
  <li><a href="/exercises/cpp/exercise_1/">C++ exercise 1</a></li>
  {#
    * cpp_intro_for_programmers_1 (not graded => not on GitHub)
    * cpp_intro_for_programmers_2
    * CPP C Arrays
    * CPP C Strings
    * CPP C Structs
    * CPP Pointers
    * CPP Free Store
  #}
{% endif %}
</ul>


<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/pos2_midterm_s2022_de_a/">POS 2 mid term s2022 (group A)</a></li>
  <li><a href="tests/pos2_final_s2022_de_a/">POS 2 final term s2022 (group A)</a></li>
  <li><a href="tests/pos2_final_s2023_en_a/">POS 2 final term s2023 (group A)</a></li>
  <li><a href="tests/pos2_final_s2023_en_b/">POS 2 final term s2023 (group B)</a></li>
  <li><a href="tests/pos2_final_s2024_en_a/">POS 2 final term s2024 (group A)</a></li>
</ul>


<h2 id="links">Links</h2>
  <ul>
    <li><a href="/cheat_sheets/ascii_table/">ASCII Table</a></li>
    <li><a href="http://docs.find-santa.eu/programming/{{ extension }}/">
      Material for self study ({{ language }})</a></li>
  </ul>



{# <h3 id="software">Software</h3>
<ul>
  <li>KDE Neon Linux-based VirtualBox image with all programming tools we need:
    <a href="https://lehrer.bulme.at/~sg/vms/progamming.ova">progamming.ova</a><br />
    Download with username: <kbd>student</kbd>, ask in class for the password<br />
    Login with username: <kbd>student</kbd>, password: <kbd>changeme</kbd></li>
  <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a></li>
  <li>Text editor: <a href="https://vscodium.com/">VSCodium</a> or
    <a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
  <li><a href="https://google.github.io/styleguide/cppguide.html">Google C++ Style Guide</a></li>
</ul> #}

{% include 'blocks/code_challenge_sites.njk' %}

{# <h3 id="books">Programming Books</h3>
<ul>
</ul> #}

{% include 'blocks/grading/test_assignments.njk' %}

<h2 id="curriculum">Content of the Curriculum (1st Term)</h2>

<p>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2022/368/ANL1_9/NOR40247424?ResultFunctionToken=9d086507-917b-49df-a7f3-281b69ee5d26&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=21.10.2023&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ImRisSeitForRemotion=Undefined&ResultPageSize=100&Suchworte=BGBl.+II+Nr.+368%2f2022">Curriculum in the Legal Information System</a>
(see attachment 1/9 B.1 according to subject table I.2)
</p>

<ul>
  <li>Foundations of programming
    <ul>
      <li>Foundations of object oriented programming</li>
      <li>Memory management</li>
      <li>Regular expressions</li>
      <li>Selection and implementation of adequate data structures for given
        problems</li>
    </ul>
  </li>
  <li>Application programming
    <ul>
      <li>Graphical user interface development</li>
      <li>Consume and create API documentation</li>
      <li>Exporting and importing modules for code re-use</li>
      <li>Hardware specific programming</li>
    </ul>
  </li>
  <li>Software development process
    <ul>
      <li>Testing and debugging</li>
      <li>Version control</li>
      <li>Planning software projects</li>
      <li>Tools for generating documentation</li>
    </ul>
  </li>
</ul>
