---
title: MEDT 1
layout: layouts/base_subject.njk
test_mode: paper
eleventyNavigation:
  key: MEDT 1
  order: 1
  parent: MEDT
---

<h2 id="overview">Overview</h2>
<ul>
  {# <li><a href="/presentations/databases/dbms/">Database Management Systems</a></li> #}
</ul>

<h2 id="exercises">Exercises</h2>
<ul>
  <li><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/">
    Introduction to the Learn HTML by Building a Cat Photo App Project</a></li>
  <li><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/">
    Introduction to the Learn Basic CSS by Building a Cafe Menu Project</a></li>
  <li><a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/learn-introductory-javascript-by-building-a-pyramid-generator/">
    Introduction to JavaScriptLearn Introductory JavaScript by Building a Pyramid Generator</a></li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/medt1_midterm_f2023_en_a/">
    MEDT 1 midterm f2023 (group A)</a></li>
  <li><a href="tests/medt1_final_f2023_en_a/">
    MEDT 1 final f2023 (group A)</a></li>
</ul>

<h2 id="project">Programming Project</h2>

Create a website of your own using the web technologies introduced in this
course. It is up to you to choose the topic. You will be awarded one point for
each of the following

<ol>
  <li>The website is stored as a project on any git hosting service</li>
  <li>The repository includes a README.md file that at least clearly names
    the topic of your site</li>
  <li>Your website has to have at least three separate html pages</li>
  <li>You must use a separate CSS file that is included in all pages for a
    common formatting</li>
  <li>The pages have to contain links to each other</li>
  <li>The pages have to use a CSS background image</li>
  <li>In addition, at least one of the pages has to contain at least one
    image</li>
  <li>At least one basic web form has to be included (eg. a contact form)</li>
  <li>Your website has to be deployed in your user's public web directory on
    sandbox.bulme.at (available as
    <a href="https://sandbox.bulme.at/~username/">
      https://sandbox.bulme.at/~username/</a>)
  </li>
  <li>You have to do a 6 minute oral presentation of your project</li>
</ol>

Each of the above tasks contributes 10% to your project's grade.

{#
<h2 id="links">Links</h2>

 #}

{% include 'blocks/grading/test_project.njk' %}


<h2 id="curriculum">Content of the Curriculum (1st Term)</h2>

<ul>
  {# see https://en.wikipedia.org/wiki/ISO_9241 for official definitions #}
  <li>Presentation of Information in Websites
    <ul>
      <li>Current web standards (markup language, style sheets)</li>
      <li>Relevant protocols</li>
      <li>Sequence of events when loading a webpage</li>
      <li>Using text, links, images, audio and video content</li>
    </ul>
  </li>
  <li>Multimedia Content
    <ul>
      <li>Image capturing devices{# camera, scanner, screen recorder #}</li>
      <li>Basic color theory</li>
      <li>Fundamentals of typography</li>
      <li>Edit images in different formats (vector vs. pixel based)</li>
    </ul>
  </li>
  <li>User Interface Design
    <ul>
      <li>Apply properties of visual perception</li>
      <li>Color psychology</li>
    </ul>
  </li>
</ul>

