---
title: Gerald Senarclens de Grancy
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: -1
---

<p>I enjoy teaching because...</p>
<blockquote cite="http://mikro-berlin.org/Events/OS/ref-texte/stallman.html">
  <p>"The fundamental act of friendship among beings who can think is to
    teach each other, to share knowledge."</p>
  <p><cite>Richard Matthew Stallman</cite></p>
</blockquote>

<nav class="subjects">
  <a class="subject" href="cms">
    <span class="material-icons">domain</span>
    <div>CMS</div>
  </a>
  <a class="subject" href="cpe">
    <span class="material-icons">terminal</span>
    <div>CPE</div>
  </a>
  <a class="subject" href="dbi">
    <span class="material-icons">storage</span>
    <div>DBI</div>
  </a>
  <a class="subject" href="dic">
    <span class="material-icons">memory</span>
    <div>DIC</div>
  </a>
  <a class="subject" href="fi">
    <span class="material-icons">computer</span>
    <div>FI</div>
  </a>
  <a class="subject" href="fsst">
    <span class="material-icons">code</span>
    <div>FSST</div>
  </a>
  <a class="subject" href="ksn">
    <span class="material-icons">wifi</span>
    <div>KSN</div>
  </a>
  <a class="subject" href="la">
    <span class="material-icons">offline_bolt</span>
    <div>LA</div>
  </a>
  <a class="subject" href="medt">
    <span class="material-icons">web</span>
    <div>MEDT</div>
  </a>
  <a class="subject" href="pbe">
    <span class="material-icons">engineering</span>
    <div>PBE</div>
  </a>
  <a class="subject" href="pos">
    <span class="material-icons">api</span>
    <div>POS</div>
  </a>
</nav>


<h2 id="teaching_material">Teaching Material</h2>
The subjects above (should) contain links to the presentations, books,
video tutorials and other notes used for teaching in each of their individual
levels. However, if you're looking for an overview of all the teaching
material (independent of the course they are used for), please visit
<a href="https://docs.find-santa.eu/">docs.find-santa.eu</a>.


<h2 id="tests">Upcoming Tests</h2>
<dl>
  <dt>2025-04-01</dt>
  <dd>FSST 5BHEL -- computer, offline</dd>
  <dt>2025-04-29</dt>
  <dd>FSST 8A{BC}ELI -- computer, offline</dd>
  <dt>2025-05-20</dt>
  <dd>POS 2AKIFT -- computer, offline</dd>
  <dt>2025-05-21</dt>
  <dd>POS 4AKIFT -- computer, offline</dd>
  <dt>2025-05-27</dt>
  <dd>POS 4AKIFT -- deadline term project</dd>
  {# ✔ #}
</dl>


<h2 id="curricula">Curricula (German)</h2>
<ul>
  <li><a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">LEHRPLAN DER HÖHEREN LEHRANSTALT FÜR ELEKTRONIK und TECHNISCHE INFORMATIK</a></li>
  <li><a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.6/NOR40237789?ResultFunctionToken=5432f914-fe40-4805-9fcd-d5ffe0068718&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=20.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=LEHRPLAN+DER+H%c3%96HEREN+LEHRANSTALT">LEHRPLAN DER HÖHEREN LEHRANSTALT FÜR ELEKTROTECHNIK</a></li>
</ul>

<h2 id="contribute">Pull Requests</h2>
<p>
  Suggestions for improvements to this site, the exercises and presentations
  are more than welcome. Please create a pull request against the
  <a href="https://gitlab.com/senarclens/htl-bulme">GitLab repository</a>
  containing this site.
</p>
