---
title: FSST 1
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST 1
  parent: FSST
  order: 1
---

<h2 id="overview">Course Overview</h2>
<ul>
  <li><a href="/presentations/introduction_to_programming/">
    Computer Programming - A Language Agnostic Introduction</a></li>
  <li><a href="/presentations/c/introduction/">
    Programming in C - Introduction</a></li>
  <li><a href="/presentations/c/fast_track/">
    Programming in C - Fast Track to C Syntax</a></li>
  <li><a href="/presentations/c/functions/">Programming in C - Functions</a></li>
  <li><a href="/presentations/c/arrays/">Programming in C - Arrays</a></li>
</ul>

<h2 id="exercises">Programming Exercises</h2>
<ul>
  <li><a href="/exercises/c/data_types/">Data types</a></li>
  <li><a href="/exercises/c/conditions/">Conditions</a></li>
  <li><a href="/exercises/c/loops/">Loops</a></li>
  <li><a href="/exercises/c/arrays/">Arrays</a></li>
  {# <li><a href=""></a></li> #}
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/fsst1_midterm_f2023_a_de/">FSST 1 midterm f2023 (group A,
    German)</a></li>
  <li><a href="tests/fsst1_midterm_f2023_b_de/">FSST 1 midterm f2023 (group B,
    German)</a></li>
  <li><a href="tests/fsst1_final_f2023_a_de/">FSST 1 final f2023 (group A,
    German)</a></li>
  <li><a href="tests/fsst1_final_s2024_a_de/">FSST 1 final s2024 (group A,
    German)</a></li>
  <li><a href="tests/fsst1_final_s2024_b_de/">FSST 1 final s2024 (group B,
    German)</a></li>
</ul>


<h2 id="links">Links</h2>
<ul>
  <li><a href="http://docs.find-santa.eu/">Notes</a></li>
  <li><a href="https://pythontutor.com">Python Tutor</a></li>
  <li><a href="https://opensource.com/article/21/1/learn-c">
    Learn C by writing a simple game</a></li>
</ul>
{% include 'blocks/code_challenge_sites.njk' %}

<h2 id="curriculum">Content of the Curriculum (1st Grade)</h2>
<p>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)
</p>

<h4>Module 1+2</h4>

<ul>
  <li>Technical Software
    <ul>
      <li>Office applications</li>
      <li>Relevant technical applications</li>
    </ul>
  </li>
  <li>Programming Languages
    <ul>
      <li>Classification of programming languages and their application
        areas</li>
      <li>Syntax</li>
      <li>Compilation / interpretation to create and run programs</li>
    </ul>
  </li>
  <li>Embedded Programming
    <ul>
      <li>Employ a language's standard library core facilities</li>
      <li>Use a development environment</li>
      <li>Consult and create software documentation</li>
    </ul>
  </li>
</ul>
