---
title: MEDT 3
layout: layouts/base_subject.njk
eleventyNavigation:
  key: MEDT 3
  order: 3
  parent: MEDT
---

<h2 id="overview">Overview</h2>
<ul>
  <li>Content management systems</li>
  <li>React</li>
  <li>Progressive web applications</li>
  <li>Usability / user experience</li>
</ul>

<h2 id="exercises">Exercises</h2>
<ul>
  {# <li><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/">
    Introduction to the Learn HTML by Building a Cat Photo App Project</a></li>
 #}
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  {# <li><a href="tests/dbi1_midterm_f2022_a_en/">DBI 1 midterm f2022 (group A,
    English)</a></li> #}
</ul>

<h2 id="project">Programming Project</h2>

<p>
  This project is to be completed in scrum-like teams of 3-9 students.
  Everyone should contribute to the code though as there is not enough work
  for a "full-time" PO / SM.
</p>

<p>
  Create an organization's representation for online and offline media.
  You may choose a real organization (eg. a new NPO that lacks such a
  representation) or
  fictitious organization. You may even use the opportunity to create a
  representation for a company some of you intend to found in the future.
</p>

<p>
  The representation must use the web technologies introduced in this
  course. It has to include a proper <strong>website</strong>
  (either based on an appropriate CMS,
  SSG or a framework like React). The website has to be
  <strong>responsive</strong>. To make the appearance credible, your
  organization
  needs a corporate identity. This includes, at least, a proper logo
  and consistent <strong>colors</strong> and <strong>fonts</strong>
  for all layouts. Besides of the responsive website, you
  must provide a <strong>progressive web application (PWA)</strong>
  offering content specifically for mobile devices.
</p>

<p>The Project has to be deployed on a public server for testing and the
  source code has to be published in a public git repository.
</p>

The grading of this project will consist, in equal parts, of
<ul>
  <li>a critical self-evaluation</li>
  <li>your team evaluating your contribution ("self-organizing teams")</li>
  <li>an assessment of the overall output including the team's
    collaboration</li>
</ul>


<h2 id="links">Links</h2>
<h3>Progressive Web Apps</h3>
<ul>
  <li><a href="https://web.dev/explore/progressive-web-apps">
    Progressive Web Apps</a></li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps">
    Progressive web apps - MDN Web Docs</a></li>
</ul>

{% include 'blocks/grading/test_project.njk' %}


<h2 id="curriculum">Content of the Curriculum (3rd Term)</h2>

<ul>
  <li>Presentation of Information in Websites
    <ul>
      <li>Building blocks (header, footer, menus, page layout)</li>
      <li>Creating dynamic websites using common frameworks</li>
      <li>Web forms</li>
      <li>Browser diversity and compatibility</li>
      <li>Character encoding</li>
      <li>Accessibility</li>
      <li>Search engine optimization</li>
      <li>Client server communication using web standards</li>
    </ul>
  </li>
  <li>Multimedia Content
    <ul>
      <li>Create and edit videos</li>
      <li>Design principles for web-optimized videos</li>
    </ul>
  </li>
  <li>User Interface Design
    <ul>
      <li>Usability engineering</li>
      <li>Usability on mobile devices</li>
    </ul>
  </li>
</ul>
