---
layout: layouts/test.njk
class:
group: A
subject: CMS
date: 2024-01-22
points: [12, 24, 36, 28]
grading: "Grading: > 87.5: 1, >75: 2, >62.5 : 3, >50: 4, <=50: 5"
---

<ol>
  <li>
    {% YesNoTable 6, 'Betriebssyteme', 12 %}
{% yes_no_question 'Python is so successful because of its fast execution
  performance.', 'no' %}
{% yes_no_question 'Inheritance and polymorphism are concepts of functional
  programming', 'no' %}
{% yes_no_question 'Composition and aggregation are concepts of object oriented
  programming', 'yes' %}
{% yes_no_question 'Finding an element in a sequence is computationally more
  complex than sorting the sequence.', 'no' %}
{% yes_no_question 'Python packages can be downloaded and installed using
  <code>pip</code>.', 'yes' %}
{% yes_no_question 'Pandas is a library that focuses on data analysis.',
  'yes' %}
    {% endYesNoTable %}
  </li>

  <li>What is the output of the following code snippets? Write exactly what the
    output of each snippet is if the snippet is the sole content of a Python
    file. If the output is an error message, it is enough to write “ERROR”.
    If there is no visible output, write "-".
    <div class="grading">4 points for each correct answer.</div>
    <ol>

      <li>
{% highlight "python" %}
def sum(a, b):
    return b + c
print(sum(4, 2))
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def area(length):
    return length ** 2
print(area(5))
{% endhighlight %}
{% answer %}
25
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
s = 'Hello World!'
s.lower()
print(s)
{% endhighlight %}
{% answer %}
Hello World!
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
class S:
    def __init__(self):
        self.__i = 0
s = S()
print(s.i)
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def fun(a):
    if a == 1:
        return 1
    return a + fun(a - 1)
print(fun(3))
{% endhighlight %}
{% answer %}
6
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}
def print_together(a, b):
    print(a, b)
print_together(b='XMAS!', a='Merry')
{% endhighlight %}
{% answer %}
Merry XMAS!
{% endanswer %}
      </li>
    </ol>
  </li>


  <li>Write a function <code>cumsum(l: List[int]) -> List[int]</code>
    in Python that takes a list of integers and returns
    a list containing the cumulative sum of the numbers. For example<br />
    <code>cumsum([9, 2, 3]) -> [9, 9+2, 9+2+3] -> [9, 11, 14]</code><br />
    <code>cumsum([3, 5, -4, 2]) -> [3, 8, 4, 6]]</code><br />
    Don't forget to deal with empty lists.
    Add a proper docstring to receive full points.
{% answer %}
    <div class="grading">
      3 points for the function signature<br />
      3 points for the docstring<br />
      5 points for returning correct result for empty lists<br />
      5 points for correctly dealing with the first element<br />
      5 points for correct loop<br />
      10 points for correctly adding all subsequent elements<br />
      5 points for returning the correct result
    </div>
{% highlight "python" %}
def cumsum(l: List[int]) -> List[int]:
    """Return the cumulative sum of the given list."""
    if not l: return []
    r = l[:1]
    for e in l[1:]:
        r.append(r[-1] + e)
    return r
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Your task is to implement a function
    <code>to_rna(dna_strand: str) -> str</code>
    that determines the RNA complement
    of a given DNA sequence.
    Both DNA and RNA strands are a sequence of nucleotides.
    The four nucleotides found in DNA are adenine (A), cytosine (C),
    guanine (G) and thymine (T). The four nucleotides found in RNA are
    adenine (A), cytosine (C), guanine (G) and uracil (U).

    Given a DNA strand as a string (only consisting of upper case
    characters 'G', 'C', 'T' and 'A'), return its transcribed RNA strand as
    string. This is done by replacing each nucleotide with its complement:
<pre>
    G -> C
    C -> G
    T -> A
    A -> U
</pre>
    For example, <code>to_rna('GCGGATA') -> 'CGCCUAU'</code>.
    Add a proper docstring to receive full points.
{% answer %}
    <div class="grading">
      2 points for the function signature<br />
      2 points for the docstring<br />
      5 points for a working representation of the translations<br />
      10 points for producing the correctly translated data<br />
      4 points for the result being a string (not eg a list)<br />
      5 points for returning the correct result
    </div>
{% highlight "python" %}
def to_rna(dna_strand: str) -> str:
    """Return RNA strand for given DNA strand."""
    l = []
    for c in dna_strand:
        if c == 'G':
            l.append('C')
        elif c == 'C':
            l.append('G')
        elif c == 'T':
            l.append('A')
        elif c == 'A':
            l.append('U')
    return ''.join(l)

# one of many alternatives that are more elegant:
def to_rna(dna: str) -> str:
    """Return RNA strand for given DNA strand."""
    translations = {'G': 'C', 'C': 'G', 'T': 'A', 'A': 'U'}
    return ''.join([translations[n] for n in dna])
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
